@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.custom-input {
  position: relative;

  &__input{
    border: 1px solid $cadet-blue-color;
    border-radius: 2px;
    margin-bottom: 15px;
    width: 100%;
    color: $dark-slate-blue-color;
    height: 60px;
    padding: 14px 20px;
    font-size: 0.875rem;
    outline: none;
    font-weight: $extraMedium;

    &::placeholder {
      font-size: 1.0625rem;
      color: $darker-cadet-blue-color;
      font-weight: $medium;
      line-height: 32px;
      letter-spacing: 1px;
    }

    &:focus {
      border: 2px solid $cadet-blue-color;
    }
  }

  &__input_red-border {
    border-color: $burnt-sienna-color;
  }

  &__error {
    position: absolute;
    top: calc(100% - 15px);
    left: 0;
    font-size: 0.75rem;
    color: $burnt-sienna-color;
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 20px;
  }

}
