@import 'src/styles/variables';
@import 'src/styles/media.scss';

.blue-button {
  padding: 20px 35px;
  color: $white-color;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 1.0625rem;
  line-height: 27px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: $bold;

  @include mediaMinMax(1025, $normal) {
    padding: 1.04vw 1.82vw;
    border-radius: 0.52vw;
    font-size: 0.88vw;
    line-height: 1.4vw;
  }
}
