@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.color-button {
  padding: 20px 35px;
  color: $white-color;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  border: none;

  @include mediaMinMax(1025, $normal) {
    padding: 1.04vw 1.82vw;
    border-radius: 0.52vw;
  }

  @include media($small) {
   padding: 15px 27px;
  }

  &__button-text {
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: $extraBold;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.8vw;
      line-height: 1.4vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.4px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    &_with-reverse-icon {
      flex-direction: row-reverse;
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    margin-left: 23px;

    &_with-reverse-icon {
      margin-left: 0;
      margin-right: 23px;
      transform: rotate(180deg);
    }
  }
}
