@import 'src/styles/variables.scss';
@import "src/styles/media.scss";

.restoration-wizard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: $athens-light-gray-blue-color;

  &_contrast {
    background-color: $aqua-squeeze;

    @include media($xmini) {
      background-color: $pickled-bluewood-color;
    }
  }

  &__content-wrap {
    position: relative;
    background-color: $white-color;
    border-radius: 153px;
    margin: 0 auto;
    width: 1532px;
    padding: 50px 86px 86px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 7.96vw;
      width: 79.79vw;
      padding: 2.6vw 4.47vw 4.47vw;
    }

    @include media($small) {
      padding: 2.6vw 2.3vw 6.09vw;
      width: calc(100% - 40px);
      border-radius: 14.9vw;
    }

    @include media($xsmall) {
      padding: 32px 15px 40px 15px;
    }

    @include media($xmini) {
      background-repeat: no-repeat;
    }

    @include media($xlmini) {
      width: calc(100% - 34px);
      padding: 20px 0 25px;
      margin: 0;
    }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1155px;
    margin-bottom: 44px;

    @include media($small) {
      margin: 0 20px 30px 20px;
      text-align: center;
    }
    @include media($xmini) {
      margin-bottom: 25px;
    }
  }

  &__title {
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    text-align: center;
    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
    }

    @include media($xmini) {
      color: $white-color;
      font-size: 1.625rem;
      margin-bottom: 0;
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    }
  }

  &__title-description {
    align-items: center;
    text-align: center;
    color: $scarpa-flow-gray-color;
    width: 1249px;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      width: 65vw;
    }

    @include media($small) {
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
      max-width: 90vw;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 2.864vw;
    }

    @include media($xlmini) {
      line-height: 3.97vw;
      letter-spacing: 0.147vw;
      font-size: 2.795vw;
    }

    @include media($xmini) {
      text-align: center;
      margin-bottom: 40px;
      line-height: 4.65vw;
      letter-spacing: 0.17vw;
      font-size: 3.27vw;
    }

    @include media($mini) {
      line-height: 5.625vw;
      letter-spacing: 0.2vw;
      font-size: 3.95vw;
    }

    @include media($xmini) {
      display: none;
    }
  }

  &__underline {
    text-decoration: underline;
    color: $scarpa-flow-gray-color;
    cursor: pointer;
  }

  &__navigation {
    background-color: $white-color !important;
  }

  &__bottom-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    @include media($small) {
      margin-top: 0;
    }

    @include media($small) {
      flex-direction: column;
    }
  }

  &__bottom-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include media($small) {
      align-items: center;
      justify-content: space-between;
      padding: 0 25px;
    }
  }

  &__main-block {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;

    @include media($small) {
      margin: 28px 0 0 0;
    }

    @include media($xlmini) {
      margin: 4px 0 0 0;
    }
  }

  &__main-content {
    display: flex;
    width: 100%;
    height: 100%;

    @include media($xsmall) {
      min-height: auto;
      padding: 0 25px;
    }

    @include media($xlmini) {
      margin-top: 15px;
    }
  }

  &__first-step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

    @include mediaMinMax(1025, $normal) {
      max-width: 60.41vw;
    }

    @include media($small) {
      max-width: 688px;
    }
  }

  &__step-title {
    font-size: 30px;
    color: $shark-gray-color;
    line-height: 38px;
    font-weight: $black;
    letter-spacing: 1px;
    text-align: center;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin: 0 auto;
    grid-column-start: 2;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.45vw;
      line-height: 1.97vw;
    }

    @include media($small) {
      min-width: auto;
      justify-content: center;
      font-size: 1.0625rem;
      line-height: 23px;
    }
  }

  &__step-text {
    font-size: 1.5rem;
    color: $dark-slate-blue-color;
    margin-bottom: 20px;

    @include media($xsmall) {
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
    }

    @include media($mini) {
      font-size: 16px;
    }
  }

  &__step-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;

    @include media($xsmall) {
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &__second-step-wrap,
  &__third-step-wrap {
    display: flex;
    width: 100%;
  }

  &__second-step-wrap {

    @include media($small) {
      flex-direction: column;
      margin-bottom: 15px;
    }

    @include media($xlmini) {
      .image-uploader__drag-and-drop_wrapper {
        background: none;
        border: none;
        min-height: auto;
      }
    }
  }

  &__scanning-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($gray-color, 0.3);
    z-index: 1;
  }

  &__scan-block {
    display: flex;
    justify-content: center;
    background-color: $wild-sand-color;
    padding: 25px 32px 30px 32px;
    width: 660px;
    border-radius: 12px;
    position: relative;

    @include media($small) {
      width: 80%;
    }

    @include media($xsmall) {
      width: 261px;
      max-width: 100%;
      padding: 50px 19px 40px 19px;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_left {
      padding: 10px 30px 10px 10px;
      border-right: 1px solid $dark-slate-blue-color;
    }

    &_right {
      padding: 10px 10px 10px 30px;
    }
  }

  &__scan-title {
    margin-bottom: 15px;
    text-align: center;

    @include media($xsmall) {
      font-size: 0.95rem;
    }
  }

  &__scan-text {
    margin-bottom: 20px;
    display: block;

    @include media($xsmall) {
      font-size: 0.65rem;
    }

    &_scan {
      text-align: center;
    }
  }

  &__scan-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 35px 0;
    min-height: 120px;

    @include media($xsmall) {
      min-height: auto;
      margin: 0;
    }
  }

  &__scan-list-item {
    color: $charcoal-gray-color;
    font-size: 0.875rem;
    line-height: 2.2;
    font-weight: $regular;


    &::before {
      display: inline-block;
      width: 13px;
      height: 13px;
      content: ' ';
      border: 2px solid $dark-slate-blue-color;
      background-color: $turquoise-color;
      border-radius: 50%;
      margin-right: 8px;
    }

    @include media($xsmall) {
      font-size: 0.6rem;
    }
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    background: transparent;
  }

  &__selector-block {
    display: flex;
    flex-wrap: wrap;
    background-color: $white-color;
    border: 2px solid rgba($shark-gray-color, 0.1);
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 60px;
    margin-left: 30px;
    max-width: 930px;
    width: 930px;
    height: 522px;
    padding: 20px 30px 50px 25px;

    @include mediaMinMax(1025, $normal) {
      width: 48.43vw;
      border-radius: 3.125vw;
      margin-left: 1.56vw;
      padding: 1.0416vw 1.5625vw 2.6041vw 1.3008vw;
      height: 27.18vw;
    }

    @include media($small) {
      padding: 30px 40px 40px 40px;
      border-radius: 28px;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 600px;
      margin: 20px 0 0 0;
    }

    @include media($xsmall) {
      padding: 30px 30px 40px 40px;
    }

    @include media($mini) {
      padding: 20px 15px 18px 15px;
      min-height: fit-content;
      max-height: 527px;
      justify-content: flex-end;
    }
  }

  &__summery-block {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: 0;

    @include media($xsmall) {
      margin-bottom: 20px;
    }

    &_desktop {
      @include media($small) {
        display: none;
      }
    }

    &_mobile {
      display: none;
      @include media($small) {
        display: flex;
        position: initial;
        margin-bottom: 20px;
        margin-right: 40px;
      }

      @include media($small) {
        margin-right: 15px;
      }

      @include media($xlmini) {
        margin-right: 0;
      }
    }
  }

  &__summary-container {
    display: flex;
    align-items: center;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      svg {
        width: 1.56vw;
        height: 1.56vw;
      }
    }

    &_hide-in-mobile {
      @include media($small) {
        display: none;
      }
    }
  }

  &__summary-title {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    margin: 0 100px 0 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
      margin-right: 5.2vw;
    }

    @include media($small) {
      margin: 0 14px 0 10px;
    }
  }

  &__summary-text-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0;

    @include media($small) {
      position: static;
      flex-direction: row;
    }
  }

  &__summary-text {
    font-weight: $black;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $burnt-sienna-red-color;
    position: relative;

    &_origin {
      color: $darker-dusty-gray-color;
      font-weight: $medium;

      &::after {
        content: '';
        width: 110%;
        height: 1px;
        top: 50%;
        left: -5%;
        background-color: $burnt-sienna-red-color;
        position: absolute;
      }

      @include media($small) {
        margin-right: 15px;
      }
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 1.14vw;
      line-height: 1.56vw;
    }
  }

  &__order-images {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__order-images-selector {
    width: 900px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 20px;

    @include media($small) {
      width: 80vw;
    }

    @include media($xsmall) {
      width: 100vw;
    }
  }

  &__ship-kit-block {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    @include media($small) {
      flex-direction: column;
    }
  }

  &__color-ship-kit-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content-block {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 900px;

    @include media($xsmall) {
      flex-direction: column;
    }
  }

  &__product-card-wrap,
  &__product-count-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media($xsmall) {
      width: 100%;
    }
  }

  &__product-card-wrap {
    align-items: center;
    height: 100%;
    padding: 27px 0;
  }

  &__product-count-wrap {
    align-items: center;
  }

  &__notes-block {
    width: 100%;
  }

  &__last-step {
    width: 100%;
  }

  &__navigation-step {
    max-width: 200px;
    width: 100%;
  }

  &__ship-kit-upload-block {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: rgba(229, 233, 236, 0.4);
    border: 2px dashed rgba(48, 77, 98, 0.8);
    border-radius: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include media($xlmini) {
      background-color: transparent;
      border: none;
    }
  }

  &__ship-kit-upload-btn {
    @include media($xlmini) {
      padding: 16px 18px !important;
      font-size: 0.875rem !important;
      line-height: 19px !important;
    }
  }

  &__upload-block, &__ship-kit-upload-block {
    width: 1360px;
    max-width: 400px !important;

    @include mediaMinMax(1025, $normal) {
      max-width: 20.833vw !important;
    }

    @include media($small) {
      max-width: 100% !important;
    }

    &_with-images {

      @include media($small) {
        max-height: 200px !important;
        min-height: 200px !important;
      }

      @include media($xmini) {
        max-height: 53px !important;
        min-height: 53px !important;
      }
    }
  }

  &__upload-block-title {
    margin-bottom: 5px !important;
    display: none !important;
  }

  &__scan-help-button {
    margin-top: 25px;
  }

  &__hint-button {
    display: none !important;

    @include media($xsmall) {
      display: block !important;
      margin: 10px 0;
    }
  }

  &__color-hint-button {
    margin: 10px auto;
  }

  &__top-block > &__help-center-container {
    @include media($xmini) {
      display: none;
    }
  }

  &__bottom-block > &__help-center-container {
    @include mediaMin($xmini) {
      display: none;
    }
  }

  &__top-block {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    position: relative;

    @include media($small) {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  div#{&__quantity} {
    padding-bottom: 7px;
    min-height: auto;
  }

  &__price {
    margin-bottom: 20px;

    @include media($mini) {
      font-size: 0.9375rem;
      margin-bottom: 10px;
      margin-top: -10px;
    }
  }

  &__mobile-button-wrap {
    width: 146px;
    content: '';
    display: flex;
    justify-content: center;

    &_back {
      @include media($xsmall) {
        order: 3;
      }
    }

    &_next {
      @include media($xsmall) {
        order: 2;
        margin-bottom: 20px;
      }
    }
  }

  &__mobile-back-btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    display: none;
    position: relative;
    color: $charcoal-gray-color;

    &_show {
      @include media(1200) {
        display: block;
      }
    }

    &::before {
      content: '';
      position: absolute;
      border-left: 2px solid rgba($black-color, 0.09);
      border-bottom: 2px solid rgba($black-color, 0.09);
      width: 12px;
      height: 12px;
      transform: rotate(45deg);
      left: -15px;
      top: 3px;
    }
  }

  button.btn#{&__mobile-next-btn} {
    display: none;
    width: 146px;
    padding: 0 25px !important;

    &_show {
      @include media(1200) {
        display: block;
        border: none;
      }
    }
  }

  &__count-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;

    @include media($xsmall) {
      margin-top: 0;
    }
  }

  &__quantity-wrapper {
    display: flex;
  }

  &__quantity-title,
  &__quantity {
    font-weight: $bold;
    font-size: 1.375rem;
    line-height: 30px;
    text-align: center;
    color: $shark-gray-color;

    @include media($small) {
      font-weight: $bold;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
  }

  &__quantity {
    font-weight: $black;
    color: $burnt-sienna-red-color;
    margin-left: 5px;
  }

  &__quantity-price {
    font-weight: $bold;
    font-size: 1.125rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;

    @include media($small) {
      font-size: 0.875rem;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.6px;
    }
  }

  &__ship-kit-buttons,
  &__ship-kit-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ship-kit-button {
    outline: none;
    text-decoration: none;
    align-items: center;

    &_isNote {
      @include media($small) {
        font-weight: $bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.888889px;
        margin-left: 0;
      }
    }

    &_mobile {
      display: none;

      @include media($xlmini) {
        display: flex;
        margin: 0 0 40px 0;
      }
    }
  }

  &__ship-kit-icon {
    position: relative;
    margin-right: 18px;
    width: 34px;
    height: 34px;

    @include mediaMinMax(1025, $normal) {
      width: 1.77vw;
      height: 1.77vw;
    }

    @include media($xlmini) {
      width: 23px;
      height: 23px;
      margin-right: 10px;
    }
  }

  &__ship-kit-button-text {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
    }

    @include media($xlmini) {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.88px;
    }
  }

  &__count-block {

    &_mobile {
      display: none;
      @include media($small) {
        display: flex;
        margin-bottom: 10px;
      }
    }
  }

  &__help-center-wrap {
    margin-top: 15px;

    @include mediaMin($small) {
      position: absolute;
    }
  }

  &__icons-block {
    display: flex;
    justify-content: space-between;
    width: 709px;
    margin-top: 45px;
    margin-bottom: 60px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 3.1vw;
      margin-top: 2.3475vw;
      width: 36.927vw;
    }

    @include media($small) {
      max-width: 60vw;
    }

    &_desktop {
      @include media($small) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
        width: 100%;
        max-width: 432px;
        margin: 40px auto 0 16px;
      }

      @include media($xlmini) {
        width: 100%;
        margin: 40px auto 0 auto;
        padding: 0 20px;
      }
    }

    @include media($xmini) {
      display: none;
    }
  }

  &__icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_retouching {
      border-radius: 14px;
    }

    @include mediaMinMax(1025, $normal) {
      width: 3.64vw;
      height: 3.64vw;
    }

    @include media($small) {
      width: 70px;
      height: 70px;
    }
  }

  &__icon {
    width: 45px;
    height: 45px;

    @include mediaMinMax(1025, $normal) {
      width: 2.34vw;
      height: 2.34vw;
    }

    @include media($small) {
      width: 45px;
      height: 45px;
    }
  }

  &__icon-block-text {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.9px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    position: absolute;
    width: 200%;
    top: 90px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
    }

    @include mediaMinMax(1390, $normal) {
      top: 4.688vw
    }

    @include media(1390) {
      top: 4.3vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.72px;
      top: 90px;
    }

    @include media($xsmall) {
      font-size: 0.75rem;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.2px;
      max-width: 70px;
    }
  }

  &__labels-include {
    position: absolute;
    bottom: -30px;
    width: 100%;
    color: $dark-slate-blue-color;
    font-weight: $extraMedium;
    left: 50%;

    @include mediaMinMax($small, $normal) {
      left: 45%;
    }

    @include media($small) {
      position: initial;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      font-size: 0.75rem;
      margin-bottom: 20px;
      margin-top: 10px;
      transform: translateX(0);
    }
  }

  &__lazy-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
