@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.big-photo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;

  &__content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: auto;
    border: none;
    outline: none;
    position: relative;
    justify-content: center;

    @include media($small) {
      width: 78vw;
    }

    @include media($xmini) {
      width: calc(100vw - 40px);
    }
  }

  &__image-wrapper {
    position: relative;
    outline: none;
    border: none;
  }

  &__image-wrap {
    position: relative;
    max-width: 838px;
    width: 100%;

    &_wrapper-cloud {
      width: 838px;
      display: flex;
      justify-content: center;

      @include mediaMinMax(1025, $normal) {
        width: 43.646vw;
      }
    }

    @include media($xsmall) {
      max-height: calc(100% - 45px);
      min-height: calc(100% - 45px);
    }

    @include media($mini) {
      max-height: calc(100% - 40px);
      min-height: calc(100% - 40px);
    }
  }

  &__photo {
    object-fit: contain;
    object-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 838px;
    border-radius: 20px;

    &_max-width {
      width: auto;
      height: auto;
      max-width: 838px;
      max-height: 700px;

      @include mediaMinMax(1025, $normal) {
        max-width: 43.646vw;
        max-height: 36.458vw;
      }

      @include media($small) {
        object-fit: contain !important;
        width: auto !important;
        height: auto !important;
        max-width: 80vw;
        max-height: calc(78vw / 1.4);
      }
    }

    @include media($small) {
      width: 78vw;
      height: calc(78vw / 1.4);
      object-fit: cover;
    }

    @include media($xmini) {
      width: calc(100vw - 70px);
      height: calc((100vw - 40px) / 1.4);
    }

    &_invisible {
      display: none;
    }
  }

  &__spinner {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &_invisible {
      display: none;
    }
  }

  &__select-icon {
    width: 30px;
    height: 30px;

    @include mediaMinMax(1025, $normal) {
      width: 1.563vw;
      height: 1.563vw;
    }

    @include media($small) {
      width: 20px;
      height: 20px;
    }
  }

  &__select-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__delete-icon {
    width: 28px;
    height: 28px;

    @include media($xsmall) {
      width: 24px;
      height: 24px;
    }

    @include media($mini) {
      width: 15px;
      height: 15px;
    }
  }

  &__image {
    border-radius: 3px;
    max-width: 100px;
    max-height: 100px;
  }

  &__control-btn {
    border: none;
    background-color: transparent;
    padding: 0;

    svg {
      width: 30px;
      height: 30px;

      @include media($xsmall) {
        width: 24px;
        height: 24px;
      }

      @include media($mini) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__button-icon {
    @include media($xsmall) {
      width: 15px;
      height: 15px;
    }

    @include media($mini) {
      width: 13px;
      height: 13px;
    }
  }

  &__button-block {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include media($xsmall) {
      bottom: -120px;
    }

    @include media($xlmini) {
      bottom: -110px;
    }
  }

  &__button-wrap {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    &_center {
      justify-content: center;
    }

    &_end {
      justify-content: flex-end;
    }

    &_in-center {
      margin: auto;
      justify-self: center;
      align-self: center;
    }
  }

  &__button-icon {

    width: 840px !important;
    margin-top: 20px;

    @include mediaMinMax(1025, $normal) {
      width: 43.750vw !important;
    }

    @include media($small) {
      width: 100% !important;
    }

    .image-menu__menu-btn {
      border: none;

      .image-menu__icon-btn {
        max-height: 70%;

        polygon {
          fill: $gray-color;
        }
      }
    }
  }

  &__icon-btn {
    max-width: 21px;
    max-height: 14px;
    transform: rotate(180deg);
  }

  &__list-btn {
    background-color: transparent;
    color: $white-color;
    white-space: nowrap;
    border: none;
    font-size: 16px;
    font-weight: $medium;
  }

  &__list-link {
    outline: none;
    text-decoration: none;
  }

  &__button-block-veil {
    background-color: transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__select-btn-wrap {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;
    border-radius: 13px;

    @include mediaMinMax(1025, $normal) {
      width: 2.604vw;
      height: 2.604vw;
      border-radius: 0.677vw;
    }

    @include media($small) {
      width: 34px;
      height: 34px;
      top: 19px;
      left: 19px;
      border-radius: 9px;
    }

    @include media($xsmall) {
      top: 13px;
      left: 13px;
    }
  }

  &__image-block {
    position: relative;

    &_image-cloud {
      max-height: 700px;
    }
  }
}
