@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.enhance-scan-kit-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;

  @include media($xsmall) {
    padding: 0;
  }

  &__quantity {
    @include media($small) {
      display: flex !important;
      flex-direction: column !important;
      min-height: 52px !important;
      margin-bottom: 12px !important;
      padding: 0 !important;
    }
  }

  &__scan-title {
    font-size: 1.4rem;
    color: $dark-slate-blue-color;
    font-weight: $extraMedium;
    line-height: 1.25;
    margin-top: 20px;

    @include media($xsmall) {
      font-size: 1.16px;
      margin: 12px 22px 26px;
      text-align: center;
    }
  }

  &__scan-text {
    font-size: 1.5rem;
    color: $dark-slate-blue-color;
    margin-bottom: 20px;

    @include media($xsmall) {
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
    }

    @include media($mini) {
      font-size: 16px;
    }
  }

  &__form-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    @include media($small) {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-top: 0;
    }
  }

  &__form-quantity {
    @include media($xsmall) {
      padding-bottom: 17px;
    }
  }

  &__form-material {
    position: relative;
  }

  &__form-quantity,
  &__form-material,
  &__form-sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(230px, 21.35vw, 410px);
    max-height: 512px;
    height: 50vw;
    border: 2px solid $athens-gray-color;
    box-shadow: 45px 45px 98px rgba($black-color, 0.0395269);
    border-radius: 20px;
    padding: 88px 0 50px 0;

    @include mediaMinMax($small, $normal) {
      width: 21.35vw;
      height: 26.66vw;
      border-radius: 1.77vw;
      padding: 4.58vw 0 2.6vw 0;
    }

    @include media($small) {
      width: 100%;
      max-width: 502px;
      max-height: 230px;
      height: auto;
      padding: 10px 0;
      margin-bottom: 10px;
    }
  }

  &__form-material {
    @include media($xsmall) {
      width: 100%;
      padding: 15px;
    }
  }

  &__form-sizes {
    @include media($xsmall) {
      padding: 20px 15px;
      margin-bottom: 30px;
    }
  }

  &__form-title {
    font-size: 1.375rem;
    font-weight: $bold;
    line-height: 30px;
    color: $shark-gray-color;
    margin-bottom: 30px;
    text-align: center;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    letter-spacing: 1px;

   @include mediaMinMax($small, $normal) {
     font-size: 1.14vw;
     line-height: 1.56vw;
     margin-bottom: 1.56vw;
   }

    @include media($small) {
      font-size: 1.06875rem;
      line-height: 23px;
      text-align: center;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }
  }

  &__materials-buttons-block {
    display: flex;
    justify-content: space-between;
    width: 15.91vw;
    max-width: 290px;

    @include mediaMinMax($small,$normal) {
      margin-top: 4px;
    }

    @include media($small){
      width: 100%;
    }
  }

  &__material-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
    width: 110px;
  }

  &__material-icon-block {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $athens-gray-color;
    border-radius: 18px;
    margin-bottom: 10px;

    svg {
      width: 40px;
      height: 35px;
    }

    @include mediaMinMax($small, $normal) {
      width: 3.64vw;
      height: 3.64vw;
      border-radius: 0.93vw;
      margin-bottom: 0.52vw;

      svg {
        width: 2.08vw;
        height: 1.82vw;
      }
    }

    @include media($small) {
      width: 64px;
      height: 64px;
      margin-bottom: 8px;

      svg {
        width: 36px;
        height: 32px;
      }
    }

    &_selected {
      background-color: $pickled-bluewood-color;
    }
  }

  &__icon-block-circle {
    width: 30px;
    height: 30px;
    border: 1px solid $san-juan-dark-blue-color;
    border-radius: 50%;

    &_selected {
      border: 1px solid $white-color;
    }
  }

  &__material-icon {
    display: block;
    width: 50px;
    height: 50px;

    @include mediaMinMax($small, $normal) {
      width: 2.6vw;
      height: 2.6vw;
    }

    @include media($xsmall) {
      width: 36px;
      height: 36px;
    }
  }

  &__material-name {
    font-size: 16px;
    font-weight: $bold;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.8px;
    color: $scarpa-flow-gray-color;
    max-width: 70px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
      max-width: 3.64vw;
    }

    @include media($small) {
      font-size: 0.75rem;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.8px;
    }
  }

  &__selector-block {
    margin: 10px 0;
  }

  &__selector-wrap {
    padding: 10px 0;

    @include mediaMinMax(1025, $normal) {
      padding: 0.78vw 0;
    }

    @include media($small) {
      padding: 0;
    }
  }

  &__selector-block,
  &__selector-wrap {
    height: 52px !important;
    width: 180px !important;
    margin: 0 !important;

    @include mediaMinMax(1025, $normal) {
      height: 2.7vw !important;
      width: 9.37vw !important;
      min-height: auto !important;
    }

    .custom-select__select__control {
      height: 52px;
      width: 180px;

      @include mediaMinMax(1025, $normal) {
        height: 2.7vw !important;
        width: 9.37vw !important;
        min-height: auto !important;
      }

      @include media($xsmall) {
        height: 48px;
        width: 180px;
      }
    }

    .custom-select__select__value-container {
      justify-content: center;

      .custom-select__select__single-value {
        color: $pickled-bluewood-color !important;
        font-weight: $bold !important;
        font-size: 1.25rem !important;
        line-height: 27px;
        letter-spacing: 1.11111px;
        opacity: 0.8;

        @include mediaMinMax(1025, $normal) {
          font-size: 1.04vw !important;
          line-height: 1.4vw;
        }

        @include media($xsmall) {
          font-size: 1.8rem;
        }
      }
    }
  }

  &__price {
    font-size: 16px;
    font-weight: $bold;
    line-height: 22px;
    letter-spacing: 0.8px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.7px;
    }
  }

  &__image-wrapper {
    width: 170px;
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
    position: relative;

    @include mediaMinMax($small, $normal) {
      width: 8.85vw;
      height: 6.56vw;
      margin-bottom: 1.56vw;
    }

    @include media($small) {
      display: none;
      margin: 0;
      padding: 0;
      width: 146px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    @include mediaMin($normal) {
      min-width: 146px;
      max-width: 170px;
      height: 126px;
    }
  }

  &__selector-block-wrap {
    width: 70px;
    display: flex;
    align-items: center;
  }
}
