@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.presentation-card {
  &__image {
    height: 150px;
    width: 150px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;

    @include media($small) {
      height: 120px;
      width: 120px;
    }

    @include media($xsmall) {
      height: 150px;
      width: 150px;
    }
  }
}
