@import 'src/styles/variables.scss';
@import "src/styles/media.scss";

.digitize-wizard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $aqua-squeeze;

  @include media($xmini) {
    background-color: $pickled-bluewood-color;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1155px;
    margin-bottom: 85px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 4.427vw;
    }

    @include media($small) {
      margin: 0 20px 60px 20px;
      text-align: center;
    }

    @include media($xmini) {
      margin-bottom: 25px;
    }
  }

  &__header-title {
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    text-align: center;
    margin-bottom: 50px;
    line-height: 0.99;

    @include mediaMinMax(1025, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.6vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
    }

    @include media($xmini) {
      color: $white-color;
      font-size: 1.625rem;
      margin-bottom: 20px;
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    }

    &_second-step,
    &_film-card {
      margin-bottom: 13px;
    }
  }

  &__description {
    align-items: center;
    text-align: center;
    color: $scarpa-flow-gray-color;
    width: 1249px;
    font-size: 1.375rem;
    line-height: 1.27;
    letter-spacing: 1px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 70px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      width: 65vw;
      margin-bottom: 3.6458vw;
    }

    @include media($small) {
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;
      max-width: 90vw;
      margin-bottom: 50px;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 2.864vw;
    }

    @include media($xlmini) {
      line-height: 3.97vw;
      letter-spacing: 0.147vw;
      font-size: 2.795vw;
    }

    @include media($xmini) {
      text-align: center;
      margin-bottom: 40px;
      line-height: 4.65vw;
      letter-spacing: 0.17vw;
      font-size: 3.27vw;
      display: none;
    }

    @include media($mini) {
      line-height: 5.625vw;
      letter-spacing: 0.2vw;
      font-size: 3.95vw;
    }
  }

  &__steps-wrapper {
    background-color: $white-color;
    border-radius: 153px;
    margin: 0 auto;
    width: 1532px;
    padding: 90px 86px 86px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 7.96vw;
      width: 79.79vw;
      padding: 4.688vw 4.47vw 4.47vw;
    }

    @include media($small) {
      padding: 2.6vw 2.3vw 6.09vw;
      width: calc(100% - 40px);
      border-radius: 7.96vw;
    }

    @include media($xsmall) {
      padding: 32px 15px 40px 15px;
    }

    @include media($xlmini) {
      width: calc(100% - 34px);
      padding: 20px 10px 25px;
      margin: 0;
      border-radius: 17px;
    }
  }

  &__icons-block {
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin-bottom: 60px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 3.1vw;
      width: 27.08vw;
    }

    @include media($small) {
      max-width: 60vw;
    }

    @include media($xsmall) {
      max-width: 70vw;
    }

    @include media($xmini) {
      display: none;
    }

    &_5 {
      width: 660px;

      @include mediaMinMax($small, $normal) {
        width: 34.375vw;
      }

      @include media($small) {
        max-width: 76.2vw;
      }

      @include media($xsmall) {
        max-width: 88.9vw;
      }

      @include media($xmini) {
        display: none;
      }
    }
  }

  &__icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    border-radius: 13px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      width: 3.64vw;
      height: 3.64vw;
      border-radius: 0.677vw;
    }

    @include media($small) {
      width: 70px;
      height: 70px;
    }
  }

  &__icon {
    max-width: 45px;
    max-height: 45px;

    @include mediaMinMax(1025, $normal) {
      max-width: 2.34vw;
      max-height: 2.34vw;
    }

    @include media($small) {
      max-width: 45px;
      max-height: 45px;
    }
  }

  &__icon-block-text {
    font-weight: $bold;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.9px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    position: absolute;
    width: 200%;
    top: 80px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      line-height: 1.25vw;
    }

    @include mediaMinMax(1390, $normal) {
      top: 4.167vw;
    }

    @include media(1390) {
      top: 4.167vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.72px;
      top: 90px;
    }

    @include media($xsmall) {
      font-size: 0.75rem;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.2px;
      max-width: 70px;
    }
  }

  &__steps-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include media($small) {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  &__steps-header>&__help-center {
    @include media($xmini) {
      display: none;
    }
  }

  &__steps-header-text {
    font-weight: $black;
    font-size: 1.75rem;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax(1025, $normal) {
      font-size: 1.45vw;
      line-height: 1.97vw;
    }

    @include media($small) {
      font-size: 1.0625rem;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.6px;
    }

    @include media($mini) {
      max-width: 300px;
    }
  }

  &__step-header-total {
    display: flex;
    align-items: center;
    min-width: 260px;
    justify-content: flex-end;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      svg {
        width: 1.56vw;
        height: 1.56vw;
      }
    }

    &_desktop {
      @include media($small) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }

      @include media($xmini) {
        margin-bottom: 10px;
      }
    }
  }

  &__steps {
    display: flex;
    max-width: 1360px;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0 40px 0;

    @include mediaMinMax(1025, $normal) {
      width: 70.83vw;
      padding: 2.08vw 0 2.08vw 0;
    }

    @include media($small) {
      padding: 28px 0 40px 0;
      flex-wrap: wrap;
    }

    @include media($xsmall) {
      justify-content: center;
    }

    @include media($xmini) {
      padding-bottom: 19px;
    }

    &_second-step {
      @include media($small) {
        justify-content: center;
      }
    }
  }

  &__summary-title {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    margin: 0 100px 0 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
      margin-right: 5.2vw;
    }

    @include media($small) {
      margin: 0 14px 0 10px;
    }
  }

  &__summary-text-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0;

    @include media($small) {
      position: static;
      flex-direction: row;
    }
  }

  &__summary-text {
    font-weight: $black;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $burnt-sienna-red-color;
    position: relative;

    &_origin {
      color: $darker-dusty-gray-color;
      font-weight: $medium !important;

      &::after {
        content: '';
        width: 110%;
        height: 1px;
        top: 50%;
        left: -5%;
        background-color: $burnt-sienna-red-color;
        position: absolute;
      }

      @include media($small) {
        margin-right: 15px;
      }
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 1.14vw;
      line-height: 1.56vw;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include media($small) {
      padding: 0 25px;
    }

    @include media($xmini) {
      padding: 0;
    }

    &_is-one-btn {
      justify-content: flex-end;

      @include media($xmini) {
        justify-content: center;
      }
    }
  }

  &__card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 410px;
    height: 497px;
    border-radius: 34px;
    margin-right: 64px;
    outline: none;
    position: relative;
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);

    @include mediaMinMax(1025, $normal) {
      width: 21.35vw;
      height: 25.88vw;
      border-radius: 1.77vw;
      margin-right: 3.33vw;
    }

    @include media($small) {
      width: 334px;
      height: 404px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    @include media($xlmini) {
      margin-right: 0;
      border-radius: 16px;
    }

    @include media($xmini) {
      width: 305px;
      height: initial;
      border: 3px solid $black-squeeze-color;
      padding: 10px 13px 10px 6px;
      margin-top: 0;
      margin-bottom: 25px;
      border-radius: 16px;
    }

    &_film-card {
      min-width: auto;
      width: 334px;
      height: 497px;
      margin-right: 21px;
      border: 2px solid rgba($shark-gray-color, 0.05);
      padding: 85px 50px 70px;

      @include mediaMinMax(1025, $normal) {
        width: 16.87vw;
        height: 25.88vw;
        margin-right: 1.09vw;
        padding: 4.42vw 2.6vw 3.64vw;
      }

      @include media($small) {
        height: 442px;
        padding: 85px 50px 30px;
      }

      @include media($xsmall) {
        height: 100%;
        max-height: 100%;
        padding: 70px 50px 30px 50px;
        margin: 0;
      }
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &_second-step {
      border: 2px solid $athens-gray-color;
      padding: 20px;
      width: 410px;
      height: 522px;

      @include mediaMinMax(1025, $normal) {
        width: 21.35vw;
        height: 27.18vw;
        padding: 1.04vw;
      }

      @include media($small) {
        flex-direction: row;
        max-width: 688px;
        min-height: 214px;
        max-height: 214px;
        width: 90vw;
        padding: 20px;
        margin-right: 0;
      }

      @include media($xlmini) {
        flex-direction: column;
        max-width: 334px;
        max-height: 503px;
        height: auto;
        padding: 14px 14px 20px 14px;
        border-radius: 34px;
      }
    }

    &_carousel {
      @include media($small) {
        margin-right: 0;
      }
    }

    &_book {

      @include mediaMinMax(1025, $normal) {
        heigh: 14.58vw;
      }

      @include media($small) {
        height: 243px;
        background-color: transparent;
      }
    }

  }

  &__card-number {
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
    border: 2px solid $athens-gray-color;
    box-shadow: -12.2966px 14.7559px 24.5931px rgba($black-color, 0.03);
    font-weight: $black;
    font-size: 1.5rem;
    line-height: 33px;
    color: $summer-green-color;
    z-index: 1;
    border-radius: 50%;

    @include mediaMinMax(1025, $normal) {
      top: -1.3vw;
      width: 2.6vw;
      height: 2.6vw;
      font-size: 1.25vw;
      line-height: 1.71vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background-color: $white-color;
    border-radius: 34px;
    padding: 40px 35px;

    @include mediaMin($normal) {
      width: 400px;
      height: 260px;
    }

    @include mediaMinMax(1025, $normal) {
      bottom: 0.26vw;
      left: 0.26vw;
      right: 0.26vw;
      border-radius: 1.5vw;
      padding: 2.08vw 1.82vw;
      width: 20.83vw;
      height: 13.54vw;
    }

    @include media($small) {
      padding: 22px 0px;
    }

    &_second-step {
      padding: 0;

      @include mediaMinMax(681, $small) {
        position: initial;
        max-width: 340px;
        min-width: 340px;
      }

      @include media($xlmini) {
        position: initial;
        margin-top: 20px;
      }
    }

    &_book {
      background: transparent;
    }


    &_film-card {
      padding: 0;
      top: 264px;
      max-width: 310px;
      height: 174px;

      @include mediaMinMax(1025, $normal) {
        top: 13.75vw;
        width: 16.14vw;
        height: 9.06vw;
      }

      @include media($small) {
        margin-top: 50px;
        position: initial;
        background-color: transparent;
        height: auto;
      }

      @include media($xsmall) {
        margin-top: 30px;
      }
    }
  }

  &__price-text-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__price-text {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.8px;
    color: $scarpa-flow-gray-color;
    margin-top: 5px;
    position: relative;

    &_price {
      margin-right: 5px;
    }

    &_origin {
      color: $scarpa-flow-gray-color;
      font-weight: $medium !important;

      &::after {
        content: '';
        position: absolute;
        width: 110%;
        height: 1px;
        background-color: $burnt-sienna-red-color;
        left: -5%;
        top: 50%;
      }
    }

    &_custom {
      color: $burnt-sienna-red-color;
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
      margin-top: 0.26vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.7px;
      margin-top: -8px;
    }

    &_second-step {
      @include media($small) {
        font-size: 0.875rem;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.7px;
      }
    }

    &_film-card {
      @include media($small) {
        margin-top: 12px;
      }

      @include media($xsmall) {
        font-weight: $medium;
      }
    }
  }

  &__description-price {
    position: relative;

    &_origin, &_wizard {
      color: $scarpa-flow-gray-color;
      margin: 0 3px 0 6px;
      &::after {
        content: '';
        position: absolute;
        width: 110%;
        height: 1px;
        background-color: $burnt-sienna-red-color;
        left: -5%;
        top: 50%;
      }
    }

    &_wizard {
      &::after {
        bottom: 8px;

        @include mediaMinMax(1025, $normal) {
          bottom: 0.45vw;
        }

        @include media($small) {
          bottom: 8px;
        }

        @include media($xlmini) {
          bottom: 6px;
        }
      }
    }

    &_custom {
      color: $burnt-sienna-red-color;
      margin: 0 6px 0 3px;
    }
  }

  &__image-block {
    width: 100%;
    height: 100%;
    background-color: $wild-sand-color;
    overflow: hidden;
    cursor: pointer;
    border-radius: 34px;
    outline: none;

    @include mediaMinMax(1025, $normal) {
      border-radius: 1.77vw;
    }

    &_second-step {
      max-width: 370px;
      width: 21vw;
      height: 224px;

      @include mediaMinMax(1025, $normal) {
        width: 19.27vw;
        height: 11.66vw;
      }

      @include media($small) {
        max-width: 305px;
        width: 82vw;
        height: 186px;
        border-radius: 18px;
      }
    }

    &_film-card {
      max-width: 150px;
      max-height: 130px;
      background-color: $white-color;

      @include mediaMinMax(1025, $normal) {
        width: 7.8vw;
        max-height: 6.77vw;
      }

      @include media($xsmall) {
        max-width: 234px;
        max-height: 110px;
      }
    }

    &_book {
      @include media($small) {
        display: none;
      }
    }
  }

  &__title {
    color: $shark-gray-color;
    font-size: 1.375rem;
    font-weight: $bold;
    line-height: 30px;
    letter-spacing: 2px;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 20px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.05vw;
      line-height: 1.56vw;
      margin-bottom: 1.04vw;
    }

    @include media($small) {
      font-size: 1.0625rem;
      line-height: 23px;
      text-align: center;
      letter-spacing: 1px;
    }

    &_second-step {
      @include media($small) {
        font-size: 1.0625rem;
        line-height: 23px;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 8px;
      }
    }

    &_film-card {
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


      @include media($small) {
        white-space: initial;
        margin-bottom: 20px;
      }
    }
  }

  &__select-btn {
    width: 145px;
    height: 35px;
    border-radius: 17px;
    border: 3px solid $turquoise-color;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: $medium;
    color: $dark-slate-blue-color;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      width: 7.55vw;
      height: 1.82vw;
      border-radius: 0.88vw;
    }

    &_selected {
      background-color: $turquoise-color;
    }
  }

  &__select-icon {
    width: 25px;
    height: 25px;
    margin: 0 16px 0 12px;
  }

  &__slide-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    outline: none;
    border-radius: 18px;
    position: relative;

    &_film-card {
      max-width: 150px;
      max-height: 130px;
      background-color: $white-color;

      @include mediaMinMax(1025, $normal) {
        width: 7.8vw;
        height: 6.77vw;
      }

      @include media($xsmall) {
        max-width: 234px;
        max-height: 110px;
      }
    }
  }

  &__slide {
    width: 100%;
    height: 497px;
    object-fit: cover;
    object-position: center;

    @include mediaMinMax(1025, $normal) {
      width: 21.35vw;
      height: 25.88vw;
    }

    @include media($small) {
      height: 100%;
    }

    &_second-step {
      max-width: 370px;
      width: 21vw;
      height: 224px;

      @include mediaMinMax(1025, $normal) {
        width: 19.27vw;
        height: 11.66vw;
      }

      @include media($small) {
        max-width: 305px;
        width: 82vw;
        height: 186px;
      }
    }

    &_film-card {
      max-width: 150px;
      max-height: 130px;
      background-color: $white-color;

      @include mediaMinMax(1025, $normal) {
        width: 7.8vw;
        height: 6.77vw;
      }

      @include media($xsmall) {
        max-width: 234px;
        max-height: 110px;
      }
    }
  }

  &__hint-button {
    margin: 10px 0;
  }

  &__color-button {
    width: 260px;
    height: 66px;
  }

  &__base-price-text {
    font-weight: $black;
    font-size: 1.625rem;
    line-height: 44px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__toggler {
    margin: 12px 0;

    @include mediaMinMax(1025, $normal) {
      margin: 0.75vw 0;
    }

    &_second-step {
      @include media($small) {
        margin: 12px 0;
      }
    }

    &_mobile {
      margin: 0;
    }
  }

  &__toggler-input {
    &:before {
      width: 70px !important;
      height: 32px !important;
    }

    &:after {
      height: 22px !important;
      width: 22px !important;
    }

    &_checked {
      &:after {
        left: 42px !important;
      }
    }
  }

  &__toggler-text {
    &_mobile {
      font-size: 16px !important;
      line-height: 28px !important;

      &:first-child {
        margin-right: 7px !important;
      }

      &:last-child {
        margin-left: 7px !important;
      }
    }
  }

  &__two-cards {
    display: flex;
    border-radius: 44px;

    @include media($small) {
      flex-direction: column;
    }
  }

  &__card-description {
    margin-bottom: 8px;
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    min-height: 66px;
    padding: 0 10px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.41vw;
      font-size: 0.83vw;
      line-height: 1.14vw;
      min-height: 3.43vw;
      padding: 0 0.521vw;
    }

    &_first-step {
      min-height: auto;
    }

    &_second-step {
      @include media($small) {
        font-size: 0.875rem;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.7px;
        min-height: auto;
        margin-bottom: 14px;
      }
    }
  }

  &__next-btn,
  &__back-btn {
    position: relative;
    cursor: pointer;
  }

  &__warning {
    width: 220px;
    height: 84px;
    position: absolute;
    background: $white-color;
    border: 1px solid rgba($black-color, 0.04);
    border-radius: 20px;
    box-shadow: 45px 45px 98px rgba($black-color, 0.0395269);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 28px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.5625px;
    color: $black-color;
    top: -7px;
    left: -248px;
    z-index: 1;

    @include mediaMinMax(1025, $normal) {
      width: 11.45vw;
      height: 4.37vw;
      border-radius: 1.04vw;
      padding: 1.04vw 1.45vw;
      font-size: 0.83vw;
      line-height: 1.14vw;
      top: -0.36vw;
      left: -12.91vw;
    }

    @include media($small) {
      top: -13px;
    }

    @include media($mini) {
      left: -215px;
      padding: 15px 20px;
      top: -8px;
      width: 200px;
      height: 74px;
    }

    &_mobile {
      left: -38px;
      top: 65px;

      &:after {
        top: -10px !important;
        left: calc(50% - 10px);
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: $white-color;
      border: 1px solid rgba($black-color, 0.04);
      transform: rotate(45deg);
      right: -10px;
      top: calc(50% - 10px);
      border-left: none;
      border-bottom: none;
      z-index: 0;
    }
  }

  &__personalize-btn {
    border: 2px solid $athens-gray-color;
    background-color: $white-color;
    border-radius: 15.75px;
    padding: 15px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0.83vw;
      padding: 0.78vw 1.35vw;
      margin-top: 1.04vw;
    }

    &_desktop {
      display: none;

      @include media($small) {
        display: none;
      }

      @include media($xlmini) {
        display: flex;
        position: initial;
      }
    }

    &_mobile {
      display: flex;
      position: absolute;
      right: 14px;
      bottom: 14px;
      padding: 8px 13px;

      @include mediaMinMax(1025, $normal) {
        right: 0.729vw;
        bottom: 0.729vw;
        border-radius: 0.83vw;
        padding: 0.417vw 0.677vw;

        svg {
          width: 1.510vw;
          height: 1.510vw;
        }
      }

      @include media($xlmini) {
        display: none;
      }
    }

    &_blue {
      background: $iceberg-blue-light-color;
      border: 2px solid $polar-light-blue-color;
      border-radius: 10px;

      @include mediaMinMax(1025, $normal) {
        border-radius: 0.521vw;
      }
    }

    &_small {
      width: 110px;
      height: 36px;
      padding: 2px 5px;
      margin-top: 4px;
    }

    &_no-margin {
      margin: 0;
    }
  }

  &__personalize-btn-label {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    color: $pickled-bluewood-color;
    margin-left: 4px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.729vw;
      line-height: 0.990vw;
      margin-left: 0.208vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__personalize-btn-text {
    margin-left: 11px;
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.888889px;
    color: $shark-gray-color;

    @include media($xnormal) {
      font-size: 0.875rem;
    }

    &_small {
      font-size: 0.75rem;
      color: $pickled-bluewood-color;
      margin-left: 3px;
    }
  }

  &__film-transfer-cards {
    display: flex;

    @include media($small) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &_desktop {
      @include media($xsmall) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include media($xsmall) {
        display: flex;
      }
    }
  }

  &__film-footage {
    position: absolute;
    bottom: 0;
    left: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, 0);

    &_desktop {
      @include media($small) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
        position: relative;
        margin-bottom: 30px;
      }
    }
  }

  &__film-quantity-wrapper {
    display: flex;
    justify-content: center;
  }

  &__film-quantity-title {
    font-weight: $bold;
    font-size: 1.375rem;
    line-height: 30px;
    text-align: center;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.14vw;
      line-height: 1.56vw;
    }

    @include media($xlmini) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
  }

  &__film-quantity {
    font-weight: $bold;
    font-size: 1.375rem;
    line-height: 30px;
    text-align: center;
    color: $burnt-sienna-color;
    margin-left: 5px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.14vw;
      line-height: 1.56vw;
      margin-left: 0.26vw;
    }

    @include media($xlmini) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
  }

  &__film-feet {
    font-weight: $bold;
    font-size: 1.125rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.93vw;
      line-height: 1.3vw;
    }

    @include media($xlmini) {
      font-size: 0.875rem;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.6px;
    }
  }

  &__film-price {
    font-weight: $bold;
    font-size: 1.125rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.93vw;
      line-height: 1.3vw;
    }

    @include media($xsmall) {
      font-weight: $medium;
    }

    @include media($xlmini) {
      font-size: 0.875rem;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.6px;
    }
  }

  &__help-center {
    min-width: 260px;

    @include media($small) {
      min-width: auto;
      margin-top: 20px;
    }
  }

  &__bottom-content>&__help-center {
    @include mediaMin($xmini) {
      display: none;
    }
  }

  &__quantity {
    &_second-step {
      padding: 6px 30px 8px 30px !important;
      margin-bottom: 0 !important;
      min-height: auto !important;
    }

    &_film-card {
      padding: 0 30px !important;
      min-height: auto !important;
    }
  }

  &__underline {
    text-decoration: underline;
    color: $scarpa-flow-gray-color;
  }

  &__mobile-image-block {
    overflow: hidden;
    cursor: pointer;
    outline: none;
    min-width: 131px;
    min-height: 115px;
    width: 131px;
    height: 115px;
    border: 3px solid $black-squeeze-color;
    border-radius: 9px;
    background-color: $jagged-ice-color;
  }

  &__mobile-card-title {
    color: $shark-gray-color;
    font-size: 1.063rem;
    line-height: 27px;
    font-weight: $black;
    letter-spacing: 1px;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 8px;
  }

  &__mobile-card-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__mobile-card-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 14px;

    &_one-input {
      margin-bottom: 40px;
    }
  }

  &__mobile-card-info {
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    width: 100px;
    flex-wrap: wrap;

    &_small-margin {
      margin-bottom: 2px;
    }
  }

  &__mobile-image-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    outline: none;
  }

  &__mobile-image {
    object-fit: contain;
    object-position: 50% 30px;
    transform: scale(3);
    width: 131px;
    height: 115px;

    &_option {
      object-fit: cover;
      object-position: center;
      transform: scale(1);
    }

    &_usb {
      object-fit: cover;
      object-position: 10% -10px;
      transform: scale(1.1);
    }

    &_scan {
      object-fit: cover;
      object-position: -2px 13px;
      transform: scale(2);
    }

    &_audio {
      object-fit: cover;
      object-position: 10% 15px;
      transform: scale(2);
    }
  }

  &__mobile-card-text {
    font-size: 14px;
    font-weight: $medium;
    line-height: 21px;
    letter-spacing: 2px;
    color: $scarpa-flow-gray-color;
    text-align: center;
    letter-spacing: 1px;
    position: relative;

    &_red {
      color: $burnt-sienna-red-color;
      font-weight: $extraMedium;
    }

    &_first {
      margin-right: 5px;
    }

    &_underline {
      &:after {
        content: '';
        position: absolute;
        width: calc(100% + 4px);
        height: 1px;
        background-color: $burnt-sienna-red-color;
        top: calc(50% - 1px);
        left: -2px;

      }
    }
  }

  & div#{&}__mobile-counter {
    padding: 0 !important;
    min-height: 32px !important;
    margin-bottom: 15px !important;

    &_small-margin {
      margin-bottom: 4px !important;
    }
  }

  & input#{&}__mobile-counter-input {
    height: 32px !important;
    width: 30px !important;
    padding: 11px 5px !important;
    min-width: 55px !important;
    font-size: 0.875rem !important;
    line-height: 28px !important;
    border-radius: 9px !important;
  }

  & button#{&}__mobile-counter-btn {
    width: 32px !important;
    height: 32px !important;
    padding: 12px 9px !important;
    border-radius: 9px !important;
    margin: 0 6px !important;

    &:first-child {
      margin-left: 0 !important;
    }

    &:last-child {
      margin-right: 0 !important;
    }
  }

  &__prompt {
    display: flex;
    justify-content: center;
    margin: 20px 0 17px;
    font-size: 0.875rem;
    line-height: 21px;
    color: $scarpa-flow-gray-color;
  }

  &__lazy-load {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
