@import 'src/styles/variables.scss';
@import "src/styles/media.scss";

.my-cloud-files {
  width: 100%;
  position: relative;
  display: none;

  &_isComponentShow {
    display: block;
  }

  &__slider-wrapper {
    position: relative;
    padding: 10px 0 6px 0;
    width: calc(100% - 50px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    @include mediaMinMax(1025, $normal) {
      padding: 0.52vw 0 0.312vw 0;
      width: calc(100% - 2.6vw);
    }

    @include media($small) {
      width: 100%;
      margin: 0 auto;
      max-width: 600px;
    }

    @include media($xsmall) {
      width: 100%;
      max-width: 480px;
    }

    @include media($mini) {
      width: 100%;
      max-width: 300px;
    }
  }

  &__border-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 25px 20px;
    border: 1px solid $iceberg-color;
    border-radius: 8px;
    box-shadow: 0 3px 8.7px 0.3px rgba($black-color, 0.09);

    @include mediaMinMax(1025, $normal) {
      padding: 1.3vw 1.04vw;
      border-radius: 0.41vw;
    }

    @include media($small) {
      border: none;
      box-shadow: none;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  &__select-photo-btn {
    font-size: 1.25rem;
    height: auto;
    font-weight: $light;
    width: 125px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $dark-slate-blue-color;
    text-decoration: none;
    background: transparent;
    border: none;
    box-shadow: none;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      width: 6.51vw;
      margin: 0 0.52vw;
    }

    &:hover {
      outline: none;
    }

    &:active {
      outline: none;
    }

    &:disabled {
      opacity: 0.6;
      border: none;
      box-shadow: none;
    }
  }

  &__upload-icon-wrap {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $turquoise-color;
    border: 1px solid $dark-slate-blue-color;
    border-radius: 50%;
    margin-bottom: 10px;

    @include mediaMinMax(1025, $normal) {
      width: 3.12vw;
      height: 3.12vw;
      margin-bottom: 0.52vw;
    }
  }

  &__upload-icon {
    width: 45px;
    height: 47px;
    transform: rotate(90deg);

    @include mediaMinMax(1025, $normal) {
      width: 2.34vw;
      height: 2.44vw;
      margin-bottom: 0.52vw;
    }
  }

  &__photo-slider {
    width: 100%;
  }

  &__error-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;

    @include mediaMinMax(1025, $normal) {
      margin-top: 0.83vw;
      marign-bottom: 0.83vw;
    }
  }

  &__error-icon {
    font-size: 16px;
    color: $warning-red-color;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $warning-red-color;
    border-radius: 50%;
    margin-right: 40px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      width: 1.14vw;
      height: 1.14vw;
      margin-right: 2.08vw;
    }
  }

  &__error-text {
    font-size: 16px;
    color: $warning-red-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
    }
  }

  &__info {
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.125rem;
    font-weight: $medium;
    margin-bottom: 10px;
    background-color: $turquoise-color;

    @include mediaMinMax(1025, $normal) {
      padding-bottom: 0.78vw;
      padding-top: 0.78vw;
      line-height: 0.93vw;
      margin-bottom: 0.52vw;
    }
  }

  &__image-block {
    position: relative;
    display: grid;
    grid-template-columns: minmax(253px, max-content) repeat(auto-fill, 253px) minmax(230px, max-content);
    margin: 80px 0;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      grid-template-columns: minmax(13.177vw, max-content) repeat(auto-fill, 13.177vw) minmax(11.979vw, max-content);
      margin: 4.16vw 0;
    }

    @include media($small) {
      grid-template-columns: minmax(177px, max-content) repeat(auto-fill, 177px) minmax(165px, max-content);
      margin: 30px 34px 0 34px;
    }

    @include media($xlmini) {
      margin: 30px 0 0 0;
    }

    @include media($mini) {
      grid-template-columns: minmax(170px, 190px) minmax(150px, max-content);
    }
  }

  &__text-popup-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($black-color, 0.3);
    z-index: 3;
  }

  &__text-popup-content {
    width: 742px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -2.6px 1.5px 8.7px 0.3px rgba(2, 2, 2, 0.09);
    background-color: $white-color;

    @include mediaMinMax(1025, $normal) {
      width: 38.64vw;
      padding: 1.04vw;
      border-radius: 0.41vw;
    }

    @include media($small) {
      width: calc(100vw - 30px);
      max-width: 500px;
      padding: 10px;
      max-height: calc(100vh - 100px);
    }
  }

  &__popup-text {
    color: $dark-slate-blue-color;
    font-size: 1.25rem;
  }

  &__image-card {
    margin-right: 10px;
    margin-bottom: 10px;
    width: calc(16% - 10px);

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.52vw;
      margin-bottom: 0.52vw;
      width: calc(16% - 0.52vw);
    }

    @include media($small) {
      width: calc(25% - 10px);
    }

    @include media($xsmall) {
      width: calc(30% - 10px);
    }

    @include media($mini) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__image-card-item {
    width: 220px;
    height: 200px;
    position: relative;
    border-radius: 20px;

    @include mediaMinMax(1025, $normal) {
      width: 11.45vw;
      height: 10.41vw;
      border-radius: 1.04vw;
    }

    @include media($small) {
      width: 150px;
      height: 136px;
      border-radius: 13px;
    }
  }

  &__popup-block {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;

    &_video {
      overflow: inherit;
    }
  }

  &__popup-content {
    display: flex;
    max-height: 70vh;
    position: relative;

    &_audio {
      max-width: 90%;
    }
  }

  &__preview-image {
    position: relative;
    max-width: 1100px;
    max-height: 50vh;
    min-height: 45vh;

    @include mediaMinMax(1025, $normal) {
      max-width: 75vw;
      max-height: 50vh
    }

    @include media($small) {
      max-width: 75vw;
      min-height: 0;
    }

    &_audio {
      display: flex;
    }
  }

  &__preview-image {
    display: block;
  }

  &__preview-video {
    width: 100%;
    outline: none;
  }

  &__popup-control-block {
    display: flex;
    align-items: flex-start;
    position: relative;

    &_audio {
      height: auto;
    }

    &_video {
      right: 0;
      top: -30px;

      @include mediaMinMax(1025, $normal) {
        top: -1.56vw;
      }
    }
  }

  &__popup-button-icon {
    width: 40px;
    height: 40px;

    @include mediaMinMax(1025, $normal) {
      width: 2.08vw;
      height: 2.08vw;
    }
  }

  &__control-btn {
    padding: 0;
    border: none;
    background-color: $athens-gray-color;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    font-size: 1.625rem;
    color: $slate-gray-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
    right: -30px;

    @include mediaMinMax(1025, $normal) {
      width: 1.66vw;
      height: 1.66vw;
      font-size: 1.35vw;
      top: -1.56vw;
      right: -1.56vw;
      border-radius: 0.625vw;
    }

    &_video,
    &_audio {
      transform: rotate(90deg);
    }
  }

  &__image-buttons {
    width: 25px !important;
    height: 25px !important;

    @include mediaMinMax(1025, $normal) {
      width: 1.3vw;
      height: 1.3vw;
    }
  }

  &__audio-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    position: relative;
  }

  &__audio {
    outline: none;
    width: 100%;
    border: 1px solid $dark-slate-blue-color;
    border-radius: 30px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 1.56vw;
    }
  }

  &__image-wrap {
    max-width: 65%;
    max-height: 85%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: $slate-light-blue-color;
    border-radius: 50%;
    margin: 10px auto;

    @include mediaMinMax(1025, $normal) {
      padding: 1.04vw;
      margin: 0.52vw auto;
    }

    @include media($small) {
      padding: 15%;
    }
  }

  &__note {
    width: 100%;
  }

  &__veil {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 120;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image,
  &__all-media {
    margin-bottom: 33px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.719vw
    }

    @include media($small) {
      margin-bottom: 19px;
    }
  }
}
