@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.real-customers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;

  @include mediaMinMax($small, $normal) {
    padding-bottom: 4.68vw;

  }

  @include media($xlmini) {
    padding-bottom: 35px;
  }

  &__title {
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin: 0 auto 30px;
      max-width: 90vw;
    }
  }

  &__description {
    margin: auto;
    text-align: center;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
    }

    @include media($small) {
      max-width: 80%;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      max-width: 90%;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 18px;
    }

    @include media($xlmini) {
      line-height: 24px;
      letter-spacing: 1px;
    }

    @include media($xmini) {
      text-align: center;
      line-height: 24px;
      letter-spacing: 1px;
    }

    @include media($mini) {
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  &__slider-wrapper {
    position: relative;
    margin: 0 auto;
    width: 82.39vw;
    max-width: 1582px;

    @include media($xsmall) {
      width: calc(100% - 2.7vw);
    }
  }

  &__left-square {
    position: absolute;
    width: 52vw;
    height: 370px;
    background-color: $polar-light-blue-color;
    border-radius: 37px;
    top: -70px;
    left: auto;
    right: 1201px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      width: 41.667vw;
      height: 19.271vw;
      top: -3.646vw;
      left: -19.792vw;
    }

    @include media($small) {
      width: 440px;
      height: 250px;
      left: -140px;
      top: -50px;
      border-radius: 30px;
    }

  }

  &__image {
    max-height: 466px;
    max-width: 466px;
    min-width: 294px;
    min-height: 298px;
    width: 30vw;
    height: 25vw;

    @include mediaMinMax($small, $normal) {
      max-height: 466px;
      max-width: 466px;
      min-width: 230px;
      width: 24.27vw;
      height: 24.27vw;
    }
  }

  &__compare-image {
    max-height: 466px;
    max-width: 466px;
    min-width: 294px;
    min-height: 298px;
    width: 30vw;
    height: 25vw;

    @include mediaMinMax($small, $normal) {
      position: absolute;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      border-radius: 16px;
      max-height: 466px;
      max-width: 466px;
      min-width: 230px;
      width: 24.27vw;
      height: 24.27vw;
    }
  }

  &__right-stripe {
    position: absolute;
    width: 310px;
    height: 298px;
    background-color: $intense-citrine-white-color;
    border-radius: 37px 0 37px 0;
    bottom: 30px;
    right: -40px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      height: 15.521vw;
      width: 16.146vw;
      background-color: $paris-white-color;
      bottom: 1.563vw;
    }

    @include media($small) {
      bottom: 60px;
      width: 288px;
      height: 247px;
    }

    @include media($mini) {
      right: -60px;
      width: 268px;
      height: 250px;
    }
  }

  &__text-wrapper {
    padding: 100px 0 50px 0;
    width: 100%;
    text-align: center;
    margin-bottom: 75px;

    @include mediaMinMax($small, $normal) {
      padding: 5.2vw 0 2.6vw 0;
      margin-bottom: 3.9vw;

    }

    @include media($small) {
      padding: 60px 0;
    }

    @include media($mini) {
      padding: 50px 0;
    }

    @include media($xlmini) {
      padding-bottom: 0;
    }
  }
}
