@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';
@import 'src/styles/media.scss';

.share-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 103;
  background-color: rgba($black-color, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 50px;
    padding: 40px;

    @include mediaMinMax(1025, $normal) {
      width: 40.62vw;
      border-radius: 2.6vw;
      padding: 2.08vw;
    }

    @include mediaMinMax(481, $small) {
      width: 380px;
      border-radius: 28px;
      padding: 20px 30px 30px 30px;
    }

    @include media($mini) {
      width: calc(100% - 40px);
      border-radius: 28px;
      padding: 20px 17px 30px 17px;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.04vw;
    }

    @include media($small) {
      flex-direction: column;
    }
  }

  &__column {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 152px;

    &:first-child {
      margin-right: 24px;

      @include mediaMinMax(1025, $normal) {
        margin-right: 1.250vw;
      }

      @include media($small) {
        margin-right: 0;
      }
    }

    @include mediaMinMax(1025, $normal) {
      height: 7.91vw;
    }

    @include media($small) {
      height: auto;
    }
  }

  &__form {
    max-height: 500px;
    margin-top: 34px;
    overflow-y: auto;

    @include custom-scroll;

    @include mediaMinMax(1025, $normal) {
      max-height: 26vw;
      margin-top: 1.77vw;
    }

    @include media($small) {
      margin-top: 16px;
    }
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    right: -32px;
    top: -32px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    background: none;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0.521vw;
    }

    svg {
      width: 30px;
      height: 30px;
    }

    @include media($mini) {
      right: 0;
      top: -42px;
    }
  }

  &__control-block {
    width: 100%;
  }

  &__count-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.52vw;
    }
  }

  &__count-button {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-weight: $medium;
    font-size: 1.0623rem;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: $slate-gray-color;
    margin-bottom: 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
      margin-bottom: 0.52vw;
    }
  }

  &__count {
    margin: 0 10px;

    @include mediaMinMax(1025, $normal) {
      margin: 0 0.52vw;
    }
  }

  &__btn {
    align-self: flex-end;
    margin-left: auto;
  }

  &__input-block {
    width: 320px;
    margin-top: 32px;

    &:first-child {
      margin-top: 0;
    }

    @include mediaMinMax(1025, $normal) {
      width: 16.66vw;
      margin-top: 1.66vw;
    }

    @include media($small) {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__textarea {
    width: 356px;
    height: 152px;

    @include mediaMinMax(1025, $normal) {
      width: 18.54vw;
      height: 7.91vw;
    }

    @include media($small) {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__text,
  &__count-text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.25vw;
      line-height: 1.71vw;
    }

    @include media($small) {
      font-size: 1.25rem;
      line-height: 27px;
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

      text-align: center;
    }
  }

  &__counter {
    margin: 4px 0 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      margin: 0.2vw 0 0.83vw 0;
    }
  }
}
