@import 'src/styles/variables.scss';
@import "src/styles/media.scss";

.image-menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__menu-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      @include mediaMinMax(1025, $normal) {
        width: 0.83vw;
        height: 0.46vw;
      }
    }
  }

  &__icon-btn {
    max-width: 85%;
    max-height: 43%;
    transform: rotate(180deg);
  }

  &__list {
    position: absolute;
    left: calc(100% - 50px);
    top: calc(100% - 6px);
    padding: 24px;
    z-index: 5;
    width: 223px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $white-color;
    border: 1px solid $athens-gray-color;
    box-sizing: border-box;
    box-shadow: 37px 37px 80px rgba($black-color, 0.039);
    border-radius: 12px;

    &_right {
      right: 10px;
      left: auto !important;
    }

    @include mediaMinMax(1025, $normal) {
      left: calc(100% - 2.6vw);
      top: calc(100% - 0.312vw);
      padding: 1.25vw;
      width: 11.61vw;
      border-radius: 0.62vw;
    }

    @include media($small) {
      width: 205px;
      left: calc(100% - 35px);
    }

    &_slider {
      left: calc(100% - 235px);

      @include mediaMinMax(1025, $normal) {
        left: calc(100% - 12.23vw);
      }
    }
  }

  &__list-btn {
    background-color: transparent;
    white-space: nowrap;
    border: none;
    font-weight: $bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: $black-color;
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    border-bottom: 1px solid $athens-gray-color;
    padding-top: 13px;
    width: 100%;

    svg {
      @include mediaMinMax(1025, $normal) {
        width: 1.35vw;
        height: 1.14vw;
      }
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.4vw;
      padding-bottom: 0.72vw;
      padding-top: 0.67vw;
    }

    @include media($small) {
      font-size: 0.875rem;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border: none;
    }

    &_last-child {
      padding-bottom: 0;
      border: none;
    }

    &_sub-item {
      position: relative;
      border: none;
      padding: 0;

      &:first-child {
        margin-bottom: 14px;

        @include mediaMinMax(1025, $normal) {
          margin-bottom: 0.729vw;
        }
      }
    }
  }

  &__sub-list {
    margin: 14px 0 0 63px;

    &:first-child {
      margin-bottom: 14px;
    }

    @include mediaMinMax(1025, $normal) {
      margin: 0.729vw 0 0 3.281vw;
    }
  }

  &__sub-item-text {
    position: relative;
    white-space: nowrap;
    border: none;
    letter-spacing: 0.5px;
    color: $black-color;
    font-weight: $extraBold;
    font-size: 0.875rem;
    line-height: 19px;
    opacity: 0.8;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.729vw;
      line-height: 0.990vw;
    }

    &::before {
      width: 10px;
      height: 10px;
      border: 2px solid $paris-white-color;
      border-radius: 50%;
      position: absolute;
      left: -20px;
      top: calc(50% - 5px);
      content: '';

      @include mediaMinMax(1025, $normal) {
        border: 0.104vw solid $paris-white-color;
        width: 0.521vw;
        height: 0.521vw;
        left: -1.042vw;
        top: calc(50% - 0.260vw);
      }
    }
  }

  &__icon {
    min-width: 28px;
    width: 28px;
    height: 28px;
    margin-right: 15px;

    @include mediaMinMax(1025, $normal) {
      min-width: 1.45vw;
      width: 1.45vw;
      height: 1.45vw;
      margin-right: 0.781vw;
    }

    @include media($small) {
      margin-right: 12px;
    }
  }

  &__drop-down-icon {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    border-radius: 2px;
  }

  &__flat-list {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include media($small) {
      flex-wrap: wrap;
    }

    @include media($xsmall) {
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 310px;
    }
  }

  &__flat-list-btn {
    background-color: transparent;
    white-space: nowrap;
    border: none;
    font-weight: $bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: $black-color;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 20px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.4vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      width: auto;
      margin-left: 0;
      margin-bottom: 20px;
    }

    &:first-child {
      margin-right: 20px !important;
    }

    &_sub-item {
      margin-left: 45px;
      align-self: start;
      position: relative;
      width: auto;

      &:first-child {
        margin-left: 45px;

        @include mediaMinMax(1025, $normal) {
          margin-left: 2.34vw;
        }

        @include media($mini) {
          margin-left: 25px;
        }
      }

      @include mediaMinMax(1025, $normal) {
        margin-left: 2.34vw;
      }

      @include media($mini) {
        margin-left: 25px;
      }
    }
  }

  &__flat-list-link {
    outline: none;
    text-decoration: none;
    width: 100%;
    margin-left: 40px;

    @include media($xsmall) {
      width: auto;
      margin-left: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__flat-sub-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    right: 0;
  }

  &__button-text {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 19px;
    margin-right: 7px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.625vw;
      line-height: 0.833vw;
      margin-right: 0.156vw;
    }

    @include media($small) {
      font-size: 0.75rem;
      line-height: 16px;
      margin-right: 3px;
    }
  }
}
