@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.customer-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  &__title {
    font-size: 3rem;
    font-weight: $black;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    color: $shark-gray-color;
    margin: 120px auto 32px auto;

    @include mediaMinMax($small, $normal) {
      font-size: 2.5vw;
      line-height: 2.91vw;
      margin: 6.25vw auto 1.875vw auto;
    }

    @include media($small) {
      margin: 60px auto 16px auto;
      font-size: 2rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
    }
  }

  &__description {
    align-items: center;
    text-align: center;
    color: $scarpa-flow-gray-color;
    width: 1249px;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    white-space: pre-wrap;
    margin: auto;
    margin-bottom: 190px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      width: 65vw;
      margin-bottom: 10.625vw;
    }

    @include media($small) {
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
      max-width: 90vw;
      margin-bottom: 10.54vw;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 2.864vw;
    }

    @include media($xlmini) {
      line-height: 3.97vw;
      letter-spacing: 0.147vw;
      font-size: 2.795vw;
      margin-bottom: 60px;
    }

    @include media($xmini) {
      text-align: center;
      line-height: 24px;
      letter-spacing: 1px;
      font-size: 3.27vw;
    }

    @include media($mini) {
      font-size: 3.95vw;
    }

    &_enhance {
      max-width: 1200px;

      @include mediaMinMax($small, $normal) {
        max-width: 62vw;
      }

      @include media($small) {
        max-width: 90vw;
      }
    }
  }

  &__reviews-list {
    width: 1490px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;

    @include mediaMinMax($small, $normal) {
      width: 77.6vw;
      margin-bottom: 5.2vw;
    }

    @include media($small) {
      margin-bottom: 61px;
      max-width: 710px;
      width: 100%;
    }

    @include media($mini) {
      margin-bottom: 50px;
    }
  }

  &__background-stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $blue-squeeze;
    z-index: -1;
  }

  &__stripe {
    position: absolute;
    top: -72px;
    left: -68px;
    width: 100vw;
    height: 240px;
    background-color: $iceberg-blue-light-color;
    z-index: -1;
    border-radius: 47px 0 0 47px;

    @include mediaMinMax($small, $normal) {
      top: -3.75vw;
      left: -3.54vw;
      height: 22.91vw;
      border-radius: 2.44vw 0 0 2.44vw;
    }

    @include media($small) {
      border-radius: 28px 0 0 28px;
      height: 318px;
      top: -40px;
      left: -10px;
    }

    @include media($xlmini) {
      left: 0;
    }
  }

  .slick-track {
    display: flex;
    justify-content: center;
  }

  .slick-active {
    width: auto !important;
  }
}
