@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.contact {
  padding-top: 160px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

  @include media($small) {
    padding-top: 198px;
  }

  @include media($mini) {
    padding-top: 188px;
  }

  &__right-rect {
    position: absolute;
    width: 270px;
    height: 220px;
    top: 470px;
    right: 0;
    background-color: $iceberg-blue-light-color;
    border-radius: 0 0 0 37px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      width: 14.0625vw;
      height: 11.4583vw;
      top: 24.4791vw;
      border-radius: 0 0 0 1.927vw;
    }

    @include media($small) {
      width: 170px;
      height: 100px;
      top: 440px;
    }

    @include media($xlmini) {
      display: none;
    }
  }

  &__right-small-rect {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 630px;
    right: 118px;
    background-color: $white-color;
    box-shadow: 21px 21px 34px rgba($black-color, 0.03);
    border-radius: 19px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      width: 5.2083vw;
      height: 5.2083vw;
      top: 32.8125vw;
      right: 6.1458vw;
      border-radius: 0.9895vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__left-rect {
    position: absolute;
    width: 141px;
    height: 141px;
    top: 299px;
    left: 194px;
    background-color: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.03);
    border-radius: 27px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      width: 1.34375vw;
      height: 1.34375vw;
      top: 15.5729vw;
      left: 10.1041vw;
      border-radius: 1.40625vw;
    }

    @include media($small) {
      display: none;
    }
  }
}
