@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba($black-color, 0.1);

  &__veil {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba($black-color, 0.1);
  }

  &__position {
    &_top {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      z-index: 9;
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: $white-color;
      box-shadow: 0 25px 80px rgba($black-color, 0.0395269);
      border-radius: 0 0 60px 60px;
      max-width: 1532px;
      height: 762px;
      margin: 0 auto;

      @include mediaMinMax($small, $normal) {
        width: 79.8%;
        max-width: 1920px;
        height: 39.68vw;
        padding: 1.56vw;
      }

      @include media($small) {
        height: calc(100vh - 80px);
        overflow-y: auto;
        align-items: flex-start;

        @include custom-scroll;
      }
    }

    &_live-help {
      display: flex;
      justify-content: flex-start;
      height: 320px;
      padding: 40px 0 37px 3.1%;
      width: auto;
      max-width: 1920px;

      @include mediaMin($normal) {
        max-width: 1532px;
        margin: 0 auto;
        height: auto;
      }

      @include mediaMinMax(1025, $normal) {
        height: auto;
        padding: 40px 0 1.92% 3.1%;
      }

      @include media($small) {
        border-radius: 0;
        flex-grow: 1;
        height: 100%;
        background-color: $white-color;
        width: 375px;
        position: fixed;
        left: auto;
        top: 0;
        right: 0;
        z-index: 101;
        -webkit-animation: go-up-down 500ms alternate;
        animation: go-up-down 500ms alternate;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        overflow: auto;
        padding: 108px 20px 80px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;

        @include custom-scroll;
      }
    }

    &_center {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -35%);
      z-index: 9;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: $white-color;
      box-shadow : 5px 4px 8px 7px rgba($black-color, 0.3);

      &__btn {
        position: absolute;
        right: 30px;
        top: 30px;

        @include mediaMinMax($small, $normal) {
          right: 1.56vw;
          top: 1.56vw;
        }
      }
    }

    &_menu {
      height: 100%;
      background-color: $dark-slate-blue-color;
      padding: 0;
      box-shadow : none;
      max-width: 400px;
    }
  }

  &__low-container {
    height: 536px;

    @include mediaMinMax($small, $normal) {
      height: 27.91vw;
    }
  }


  &__btn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    right: 30px;
    top: 60px;
    height: 32px;
    border: none;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5625px;
    color: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      right: 1.56vw;
      top: 6.14vw;
      width: 4.68vw;
      height: 1.66vw;
      border: none;
      font-weight: $bold;
      font-size: 0.88vw;
      line-height: 1.04vw;
    }

    img {
      @include mediaMinMax($small, $normal) {
        width: 1.66vw;
        height: 1.66vw;
        border-radius: 0.521vw;
      }
    }

    &_close-btn {
      top: -40px;
      right: -90px;

      @include mediaMinMax($small, $normal) {
        top: -2.083vw;
        right: -4.6875vw;
      }

      @include mediaMinMax(581, 1023) {
        top: -30px;
        right: -30px;
      }

      @include media($xmini) {
        right: 0;
      }

    }
  }

  &__btn-to-login {
    left: 30px;
  }
}

@keyframes go-up-down {
    from {
      top: -100px;
    }
    to {
      top: 0;
    }
}
