@import "src/styles/variables.scss";
@import "src/styles/media.scss";

$height: 40px;
$width: $height * 2;
$togglerWidth: 30px;

$miSizeHeight: 30px;
$minSizeWidth: 70px;

.new-toggler-input {
  display: inline-flex;

  &__wrap {
    position: relative;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;


    &::before,
    &::after {
      content: "";
      display: inline-block;
      border-radius: 100px;

      @include mediaMinMax(1025, $normal) {
        border-radius: 5.2vw;
      }
    }

    &::before {
      padding: 0 7px;
      background-color: $white-color;
      height: $height;
      width: $width;

      @include mediaMinMax(1025, $normal) {
        height: 2.08vw;
        width: 4.16vw;
      }
    }

    &::before {
      content: attr(data-text-off);
      background-color: $gray-light-color;
      color: $charcoal-gray-color;
      font-size: 1.16px;
      text-align: right;
      vertical-align: middle;

      @include mediaMinMax(1025, $normal) {
        border-radius: 0.91vw;
      }
    }

    &::after {
      content: '';
      height: 30px;
      width: 30px;
      line-height: 22px;
      top: 5px;
      left: 5px;
      position: absolute;
      transition: left 0.1s ease-out;
      background-color: $pickled-bluewood-color;
      text-align: center;
      color: $white-color;

      @include mediaMinMax(1025, $normal) {
        height: 1.56vw;
        width: 1.56vw;
        line-height: 1.14vw;
        top: 0.26vw;
        left: 0.26vw;
      }
    }

    &_checked {
      &::after {
        content: '';
        left: $width - $togglerWidth - 5;
        background-color: $powder-blue-color;

        @include mediaMinMax(1025, $normal) {
          left: 2.34vw;
        }
      }

      &::before {
        content: attr(data-text-on);
        background-color: $pickled-bluewood-color;
        color: $white-color;
        font-size: 16px;
        text-align: left;
        vertical-align: middle;

        @include mediaMinMax(1025, $normal) {
          left: 0.83vw;
        }
      }
    }

    &_min-size {
      &::after {
        content: '';
        top: 4px;
        height: 22px;
        width: 22px;

        @include mediaMinMax(1025, $normal) {
          top: 0.2vw;
          height: 1.14vw;
          width: 1.14vw;
        }
      }

       &::before {
        height: $miSizeHeight;
        width: $minSizeWidth;

         @include mediaMinMax(1025, $normal) {
           height: 1.56vw;
           width: 3.64vw;
         }
      }
    }

    &_disabled {
      &::after {
        background-color: $white-color;
      }

      &:checked::after {
        background-color: desaturate(lighten($pickled-bluewood-color, 15), 35);
      }
    }

  }


  input[type=checkbox] {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    border: none;

    &:focus {
      outline: 0;
    }

    &:not(:disabled) {
      cursor: pointer;
    }

    &::before,
    &::after {
      content: "";
      display: inline-block;
      border-radius: 100px;

      @include mediaMinMax(1025, $normal) {
        border-radius: 5.2vw;
      }
    }

    &::before {
      padding: 2px 7px;
      background-color: $white-color;
      height: $height;
      width: $width;

      @include mediaMinMax(1025, $normal) {
        padding: 0.1vw 0.36vw;
        height: 4.16vw;
        width: 2.08vw;
      }
    }

    &::before {
      content: attr(data-text-off);
      background-color: $gray-light-color;
      color: $charcoal-gray-color;
      font-size: 1.16px;
      text-align: right;
      vertical-align: middle;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.91vw;
      }
    }

    &::after {
      content: '';
      height: 22px;
      line-height: 22px;
      width: $togglerWidth;
      top: 4px;
      left: 4px;
      position: absolute;
      transition: left 0.1s ease-out;
      background-color: $powder-blue-color;
      text-align: center;
      color: $white-color;

      @include mediaMinMax(1025, $normal) {
        height: 1.14vw;
        line-height: 1.14vw;
        width: 1.56vw;
        top: 0.2vw;
        left: 0.2vw;
      }
    }

    &:checked::after {
      content: '';
      left: $width - $togglerWidth - 4;
      background-color: $powder-blue-color;

      @include mediaMinMax(1025, $normal) {
        left: 0.31vw;
      }
    }

    &:checked::before {
      content: attr(data-text-on);
      background-color: $pickled-bluewood-color;
      color: $white-color;
      font-size: 16px;
      text-align: left;
      vertical-align: middle;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.83vw;
      }
    }

    &:disabled {
      &::after {
        background-color: $white-color;
      }

      &:checked::after {
        background-color: desaturate(lighten($pickled-bluewood-color, 15), 35);
      }
    }
  }

  &__left-text,
  &__right-text {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    text-align: center;
    color: $slate-gray-color;
    display: flex;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
    }

    &_checked {
      color: $pickled-bluewood-color;
    }
  }

  &__left-text {
    margin-right: 14px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.72vw;
    }
  }

  &__right-text {
    margin-left: 14px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.72vw;
    }
  }
}
