@import 'src/styles/variables.scss';
  @import 'src/styles/media.scss';

.image {
  &_invisible {
    display: none;
  }

  &__spinner {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    @include mediaMinMax(1025, $normal) {
      width: 10.417vw;
      height: 10.417vw;
    }

    &_invisible {
      display: none;
    }
  }
}
