@import "src/styles/variables.scss";
@import "src/styles/media.scss";
@import "src/styles/mixins.scss";

.cart {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  padding: 28px 60px 30px;
  border-radius: 40px 0 0 40px;
  background-color: $white-color;
  max-width: 494px;
  width: 100%;
  height: 100vh;
  animation: rigth-to-left 500ms alternate;
  animation-fill-mode: forwards;
  overflow-y: auto;

  @include custom-scroll;

  @include media($small) {
    padding: 22px 30px 30px;
    max-width: 395px;
  }

  @include media($mini) {
    padding: 22px 20px 30px;
  }

  &__popup {
    z-index: 102;
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    right: 0;
    top: 0;
  }

  &__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -36px;
      background-color: $summer-green-color;
    }

    @include media($small) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.33;
    font-size: 1.5rem;
    font-weight: $medium;
    color: $dark-slate-blue-color;
    margin-right: 5px;

    @include media($small) {
      flex-direction: row;
    }
  }

  &__title-text {
    font-weight: $bold;
    font-size: 1.375rem;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;
    margin: 13px 0 8px;

    @include media($small) {
      margin: 0 0 0 20px;
    }
  }

  &__close-btn {
    display: flex;
    padding: 0;
    background: none;
    border: none;
    margin: 38px 0 48px;

    @include media($small) {
      margin: 0;
    }

  }

  &__container {
    position: relative;
  }

  &__checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
  }

  &__cont-shopping {
    font-weight: $medium;
    font-size: 1.25rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: underline 1px $scarpa-flow-gray-color;
    margin-top: 27px;
    background: none;
    border: none;
    color: $scarpa-flow-gray-color;

    &:hover {
      color: $slate-gray-color;
    }
  }

  &__close-btn-icon:hover {
    fill: $slate-gray-color;
  }

  &__orders {
    margin-top: 35px;
    max-height: 50vh;
    position: relative;
    overflow-y: auto;
    
    @include custom-scroll;

    @include media($small) {
      margin-top: 27px;
    }
  }

  &__checkout-link {
    text-decoration: none;
    margin-top: 30px;
    color: $white-color;

    &:visited {
      color: $white-color;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 66px;
    background-color: $burnt-sienna-color;
    border-radius: 10px;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
    color: $white-color;
  }
}

@keyframes rigth-to-left {
  from {
    right: -300px;
  }
  to {
    right: 0;
  }
}
