@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.type-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
  background-color: $white-color;
  justify-content: space-between;
  width: 530px;
  height: 660px;
  margin-right: 35px;
  position: relative;
  border-radius: 60px;

  @include mediaMinMax(1025, $normal) {
    width: 27.604vw;
    height: 34.375vw;
    margin-right: 1.823vw;
    border-radius: 3.125vw;
  }

  @include media($small) {
    width: 340px;
    height: 520px;
    margin-bottom: 30px;
    border-radius: 28px;
  }

  @include media($xlmini) {
    margin-right: 0px;
  }

  @include media($mini) {
    margin: 0px;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: $bold;
    color: $black-color;
    font-size: min(1.35vw, 26px);
    line-height: min(1.875vw, 36px);
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 12px;

    @include mediaMin($normal) {
      font-size: 1.625rem;
      line-height: 36px;
    }

    @include media($small) {
      font-size: 1.25rem;
      line-height: 27px;
      text-align: center;
      letter-spacing: 1px;
      color: $shark-gray-color;
    }
  }

  &__desc {
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    text-align: center;
    font-size: min(0.88VW, 17px);
    line-height: min(1.25vw, 24px);
    letter-spacing: 1px;
    margin-bottom: min(1.56vw, 30px);
    color: $scarpa-flow-gray-color;

    @include mediaMin($normal) {
      font-size: 1.0625rem;
      line-height: 24px;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.8px;
      margin-bottom: 20px;
      white-space: initial;
      max-width: 278px;
    }
  }

  &__link {
    text-decoration: none;
    margin-bottom: 30px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.56vw;
    }
  }

  &__button {
    width: 210px;
    height: 70px;
    padding: 0px !important;

    @include mediaMinMax(1025, $normal) {
      width: 10.938vw;
      height: 3.646vw;
      padding: 0px !important;
      font-size: 0.88vw !important;
      line-height: 1.4vw !important;
    }
  }

  &__image-link {
    margin-bottom: 30px;
    width: 100%;
    height: 100%;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.56vw ;
    }

    @include media($small) {
      margin-bottom: 20px;
    }
  }

  &__text-block {
    z-index: 5;
    background-color: $white-color;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 260px;
    border-radius: 60px;

    @include mediaMinMax(1025, $normal) {
      height: 13.542vw;
      border-radius: 3.125vw;
    }

    @include media($small) {
      height: 230px;
      border-radius: 28px;
    }
  }

  &__image {
    border-radius: 60px 60px 0 0;
    object-fit: cover;

    @include mediaMinMax(1025, $normal) {
      border-radius: 3.125vw 3.125vw 0 0;
    }

    @include media($small) {
      border-radius: 28px 28px 0 0;
    }
  }

  &__image-block {
    position: relative;
    width: 100%;
    height: 73%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    object-fit: cover;

    @include mediaMinMax(1025, $normal) {
      border-top-left-radius: 3.125vw;
      border-top-right-radius: 3.125vw;
    }

    @include media($small) {
      border-top-left-radius: 28px;
      border-top-right-radius: 28px;
    }
  }
}
