@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.login {
  padding: 0 30px 30px;
  background-color: $white-color;

  @include mediaMinMax($small, $normal) {
    padding: 0 1.56vw 1.56vw;
  }

  &__fieldset {
    max-width: 320px;
    border: none;
    margin: 0 auto;

    @include mediaMinMax($small, $normal) {
      width: 16.66vw;
    }
  }

  &__legend {
    color: $shark-gray-color;
    font-size: 1.75rem;
    margin-top: 8px;
    margin-bottom: 34px;
    font-weight: $black;
    text-align: center;
    line-height: 38px;
    letter-spacing: 1px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.45vw;
      margin-top: 0.41vw;
      margin-bottom: 2.23vw;
      line-height: 1.97vw;
    }
  }

  &__input {
    margin-bottom: 32px;
    width: 320px;
    height: 60px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.66vw;
      width: 16.66vw;
      height: 3.125vw;
    }
  }

  &__login-logo {
    text-align: center;
    margin-top: 49px;

    @include mediaMinMax($small, $normal) {
      margin-top: 2.55vw;
    }

    svg {
      @include mediaMinMax($small, $normal) {
        width: 1.77vw;
        height: 2.08vw;
      }
    }
  }

  &__close-btn {
    width: 90px;
    height: 32px;
    display: flex;
  }

  &__container {
    height: 86px;
    margin-bottom: 20px;
    margin-top: 38px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      height: 4.47vw;
      margin-bottom: 1.04vw;
      margin-top: 1.97vw;
    }
  }

  &__btn {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 320px;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.0625rem;
    line-height: 27px;
    font-weight: $bold;
    letter-spacing: 0.5625px;
    color: $white-color;
    background-color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.82vw;
      width: 16.66vw;
      height: 3.125vw;
      border-radius: 0.52vw;
      font-size: 0.88vw;
      line-height: 1.4vw;
    }

    &:disabled {
      background-color: $gull-gray-color;
    }
  }

  &__text {
    display: flex;
    margin-top: 2px;
    flex-direction: column;
    font-size: 1.0625rem;
    font-weight: $medium;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;
    opacity: 0.8;

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
      line-height: 1.04vw;
    }
  }

  &__link {
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 1px;
    margin-left: 10px;
    color: $shark-gray-color;
    background: none;
    border: none;
    outline: none;
    opacity: 0.8;

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
      line-height: 1.04vw;
    }
  }

  &__forgot {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1px;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    color: $pickled-bluewood-color;
    opacity: 0.6;

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
      line-height: 1.04vw;
    }
  }

  &__register {
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 1px;
    background: none;
    border: none;
    outline: none;
    text-decoration: underline;
    color: $summer-green-color;
    opacity: 0.8;

    @include mediaMinMax($small, $normal) {
      font-size: 0.88vw;
      line-height: 1.04vw;
    }
  }

  &__popup {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__invalid {
    color: $burnt-sienna-color;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}
