@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.cloud-hint-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: rgba($black-color, 0.05);

   &__popup-block {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 815px;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 37px 37px 80px rgba($black-color, 0.04);
    border-radius: 50px;
    background-color: $white-color;
    padding: 60px 0 60px 70px;

    @include mediaMinMax(1025, $normal) {
      width: 42.44vw;
      min-height: 28.12vw;
      border-radius: 2.6vw;
      padding: 3.12vw 0 3.12vw 3.64vw;
    }

    @include media($small) {
      width: auto;
    }

    @include media($xsmall) {
      max-width: calc(100vw - 40px);
      padding-left: 52px;
      align-items: flex-end;
    }

    @include media($xlmini) {
      padding: 48px 0 0 0;
      align-items: center;
      min-width: 334px;
      min-height: 200px;
      height: 65vh;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media($xlmini) {
      flex-direction: column;
      align-items: center;
      overflow-x: scroll;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    top: -32px;
    right: -32px;
    z-index: 3;
    background-color: $athens-gray-color;
    border-radius: 10px;
    width: 30px;
    height: 30px;

    @include mediaMinMax(1025, $normal) {
      top: -1.66vw;
      right: -1.66vw;
      width: 1.66vw;
      height: 1.66vw;
      border-radius: 0.521vw;
    }

    @include media($small) {
      right: 0;
    }

    svg {
      width: 30px;
      height: 30px;

      @include mediaMinMax(1025, $normal) {
        width: 1.563vw;
        height: 1.563vw;
      }
    }
  }

  &__cloud-image {
    width: 323px;
    margin-bottom: 30px;

    @include mediaMinMax(1025, $normal) {
      width: 16.82vw;
      margin-bottom: 1.56vw;
    }

    @include media($small) {
      width: 234px;
      margin-bottom: 24px;
    }
  }

  &__title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 20px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.25vw;
      line-height: 1.56vw;
      margin-bottom: 1.04vw;
    }
  }

  &__list {
    height: 420px;
    width: 362px;
    background-color: $polar-light-blue-color;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    padding-left: 40px;

    @include mediaMinMax(1025, $normal) {
      height: 21.87vw;
      width: 18.85vw;
      border-radius: 1.56vw 0 0 1.56vw;
      margin-left: 3.12vw;
      padding-left: 2.08vw;
    }

    @include media($small) {
      height: auto;
      width: 362px;
      padding: 57px 40px;
    }

    @include media($xlmini) {
      margin-left: 0;
      padding-left: 32px;
      align-items: flex-start;
      margin-top: 30px;
      width: 100%;
      min-width: 334px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.56vw;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-image {
    width: 46px;
    height: 46px;

    @include mediaMinMax(1025, $normal) {
      height: 2.39vw;
      width: 2.39vw;
    }

    @include media($small) {
      width: 36px;
      height: 36px;
    }
  }

  &__item-title {
    margin-left: 20px;
    font-weight: $medium;
    font-size: 1.125rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax(1025, $normal) {
      margin-left: 1.04vw;
      font-size: 0.93vw;
      line-height: 1.4vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__cloud-text {
    font-weight: $black;
    font-size: 1.375rem;
    line-height: 30px;
    letter-spacing: 2px;
    color: $black-color;
    margin-bottom: 8px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.14vw;
      line-height: 1.56vw;
      margin-bottom: 0.41vw;
    }

    @include media($small) {
      font-size: 0.9275rem;
      font-weight: $black;
      line-height: 20px;
      letter-spacing: 1.38462px;
      margin-bottom: 5px;
    }
  }

  &__price {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $burnt-sienna-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 19px;
      letter-spacing: 0.692308px;
    }
  }
}
