@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.custom-range-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  padding: 18px;

  &_photo-art {
    width: 60px;
    height: 322px;
    border-radius: 18px;
    background-color: $white-color;

    @include mediaMinMax($small, $normal) {
      width: 3.125vw;
      height: 16.771vw;
      border-radius: 0.938vw;
    }
  }

  &_mob-photo-art {
    width: 335px;
    height: 60px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      width: 17.448vw;
      height: 3.125vw;
    }
  }

  &__btn {
    font-size: 1.5rem;
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: 14px;


    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      border-radius: 1px;
      position: absolute;
      left: 2px;
      top: 11px;
      background-color: $pickled-bluewood-color;
    }

    &_plus {
      margin-top: 0;
      margin-bottom: 14px;

      &::after {
        content: '';
        display: block;
        width: 2px;
        height: 20px;
        border-radius: 1px;
        position: absolute;
        left: 11px;
        top: 2px;
        background-color: $pickled-bluewood-color;
      }
    }

    &_photo-art {
      @include mediaMinMax($small, $normal) {
        font-size: 1.250vw;
        width: 1.250vw;
        height: 1.250vw;
        margin-top: 0.729vw;
      }
  
      &::before {
        @include mediaMinMax($small, $normal) {
          width: 1.042vw;
          height: 0.104vw;
          left: 0.104vw;
          top: 0.573vw;
        }
      }
    }

    &_photo-art-plus {
      @include mediaMinMax($small, $normal) {
        font-size: 1.250vw;
        width: 1.250vw;
        height: 1.250vw;
        margin-bottom: 0.729vw;
      }
  
      &::before {
        @include mediaMinMax($small, $normal) {
          width: 1.042vw;
          height: 0.104vw;
          left: 0.104vw;
          top: 0.573vw;
        }
      }
  
      &::after {
        @include mediaMinMax($small, $normal) {
          width: 0.104vw;
          height: 1.042vw;
          left: 0.573vw;
          top: 0.104vw;
        }
      }
    }

    &_mob-photo-art {
      margin: 0 !important;
      margin-top: 0;
      margin-bottom: 0;
    }

  }

  &__range-slider {
    -webkit-appearance: none;
    width: 210px;
    height: 10px;
    border-radius: 23px;
    background: $athens-gray-color;
    color: $athens-gray-color;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    transform: rotate(-90deg);
    margin: 105px 0;

    &[type='range'],
    &[type='range']:focus,
    &[type='range']:active,
    &[type='range']::-moz-focus-inner,
    &[type='range']::-moz-focus-outer,
    &[type='range']:-moz-focusring {
      border: 0;
      outline: none;
    }

    &_mob-photo-art {
      transform: none !important;
      margin: 0 auto !important;
    }

    &_photo-art {
      @include mediaMinMax($small, $normal) {
        width: 10.938vw;
        height: 0.521vw;
        border-radius: 1.198vw;
        margin: 5.469vw 0;
      }
  
      &::before {
        @include mediaMinMax($small, $normal) {
          width: 1.042vw;
          height: 0.104vw;
          border-radius: 1px;
          left: 0.104vw;
          top: 0.573vw;
        }
      }
    }

  }

  &__range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 3px solid $light-slate-gray-color;
    background: $pickled-bluewood-color;
    cursor: pointer;
  }

  &__range-slider::-moz-range-thumb {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 3px solid $light-slate-gray-color;
    background: $pickled-bluewood-color;
    cursor: pointer;
  }
}
