@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.slider-photo-card {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 130px;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto;
  border:none;
  outline: none;
  margin-left: 10px !important;
  margin-right: 10px !important;

  @include media($xsmall) {
    width: 100px;
    height: 100px;
  }

  @include media($mini) {
    width: 80px;
    height: 80px;
  }

  &_vertical {
    width: 85px;

    @include media($xsmall) {
      width: 65px;
    }

    @include media($mini) {
      width: 50px;
    }
  }

  &__image-wrapper {
    position: relative;
    outline: none;
    border:none;
  }

  &__image-wrap {
    position: relative;
    background-color: $mercury-gray-color;
    width: 100%;
    height: 65%;

    &_vertical {
      height: 100%;
    }
  }

  &__photo {
    object-fit: cover;
    object-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;

    &_invisible {
      display: none;
    }
  }

  &__spinner {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &_invisible {
      display: none;
    }
  }

  &__select-icon {
    width: 18px;
    height: 18px;

    @include media($xsmall) {
      width: 15px;
      height: 15px;
    }

    @include media($mini) {
      width: 13px;
      height: 13px;
    }
  }

  &__select-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  &__delete-icon {
    width: 22px;
    height: 22px;

    @include media($xsmall) {
      width: 18px;
      height: 18px;
    }

    @include media($mini) {
      width: 15px;
      height: 15px;
    }
  }

  &__delete-btn {
    position: absolute;
    bottom: 0;
    right: -1px;
    border: none;
    background-color: transparent;
    padding: 0;

    @include media($xsmall) {
      right: 0;
    }
  }

  &__image {
    border-radius: 3px;
    max-width: 100px;
    max-height: 100px;
  }

  &__control-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  &__button-icon {
    @include media($xsmall) {
      width: 15px;
      height: 15px;
    }

    @include media($mini) {
      width: 13px;
      height: 13px;
    }
  }
}
