@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.help-center-card {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 130;
  background-color: rgba($athens-light-gray-color, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;


  &__wrapper {
    position: relative;
    width: 1230px;
    height: 640px;
    background-color: $alabaster-gray-color;
    border-radius: 40px;
    padding-bottom: 22px;

    @include mediaMinMax(1025, $normal) {
      width: 64.063vw;
      height: 33.333vw;
      border-radius: 2.083vw;
    }

    @include media($small) {
      width: 86vw;
    }

    @include media($xmini) {
      height: 500px;
    }
  }

  &__select {
    width: 100%;
    height: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid $athens-gray-color;
    position: relative;
    background-color: $white-color;
    padding: 0 70px;
    border-radius: 36px 36px 0 0;

    @include mediaMinMax(1025, $normal) {
      height: 5.521vw;
      padding: 0 3.646vw;
      border-radius: 1.875vw 1.875vw 0 0;
    }
  }

  &__select-title {
    color: $shark-gray-color;
    font-size: 42px;
    font-weight: $extraMedium;

    @include mediaMinMax(1025, $normal) {
      font-size: 2.188vw;
    }

    @include media($xmini) {
      font-size: 30px;
    }
  }

  &__select-icon {
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid $burnt-sienna-color;
    position: absolute;
    right: 250px;

    @include mediaMinMax(1025, $normal) {
      width: 1.875vw;
      height: 1.875vw;
      right: 13.021vw;
    }

    @include media($small) {
      right: 20px;
    }

    svg {
      width: 15px;
      height: 15px;

      @include mediaMinMax(1025, $normal) {
        width: 0.781vw;
        height: 0.781vw;
      }
    }

    &_selected {
      transform: rotate(90deg);
    }
  }

  &__list {
    position: absolute;
    top: 106px;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;

    @include mediaMinMax(1025, $normal) {
      top: 5.521vw;
    }
  }

  &__list-item {
    width: 100%;
    background-color: $white-color;
    border: none;
    height: 60px;
    border-bottom: 1px solid $athens-gray-color;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      height: 3.125vw;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 36px 36px;

      @include mediaMinMax(1025, $normal) {
        border-radius: 0 0 1.875vw 1.875vw;
      }
    }
  }

  &__list-item-icon {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid $hit-gray-color;
    position: absolute;
    right: 253px;
    top: 13px;

    @include mediaMinMax(1025, $normal) {
      width: 1.563vw;
      height: 1.563vw;
      right: 13.177vw;
      top: 0.677vw;
    }

    @include media($small) {
      right: 23px;
    }

    svg {
      width: 12px;
      height: 12px;

      @include mediaMinMax(1025, $normal) {
        width: 0.625vw;
        height: 0.625vw;
      }
    }
  }

  &__list-item-title {
    color: $mid-gray-color;
    font-weight: $extraMedium;
    font-size: 21px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.094vw;
    }

    @include media($xmini) {
      font-size: 14px;
    }
  }

  &__content {
    display: flex;
    padding-top: 50px;
    padding-right: 20px;

    @include mediaMinMax(1025, $normal) {
      padding-top: 2.604vw;
      padding-right: 1.042vw;
    }

    @include media($small) {
      flex-direction: column;
      overflow: auto;
      max-height: 500px;
      padding-left: 20px;
    }

    @include media($xmini) {
      max-height: 370px;
      padding-top: 20px;
    }

    &_no-images {
      padding-left: 20px;
      padding-top: 0;

      @include mediaMinMax(1025, $normal) {
        padding-left: 1.042vw;
      }
    }
  }

  &__block-images {
    width: 53%;
    padding-left: 60px;
    padding-right: 60px;
    max-height: 460px;
    min-height: 458px;

    @include mediaMinMax(1025, $normal) {
      padding-left: 3.125vw;
      padding-right: 3.125vw;
      max-height: 23.958vw;
      min-height: 23.854vw;
    }

    @include media($small) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-bottom: 20px;
    }

    @include media($xmini) {
      margin-bottom: 0;
      min-height: 328px;
    }
  }

  &__description {
    width: 47%;
    overflow-y: auto;
    max-height: 460px;

    @include mediaMinMax(1025, $normal) {
      max-height: 23.958vw;
    }

    @include media($small) {
      width: 100%;
      overflow: visible;
    }
    @include custom-scroll;

    &::-webkit-scrollbar {
      background-color: rgba($white-color, 0);
    }

    &_no-images {
      width: 100%;
    }
  }

  &__main-image {
    position: relative;
    width: 490px;
    height: 330px;
    margin-bottom: 23px;
    min-height: 330px;

    @include mediaMinMax(1025, $normal) {
      width: 25.521vw;
      height: 17.188vw;
      margin-bottom: 1.198vw;
      min-height: 17.188vw;
    }

    @include media($xmini) {
      width: 310px;
      height: 200px;
      min-height: 200px;
    }
  }

  &__image {
    border-radius: 40px;
    object-fit: cover;

    @include mediaMinMax(1025, $normal) {
      border-radius: 2.083vw;
    }
  }

  &__video {
    border-radius: 40px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 2.083vw;
    }
  }

  &__veil-video {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &__images-list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 105px;
    min-height: 105px;

    @include mediaMinMax(1025, $normal) {
      height: 5.469vw;
      min-height: 5.469vw;
    }

    @include media($small) {
      width: 505px;
    }

    @include media($xmini) {
      width: 325px;
    }
    @include custom-scroll;

    &::-webkit-scrollbar {
      background-color: rgba($white-color, 0);
    }
  }

  &__item-image {
    position: relative;
    width: 150px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: rgba($white-color, 0);

    @include mediaMinMax(1025, $normal) {
      width: 7.813vw;
      height: 5.208vw;
      margin-right: 1.042vw;
      margin-bottom: 0.521vw;
    }

    @include media($xmini) {
      margin-right: 10px;

      &:nth-child(3n + 3) {
        margin-right: 10px !important;
      }

      &:nth-child(2n + 2) {
        margin-right: 0 !important;
      }

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }

      &:nth-last-child(-n+3) {
        margin-bottom: 10px !important;
      }
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    top: -60px;
    right: -60px;
    z-index: 3;
    background-color: $athens-gray-color;
    border-radius: 10px;
    background: none;
    display: flex;

    @include mediaMinMax(1025, $normal) {
      top: -3.125vw;
      right: -3.125vw;
    }

    @include media($small) {
      right: 0;
    }

    @include media($xmini) {
      top: -30px;
    }

    svg {
      width: 60px;
      height: 60px;

      @include mediaMinMax(1025, $normal) {
        width: 3.125vw;
        height: 3.125vw;
      }

      @include media($xmini) {
        width: 30px;
        height: 30px;
      }
    }
  }
}
