@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.come-visit-us {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  padding: 63px 0 0;
  max-width: 1726px;
  margin:0 auto 175px;
  position: relative;

  @include mediaMinMax($small, $normal) {
    padding: 3.28125vw 0 0;
    max-width: 89.8958vw;
    margin:0 auto 9.1145vw;
  }

  @include media($small) {
    margin: 0 auto 236px;
  }

  @include media($xlmini) {
    padding: 15px 0 0;
    justify-content: center;
    margin: 0 auto 420px;
  }

  &__info-block {
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 44px;
    max-width: 428px;
    min-width: 272px;
    width: 35vw;
    max-height: 578px;
    min-height: 415px;
    height: 54vw;
    margin-left: 100px;
    padding: 90px 78px 0;

    @include mediaMinMax($small, $normal) {
      border-radius: 2.2916vw;
      max-width: 22.2916vw;
      min-width: 14.1666vw;
      max-height: 30.1046vw;
      min-height: 21.6145vw;
      margin-left: 5.2083vw;
      padding: 4.6875vw 4.0625vw 0;
    }

    @include media($small) {
      margin-left: 20px;
      padding: 40px 20px 0;
      border-radius: 32px;
    }

    @include media($xlmini) {
      min-width: 334px;
      padding: 40px 60px 0;
      margin-left: 0;
    }
  }

  &__map-wrapper {
    position: absolute;
    right: -89px;
    top: 0;
    z-index: -1;
    min-height: 475px;
    max-height: 700px;
    height: 61vw;

    @include mediaMinMax($small, $normal) {
      right: -4.6354vw;
      min-height: 24.7395vw;
      max-height: 36.4583vw;
    }

    @include media($small) {
      top: 30px;
      right: auto;
      left: 18%;
    }

    @include media($xlmini) {
      top: 315px;
      left: 0;
      width: 100%;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 28px;

    &_des {
      @include media($small) {
        display: none;
      }
    }

    &_tab {
      display: none;

      @include media($small) {
        display: block;
      }

      @include media($mini) {
        display: none;
      }
    }

    &_mob {
      display: none;

      @include media($mini) {
        display: block;
      }
    }

    @include mediaMinMax($small, $normal) {
      border-radius: 1.4583vw;
    }
  }
}
