@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.product-notes-popup {
  max-width: 550px;
  width: 100%;
  height: 636px;
  background-color: $white-color;
  border-radius: 42px;
  box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
  padding: 60px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mediaMinMax($small, $normal) {
    max-width: 28.64vw;
    width: 100%;
    height: 33.125vw;
    border-radius: 2.18vw;
    padding: 3.12vw 2.6vw 2.6vw;
  }

  @include media($small) {
    max-width: 410px;
    height: 473px;
  }

  @include media($xsmall) {
    margin: 0 20px;
    padding: 40px 20px 30px 20px;
    border-radius: 28px;
  }

  &__veil {
    background: rgba($athens-light-gray-color, 0.5);
    mix-blend-mode: normal;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 1;
    text-decoration: none;
    outline: none;
  }

  &__icon {
    width: 42px;
    height: 42px;
    margin-bottom: 20px;

    svg {
      width: 42px;
      height: 42px;
    }

    @include mediaMinMax($xsmall, $normal) {
      width: 2.18vw;
      height: 2.18vw;
      margin-bottom: 1.04vw;

      svg {
        width: 2.18vw;
        height: 2.18vw;
      }
    }

    @include media($small) {
      width: 30px;
      height: 30px;
      margin-bottom: 15px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: $black;
    line-height: 33px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;
    margin-bottom: 24px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.71vw;
      margin-bottom: 1.25vw;
    }

    @include media($small) {
      font-size: 1.06875rem;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 18px;
    }
  }

  &__description {
    font-size: 1.0625rem;
    font-weight: $medium;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.5px;
    color: $scarpa-flow-gray-color;
    margin-bottom: 40px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.5px;
      margin-bottom: 20px;
    }
  }

  &__input {
    width: 100%;
    max-width: 450px;
    height: 188px;
    resize: none;
    outline: none;
    border-radius: 14px;
    margin-bottom: 40px;
    border: 1px solid $athens-gray-color;
    padding: 14px 20px;
    font-size: 1.0625rem;
    font-weight: $medium;
    line-height: 32px;
    color: $scarpa-flow-gray-color;

    ::placeholder {
      color: $darker-cadet-blue-color;
    }

    @include media($xmini) {
      margin-bottom: 24px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  div#{&__button-tex} {
    @include media($mini) {
      font-size: 0.875rem;
    }
  }
}
