@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.new-thumbnail-card {
  width: 144px;
  padding: 6px;
  border-radius: 13px;
  border: 2px solid $athens-light-gray-color;
  
  @include mediaMinMax($small, $normal) {
    width: 7.500vw;
    padding: 0.313vw;
    border-radius: 0.677vw;
    border-width: 0.104vw;
  }

  &_select {
    border: 2px solid $summer-green-color;

    @include mediaMinMax($small, $normal) {
      border-width: 0.104vw;
    }
  }

  &__content-block {
    display: flex;
    position: relative;

    &::before {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 14px;
      height: 14px;
      content: '';
      border-radius: 50%;
      border: 2px solid $white-color;
      background-color: $hit-gray-color;

      @include mediaMinMax($small, $normal) {
        top: 0.104vw;
        left: 0.104vw;
        width: 0.729vw;
        height: 0.729vw;
        border-width: 0.104vw;
      }
    }
    
    &_select {
      &::before {
        background-color: $summer-green-color;
      }
    }
  }

  &__image-button {
    border: none;
    outline: none;
    background: $light-gray-color;
    border-radius: 9px;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.469vw;
    }
  }

  &__image-wrap {
    width: 128px;
    height: 128px;
    border: 1px dashed $athens-gray-color;
    background: $light-gray-color;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      width: 6.667vw;
      height: 6.667vw;
      border-radius: 0.469vw;
      border-width: 0.052vw;
    }
  }

  &__image-block {
    background: $light-gray-color;
    border-radius: 9px;
    max-width: 126px;
    max-height: 126px;
    display: block;

    @include mediaMinMax($small, $normal) {
      max-width: 6.563vw;
      max-height: 6.563vw;
      border-radius: 0.469vw;
    }
  }

  &__delete-button {
    width: 24px;
    height: 24px;
    border-radius: 7px;
    outline: none;
    border: none;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: $white-color;

    @include mediaMinMax($small, $normal) {
      width: 1.250vw;
      height: 1.250vw;
      border-radius: 0.365vw;
      top: -0.260vw;
      right: -0.260vw;
    }
    

    &::before {
      width: 10px;
      height: 2px;
      border-radius: 1px;
      content: '';
      position: absolute;
      top: 11px;
      left: 7px;
      transform: rotate(45deg);
      background-color: $slate-gray-color-2;
      display: block;

      @include mediaMinMax($small, $normal) {
        width: 0.521vw;
        height: 0.104vw;
        top: 0.573vw;
        left: 0.365vw;
        border-radius: 0.052vw;
      }
    }

    &::after {
      width: 10px;
      height: 2px;
      border-radius: 1px;
      content: '';
      position: absolute;
      top: 11px;
      left: 7px;
      transform: rotate(-45deg);
      background-color: $slate-gray-color-2;
      display: block;

      @include mediaMinMax($small, $normal) {
        width: 0.521vw;
        height: 0.104vw;
        top: 0.573vw;
        left: 0.365vw;
        border-radius: 0.052vw;
      }
    }
  }

  &__menu-block {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 7px;

    @include mediaMinMax($small, $normal) {
      margin-top: 0.365vw;
    }
  }

  &__zoom-button {
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;  
  }

  &__zoom-icon {
    @include mediaMinMax($small, $normal) {
      width: 1.042vw;
      height: 1.042vw;
    }
  }
}