@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.learn-more-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: rgba($black-color, 0.1);

  &__content-block {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 352px;
    max-width: 786px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    padding: 20px;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 28px;

    @include media($small) {
      width: 334px;
      max-height: 80vh;
      height:auto;
    }
  }

  &__instruction-block {
    display: flex;
    justify-content: space-between;
    margin: 30px 39px;

    @include media($small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 189px;

    @include media($small) {
      width: 254px;
      margin-bottom: 30px;
    }
  }


  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -32px;
    right: -32px;
    z-index: 3;
    background-color: $athens-gray-color;
    border-radius: 10px;

    svg {
      width: 30px;
      height: 30px;
    }

    @include media($mini) {
      right: 0px;
    }
  }

  &__close-icon {
    width: 20px;
    height: 20px;
    margin-left: -1px;
    margin-bottom: -3px;
  }

  &__info-icon {
    max-width: 100px;
    margin-bottom: 12px;
  }

  &__info-text {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    color: $shark-gray-color;

    @include media($small) {
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    }
  }

  &__title {
    color: $black-color;
    margin-top: 10px;
    font-weight: $black;
    font-size: 1.25rem;
    line-height: 27px;
    text-align: center;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

  }
}
