@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.upload-and-select-image {
  width: 298px;
  display: flex;
  flex-direction: column;
  margin: 0 34px;
  position: relative;

  @include mediaMinMax($small, $normal) {
    width: 15.521vw;
    margin: 0 1.771vw;
  }

  @include media($small) {
    width: calc(100vw - 40px);
    margin: 0;
    max-width: 1026px;
  }

  &__uploader-button {
    @include mediaMinMax($small, $normal) {
      padding: 1.042vw 1.823vw;
      font-size: 0.885vw;
      line-height: 1.406vw;
      border-radius: 0.521vw;
    }
  }

  &__uploader {

    @include media($small) {
      width: calc(100vw - 40px) !important;
      padding: 0 !important;
      margin-bottom: 20px;
      height: 200px;
    }

    &_with-images {
      height: 160px;

      @include mediaMinMax($small, $normal) {
        height: 8.333vw;
      }

      @include media($small) {
        height: 130px;
      }
    }
  }

  &__list-wrap {
    @include media($small) {
      max-width: 1026px;
      overflow-x: auto;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 8px;

      @include custom-scroll;
    }
  }

  &__image-list {
    margin-top: 26px;
    max-height: 414px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 15px);

    @include custom-scroll;

    @include mediaMinMax($small, $normal) {
      margin-top: 1.354vw;
      max-height: 21.563vw;
    }

    @include media($small) {
      flex-wrap: nowrap;
      overflow-y: visible;
    }
  }

  &__image {
    margin-bottom: 10px;

    @include mediaMinMax($small, $normal) {
      height: 7.448vw;
      width: 7.448vw;
      border-radius: 1.042vw;
      margin-bottom: 0.521vw;
    }

    &:nth-child(2n+1) {
      margin-right: 10px;

      @include mediaMinMax($small, $normal) {
        margin-right: 0.521vw;
      }

      @include media($small) {
        margin-right: 10px;
      }
    }

    @include media($small) {
      margin-right: 10px;
    }
  }
}
