@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.menu-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-bottom: 0;
  max-width: 170px;
  width: 8.85vw;
  height: 100%;
  text-decoration: none;
  outline: none;
  transition: width 0.5s, padding 0.5s;

  @include mediaMin($normal) {
    max-width: 170px;
    height: 100%;
    width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 75%;
    height: 1px;
    background-color: $turquoise-color;
    transition: transform 0.5s;
  }

  &:hover {
    &::after {
      transform: translateX(-50%) scaleX(1);
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &__list-link-img {
    margin-bottom: 17px;
    width: 100%;
    max-width: 170px;
    border-radius: 20px;

    @include mediaMin($normal) {
      border-radius: 1.04vw;
    }
  }

  &__list-link-text {
    font-size: 0.78vw;
    font-weight: $bold;
    color: $mine-shaft-gray-color;
    text-align: center;
    line-height: 1.3vw;
    letter-spacing: 1px;

    @include mediaMin($normal) {
      font-size: 16px;
      text-align: center;
      line-height: 25px;
    }

    @include media($small) {
      font-size: 16px;
      text-align: center;
      line-height: 25px;
    }
  }
}
