@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.image-select {
  &__images {
    display: grid;
    grid-template-columns: 216px 216px 216px 200px;
    max-height: 26vw;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    z-index: 1;

    @include mediaMinMax($small, $normal) {
      grid-template-columns: 11vw 11vw 11vw 10.4vw;
    }

    @include media($small) {
      width: 100%;
      max-width: 100%;
      height: 35.41vw;
      max-height: 35.41vw;
      min-width: 100%;
      max-height: 414px;
      height: fit-content;
      display: flex;
      flex-wrap: nowrap;
    }

    @include media($mini) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include custom-scroll;
  }

  &__info-title {
    font-weight: $black;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.7px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.72vw;
      line-height: 0.98vw;
    }
  }

  &__info ,
  &__info-icon,
  &__info-icons {
    display: flex;
    align-items: center;
  }

  &__info-icon {
    height: 20px;
  }

  &__info-icons {
    @include media($xmini) {
      width: 100%;
      justify-content: space-between;
      margin-top: 12px;
    }
  }

  &__info {
    @include media($xnormal) {
      margin-bottom: 30px;
    }

    @include media($xmini) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__icon-colorization {
    display: flex;
    align-items: center;
    height: 100%;
    svg {
      width: 20px;
      height: 20px;
    }

    @include mediaMinMax(1025, $normal) {
      svg {
        width: 1.04vw;
        height: 1.04vw;
      }
    }

    @include media($xlmini) {
      height: 20px;
    }
  }

  &__info-icon {
    margin-left: 31px;

    @include mediaMinMax(1025, $normal) {
      margin-left: 1.61vw;

      svg {
        width: 1.04vw;
        height: 1.04vw;
      }
    }

    @include media($xmini) {
      margin: 0;
    }

    @include media($xlmini) {
      height: 20px;
    }
  }

  &__info-icon-desc {
    display: flex;
    align-items: center;
    margin-left: 7px;
    font-weight: $bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    color: $shark-gray-color;
    height: 100%;

    @include mediaMinMax(1025, $normal) {
      margin-left: 0.36vw;
      font-size: 0.625vw;
      line-height: 0.83vw;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    height: 100%;
    svg {
      height: 100%;
    }
    @include mediaMinMax(1025, $normal) {
      svg {
        width: 1.04vw;
        height: 1.04vw;
      }
    }

    @include media($xlmini) {
      height: 20px;

      svg {
        height: 20px;
      }
    }

    @include media($xmini) {
      margin: 0;
    }
  }

  &__image-card {
    margin-right: 16px;
    margin-bottom: 16px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.8vw;
      margin-right: 0.8vw;
    }

    @include mediaMin($small) {
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    
    @include media($small) {
      margin-bottom: 15px;
      margin-right: 15px;
    }  

    @include media($xsmall) {
      margin-bottom: 0;
    }
  
    @include media($xlmini) {
      margin-right: 16px;
    }

  }
}
