@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.signup {
  width: 410px;
  background-color: $white-color;

  &__fieldset {
    padding: 0;
    border: none;
  }

  @include mediaMinMax($small, $normal) {
    width: 21.35vw
  }

  &__legend {
    margin-bottom: 33px;
    font-weight: $black;
    font-size: 1.75rem;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 2.17vw;
      font-size: 1.45vw;
      line-height: 1.97vw;
    }
  }

  &__sign-up-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 49px;

    @include mediaMinMax($small, $normal) {
      margin-top: 2.55vw;
    }

    svg {
      @include mediaMinMax($small, $normal) {
        width: 2.65vw;
        height: 2.18vw;
      }
    }
  }

  &__sign-up-svg {
    margin-right: 19px;
    margin-bottom: 13px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.98vw;
      margin-bottom: 0.67vw;
    }
  }

  &__input {
    margin-bottom: 32px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.66vw;
    }
  }

  &__names {
    display: flex;
    justify-content: space-between;
    width: 410px;
    margin-bottom: 32px;

    @include mediaMinMax($small, $normal) {
      width: 21.35vw;
      margin-bottom: 1.66vw;
    }

    @include media($xmini) {
      width: 100%
    }
  }

  &__input-name {
    width: 200px;

    @include mediaMinMax($small, $normal) {
      width: 10.41vw;
    }

    @include media($xmini) {
      width: auto;
    }
  }

  &__container {
    padding: 20px 0;
    margin-bottom: 10px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;

    @include mediaMinMax($small, $normal) {
      padding: 1.04vw 0;
      margin-bottom: 0.52vw;
    }
  }

  &__btn {
    margin: 0 auto;
    margin-top: 18px;
    width: 320px;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.0625rem;
    line-height: 27px;
    font-weight: $bold;
    letter-spacing: 0.5625px;
    color: $white-color;
    background-color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.82vw;
      width: 16.66vw;
      height: 3.125vw;
      border-radius: 0.52vw;
      font-size: 0.88vw;
      line-height: 1.4vw;
    }

    &:disabled {
      background-color: $gull-gray-color;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.63;
    color: $charcoal-gray-color;

    .link {
      font-size: 16px;
      margin-left: 10px;
    }
  }

  &__popup {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}
