@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.what-make-us {
  display: flex;
  justify-content: center;
  padding-bottom: 140px;

  @include mediaMinMax(1025, $normal) {
    padding-bottom: 7.29vw;
  }

  @include mediaMinMax($small, $normal) {
    padding-bottom: 6.7708vw;
  }

  @include media($small) {
    padding-bottom: 50px;
  }

  &_digitize {
    padding-top: 140px;

    @include mediaMinMax(1025, $normal) {
      padding-top: 7.29vw;
    }

    @include media($small) {
      padding-top: 50px;
    }
  }

  &_enhance {
    background: linear-gradient(0deg, rgba(245, 245, 245, 0.5), $white-color);
    padding-bottom: 70px;
  }

  &_mission {
    padding-bottom: 0;

    @include mediaMinMax(1025, $normal) {
      padding-top: 7.29vw;
    }

    @include media($small) {
      padding-top: 0;
    }
  }

  &__wrapper {
    max-width: 1532px;
    width: 79.79vw;
    margin: 0 auto;

    @include mediaMin($normal) {
      width: 1532px;
      margin: 0 auto;
    }
    @include media($small) {
      width: calc(100% - 40px);
      margin: 10px auto 0 auto;
    }

    &_mission {

      @include mediaMin($normal) {
        margin: 100px auto 0 auto;
      }
      @include media($small) {
        margin: 10px auto 0 auto;
      }
    }
  }

  &__title {
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    text-align: center;
    margin-bottom: 30px;
    white-space: pre-wrap;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.29vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 35px;
      white-space: initial;
    }

    @include media($xmini) {
      font-size: 1.625rem;
      white-space: pre-wrap;
    }

    &_mission {
      margin-bottom: 80px;

      @include mediaMinMax($small, $normal) {
        margin-bottom: 4.16vw;
      }

      @include media($small) {
        margin-bottom: 40px;
      }
    }
  }

  &__description {
    align-items: center;
    text-align: center;
    color: $scarpa-flow-gray-color;
    width: 1249px;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    white-space: pre-wrap;
    margin: auto;
    margin-bottom: 108px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      width: 65vw;
      margin-bottom: 5.625vw;
    }

    @include media($small) {
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
      max-width: 90vw;
      margin-bottom: 10.54vw;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 2.864vw;
    }

    @include media($xlmini) {
      line-height: 3.97vw;
      letter-spacing: 0.147vw;
      font-size: 2.795vw;
      margin-bottom: 60px;
    }

    @include media($xmini) {
      text-align: center;
      line-height: 24px;
      letter-spacing: 1px;
      font-size: 3.27vw;
    }

    @include media($mini) {
      font-size: 3.95vw;
    }

    &_enhance {
      max-width: 1200px;

      @include mediaMinMax($small, $normal) {
        max-width: 62vw;
      }

      @include media($small) {
        max-width: 90vw;
      }
    }
  }

  &__scroll-btn {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    @include mediaMinMax($small, $normal) {
      margin-top: 1.3vw;
    }
  }

  &__cards {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include media($small) {
      padding: 0 20px;
    }

    @include media($xsmall) {
      flex-wrap: wrap;
    }

    @include media($xlmini) {
      display: grid;
      grid-template-columns: repeat(2, 176px);
      justify-content: center;
      padding: 0;
    }
  }

  &__background-stripe {
    position: absolute;
    top: -54px;
    right: -71px;
    height: 249px;
    width: calc(100vw + 71px);
    z-index: -1;
    background-color: $coconut-cream-yellow-color;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;

    @include mediaMinMax($small, $normal) {
      top: -2.81vw;
      right: -3.69vw;
      height: 12.96vw;
      border-top-right-radius: 2.29vw;
      border-bottom-right-radius: 2.29vw;
    }

    @include media($small) {
      border-top-right-radius: 28px;
      border-bottom-right-radius: 28px;
      height: 155px;
      top: -20px;
      right: 0;
    }

    @include media($xlmini) {
      height: 340px;
      right: -20px;
    }
  }
}
