@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.digitize-personalize-card {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 110;
  background-color: rgba($black-color, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    max-width: 550px;
    max-height: 870px;
    background: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;

    &_min-height {
      height: auto;
      min-height: auto;
    }

    @include media($small) {
      border-radius: 20px;
      padding: 18px 18px 30px 18px;
    }

    @include media($mini) {
      width: 370px;
    }

  }

  &__close-btn {
    position: absolute;
    right: -30px;
    top: -30px;

    @include mediaMinMax(1025, $normal) {
      right: -1.563vw;
      top: -1.563vw;
    }

    @include media($mini) {
      right: 0px;
    }

    svg {
      width: 30px;
      height: 30px;
      border-radius: 10px;

      @include mediaMinMax(1025, $normal) {
        width: 1.563vw;
        height: 1.563vw;
        border-radius: 0.521vw;
      }
    }
  }

  &__card-content {
    width: 390px;

    @include media($normal) {
      width: 20.313vw;
    }

    @include media($small) {
      width: 39.063vw;
    }

    @include media($xsmall) {
      width: 310px;
    }
  }

  &__card-slider {
    position: relative;
    width: 390px;
    height: 250px;

    @include mediaMinMax(1025, $normal) {
      width: 20.313vw;
      height: 13.021vw;
    }

    @include media($small) {
      margin-bottom: 10px;
    }

    @include media($mini) {
      width: 100%;
    }
  }

  &__card-slider-text {
    position: absolute;
    z-index: 1;
    font-size: 16px;
    line-height: 1;
    top: 125px;
    right: 150px;
    width: 156px;
    height: 32px;

    @include mediaMinMax(1025, $normal) {
      top: 6.510vw;
      right: 7.813vw;
      font-size: 0.833vw;
      width: 8.125vw;
      height: 1.667vw;
    }

    @include media($mini) {
      right: 125px;
    }
  }

  &__card-slider-text-content {
    text-align: center;

    &_first {
      font-weight: $black;
      font-size: 16px;
      color: $shark-gray-color;


      @include mediaMinMax($small, $normal) {
        font-size: 0.833vw;
      }

    }

    &_second {
      font-size: 0.625rem;
      color: $white-color;

      @include mediaMinMax($small, $normal) {
        font-size: 0.521vw;
      }

    }
  }

  &__title {
    font-weight: $black;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include media($normal) {
      font-size: 1.354vw;
    }

    @include media($small) {
      font-size: 2.539vw;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.6px;
    }

    @include media($xsmall) {
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }

  &__sub-title {
    font-weight: $bold;
    font-size: 1.1875rem;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.5px;
    color: $shark-gray-color;
    margin-bottom: 10px;

    @include media($normal) {
      font-size: 1.042vw;
    }

    @include media($small) {
      font-size: 1.853vw;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.5px;
      max-width: 274px;
      margin: 0 auto 10px auto;
    }

    @include media($xsmall) {
      font-size: 16px;
    }
  }

  &__input-wrapper {
    margin-bottom: 14px;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;

    @include media($small) {
      max-width: 260px;
      margin: 0 auto 8px auto;
    }
  }

  &__description {
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.5px;
    color: $scarpa-flow-gray-color;
    margin-bottom: 15px;

    @include media($normal) {
      font-size: 1.042vw;
    }

    @include media($small) {
      font-size: 1.953vw;
      margin-bottom: 10px;
    }

    @include media($xsmall) {
      font-size: 16px;
    }
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include media($small) {
      max-width: 294px;
      margin: 0 auto;
    }
  }

  &__input {
    margin-bottom: 15px;
    @include media($small) {
      input {
        height: 50px;
      }
    }
  }

  &__image {
    object-fit: cover;
    border-radius: 10px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0.521vw;
    }
  }
}
