@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.frame-options-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px 34px 0 34px;

  @include mediaMinMax($small, $normal) {
    margin: 0.156vw 1.771vw 0 1.771vw;
  }

  @include mediaMinMax($xsmall, $small) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    width: calc(100vw - 40px);
    max-width: 1026px;
  }

  @include media($small) {
    margin-bottom: 20px;
  }

  @include media($mini) {
    margin: 3px 0;
    align-items: flex-start;
    width: 100%;
  }

  &__title {
    font-weight: $black;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;
    margin-bottom: 18px;

    @include mediaMinMax($small, $xlnormal) {
      font-size: 0.885vw;
      line-height: 1.406vw;
      margin-bottom: 0.938vw;
    }

    @include mediaMinMax($xsmall, $small) {
      width: 100%;
    }

    @include media($mini) {
      margin: 0 auto;
      margin-bottom: 0;
    }
  }

  &__mobile-col {
    width: 100%;

    @include media($mini) {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      max-width: 90vw;
    }

    &_last {
      @include mediaMinMax($xsmall, $small) {
        margin-right: 0;
      }

      @include media($mini) {
        flex-direction: column;
        width: 100%;
      }
    }
  }

  &__personalize {
    @include media($mini) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__selector {

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.250vw !important;
      min-height: 3.125vw !important;
      width: 15.521vw !important;
    }

    @include mediaMinMax($xsmall, $small) {
      width: 354px !important;
    }

    @include media($mini) {
      margin-bottom: 0 !important;
    }
  }

  &__select-title {
    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      line-height: 1.406vw;
      margin-bottom: 0.313vw;
    }
  }

  &__select-cont {
    @include mediaMinMax($small, $normal) {
      border-radius: 0.729vw !important;
    }
  }

  &__select-input {
    @include mediaMinMax($small, $normal) {
      height: 3.125vw;
      border-radius: 0.729vw;
    }

    span.photo-art-selector__text-selector {
      @include mediaMinMax($small, $normal) {
        font-size: 0.885vw;
        line-height: 1.667vw;
      }
    }

    div.custom-select__select {
      @include mediaMinMax($small, $normal) {
        padding: 0 1.042vw !important;
      }
    }

    div.custom-select__select__single-value {
      @include mediaMinMax($small, $normal) {
        font-size: 0.885vw;
        line-height: 1.667vw;
      }
    }
  }
}
