@import 'src/styles/variables.scss';

.email-sent {
  width: 320px;
  background-color: $white-color;

  &__legend {
    font-size: 1.75rem;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: $black;
    text-align: center;
    line-height: 38px;
    letter-spacing: 1px;
    color: $black-color;
  }

  &__email-sent-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }

  &__title {
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    font-weight: $medium;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 70px;
  }

  &__container {
    padding: 20px 0;
    margin-bottom: 10px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    margin: 0 auto 35px auto;
    width: 320px;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.0625rem;
    line-height: 27px;
    font-weight: $bold;
    letter-spacing: 0.5625px;
    color: $white-color;
  }

  .btn-active {
    background-color: $pickled-bluewood-color;
  }

  &__text {
    font-size: 16px;
    line-height: 1.63;
    color: $charcoal-gray-color;

    .link {
      font-size: 16px;
      margin-left: 10px;
    }
  }

  &__fieldset {
    border: none;
  }
}
