@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.account {
  padding: 188px 30px 90px 30px;
  background-color: $white-color;

  @include mediaMinMax(1025, $normal) {
    padding: 188px 1.56vw 4.68vw 1.56vw;
  }

  @include media($small) {
    padding: 230px 20px;
  }

  &__container {
    max-width: 1532px;
    margin: 0 auto;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      max-width: 79.79vw;
    }
  }

  &__tabs {
    margin-bottom: 68px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 3.54vw;
    }

    @include media($small) {
      margin-bottom: 50px;
    }

    @include media($xlmini) {
      display: none !important;
    }
  }

  &__tabs-wrap {
    @include media($small) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  button#{&__tab-button} {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.01em;
    color: $gull-gray-color;
    margin-right: 62px;
    padding-bottom: 6px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
      margin-right: 3.22vw;
      padding-bottom: 0.31vw;
    }

    &.tabs__btn_active {
      border-bottom: 2px solid $pickled-bluewood-color !important;
      font-weight: $bold;
      font-size: 1.0625rem;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.01em;
      color: $pickled-bluewood-color !important;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.88vw;
        line-height: 1.19vw;
      }
    }
  }

  &__account {
    padding: 30px;
    padding-bottom: 80px;
    background-color: $wild-sand-color;

    @include mediaMinMax(1025, $normal) {
     padding: 1.56vw 1.56vw 4.16vw 1.56vw;
    }
  }

  &__scene {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__btn {
    margin: auto;
    margin-top: 50px;

    @include mediaMinMax(1025, $normal) {
      margin-top: 2.6vw;
    }
  }

  &__second-tabs {
    padding: 40px 0 50px;
    position: relative;


    @include mediaMinMax(1025, $normal) {
     padding: 2.083vw 0 2.6vw;
    }

    @include media($small) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 120px;
    }

    @include media($xsmall) {
      padding: 40px 0 50px;
      padding-bottom: 120px;
    }
  }

  &__select_radius {
    border-radius: 20px;

    @include mediaMinMax(1025, $normal) {
     border-radius: 1.04vw;
    }
  }

  &__orders-list {
    padding: 5px 0 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1532px;
    margin: 0 auto;

    @include mediaMinMax(1025, $normal) {
     padding: 0.26vw 0 2.6vw;
    }
  }

  &__detail-orders-list {
    position: absolute;
    left: 20px;
    top: 0;
    z-index: 2;

    @include mediaMinMax(1025, $normal) {
      left: 1.04vw;
    }

    @include media($small) {
      position: static;
      left: none;
      top: none;
      margin-bottom: 40px;
    }
  }

  &-custom-select {
    @include media($xsmall) {
      width: 100%;
      margin: 0;
    }
  }


  &__logout-btn {
    position: absolute;
    top: 0;
    right: 52px;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: $silver-color;

    @include mediaMinMax(1025, $normal) {
      right: 2.7vw;
      font-size: 0.88vw;
      line-height: 1.19vw;

      svg {
        width: 1.35vw;
        height: 1.35vw;
      }
    }

    @include media($small) {
      position: static;
      top: none;
      right: none;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__logout-icon {
    margin-right: 14px;
  }
}
