@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.popup-frame-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 304px;
  box-shadow: 37px 37px 80px rgba($black-color, 0.01);
  overflow: hidden;
  background-color: $white-color;
  border-radius: 25px;

  @include media($small) {
    width: 250px;
    border-radius: 22px;
  }

  &__image-block {
    height: 261px;
    width: 304px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    @include media($small) {
      width: 250px;
      height: 206px;
    }
  }

  &__frame-photo {
    max-width: 100%;
    height: 261px;

    @include media($small) {
      height: 206px;
    }
  }

  &__photo-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 261px;

    @include media($small) {
      height: 206px;
    }
  }

  &__info-block {
    width: 100%;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin-top: -25px;
    z-index: 2;
    background-color: $white-color;
    padding: 22px 30px 36px 30px;
    box-shadow: 33.7201px 33.7201px 72.9082px rgba($black-color, 0.0395269);

    @include media($small) {
      min-height: 141px;
      border-radius: 22px;
      margin-top: -22px;
      padding: 16px 20px 20px 20px;
    }
  }

  &__name {
    font-weight: $extraBold;
    font-size: 1.0625rem;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.741144px;
    color: $shark-gray-color;
    margin-bottom: 10px;

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.8px;
    }
  }

  &__price {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.741144px;
    color: $scarpa-flow-gray-color;
    margin-bottom: 15px;
  }

  &__price-value {
    font-weight: $medium;
  }

  &__btn {
    margin: 0 auto;
    background: $white-color;
    border: 2px solid $light-slate-gray-color;
    border-radius: 7.5px;
    font-weight: $bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.416894px;
    color: $pickled-bluewood-color;
    width: 96px;
    height: 36px;
  }

  &__check-icon {
    margin-right: 10px;
  }

  &__hint {
    width: 100%;
    padding: 15px 30px;
  }

  &__hint-button {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    position: absolute;
    left: calc(100% + 20px);
    top: 0;
  }

  &__photo-block {
    width: 304px;
    height: 261px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    overflow: hidden;
  }

  &__image-frame {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }

  &__image-frame-abs {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
  }

  &__image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }

  &__button-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
  }
}
