@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.reviews {
  max-width: 1532px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;

  &__title {
    font-size: 3rem;
    font-weight: $black;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    color: $shark-gray-color;
    margin: 180px auto 50px auto;

    @include mediaMinMax(1025, $normal) {
      line-height: 2.91vw;
      font-size: 2.5vw;
    }

    @include media($small) {
      font-size: 2rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 1px;
      margin: 210px auto 2.6vw auto;
    }
  }

  &__total-reviews-wrapper {
    font-weight: $black;
    font-size: 1.25em;
    line-height: 27px;
    letter-spacing: 1.1px;
    color: $shark-gray-color;
    display: flex;
  }

  &__total-reviews {
    color: $burnt-sienna-red-color;
    margin-left: 10px;
  }

  &__reviews-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    max-width: 1374px;
    width: 100%;
    padding: 90px 0;

    @include media($xnormal) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 90px 0;
    }

    @include media($small) {
      max-width: 710px;
      padding: 24px 0 50px 0;
    }
  }

  &__stripe {
    position: absolute;
    height: 442px;
    width: calc(100vw + 79px);
    background-color: $cinderella-pink-color;
    border-radius: 44px 0 0 44px;
    z-index: -1;
    top: 0;
    left: -79px;

    @include media($xlnormal) {
      left: -39px;
    }

    @include media($small) {
      left: -19px;
      height: 367px;
      border-radius: 28px 0 0 28px;
    }

    @include media($xlmini) {
      height: calc(100% - 130px);
      left: 0;
    }
  }

  &__square {
    width: 141px;
    height: 141px;
    position: absolute;
    right: -141px;
    top: -85px;
    background: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.0932037);
    border-radius: 27px;

    @include media($xnormal) {
      display: none;
    }
  }

  &__sorting {
    display: flex;
    margin: 50px 0;
    width: 100%;
    align-items: center;

    @include media($xlnormal) {
      padding: 0 39px;
    }

    @include media($small) {
      margin: 40px 0 10px 0;
    }
  }

  &__sorting-desc {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    color: $shark-gray-color;
    margin: 0 5px;
  }

  &__sorting-btn {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    color: $darker-cadet-blue-color;
    margin: 0 5px;
    outline: none;

    &_isActive {
      text-decoration: underline;
      color: $burnt-sienna-color;
    }
  }

  &__pagination {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 120px;
  }

  &__pagination-page,
  &__pagination-break {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    margin:0 20px;
    background-color: rgba($athens-light-gray-color, 0.5);
    color: rgba($black-color, 0.3);
    display: flex;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 23px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
  }


  &__pagination-page-link,
  &__pagination-break-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
  }

  &__pagination-page#{&__active-page} {
    background-color: $apricot-orange-color;
    color: rgba($white-color, 0.8);
  }

  &__next-arrow {
    margin-left: 20px;
  }

  &__back-arrow {
    transform: rotate(180deg);
    margin-right: 20px;
  }

  &__next,
  &__back {
    display: flex;
    outline: none;
  }

  &__next-wrapper,
  &__back-wrapper {
    svg {
      path {
        stroke: $apricot-orange-color;
      }
    }
  }

  &__disabled {
    svg {
      path {
        stroke: $silver-gray-color;
      }
    }
  }

  &__review-widget {
    position: fixed;
    right: 0;
    top: 50%;
  }
}
