@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.folder-card {
  content: '';
  width: 220px;
  height: 273px;
  padding: 8px;
  position: relative;
  border-radius: 20px;
  background-color: $white-color;
  border: 2px solid $athens-light-gray-color;

  @include mediaMinMax(1025, $normal) {
    width: 11.458vw;
    height: 14.219vw;
    padding: 0.417vw;
    border-radius: 1.042vw;
    border-width: 0.104vw;
  }

  @include media($small) {
    width: 158px;
    height: 201px;
    padding: 6px;
    border-radius: 13px;
  }

  &_select {
    border: 2px solid $summer-green-color;

    @include mediaMinMax(1025, $normal) {
      border-width: 0.104vw;
    }
  }

  &__content-block {
    display: flex;
    position: relative;
  }

  &__image-button {
    border: none;
    outline: none;
    background: $light-gray-color;
    border-radius: 16px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0.833vw;
    }

    @include media($small) {
      border-radius: 10px;
    }
  }

  &__image-wrap {
    width: 200px;
    height: 200px;
    border: 1px dashed $athens-gray-color;
    background: $light-gray-color;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      width: 10.417vw;
      height: 10.417vw;
      border-radius: 0.833vw;
      border-width: 0.052vw;
    }

    @include media($small) {
      width: 142px;
      height: 142px;
      border-radius: 10px;
    }
  }

  &__select-icon {
    width: 28px;
    height: 28px;

    @include mediaMinMax(1025, $normal) {
      width: 1.458vw;
      height: 1.458vw;
    }

    @include media($small) {
      width: 18px;
      height: 18px;
    }
  }

  &__menu-block {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
    padding: 0 12px 4px 12px;

    @include mediaMinMax(1025, $normal) {
      margin-top: 0.260vw;
      padding: 0 0.625vw 0.208vw 0.625vw;
    }

    @include media($small) {
      margin-top: 3px;
      padding: 0 8px 4px 8px;
    }
  }

  &__select-btn {
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 7px;
    left: 7px;

    @include mediaMinMax(1025, $normal) {
      top: 0.365vw;
      left: 0.365vw;
    }

    @include media($small) {
      top: 4px;
      left: 4px;
    }
  }

  &__menu-button {
    outline: none;
    border: none;
    background-color: transparent;
    width: 68px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      width: 3.542vw;
      height: 0.990vw;
    }

    @include media($small) {
      width: 54px;
      height: 16px;
    }
  }

  &__name-image {
    width: 200px;
    text-align: center;
    font-weight: $bold;
    font-size: 0.75rem;
    line-height: 16px;
    color: $scarpa-flow-gray-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 2px;

    @include mediaMinMax(1025, $normal) {
      width: 10.417vw;
      font-size: 0.625vw;
      line-height: 0.833vw;
      margin-bottom: 0.104vw;
    }

    @include media($small) {
      width: 142px;
      font-size: 0.625rem;
      line-height: 14px;
    }
  }

  &__empty-folder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 100%;

    @include mediaMinMax($small, $normal) {
      height: 10.417vw
    }

    @include media($small) {
      height: 136px;
    }
  }

  &__view-image {
    width: 100%;
    height: 100%;
    background-size: cover;

    &_image_0 {
      border-radius: 15px 0 0 0;

      @include mediaMinMax(1025, $normal) {
        border-radius: 0.781vw 0 0 0;
      }

      @include media($small) {
        border-radius: 9px 0 0 0;
      }
    }

    &_image_1 {
      border-radius: 0 20px 0 0;

      @include mediaMinMax(1025, $normal) {
        border-radius: 0 0.781vw 0 0;
      }

      @include media($small) {
        border-radius: 0 9px 0 0;
      }
    }

    &_image_2 {
      border-radius: 0 0 0 20px;

      @include mediaMinMax(1025, $normal) {
        border-radius: 0 0 0 0.781vw;
      }

      @include media($small) {
        border-radius: 0 0 0 9px;
      }
    }

    &_image_3 {
      border-radius: 0 0 20px 0;

      @include mediaMinMax(1025, $normal) {
        border-radius: 0 0 0.781vw 0;
      }

      @include media($small) {
        border-radius: 0 0 9px 0;
      }
    }
  }

  &__view-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__folder-name {
    display: flex;
    justify-content: center;
    font-weight: $extraBold;
    font-size: 0.875rem;
    line-height: 19px;
    color: $scarpa-flow-gray-color;
    margin-top: 4px;

    @include mediaMinMax($small, $normal) {
      line-height: 0.990vw;
      font-size: 0.729vw;
    }

    @include media($small) {
      font-size: 0.75rem;
    }

    &_empty {
      font-size: 16px;
      color: $darker-cadet-blue-color;

      @include mediaMinMax($small, $normal) {
        font-size: 0.833vw;
      }
    }

    &_view {
      font-size: 16px;
      color: $white-color;

      @include mediaMinMax($small, $normal) {
        font-size: 0.833vw;
      }
    }
  }

  &__count-folder {
    font-weight: $medium;
    font-size: 0.75rem;
    line-height: 16px;
    color: $white-color;
    opacity: 0.8;
    margin-top: 7px;
  }


  &__icon-from-folder {
    width: 70px;
    height: 70px;

    @include media($small) {
      width: 48px;
      height: 48px;
    }

    @include mediaMinMax($small, $normal) {
      width: 3.646vw;
      height: 3.646vw;
    }
  }

  &__count-folder {
    font-weight: $medium;
    font-size: 0.75rem;
    line-height: 16px;
    color: $white-color;
    opacity: 0.8;
    margin-top: 7px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.625vw;
      line-height: 0.833vw;
    }
  }

  &__view-folder {
    position: relative;
    height: 198px;
    width: 198px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1px));
    grid-template-rows: repeat(2, calc(50% - 1px));
    grid-gap: 2px;

    @include mediaMinMax(1025, $normal) {
      max-width: 10.313vw;
      max-height: 10.313vw;
      border-radius: 0.781vw;
    }

    @include media($small) {
      width: 140px;
      height: 140px;
      border-radius: 9px;
    }
  }
}

