@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.order-details-card {

  &__product-wrapper {
    display: flex;
    margin-bottom: 30px;
    padding: 40px 50px 40px 40px;
    background: $white-color;
    border: 1px solid $porcelain-gray-color;
    box-sizing: border-box;
    box-shadow: 10px 20px 80px rgba($black-color, 0.0395269);
    border-radius: 20px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.56vw;
      padding: 2.08vw 2.6vw 2.08vw 2.08vw;
      border-radius: 20px;
    }

    @include media($small) {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
  }

  &__product-image {
    width: 150px;
    height: 115px;
    border-radius: 10px;
    object-fit: contain;
    object-position: center;

    @include mediaMinMax(1025, $normal) {
      width: 7.81vw;
      height: 5.98vw;
      border-radius: 0.52vw;
    }
  }

  &__art-photo-block {
    min-width: 150px;
    width: 150px;
    height: 115px;
    border-radius: 10px;
    overflow: hidden;

    @include mediaMinMax(1025, $normal) {
      min-width: 7.81vw;
      width: 7.81vw;
      height: 5.98vw;
      border-radius: 0.52vw;
    }
  }

  &__art-wrap {
    width: 150px;
    height: 123px;
    position: relative;
    overflow: hidden;
    margin: -4px auto 0;

    @include mediaMinMax(1025, $normal) {
      width: 7.81vw;
      height: 6.4vw;
      margin: -0.2vw auto 0;
    }
  }

  &__image-wrap {
    position: absolute;
  }

  &__art-photo {
    position: absolute;
    height: 100%;
    display: block;
  }

  &__display {
    position: absolute;
  }

  &__frame-wrap {
    position: absolute;
  }

  &__frame-image {
    max-width: 100%;
    max-height: 100%;
  }

  &__product-card {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 100%;

    @include mediaMinMax(1025, $normal) {
      margin-left: 2.08vw;
    }

    @include media($small) {
      margin-left: 0;
      margin-top: 16px;
    }
  }

  &__product-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid $athens-gray-color;
    margin-bottom: 20px;

    @include mediaMinMax(1025, $normal) {
      padding-bottom: 0.52vw;
      margin-bottom: 1.04vw;
    }

    @include media($xmini) {
      padding-right: 0;
      padding-bottom: 0;
    }
  }

  &__product-info {
    display: flex;
    flex-direction: column;

    &_art {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__product-art-quantity {
    display: flex;
    justify-content: center;
    width: 30%;
  }

  &__product-sum {
    display: flex;
    justify-content: flex-end;
    width: 30%;
  }

  &__product-options {
    &_art {
      width: 100%;
    }

    @include media($xmini) {
      margin: 0;
      width: 100%;
    }
  }

  &__product-main-info {

    @include media($xmini) {
      margin: 0;
      width: 100%;
    }
  }

  &__product-option {
    display: flex;
    flex-wrap: wrap;
  }

  &__product-deliverables {
    margin-bottom: 20px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.04vw;
    }

    @include media($small) {
      margin: 15px 0;
    }
  }

  &__product-name-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  &__product-name {
    font-weight: $bold;
    font-size: 1.125rem;
    line-height: 26px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.93vw;
      line-height: 1.35vw;
    }
  }

  &__product-price-wrapper {
    display: flex;
  }

  &__product-price {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 26px;
    text-align: right;
    color: $burnt-sienna-color;
    position: relative;

    &_origin {
      margin-right: 10px;
      font-weight: $medium;
      color: $darker-dusty-gray-color;

      &::after {
        content: '';
        width: 110%;
        height: 1px;
        top: 50%;
        left: -5%;
        background-color: $burnt-sienna-red-color;
        position: absolute;
      }
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.35vw;
    }
  }

  &__product-option-title {
    font-weight: $medium;
    font-size: 16px;
    line-height: 24px;
    color: $scarpa-flow-gray-color;
    margin-right: 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.25vw;
    }
  }

  &__product-quantity {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.04vw;
    }

    @include media($small) {
      margin-bottom: 1.9vw;
    }
  }

  &__product-deliverables-title,
  &__product-gift-title,
  &__product-quantity-title {
    font-size: 16px;
    font-weight: $bold;
    color: $shark-gray-color;
    line-height: 24px;
    white-space: normal;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.25vw;
    }
  }

  &__product-quantity-value,
  &__product-option-value {
    font-size: 16px;
    font-weight: $medium;
    line-height: 24px;
    color: $light-slate-gray-color;
    position: relative;

    &_origin {
      margin-right: 10px;
      font-weight: $medium;

      &::after {
        content: '';
        width: 110%;
        height: 1px;
        top: 50%;
        left: -5%;
        background-color: $pickled-bluewood-color;
        position: absolute;
      }
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.25vw;
    }
  }

  &__product-quantity-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }

  &__product-quantity-sum {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
  }

  &__product-quantity-value-wrapper {
    display: flex;
  }
}
