@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.red-button {
  padding: 19px 23px;
  background-color: $burnt-sienna-red-color;
  color: $white-color;
  border-radius: 10px;
  font-weight: $bold;
  font-size: 1.0625rem;
  line-height: 27px;
  letter-spacing: 2px;
  outline: none;
  border: none;

  &:hover,
  &:active{
    outline: none;
    background-color: $roman-red-color;
    box-shadow: 0 10px 25px rgba(239, 110, 98, 0.2);
  }

  &:disabled {
    cursor: default;
    background-color: $sea-pink-red-color;
  }
}
