@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.transfer {
  padding: 45px 2%;
  text-align: center;

  &__container {
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }

  &__text {
    margin: 0;
    color: $charcoal-gray-color;
  }

  .star-ratings {
    margin-right: 12px;
  }

  &__link {
    font-size: 16px;
  }
}
