@import "src/styles/variables.scss";
@import "src/styles/media.scss";
@import 'src/styles/mixins.scss';

.cloud-custom-select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  
  &__select-title {
    font-size: 16px;
    font-weight: $bold;
    margin-bottom: 6px;
    line-height: 27px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.833vw;
      line-height: 1.406vw;
      margin-bottom: 0.313vw;
    }
  }

  &__select-wrapper {
    height: 100%;
    min-height: 60px;
    display: flex;
    background-color: $catskill-white-color;
    border: 1px solid $athens-gray-color;
    border-radius: 16px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      min-height: 2.95vw;
      border-radius: 0.83vw;
      padding: 0.26vw;
    }

    &_list-opened {
      &::after {
        position: absolute;
        background-color: $catskill-white-color;
        border-left: 1px solid $athens-gray-color;
        border-right: 1px solid $athens-gray-color;
        content: '';
        width: 100%;
        height: 50%;
        bottom: -10px;
        left: 0;
        z-index: -1;
      }
    }
  }

  &__list-icon-block {
    min-width: 50px;
    height: 50px;
    background: $athens-gray-color;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    @include mediaMinMax(1025, $normal) {
      min-width: 2.6vw;
      height: 2.6vw;
      border-radius: 0.625vw;
    }
  }

  &__list-icon {
    position: relative;
    width: 26px;
    height: 26px;

    @include mediaMinMax(1025, $normal) {
      width: 1.35vw;
      height: 1.35vw;
    }
  }

  &__search-icon {
    position: relative;
    width: 26px;
    height: 26px;

    @include mediaMinMax(1025, $normal) {
      width: 1.35vw;
      height: 1.35vw;
    }
  }

  &__search-icon-block {
    min-width: 50px;
    height: 50px;
    background: $summer-green-color;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    @include mediaMinMax(1025, $normal) {
      min-width: 2.6vw;
      height: 2.6vw;
      border-radius: 0.625vw;
    }
  }

  &__input {
    outline: none;
    border: none;
    background: $catskill-white-color;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    padding-left: 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
    }
  }

  &__list {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 150px;
    top: 61px;
    background: $catskill-white-color;
    border: 1px solid $athens-gray-color;
    border-top: none;
    border-radius: 0px 0px 16px 16px;
    overflow: auto;
    padding: 4px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-top: 20px;

    @include custom-scroll;


    &::-webkit-scrollbar {
      background-color: rgba($white-color, 0) !important;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba($white-color, 0) !important;
    }

    &::-webkit-scrollbar-thumb {
      height: auto !important;
    }

    @include mediaMinMax(1025, $normal) {
      height: 7.813vw;
      top: 3.2vw;
      border-radius: 0px 0px 0.83vw 0.83vw;
      padding: 0.2vw;
      padding-top: 1.042vw;
    }
  }

  &__list-item {
    width: 100%;
    background: $catskill-white-color;
    outline: none;
    border: none;
    height: 40px;
    min-height: 40px;
    border-radius: 16px;
    font-size: 1.0625rem;
    line-height: 32px;

    @include mediaMinMax(1025, $normal) {
      height: 2.08vw;
      min-height: 2.08vw;
      border-radius: 0.83vw;
      font-size: 0.88vw;
      line-height: 1.66vw;
    }

    &:hover {
      background: $athens-gray-color;
    }
  }
}
