@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.order {
  position: relative;

  &__controls-container {
    padding: 30px 4%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    background-color: $wild-sand-color;

    @include media($small) {
      padding: 15px 10%;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    text-align: left;

    @include media($small) {
      max-width: 650px;
      margin: 15px auto;
      width: 100%;
    }
  }

  &__legend {
    margin-bottom: 12px;
  }

  .order-field {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__field {
    &_img {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 80px;
      background: $wild-sand-color;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }

  &_personal {
    min-height: 150px;
    flex-direction: column;
  }

  &_img {
    max-height: 100%;
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img-container {
    overflow: hidden;
    position: relative;
  }

  &__img {
    min-width: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  &__block-text {
    position: absolute;
    left: 19%;
    top: 23%;
    width: 60%;
    display: flex;
    justify-content: center;
  }

  &__img-text {
    margin: 0;
    color: $white-color;
    font-size: 0.73rem;
    transform: skewX(10deg);
  }

  &__box-text {
    position: absolute;
    bottom: 10%;
    background-color: $white-color;
  }

  &__box-icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  &__submit-container {
    padding: 20px 4%;
    display: flex;
    color: $white-color;
    background-color: $dark-slate-blue-color;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media($mini) {
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
    }

    @include mediaMin($small) {
      flex-wrap: nowrap;
    }
  }

  &__summary-container {
    text-align: left;
    width: calc(50% - 20px);

    @include mediaMin($small) {
      padding: 0 0 0 30px;
      width: calc(33% - 20px);
    }

    @include media($mini) {
      width: 100%;
      margin-top: 20px;
    }

    &:first-child {
      @include media($mini) {
        margin-top: 0;
      }
    }

    &_center {
      margin: 0 auto;
    }
  }

  &__summary-title,
  &__summary-text,
  &__price-title,
  &__price-value {
    margin: 0;
  }

  &__price-container {
    text-align: left;
    margin-right: 20px;
    white-space: nowrap;
  }

  &__submit {
    display: flex;
    align-items: center;

    @include mediaMin($small) {
      padding: 0 0 0 30px;
      width: calc(33% - 20px);
    }

    @include media($small) {
      margin: 20px auto 0 auto;
    }
  }


  &__price-title,
  &__summary-text {
    font-size: 16px;
    line-height: 1.57;
    font-weight: $light;
  }

  &__price-value {
    font-size: 1.875rem;
    line-height: 1.25;
    font-weight: $medium;
  }

  &__summary-title {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: $medium;
  }

  &__summary-text-title {
    font-size: 16px;
    line-height: 2;
    font-weight: $medium;
  }

  &__popup {
    padding: 30px 4%;
    background-color: $wild-sand-color;
    display: flex;
    justify-content: center;
  }

  &__popup-image {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__popup-close-bar {
    background: $white-color;
    width: 50px;
    padding-top: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__close-icon {
    display: flex;
    justify-content: center;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    white-space: nowrap;
    margin: auto 0;
  }
}


