@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.visit-block{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media($small) {
    margin-top: 100px;

    @include custom-scroll;
  }

  @include media($xlmini) {
    margin-top: 60px;
  }

  @include media($mini) {
    margin-top: 40px;
  }

  &__title {
    font-weight: $black;
    font-size: 2.5rem;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1px;
    color: $black-color;
    margin-bottom: 50px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax(1025, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.6vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 30px;
      max-width: 90vw;
    }

    @include media($xlmini) {
      white-space: initial;
    }
  }

  &__description {
    align-items: center;
    text-align: center;
    color: $scarpa-flow-gray-color;
    width: 1249px;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 140px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      width: 65vw;
      margin-bottom: 7.29vw;
    }

    @include media($small) {
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
      max-width: 80vw;
      margin-bottom: 90px;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 2.864vw;
      margin-bottom: 50px;
    }

    @include media($xlmini) {
      line-height: 3.97vw;
      letter-spacing: 0.147vw;
      font-size: 2.795vw;
    }

    @include media($xmini) {
      text-align: center;
      line-height: 4.65vw;
      letter-spacing: 0.17vw;
      font-size: 3.27vw;
    }

    @include media($mini) {
      line-height: 5.625vw;
      letter-spacing: 0.2vw;
      font-size: 3.95vw;
    }
  }

  &__container {
    display: flex;
    position: relative;
    width: 1118px;
    margin: 0 auto 193px;
    justify-content: center;

    @include mediaMinMax($small, $normal) {
      width: 60vw;
      margin:0 auto 10.05vw;
    }

    @include media($small) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin: 0 0 90px 0;
      padding: 0 40px;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    @include media($xsmall) {
      margin: 0 0 90px 0;
      max-width: 688px;
      padding: 0;
      flex-direction: column;
      align-items: center;
    }

  }

  &__element {
    background-color: $white-color;
    box-shadow: 30px 100px 100px rgba($black-color, 0.03);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 45px;
    min-width: 473px;
    padding-top: 22px;

    @include mediaMinMax($small, $normal) {
      border-radius: 2.08vw;
      margin: 0 2.34vw;
      min-width: 24.635vw;
      padding-top: 1.146vw;
    }

    @include media($small) {
      border-radius: 28px;
      margin: 16px;
      min-width: 334px;
      padding-top: 14px;
      margin-bottom: 55px;
    }

    @include media($xsmall) {
      margin-bottom: 30px;
    }

    @include media($xlmini) {
      border-radius: 28px;
      margin: 16px;
      min-width: 334px;
      padding-top: 14px;
    }

    &:nth-child(2) {
      @include media($xlmini) {
        margin-bottom: 20px;
      }
    }
  }




  &__element-title {
    font-weight: $bold;
    font-size: 1.625rem;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1px;
    color: $black-color;
    margin-bottom: 12px;
    margin-top: 24px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 1.35vw;
      line-height: 1.87vw;
      margin-bottom: 0.62vw;
      margin-top: 1.250vw;
    }

    @include media($small) {
      font-size: 1.25rem;
      line-height: 27px;
      text-align: center;
      letter-spacing: 1px;
      margin-bottom: 10px;
      margin-top: 0;
      margin-top: 24px;
    }
  }

  &__element-description {
    font-weight: $medium;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    color: $scarpa-flow-gray-color;
    margin-bottom: 30px;
    width: 407px;
    height: 72px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
      line-height: 1.25vw;
      letter-spacing: 0.052vw;
      margin-bottom: 1.56vw;
      width: 21.198vw;
      height: 3.750vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.8px;
      margin-bottom: 20px;
      max-width: 278px;
      white-space: initial;
      width: 278px;
      height: 110px;
    }
  }

  &__element-button {
    margin-bottom: 50px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 2.6vw;
    }

    @include media($small) {
      margin-bottom: 30px;
    }
  }

  &__first-element-square {
    position: absolute;
    z-index: -1;
    background: $azalea-light-pink-color;
    border-radius: 37px 0 0 0;
    width: 360px;
    height: 459px;
    left: -75px;
    top: -50px;

    @include mediaMinMax($small, $normal) {
      width: 18.75vw;
      height: 23.9vw;
      left: -3.9vw;
      top: -2.6vw;
    }

    @include media($small) {
      width: 210px;
      height: 300px;
      left: -20px;
      top: -20px;
    }
  }

  &__first-element-stripe {
    position: absolute;
    z-index: -1;
    background: $coconut-cream-yellow-color;
    border-radius: 30px;
    width: 240px;
    height: 231px;
    right: -60px;
    bottom: -53px;

    @include mediaMinMax($small, $normal) {
      width: 12.5vw;
      height: 12.03vw;
      right: -3.125vw;
      bottom: -2.76vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__second-element-square {
    position: absolute;
    z-index: -1;
    background: $polar-light-blue-color;
    border-radius: 30px;
    width: 240px;
    height: 231px;
    left: -60px;
    top: -63px;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.56vw;
      width: 12.5vw;
      height: 12.03vw;
      left: -3.125vw;
      top: -3.28vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__second-element-stripe {
    position: absolute;
    z-index: -1;
    background: $paris-white-color;
    border-radius: 0 0 0 47px;
    width: calc(100vw / 2);
    height: 380px;
    left: 50%;
    bottom: -53px;

    @include mediaMinMax($small, $normal) {
      height: 19.79vw;
      bottom: -2.7vw;
    }

    @include media($xsmall) {
      bottom: -30px;
    }
  }

  &__square {
    width: 141px;
    height: 141px;
    position: absolute;
    z-index: -1;
    background: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.1);
    border-radius: 27px;
    top: -260px;
    right: -234px;
  }

  &__image {
    width: 429px;
    height: 429px;
    object-fit: cover;
    object-position: center;
    border-radius: 18px;

    @include mediaMinMax($small, $normal) {
      width: 22.34375vw;
      height: 22.34375vw;
      border-radius: 0.9375vw;
    }

    @include media($small) {
      width: 306px;
      height: 306px;
      border-radius: 13px;
    }
  }
}
