@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.easy-steps {
  display: flex;
  justify-content: center;
  padding-bottom: 130px;
  padding-top: 90px;

  @include mediaMinMax($small, $normal) {
    padding-bottom: 6.77vw;
    padding-top: 4.68vw;
  }

  @include media($small) {
    padding: 70px 0 60px 0;
  }

  @include media($xmini) {
    padding: 35px 0;
  }

  &__wrapper {
    margin: 0 auto;
    width: 1532px;

    @include mediaMinMax($small, $normal) {
      width: 79.79vw;
    }

    @include media($small) {
      width: calc(100% - 40px);
    }
  }

  &__title {
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin: auto;
      margin-bottom: 20px;
      max-width: 90vw;
    }

    @include media($xlmini) {
      margin-bottom: 50px;
      max-width: 80vw;
    }
  }

  &__cards {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1532px;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media($small) {
      justify-content: center;
    }

    @include media($xlmini) {
      display: grid;
      grid-template-columns: repeat(2, 176px);
      justify-content: center;
    }
  }

  &__background-stripe {
    position: absolute;
    top: -54px;
    right: -71px;
    height: 249px;
    width: 100vw;
    z-index: -1;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;

    @include mediaMinMax($small, $normal) {
      top: -2.81vw;
      right: -3.69vw;
      height: 12.96vw;
      border-top-right-radius: 2.29vw;
      border-bottom-right-radius: 2.29vw;
    }

    @include media($small) {
      border-top-right-radius: 28px;
      border-bottom-right-radius: 28px;
      height: 155px;
      right: 0;
      top: -20px;
    }

    @include media($xlmini) {
      height: 370px;
      right: -20px;
    }
  }

  &__card-wrapper {
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;

    @include media($small) {
      margin: 8px;
    }
  }

  &__card-number {
    position: absolute;
    background-color: $white-color;
    border: 2px solid $athens-gray-color;
    box-shadow: -10px 12px 20px rgba($black-color, 0.03);
    width: 64px;
    height: 64px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -13px;
    right: -20px;
    font-size: 1.5rem;
    font-weight: $black;
    line-height: 33px;

    @include mediaMinMax($small, $normal) {
      width: 3.33vw;
      height: 3.33vw;
      border-radius: 1.66vw;
      top: -0.67vw;
      right: -1.04vw;
      font-size: 1.25vw;
      line-height: 1.71vw;
    }

    @include media($small) {
      width: 40px;
      height: 40px;
      top: -12px;
      right: -12px;
    }
  }

  &__description {
    text-align: center;
    max-width: 70vw;
    margin: auto;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    margin-bottom: 90px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      margin-bottom: 4.68vw;
    }

    @include media($small) {
      max-width: 80vw;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
      margin-bottom: 6.83vw;
    }

    @include media($xsmall) {
      margin-bottom: 9.11vw;
      letter-spacing: 0.13vw;
      max-width: 90vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 18px;
    }

    @include media($xlmini) {
      line-height: 3.97vw;
      letter-spacing: 0.147vw;
      margin-bottom: 10.29vw;
    }

    @include media($xmini) {
      text-align: center;
      margin-bottom: 40px;
      max-width: 90%;
      line-height: 24px;
      letter-spacing: 1px;
      margin-bottom: 12vw;
    }

    @include media($mini) {
      line-height: 24px;
    }

    &_after {
      @include media($xlmini) {
        display: none;
      }
    }

    &_before {

      @include mediaMin($xlmini) {
        display: none;
      }
      @include media($xlmini) {
        margin-top: 15px;
        margin-bottom: 0 !important;
      }
    }
  }

  &__scrollBtn {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @include mediaMinMax($small,$normal) {
      margin-top: 2.083vw;
    }
  }
}
