
div.awssld {
  height: 100%;
}

div.awssld.awssld--organic-arrows {
  height: calc(100% - 70px);

  @media screen and (max-width: 480px) {
    height: calc(100% - 50px);
  }
}

div.awssld__content {
  background: transparent;
  width: 1244px;
  margin: 0 auto;
  position: relative;
  padding: 169px 0 169px 0;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: initial;

  @media screen and (min-width: 1025px) and (max-width: 1920px) {
    width: 64.79vw;
    padding: 8.8vw 0 169px 0;
  }

  @media screen and (max-width: 1024px) {
    width: 78.12vw;
  }

  @media screen and (max-width: 580px) {
    width: 94.66vw;
  }
}

div.awssld__content > img {
  object-fit: contain;
  position: initial;

  @media screen and (min-width: 1025px) and (max-width: 1920px) {
    max-width: 64.79vw;
  }
}

div.awssld__content > video {
  object-fit: contain;
  position: absolute !important;
}

.awssld__controls {
  button.awssld__next {
    right: 235px;
    width: fit-content;

    @media screen and (min-width: 1025px) and (max-width: 1920px) {
      right: 12.23vw;
    }

    @media (max-width: 1024px) {
      right: 5.07vw;
    }

    @media (max-width: 580px) {
      right: 21.86vw;
      bottom: 110px;
      top: auto;
      height: fit-content;
    }
  }

  button.awssld__prev {
    left: 235px;
    width: fit-content;

    @media screen and (min-width: 1025px) and (max-width: 1920px) {
      left: 12.23vw;
    }

    @media (max-width: 1024px) {
      left: 5.07vw;
    }

    @media (max-width: 580px) {
      left: 21.86vw;
      bottom: 110px;
      top: auto;
      height: fit-content;
    }
  }
}


@media (max-width: 520px) {
  div.awssld__controls {
    visibility: visible;
  }
}

div.awssld__box {
  display: flex;
  justify-content: center;
  align-items: center;
}