@import "src/styles/variables.scss";
@import 'src/styles/media.scss';

.slideshow-block {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(49, 77, 97, 0.8);
  backdrop-filter: blur(25px);
  z-index: 1000;

  &__audio {
    outline: none;
    width: 100%;
    border-radius: 30px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 1.56vw;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
    max-width: 1244px;

    @include mediaMinMax(1025, $normal) {
      max-width: 64.79vw;
    }
  }

  &__close-btn {
    border: none;
    padding: 0;
    background-color: rgba($athens-gray-color , 0);
    border-radius: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 30px;
      height: 30px;
    }

    @include mediaMinMax(1025, $normal) {
      width: 1.66vw;
      height: 1.66vw;

      svg {
        width: 1.66vw;
        height: 1.66vw;
      }
    }
  }

  &__close-wrap {
    position: absolute;
    top: 61px;
    right: 194px;
    z-index: 3;
    display: flex;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      top: 3.17vw;
      right: 10.1vw;
    }

    @include media($small) {
      right: 20px;
      top: 60px;
    }
  }

  &__play-btn {
    border: none;
    padding: 0;
    z-index: 3;
    background: transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  &__close-icon,
  &__play-icon {
    width: 60px;
    height: 60px;
  }

  &__left,
  &__right {
    content: '';
    opacity: 1;
    height: 50px;
    width: 25px;
    display: block;
    position: relative;
    overflow: hidden;

    @include mediaMinMax(1025, $normal) {
      height: 2.6vw;
      width: 1.3vw;
    }

    @include media($small) {
      height: 30px;
      width: 15px;
    }
  }

  &__left:before,
  &__left:after,
  &__right:before,
  &__right:after {
    content: '';
    width: 6px;
    height: 100%;
    background-color: $turquoise-color;
    border-radius: 3px;
    position: absolute;
  }

  &__right:before{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 50%;
    top: -16px;
  }

  &__right:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 50%;
    top: calc(50% - 10px);
  }

  &__left:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 50%;
    top: -16px;
  }

  &__left:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 50%;
    top: calc(50% - 10px);
  }

  &__audio-wrapper {
    position: absolute;
    border: 0;
    outline: none;
    border-radius: 30px;
    bottom: 0;
    width: 100%;
    max-width: 1244px;

    @include mediaMinMax(1025, $normal) {
      max-width: 64.79vw;
    }
  }

  &__video-wrapper {
    position: initial;
    border: 0;
    outline: none;
    border-radius: 30px;
    bottom: 0;
    width: 100%;
    max-width: 1139px;
  }

  &__close-text {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5625px;
    color: $white-color;
    margin-right: 12px;
    display: flex;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.4vw;
      margin-right: 0.625vw;
    }
  }

  &__play-text {
    font-size: 1.25rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $white-color;
  }

  &__play-btn-wrap {
    position: absolute;
    bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__close-video-wrap {
    position: absolute;
    top: 50px;
    right: -100px;
    z-index: 3;
    display: flex;
    justify-content: center;
  }

  &__play-image-btn-wrap {
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__left {
    transform: rotate(180deg);
  }
}
