@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.faq-component {
  padding-top: 140px;

  @include mediaMinMax($small, $normal) {
    padding-top: 7.29vw;
  }

  @include media($small) {
    padding-bottom: 50px;
  }

  @include media($xsmall) {
    padding-top: 60px;
  }

  @include media($xlmini) {
    padding-top: 30px;
  }

  &__about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1570px;
    margin: 0 auto;

    @include mediaMinMax($small, $normal) {
      width: 81.77vw;
    }

    @include media($small) {
      width: calc(100% - 40px);
    }
  }

  &__about-title {
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    white-space: pre-wrap;
    text-align: center;
    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
      white-space: initial;
    }
  }

  &__about-description {
    margin: auto;
    text-align: center;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    margin-bottom: 53px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      margin-bottom: 2.76vw;
    }

    @include media($small) {
      max-width: 80%;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: initial;
      margin-bottom: 30px;
      @-moz-document url-prefix() {
        white-space: initial;
      }
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      max-width: 90%;
      line-height: 3.51vw;
      font-size: 18px;
    }

    @include media($xlmini) {
      line-height: 24px;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    @include media($xmini) {
      text-align: center;
      line-height: 24px;
      letter-spacing: 1px;
    }

    @include media($mini) {
      line-height: 24px;
      letter-spacing: 1px;
    }

    &_digitize {
      max-width: 1200px;

      @include mediaMinMax($small, $normal) {
        max-width: 62vw;
      }

      @include media($small) {
        max-width: 90vw;
      }
    }
  }

  &__about-text {
    font-weight: $medium;
    font-size: 17px;
    line-height: 36px;
    letter-spacing: 1px;
    padding: 0 13px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.875vw;
      padding: 0 0.677vw;
    }

    @include media($small) {
      padding: 0 16px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.7px;
    }

    @include media($xlmini) {
      padding: 0;
    }
  }

  &__btn {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
