@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.custom-select {
  position: relative;
  width: 100%;
  height: 60px;
  min-width: 100%;
  background-color: $catskill-white-color;
  border-radius: 14px;
  border: 1px solid $athens-gray-color;

  &_menu-opened {
    &::after {
      position: absolute;
      content: '';
      height: 50%;
      width: 100%;
      bottom: -5px;
      background-color: $catskill-white-color;
      border-left: 1px solid $athens-gray-color;
      border-right: 1px solid $athens-gray-color;
      z-index: -1;
    }
  }

  @include mediaMinMax($small, $normal) {
    height: 3.125vw;
    border-radius: 0.72vw;
  }

  &__select {
    outline: none;
    display: flex;
    height: 100%;
    padding: 0 20px;

    @include mediaMinMax($small, $normal) {
      padding: 0 1.04vw;
    }
  }

  &__select__menu-list::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &__select__menu-list::-webkit-scrollbar-track {
    background: $athens-gray-color;
    margin: 4px;
    border-radius: 3px;

  }
  &__select__menu-list::-webkit-scrollbar-thumb {
    background: $cadet-blue-color;
    border-radius: 3px;
  }

  &__select__menu-list::-webkit-scrollbar-thumb:hover {
    background: $cadet-blue-color;
  }

  &__select_round#{&__select} .custom-select__select {

    &__control--menu-is-open {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    &__menu-list::-webkit-scrollbar-track {
      margin: 15px;
    }
  }

  &_red-border {
    border-color: $burnt-sienna-color;
  }

  &__error {
    position: absolute;
    top: calc(100% + 5px);
    left: 20px;
    color: $burnt-sienna-color;
    font-size: 0.75rem;
    line-height: 16px;
    letter-spacing: 0.5px;

    @include mediaMinMax($small, $normal) {
      top: calc(100% + 5px);
      left: 1.04vw;
      font-size: 0.625vw;
      line-height: 0.83vw;
    }
  }
}
