@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.polaroid-image-slider-with-compare {
  max-width: 568px;
  max-height: 650px;
  width: 30vw;
  min-width: 334px;
  min-height: 408px;
  height: 35vw;
  box-shadow: 20px 20px 100px rgba($black-color, 0.08);
  background-color: $white-color;
  border-radius: 28px;
  padding: 22px;

  @include media($small) {
    padding: 18px 18px 20px 18px;
    border-radius: 16px;
  }


  .slick-arrow::before {
    display: none;
  }

  &__arrow {
    display: block;

    &_prev .svg {
      transform: rotate(180deg);
    }
  }

  &__inner-slide {
    width: 524px;
    max-height: 524px;
    min-height: 298px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__slider-description {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    line-height: 24px;
    font-weight: $bold;
    margin: 5px 0;
    position: relative;
    user-select: text;

    @include mediaMinMax($small, $normal) {
      font-size: 1.04vw;
      line-height: 1.25vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.9px;
    }

    @include media($xsmall) {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.9px;
    }
  }

  &__arrow-btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;

    svg {
      width: 52px;
      height: 52px;

      @include mediaMinMax(1025, $normal) {
        width: 2.708vw;
        height: 2.708vw;
      }

      @include media($small) {
        width: 40px;
        height: 40px;
      }

    }

    &_prev {
      margin-right: 55px;

      @include mediaMinMax($xsmall, $normal) {
        margin-right: 2.86vw;
      }

      @include media($xsmall) {
        margin-right: 29px;
      }
    }

    &_next {
      margin-left: 55px;

      @include mediaMinMax($xsmall, $normal) {
        margin-left: 2.86vw;
      }

      @include media($xsmall) {
        margin-left: 29px;
      }
    }
  }

  &__arrow-icon {
    &_prev {
      transform: rotate(180deg);
    }

    &:hover {
      rect {
        fill: $athens-gray-color;
      }
    }
  }

  &__dot-block {
    display: flex;
  }

  &__dot-wrap {
    width: 20px;
    height: 20px;
    min-width: 10px;
    min-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 2px;
    border: none;
    outline: none;
    background-color: transparent;

    @include mediaMinMax($xsmall, $normal) {
      width: 1.04vw;
      height: 1.04vw;
    }

    @include media($xsmall) {
      width: 10px;
      height: 10px;
    }

    &:first-child {
      margin-left: 0;
    }

    &_select {
      border: 1px solid $athens-gray-color;
    }
  }

  &__dot {
    width: 10px;
    height: 10px;
    min-width: 5px;
    min-height: 5px;
    border-radius: 50%;
    background-color: $light-silver-green-color;

    @include mediaMinMax($xsmall, $normal) {
      width: 0.52vw;
      height: 0.52vw;
    }

    @include media($xsmall) {
      width: 5px;
      height: 5px;
    }

    &_select {
      background-color: $rhino-blue-color;
      box-shadow: 5px 5px 42px rgba($black-color, 0.15);
    }
  }

  &__card &__inner-slide {
    display: block;
    width: 100%;
  }

  &__dots {
    bottom: -30px;
    width: 100%;
    position: absolute;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 5px 10px;
      padding: 0;
      cursor: pointer;

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 8px;
        height: 8px;
        padding: 5px;
        cursor: pointer;
        border: 1px solid;
        border-radius: 8px;
        color: $dark-slate-blue-color;
        outline: 0;
        background: 0 0;
      }
    }

    .slick-active button {
      background: $dark-slate-blue-color;
    }
  }

  & .slick-slide {
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__inner-wrapper {
    position: relative;
  }

  &__inner-compare-wrapper {
    position: absolute;
    top: 0;
  }

  &__inner-compare-slide {
    width: 524px;
    max-height: 524px;
    min-height: 298px;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
    border-radius: 16px;
  }

  &__compare-btn {
    width: 24px;
    height: 50px;
    background-color: $white-color;
    border-radius: 16px;
    position: absolute;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__compare-btn-line {
    width: 8px;
    height: 2px;
    border-radius: 2px;
    background-color: $dusty-gray-color;
    margin: 2px 0;
  }

  &__block-slider {
    @include media($xmini) {
      min-height: 327px;
    }
  }

  .slick-slide &__card {
    display: none !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 560px;
    max-height: 300px;
    min-width: 280px;
  }

  .slick-active &__card {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 560px;
    max-height: 300px;
    min-width: 280px;
  }
}
