@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.proofs {
  width: 100%;
  display: none;

  @include media($small) {
    width: 100%;
    margin: 0 auto;
    max-width: none;
  }

  @include media($xsmall) {
    padding: 20px 0 0;
  }

  &_isComponentShow {
    display: block;
  }

  &__slider-wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid $bluey-grey-color;

    @include mediaMinMax($small, $normal) {
      padding-bottom: 1.0416vw;
    }
  }

  &__image-select-wrapper {
    width: 60%;

    @include media($small) {
      width: 100%;
    }
  }

  &__btn {
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid $bluey-grey-color;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.0416vw;
    }
  }

  &__image-select {
    display: flex;
    border: 1px solid $bluey-grey-color;
  }

  &__image-select-view {
    width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include mediaMinMax($small, $normal) {
      height: 20.8333vw;
    }
  }

  &__image-info {
    padding: 40px 0;
    display: flex;

    @include mediaMinMax($small, $normal) {
      padding: 2.0833vw 0;
    }

    @include media($small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image-versions {
    display: flex;
    flex-direction: column;
  }

  &__image-version {
    margin: 10px auto;

    @include mediaMinMax($small, $normal) {
      padding: 0.5208vw auto;
    }
  }

  &__image-approve {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    max-height: 400px;

    @include mediaMinMax($small, $normal) {
      padding: 0.5208vw auto;
    }

    @include media($small) {
      width: 100%;
    }
  }

  &__image-check-icon {
    margin-right: 10px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.5208vw;
    }
  }

  &__image-approve-text {
    margin: 20px 0;
    white-space: pre-line;
    text-align: center;

    @include mediaMinMax($small, $normal) {
      margin: 1.0416vw 0;
    }
  }

  &__image-approve-title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    color: $shark-gray-color;
    margin-bottom: 14px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.71875vw;
      margin-bottom: 0.7291vw;
    }
  }

  &__image-approve-subtitle {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 23px;
    text-align: center;
    color: $burnt-sienna-color;
    margin-bottom: 32px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      line-height: 1.1979vw;
      margin-bottom: 1.6666vw;
    }
  }

  &__image-approve-btn {
    margin-bottom: 20px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.04vw;
      padding: 0.9895vw 1.1979vw !important;
      border-radius: 0.5208vw !important;
      font-size: 0.8854vw !important;
      line-height: 1.40625vw !important;
    }
  }

  &__image-request-btn {
    padding: 19px 34px !important;
    margin-bottom: 20px;
    background-color: $athens-gray-color !important;
    color: $light-slate-gray-color !important;

    &:hover {
      background-color: $iron-gray-color !important;
      box-shadow: 0 10px 25px rgba($iron-gray-color, 0.2) !important;
    }

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.04vw;
      padding: 0.9895vw 1.77vw !important;
      border-radius: 0.5208vw !important;
      font-size: 0.8854vw !important;
      line-height: 1.40625vw !important;
    }
  }

  &__image-photo-art-btn.btn,
  &__image-download-btn.btn {
    margin: 20px 0;
    height: 48px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    padding: 0 10px;

    @include mediaMinMax($small, $normal) {
      margin: 1.0416vw 0;
      height: 2.5vw;
      width: 10.4166vw;
      border-radius: 1.125vw;
      padding: 0 0.5208vw;
    }

    @include media($mini) {
      margin: 10px 0;
    }
  }

  &__image-download-btn.btn {
    margin-right: 35px;

    @include mediaMinMax($small, $normal) {
      margin-right: 1.8229vw;
    }

    @include media($mini) {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__download-icon {
    width: 35px;
    height: 35px;
    margin-right: 5px;

    @include mediaMinMax($small, $normal) {
      width: 1.8229vw;
      height: 1.8229vw;
      margin-right: 0.2604vw;
    }
  }

  &__image-request {
    outline: none;
    cursor: pointer;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $light-slate-gray-color;
    background-color: $white-color;
    border: 2px solid $athens-gray-color;
    border-radius: 10px;
    width: 143px;
    height: 47px;
    margin-bottom: 20px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      line-height: 1.40625vw;
      border-radius: 0.5308vw;
      width: 7.4479vw;
      height: 2.4479vw;
      margin-bottom: 1.0416vw;
    }

    &:disabled {
      opacity: 0.6;
      cursor: default;
    }
  }

  &__message-history-button {
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
    text-decoration: underline;
    font-weight: $medium;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5px;
    color: $gull-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8333vw;
      line-height: 1.40625vw;
    }
  }

  &__popup {
    display: flex;
    margin-top: -1px;
    background-color: $white-color;
    box-shadow: 0 2px 4px 0 rgba($black-color, 0.1);
  }

  &__compare-images {
    display: flex;
    justify-content: center;
    width: 100%;

    @include media($small) {
      flex-direction: column;
    }
  }

  &__compare-image {
    width: 50%;
    object-fit: contain;
    object-position: center;

    @include media($small) {
      width: 100%;
    }
  }

  &__close-icon {
    margin: 20px 43px;

    @include mediaMinMax($small, $normal) {
      margin: 1.0416vw 2.2395vw;
    }

    @include media($small) {
      margin: 10px;
    }
  }

  &__image-approve-link {
    text-decoration: none;
  }

  &__alert {
    margin-bottom: 20px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.0416vw;
    }
  }

  &__navigation.wizard-navigation {
    border-top: none;
    border-bottom: none;
    width: 100%;
    max-width: 1225px;
    transform: translateX(-5px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;

    @include mediaMinMax($small, $normal) {
      max-width: 63.802vw;
      transform: translateX(-0.2604vw);
      margin-bottom: 0.2604vw;
    }

    @include media($mini) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &__navigation-btn {

    @include mediaMin($small) {
      width: 33%;
    }
  }

  &__slider {
    width: 100%;
  }

  &__border-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 25px 20px;
    border: 1px solid $iceberg-color;
    border-radius: 8px;
    box-shadow: 0 3px 8.7px 0.3px rgba($black-color, 0.09);

    @include mediaMinMax($small, $normal) {
      padding: 1.302vw 1.0416vw;
      border-radius: 0.4166vw;
    }

    @include media($small) {
      border: none;
      box-shadow: none;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  &__slider-wrap {
    width: 100%;
    max-width: 1303px;
    margin: 0 auto;

    @include mediaMinMax($small, $normal) {
      max-width: 67.8645vw;
    }
  }

  &__content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1532px;

    @include mediaMinMax($small, $normal) {
      max-width: 79.7916vw;
    }

    @include media($small) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &_content-block-center {
      justify-content: center;
    }
  }

  &__in-process-block {
    display: flex;
    margin-top: 50px;

    @include mediaMinMax($small, $normal) {
      margin-top: 2.6041vw;
    }

    @include media($xsmall) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__in-process-image {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 75px;

    @include mediaMinMax($small, $normal) {
      width: 7.8125vw;
      height: 7.8125vw;
      margin-right: 3.90625vw
    }

    @include media($mini) {
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__in-process-big-text {
    font-size: 1.875rem;
    margin-bottom: 25px;
    color: $turquoise-color;
    text-align: center;

    @include mediaMinMax($small, $normal) {
      font-size: 1.5625vw;
      margin-bottom: 1.302vw;
    }

    @include media($mini) {
      font-size: 1.125rem;
      margin-bottom: 15px
    }
  }

  &__in-process-text {
    margin: 15px 0;
    font-size: 16px;
    text-align: center;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    color: $dov-gray-color;
    font-weight: $medium;

    @include mediaMinMax($small, $normal) {
      margin: 0.78125vw 0;
      font-size: 0.8333vw;
    }

    @include media($mini) {
      font-size: 0.75rem;
      margin: 10px 0;
      white-space: normal;
    }
  }

  &__in-process-title {
    font-size: 16px;
    text-align: center;
    color: $dov-gray-color;
    font-weight: $extraMedium;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8333vw;
    }

    @include media($mini) {
      font-size: 0.75rem;
    }
  }

  &__await-approve {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px 30px;
    position: relative;

    @include mediaMinMax($small, $normal) {
      padding: 1.0416vw 1.5625vw;
    }

    .photo-art-collections_popup {
      position: absolute;
      width: 100%;
      height: auto;
      left: 0;
      top: 0;
    }

    @include media($small) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__card-wrap {
    display: flex;

    @include media($xsmall) {
      flex-direction: column;
      align-items: center
    }
  }

  &__original-card {
    margin-right: 30px;

    @include mediaMinMax($small, $normal) {
      margin-right: 1.5625vw;
    }

    @include media($small) {
      margin-right: 20px;
    }
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid $athens-gray-color;
    border-radius: 30px;
    background-color: $white-color;
    padding: 50px 28px;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.5625vw;
      padding: 2.6041vw 1.4583vw;
    }
  }

  &__card-name {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    color: $shark-gray-color;
    margin-bottom: 30px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.5625vw;
      font-size: 1.25vw;
      line-height: 1.71875vw;
    }
  }

  &__request-wrap {
    height: 100%;
    width: 100%;
  }

  &__request-form {
    width: 100% !important;
    height: 100%;
    margin: 0;
    background-color: $white-color;
    justify-content: flex-start;
  }

  &__original-block {
    @include media($small) {
      display: none;
    }
  }

  &__popup-block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__popup-content {
    width: 100%;
    height: 100%;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__border-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 390px;
    border: 1px solid $athens-gray-color;
    border-radius: 30px;
    padding: 50px 28px;

    @include mediaMinMax($small, $normal) {
      width: 18.75vw;
      height: 20.3125vw;
      border-radius: 1.5625vw;
      padding: 2.6041vw 1.4583vw;
    }

    @include media($small) {
      width: 100%;
    }
  }

  &__popup-text {
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8333vw;
      line-height: 1.14583vw;
      margin-bottom: 2.0833vw;
    }
  }

  &__popup-confirm-text {
    margin-top: 30px;

    @include mediaMinMax($small, $normal) {
      margin-top: 1.5625vw;
    }
  }

  &__close-btn {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__create-photo-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    .photo-art-collections {
      max-width: 1240px;

      @include mediaMinMax($small, $normal) {
        font-size: 0.8333vw;
        line-height: 1.14583vw;
        margin-bottom: 2.0833vw;
      }
    }
  }

  div#{&__download-popup} {
    position: fixed;
  }

  &__top-block {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      padding: 1.5625vw 0;
    }

    @include media($mini) {
      flex-direction: column;
    }

    @include media($small) {
      padding: 0;
      margin-bottom: 20px;
    }
  }

  &__last-step-title {
    font-size: 1.875rem;
    color: $turquoise-color;
    margin-bottom: 25px;
    text-align: center;

    @include mediaMinMax($small, $normal) {
      font-size: 1.5625vw;
      margin-bottom: 1.302vw;
    }
  }

  &__last-step-text {
    text-align: center;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    color: $dov-gray-color;
    margin-bottom: 15px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.78125vw;
    }
  }

  div#{&__collection-popup} {
    position: absolute;
    width: calc(100% - 206px);
    height: auto;
    left: auto;
    top: 0;
    right: 0;

    @include mediaMinMax($small, $normal) {
      width: calc(100% - 10.8291vw);
    }

    @include media($xnormal) {
      display: none;
    }
  }

  div#{&__mobile-collection-popup} {
    display: none;

    @include media($small) {
      display: flex;
      position: absolute;
      height: calc((100vw - 40px) / 1.327);
      min-height: 462px;
      width: 100%;
      justify-content: center;
      left: 0;
      top: 0;
    }
  }

  &__images-block {
    width: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 62px;
    justify-content: flex-start;
    height: 660px;

    @include mediaMinMax($small, $normal) {
      width: 7.5vw;
      margin-right: 3.2291vw;
      height: 34.375vw;
    }

    @include media($small) {
      width: 100%;
      height: auto;
      margin-right: 0;
    }
  }

  &__image-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height:616px;
    overflow-y: auto;

    @include custom-scroll;

    @include mediaMinMax($small, $normal) {
      max-height:32.0833vw;
    }

    @include media($small) {
      flex-direction: row;
      overflow-x: auto;
      overflow-y: visible;
      max-height: auto;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 10px;
    }
  }

  &__image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6px;
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.3125vw;
    }

    @include media($small) {
      margin-right: 10px;
      margin-bottom: 0;
    }

    &:last-child {
      @include media($small) {
        margin-right: 0;
      }
    }
  }

  &__image {
    width: 144px;
    height: 130px;
    background-position: center;
    background-size: cover;
    border-radius: 13px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @include mediaMinMax($small, $normal) {
      width: 7.5vw;
      height: 6.7708vw;
      border-radius: 0.677vw;
      margin-bottom: 0.1041vw;
    }

    &_selected {
      border: 4px solid $summer-green-color;

      @include mediaMinMax($small, $normal) {
        border-width: 0.2083vw;
      }
    }
  }

  &__image-text {
    margin-bottom: 12px;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.625vw;
      width: 4.6875vw;
      height: 1.5625vw;
      border-radius: 0.4166vw;
      font-size: 0.7291vw;
      line-height: 0.9895vw;
    }

    &_process {
      color: $light-slate-gray-color;
    }

    &_awaiting {
      color: $burnt-sienna-color;
    }

    &_approved {
      color: $summer-green-color;
    }
  }

  &__image-name {
    font-weight: $bold;
    font-size: 0.8125rem;
    line-height: 18px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.677vw;
      line-height: 0.9375vw;
    }
  }


  &__filter-select {
    margin-bottom: 14px;
    width: 144px;
    height: 30px;
    border: none;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.7291vw;
      width: 7.5vw;
      height: fit-content;
    }

    @include media($small) {
      margin: 0 auto 14px auto;
      min-width: auto;
    }
  }

  &__filter-select-selector {
    padding: 0;
  }

  &__select {
    padding: 0 !important;

    &__control {
      padding: 0 13px 0 18px;
      height: 30px;
      min-height: 30px;
      background: $catskill-white-color;
      border: 1px solid $athens-gray-color;
      box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
      border-radius: 8px !important;

      @include mediaMinMax($small, $normal) {
        padding: 0 0.677vw 0 0.677vw;
        height: 1.5625vw;
        min-height: 1.5625vw;
        border-radius: 0.4166vw !important;
      }
    }

    &__single-value {
      font-weight: $bold;
      font-size: 0.875rem;
      line-height: 19px;
      color: $pickled-bluewood-color;

      @include mediaMinMax($small, $normal) {
        font-size: 0.7291vw !important;
        line-height: 0.9895vw !important;
      }
    }

    &__indicator {
      padding-left: 0 !important;
      padding-right: 0 !important;

      @include mediaMinMax($small, $normal) {
        padding-top: 0.4166vw;
        padding-bottom: 0.4166vw;
      }
    }

    svg.dropdown-indicator {
      @include mediaMinMax($small, $normal) {
        width: 0.8333vw;
        height: 0.46875vw;
      }
    }
  }

  &__photo-version-block {
    width: calc(100vw - 716px);
    max-width: 876px;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $catskill-white-color;
    border-radius: 20px;

    @include mediaMinMax($small, $normal) {
      width: calc(100vw - 37.2916vw);
      max-width: 45.625vw;
      height: 34.375vw;
      border-radius: 1.0416vw;
    }

    @include media($small) {
      width: calc(100vw - 40px);
      height: calc((100vw - 40px) / 1.327);
    }
  }


  &__block-image {
    align-items: center;
    display: flex;
    position: relative;
    min-width: 150px;
    min-height: 150px;
  }

  &__selected-image {
    max-height: 660px;
    max-width: 876px;
    border-radius: 20px;
    object-fit: contain;
    object-position: center;

    @include mediaMinMax($small, $normal) {
      max-width: 45.625vw;
      max-height: 34.375vw;
      border-radius: 1.0426vw;
    }

    @include media($small) {
      max-width: 100%;
      max-height: calc((100vw - 40px) / 1.327);
    }
  }

  &__control-block {
    margin-left: 50px;
    width: 360px;
    height: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    &_full-width {
      width: 100% !important;
    }

    @include mediaMinMax($small, $normal) {
      margin-left: 2.6041vw;
      width: 18.75vw;
      height: 34.375vw;
    }

    @include media($small) {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
      height: auto;
    }
  }

  &__versions-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 3.125vw;
    }

    @include media($small) {
      display: none;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
        margin-bottom: 20px;
      }
    }
  }

  &__versions-block-title {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $light-slate-gray-color;
    margin-bottom: 10px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      line-height: 1.40625vw;
      margin-bottom: 0.5208vw;
    }
  }

  &__versions-block-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 360px;
    position: relative;

    @include mediaMinMax($small, $normal) {
      width: 18.750vw;
    }

    @include media($small) {
      width: 100vw;
    }
  }

  &__original-button {
    width: 90px;

    @include mediaMinMax($small, $normal) {
      width: 4.6875vw;
    }
  }

  &__version-button {
    width: 50px;

    @include mediaMinMax($small, $normal) {
      width: 2.6041vw;
    }
  }

  &__original-button,
  &__version-button {
    background-color: $white-color;
    border-radius: 12px;
    border: 1px solid $athens-gray-color;
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    color: $gull-gray-color;
    outline: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin-right: 4px;
    margin-bottom: 8px;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.625vw;
      font-size: 0.7291vw;
      line-height: 0.9895vw;
      height: 2.2916vw;
      margin-right: 0.2083vw;
      margin-bottom: 0.417vw;
    }

    &:last-child {
      margin-right: 0;
    }

    &_select {
      border: 2px solid $summer-green-color;
      color: $pickled-bluewood-color;
    }
  }

  &__coming-soon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__coming-soon-image {
    width: 180px;
    height: 150px;

    @include mediaMinMax($small, $normal) {
      width: 9.375vw;
      height: 7.8125vw;
    }
  }

  &__coming-soon-text {
    font-weight: $bold;
    font-size: 1.625rem;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.01em;
    color: $darker-cadet-blue-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.3541vw;
      line-height: 1.875vw;
    }
  }

  &__popup-back-icon {
    margin-right: 9px;
    padding-bottom: 1px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.46875vw;
    }
  }

  &__back-icon {
    transform: rotate(180deg);
  }

  &__popup-back-text {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $pickled-bluewood-color;
    text-decoration: underline;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8333vw;
      line-height: 1.1458vw;
    }
  }

  &__original-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 28px;
    width: 360px;
    height: 262px;
    border: 1px solid $athens-gray-color;
    border-radius: 30px;

    @include mediaMinMax($small, $normal) {
      padding: 2.6041vw 1.4583vw;
      width: 18.75vw;
      height: 13.6458vw;
      border-radius: 1.5625vw;
    }

    @include media($small) {
      width: 100%;
    }
  }

  &__original-info-title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.71875vw;
    }
  }

  &__original-info-subtitle {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    color: $summer-green-color;
    margin-bottom: 30px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.71875vw;
      margin-bottom: 1.5625vw;
    }
  }

  &__original-info-text {
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 0.8333vw;
      line-height: 1.1458vw;
    }
  }

  &__without-image-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $athens-gray-color;
    border-radius: 30px;
    padding: 50px 28px;
    width: 360px;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.5625vw;
      padding: 2.6041vw 1.4583vw;
      width: 18.75vw;
    }

    @include media($small) {
      width: 100%;
    }
  }

  &__without-image-info-title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    color: $shark-gray-color;
    margin-bottom: 30px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.71875vw;
      margin-bottom: 1.5625vw;
    }
  }

  &__without-image-info-subtitle {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 23px;
    text-align: center;
    color: $pickled-bluewood-color;
    margin-bottom: 18px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      line-height: 1.1979vw;
      margin-bottom: 0.9375vw;
    }
  }

  &__without-image-info-text {
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      line-height: 1.1979vw;
      margin-bottom: 0.9375vw;
    }
  }

  &__approve-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 45px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
    border: 1px solid $athens-gray-color;
    border-radius: 30px;

    @include mediaMinMax($small, $normal) {
      padding: 2.6041vw 2.34375vw;
      border-radius: 1.5625vw;
    }

    @include media($xlmini) {
      padding: 40px 20px;
    }

    &_hide-in-mobile {
      @include media($small) {
        display: none;
      }
    }
  }

  &__approve-info-block-title-block {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    @include mediaMinMax($small, $normal) {
      padding: 2.6041vw 2.34375vw;
      border-radius: 1.5625vw;
    }
  }

  &__approve-info-block-icon-wrap {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $summer-green-color;
    margin-right: 10px;

    @include mediaMinMax($small, $normal) {
      width: 1.5625vw;
      height: 1.5625vw;
      margin-right: 0.5208vw;
    }
  }

  &__approve-info-block-title-icon {
    width: 28px;
    height: 28px;

    @include mediaMinMax($small, $normal) {
      width: 1.4583vw;
      height: 1.4583vw;
    }
  }

  &__approve-info-block-title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    color: $summer-green-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.71875vw;
    }
  }

  &__approve-info-block-subtitle {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 23px;
    text-align: center;
    color: $scarpa-flow-gray-color;
    margin-bottom: 42px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.71875vw;
    }
  }

  &__approve-info-button-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  &__approve-info-button-block-top {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__approve-info-button-block-bottom {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__approve-block-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    color: $pickled-bluewood-color;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 30px;
    text-decoration: none;

    @include mediaMinMax($small, $normal) {
      font-size: 0.7201vw;
      line-height: 0.9895vw;
      margin-right: 1.5625vw;
    }

    &:last-child {
      margin-right: 0;

      @include mediaMinMax($small, $normal) {
        margin-right: 0;
      }
    }
  }

  &__button-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $light-slate-gray-color;
    border-radius: 20px;
    padding: 12px;
    margin-bottom: 5px;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.0416vw;
      padding: 0.625vw;
      margin-bottom: 0.2604vw;
    }

    @include media($small) {
      padding: 10px;
    }
  }

  &__compare-button {
    border: none;
    background-color: transparent;
    outline: none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      margin-top: 1.5625vw;
      font-size: 0.8333vw;
      line-height: 1.1458vw;
    }
  }

  &__compare-icon {
    margin-bottom: 8px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.4166vw;
    }
  }

  &__close-compare-btn {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 194px;
    top: 61px;
    display: flex;
    align-items: center;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5625px;
    color: $white-color;
    z-index: 1;

    @include mediaMinMax($small, $normal) {
      right: 10.1041vw;
      top: 3.177vw;
      font-size: 0.8854vw;
      line-height: 1.40625vw;
    }

    @include media($small) {
      right: 20px;
      top: 30px;
    }

    @include media($mini) {
      right: 20px;
      top: 15px;
      transform: translate(-50%, 0);
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__close-icon-wrap {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: $athens-gray-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;

    @include mediaMinMax($small, $normal) {
      width: 1.6666vw;
      height: 1.6666vw;
      margin-left: 0.625vw;
    }

    @include media($mini) {
      margin-left: 0;
      margin-bottom: 2px;
    }
  }

  &__close-zoom-icon {
    width: 23px;
    height: 23px;
    margin-left: -1px;
    margin-top: -1px;

    @include mediaMinMax($small, $normal) {
      width: 1.1979vw;
      height: 1.1979vw;
    }
  }

  &__compare-popup {
    background: rgba(49, 77, 97, 0.7);
    backdrop-filter: blur(25px);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 103;

    @include media($small) {
      flex-direction: column;
      align-items: center;
    }

    @include media($mini) {
      justify-content: flex-start;
    }
  }

  &__compare-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 21vh;

    @include media($small) {
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }

    @include media($mini) {
      margin-top: 60px;
    }
  }

  &__compare-image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    &_version {
      margin-left: 30px;

      @include mediaMinMax($small, $normal) {
        margin-left: 1.5625vw;
      }

      @include media($small) {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  &__compare-image {
    max-width: 39vw;
    max-height: 58vh;
    border-radius: 20px;
    border: 5px solid $darker-cadet-blue-color;
    margin-bottom: 20px;
    width: 100%;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.0416vw;
      margin-bottom: 1.0416vw;
    }

    @include media($small) {
      max-width: 450px;
      max-height: 409px;
    }

    @include media($mini) {
      max-width: 300px;
      max-height: 253px;
    }

    &_version {
      border: 5px solid $summer-green-color;

      @include mediaMinMax($small, $normal) {
        border-width: 0.2604vw;
      }
    }
  }

  &__compare-image-name {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $white-color;
    margin-bottom: 4px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.40625vw;
      margin-bottom: 0.2083vw;
    }
  }

  &__compare-image-subtitle {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1px;
    color: $athens-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      line-height: 1.6666vw;
    }
  }

  &__zoom-button {
    outline: none;
    background-color: $white-color;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 24px;
    right: 24px;
    border: 2px solid $athens-gray-color;
    border-radius: 12px;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.625vw;
      width: 2.9166vw;
      height: 2.9166vw;
      bottom: 1.25vw;
      right: 1.25vw;
    }

    @include media($small) {
      width: 40px;
      height: 40px;
      border-radius: 10px;
    }

    @include media($xlmini) {
      width: 30px;
      height: 30px;
      bottom: 20px;
      right: 20px;
      border-radius: 8px;
    }
  }

  &__zoom-icon {
    width: 30px;
    height: 30px;

    @include mediaMinMax($small, $normal) {
      width: 1.5625vw;
      height: 1.5625vw;
    }

    @include media($small) {
      width: 24px;
      height: 24px;
    }

    @include media($small) {
      width: 18px;
      height: 18px;
    }
  }

  &__image-popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
    transform: translate(0, -50%);

    @include media($small) {
      margin-top: 0;
      transform: none;
    }

    @include media($mini) {
      margin-top: 50vh;
      transform: translate(0, -50%);
    }
  }

  &__selected-popup-image {
    max-width: 60vw;
    max-height: 70vh;
    border: 5px solid $darker-cadet-blue-color;
    border-radius: 20px;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.0416vw;
      border-width: 0.2604vw
    }

    @include media($small) {
      max-width: 90vw;
      max-height: 70vh;
    }

    @include media($mini) {
      max-width: calc(100vw - 40px);
    }
  }

  &__back-icon-wrap {
    margin-right: 9px;
    padding-bottom: 1px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.46875vw;
    }
  }

  &__back-icon {
    transform: rotate(180deg);
  }

  &__back-text {
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8333vw;
      line-height: 1.1458vw;
    }
  }

  &__back-btn {
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    position: absolute;
    left: 20px;
    top: -39px;

    @include mediaMinMax($small, $normal) {
      left: 1.0416vw;
      top: -2.03125vw;
    }

    @include media($small) {
      position: static;
      left: initial;
      top: initial;
      margin: 0 auto;

    }
  }

  &__approve-block-icon {
    @include mediaMinMax($small, $normal) {
      width: 2.3958vw;
      height: 2.3958vw;
    }
  }

  &__selected-image-veil {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
  }

  &__select-step-btn {
    width: 10px;
    height: 10px;
    border-right: 1px solid $charcoal-gray-color;
    border-top: 1px solid $charcoal-gray-color;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    right: -10px;
    top: 50%;
    background-color: transparent;
    outline: none;
    margin-top: -8px;

    @include mediaMinMax($small, $normal) {
      margin-top: -0.417vw;
    }

    &_back {
      right: auto;
      left: -10px;
      transform: rotate(-135deg) translateY(50%);
    }

    &_hight {
      display: none;
    }
  }

}
