@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.checkbox {
  display: flex;
  align-items: center;
  margin-right: 5px;

  &__input {
    display: none;
  }

  &__label {
    color: $shark-gray-color;
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 1px;
    margin-left: 12px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
      line-height: 1.04vw;
    }
  }

  &__checkbox-svg {
    margin-bottom: 3px;
    @include mediaMinMax($small, $normal) {
      width: 1.25vw;
      height: 1.25vw;
    }
  }
}
