@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';
@import 'src/styles/media.scss';

.image-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 7;
  background-color: rgba($black-color, 0.3);

  &__popup-block {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__popup-content {
    position: relative;
    max-height: 70vh;
    max-width: 80vw;
    padding: 50px;
    border-radius: 44px;

    @include media($small) {
      padding: 25px;
      border-radius: 25px;
    }
  }

  &__preview-image {
    position: relative;
    max-width: 100%;
    max-height: 70vh;
  }

  &__popup-content{
    display: flex;
    background-color: $white-color;
  }

  &__preview-image {
    display: block;
  }

  &__popup-control-block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: -25px;
    right: -25px;
  }

  &__popup-button-icon {
    width: 30px;
    height: 30px;
  }

  &__control-btn {
    padding: 0;
    border: none;
    background-color: transparent;
  }
}
