@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.frame-slider-card {

  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;


  &__image-block {
    height: 466px;
    width: 542px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    @include mediaMinMax($small, $normal) {
      min-width: 28.229vw !important;
      max-width: 28.229vw !important;
      height: 24.271vw !important;
    }

    @include media($small) {
      max-width: 375px !important;
      max-height: 306px !important;
      width: 100vw !important;
      height: 100vw !important;
    }
  }

  &__image-frame {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }

  &__background-image {
    position: absolute;
  }

  &__frame-wrap {
    position: absolute;
  }

  &__image-wrap {
    position: absolute;
    z-index: -1;
  }

  &__art-photo {
    position: absolute;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  &__frame-image {
    max-width: 100%;
    max-height: 100%;
  }
}
