@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.memoya-cloud-renew-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 120;
  background-color: rgba($black-color, 0.05);

  &__popup-block {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    min-height: 785px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 50px;
    background-color: $white-color;
    padding: 50px 70px 83px 70px;

    @include mediaMinMax(1025, $normal) {
      width: 57.29vw;
      min-height: 40.88vw;
      border-radius: 2.6vw;
      padding: 2.6vw 3.64vw 4.32vw 3.64vw;
    }

    @include media($small) {
      padding: 50px 40px 50px 31px;
      width: calc(100% - 40px);
    }

    &_success {
      justify-content: center;
    }

    @include media($xsmall) {
      width: calc(100vw - 40px);
      max-width: 500px;
      padding: 30px 20px;
      max-height: 800px;
      top: 40px;
      transform: translate(-50%, 0);
      border-radius: 24px;
    }
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    top: -32px;
    right: -32px;
    z-index: 3;
    border-radius: 10px;
    background-color: rgba($white-color, 0);

    @include mediaMinMax(1025, $normal) {
      top: -1.66vw;
      right: -1.66vw;
    }

    @include media($small) {
      right: 0;
    }
  }

  &__top-block {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include media($xsmall) {
      border: none;
    }
  }

  &__title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 28px;
    text-align: center;
    color: $black-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 16px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.25vw;
      line-height: 1.45vw;
      margin-bottom: 0.83vw;
    }

    @include media($xsmall) {
      white-space: normal;
    }
  }

  &__subtitle {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 23px;
    text-align: center;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 32px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
      margin-bottom: 1.66vw;
    }

    @include media($xlmini) {
      white-space: initial;
    }
  }

  &__content-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 9px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.46vw;
    }

    @include media($xsmall) {
      flex-direction: column-reverse;
    }
  }

  &__price-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 40px;
    padding: 73px 79px 40px 79px;
    margin: 22px 0 107px 60px;
    position: relative;
    width: 365px;
    height: 365px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 2.08vw;
      padding: 3.8vw 4.11vw 2.08vw 4.11vw;
      margin: 1.14vw 0 5.57vw 3.12vw;
      width: 19.010vw;
      height: 19.010vw;
    }

    @include media($small) {
      padding: 50px 59px 30px 59px;
      margin: 56px 0 110px 0;
      border-radius: 28px;
      width: 278px;
      height: 278px;
    }

    @include media($xsmall) {
      display: none;
    }
  }

  &__cloud-image {
    width: 207px;
    margin-bottom: 26px;

    @include mediaMinMax(1025, $normal) {
      width: 10.78vw;
      margin-bottom: 1.35vw;
    }

    @include media($small) {
      width: 160px;
      margin-bottom: 24px;
    }

    &_success {
      width: 323px;

      @include mediaMinMax(1025, $normal) {
        width: 16.82vw;
      }

      @include media($xsmall) {
        width: 234px;
      }
    }
  }

  &__price {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $burnt-sienna-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 19px;
      letter-spacing: 0.692308px;
    }
  }

  &__bottom-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  &__bottom-text {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.005em;
    color: $darker-cadet-blue-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    position: absolute;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.72vw;
      line-height: 0.98vw;
    }

    @include media($small) {
      max-width: 276px;
      white-space: normal;
    }

    @include media($xsmall) {
      position: static;
      margin: 20px auto 0;
      display: block;
    }
  }

  &__bottom-info {
    font-size: 0.75rem;
    color: $dark-slate-blue-color;
    text-align: center;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.625vw;
    }
  }

  &__payment-form {
  }

  &__payment-method {
    background-color: $white-color;
    width: 344px;

    @include mediaMinMax(1025, $normal) {
      width: 17.91vw;
    }

    @include media($small) {
      width: 294px;
    }

    @include media($xsmall) {
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &__payment-method-title {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 28px;
    color: $shark-gray-color;
    margin-bottom: 32px;
    text-align: center;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.45vw;
      margin-bottom: 1.66vw;
    }
  }

  &__method-text-wrapper {
    display: flex;
    background-color: $white-color;
    position: relative;
  }

  &__separator {
    margin: 20px 0;
    width: 100%;
    height: 1px;
    background-color: $athens-gray-color;

    @include mediaMinMax(1025, $normal) {
      margin: 1.04vw 0;
    }
  }

  &__method-description {
    font-weight: $medium;
    font-size: 1.125rem;
    line-height: 28px;
    color: $dark-slate-blue-color;
    margin-left: 20px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.45vw;
      margin-left: 1.04vw;
    }
  }

  &__method-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__input {
    margin: 20px 0;
    display: none;

    @include mediaMinMax(1025, $normal) {
      margin: 1.04vw 0;
    }
  }

  &__custom {
    display: inline-block;
    position: relative;
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;
    cursor: pointer;
    margin-right: 6px;

    @include mediaMinMax(1025, $normal) {
      min-width: 0.93vw;
      max-width: 0.93vw;
      min-height: 0.93vw;
      max-height: 0.93vw;
      margin-right: 0.312vw;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      width: 28px;
      height: 28px;
      border-radius: 14px;
      background-color: $white-color;
      border: 2px solid $slate-gray-color;
      transition: background-color 0.3s;

      @include mediaMinMax(1025, $normal) {
        width: 1.45vw;
        height: 1.45vw;
        border-radius: 0.72vw;
      }
    }

    &::after {
      opacity: 0;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: $dark-slate-blue-color;

      @include mediaMinMax(1025, $normal) {
        width: 0.83vw;
        height: 0.83vw;
        border-radius: 0.41vw;
      }
    }

    &:hover,
    &:focus {
      &::before {
        background-color: $wild-sand-color;
      }
    }
  }

  &__input:checked + &__custom {
    &::after {
      opacity: 1;
    }
  }

  &__card-info {
    background-color: $white-color;
    padding: 40px 0 0 0;

    @include mediaMinMax(1025, $normal) {
      padding: 2.08vw 0 0 0;
    }
  }

  &__card-info-title {
    font-weight: $bold;
    font-size: 1.125rem;
    line-height: 28px;
    color: $shark-gray-color;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.45vw;
      margin-bottom: 0.83vw;
    }
  }

  &__error {
    color: $error-red-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__payment-btn {
    margin: 10px auto 0 auto;

    @include mediaMinMax(1025, $normal) {
      marign: 0.52vw auto 0 auto;
    }
  }

  &__select-icon {
    margin-right: 10px;
    width: 19px;
    height: 19px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.52vw;
      width: 0.98vw;
      height: 0.98vw;
    }
  }

  &__column-input-field {
    input.custom-input__input {
      padding: 8px 10px;
      height: 40px;

      @include mediaMinMax(1025, $normal) {
        padding: 0.41vw 0.52vw;
        height: 2.08vw;
      }
    }
  }

  &__method-icon {
    width: 28px;
    height: 28px;

    svg {
      width: 28px;
      height: 28px;
    }

    @include mediaMinMax(1025, $normal) {
      width: 1.45vw;
      height: 1.45vw;

      svg {
        width: 1.45vw;
        height: 1.45vw;
      }
    }
  }

  &__info-form-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__column-input {
    width: 160px;
    margin-bottom: 32px;

    @include mediaMinMax(1025, $normal) {
      width: 8.33vw;
      margin-bottom: 1.66vw;
    }

    @include media($small) {
      width: 140px;
    }

    &_full-width {
      width: 344px;

      @include mediaMinMax(1025, $normal) {
        width: 17.91vw;
      }

      @include media($small) {
        width: 294px;
      }
    }
  }

  &__submit-btn {
    width: 100%;
  }

  &__cloud-text {
    font-weight: $black;
    font-size: 1.375rem;
    line-height: 30px;
    letter-spacing: 2px;
    color: $black-color;
    margin-bottom: 8px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.14vw;
      line-height: 1.56vw;
      margin-bottom: 0.41vw;
    }

    @include media($small) {
      font-size: 0.9275rem;
      font-weight: $black;
      line-height: 20px;
      letter-spacing: 1.38462px;
      margin-bottom: 5px;
    }
  }

  &__stripe-one {
    position: absolute;
    top: -66px;
    left: -130px;
    background: $athens-light-gray-color;
    border-radius: 0 47px 0 0;
    width: 315px;
    height: 214px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      top: -3.43vw;
      left: -6.77vw;
      border-radius: 0 2.44vw 0 0;
      width: 16.4vw;
      height: 11.14vw;
    }

    @include media($small) {
      top: -51px;
      left: -31px;
      width: 167px;
      height: 164px;
    }
  }

  &__stripe-two {
    position: absolute;
    bottom: -40px;
    left: -40px;
    background: $intense-citrine-white-color;
    border-radius: 22px;
    width: 120px;
    height: 120px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      bottom: -2.083vw;
      left: -2.083vw;
      border-radius: 1.146vw;
      width: 6.250vw;
      height: 6.250vw;
    }

    @include media($small) {
      left: -31px;
      bottom: -31px;
      width: 91px;
      height: 91px;
    }
  }

  &__stripe-three {
    background: $iceberg-blue-light-color;
    border-radius: 0 0 37px 0;
    position: absolute;
    bottom: -50px;
    right: -58px;
    width: 188px;
    height: 180px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0 0 1.92vw 0;
      bottom: -2.6vw;
      right: -3.02vw;
      width: 9.79vw;
      height: 9.37vw;
    }

    @include media($small) {
      bottom: -39px;
      right: -45px;
      width: 144px;
      height: 138px;
    }
  }

  &__save-new-card {
    background-color: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
  }

  &__save-new-card-icon {
    width: 24px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;
    }

    @include mediaMinMax(1025, $normal) {
      width: 1.25vw;
      height: 1.25vw;

      svg {
        width: 1.25vw;
        height: 1.25vw;
      }
    }
  }

  &__save-new-card-text {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    margin-left: 12px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.4vw;
      margin-left: 0.62vw;
    }
  }

  &__subscription-success-title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    color: $black-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 14px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.25vw;
      line-height: 1.56vw;
      margin-bottom: 0.72vw;
    }

    @include media($xsmall) {
      font-size: 16px;
      line-height: 25px;
    }
  }

  &__subscription-success-text {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 23px;
    text-align: center;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 42px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
      margin-bottom: 2.18vw;
    }

    @include media($xsmall) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__success-subscribe-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__success-stripe-wrapper {

    @include media($xsmall) {
      display: none;
    }
  }

  &__success-stripe-one {
    position: absolute;
    top: 95px;
    left: 0;
    background: $athens-light-gray-color;
    border-radius: 0 47px 0 0;
    width: 200px;
    height: 172px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      top: 4.94vw;
      border-radius: 0 2.44vw 0 0;
      width: 10.41vw;
      height: 8.95vw;
    }
  }

  &__success-stripe-two {
    background: $iceberg-blue-light-color;
    border-radius: 0 0 0 37px;
    position: absolute;
    bottom: 92px;
    right: 0;
    width: 188px;
    height: 180px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0 0 0 1.92vw;
      bottom: 4.79vw;
      width: 9.79vw;
      height: 9.37vw;
    }
  }

  &__success-square-one {
    position: absolute;
    bottom: 104px;
    left: 110px;
    background: $intense-citrine-white-color;
    border-radius: 22px;
    width: 120px;
    height: 120px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      bottom: 5.41vw;
      left: 5.72vw;
      border-radius: 1.14vw;
      width: 6.25vw;
      height: 6.25vw;
    }
  }

  &__success-square-two {
    position: absolute;
    top: 121px;
    right: 130px;
    background: $paris-white-color;
    border-radius: 22px;
    width: 120px;
    height: 120px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      top: 6.3vw;
      right: 6.77vw;
      border-radius: 1.14vw;
      width: 6.25vw;
      height: 6.25vw;
    }
  }

}
