@import 'src/styles/variables.scss';

.spinner-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black-color, 0.3);
  display: flex;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 11000000;
}
