@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  position: relative;
  max-width: 1920px;

  @include mediaMinMax($small, $normal) {
    max-width: 100vw;
  }

  @include media($xlmini) {
    margin: 60px auto 0;
  }

  &__body-wrapper {
    margin: 0 auto;
    max-width: 1532px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include mediaMinMax($small, $normal) {
      max-width: 79.7916vw;
    }

    @include media($small) {
      padding:0 134px;
    }

    @include media($xsmall) {
      padding: 0 20px;
    }
  }

  &__body-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__top-stripe {
    width: 1726px;
    height: 442px;
    background-color: $porcelain-gray-color;
    border-radius: 44px 0 0 44px;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;

    @include mediaMinMax($small, $normal) {
      width: 89.8958vw;
      height: 23.0208vw;
      border-radius: 2.2916vw 0 0 2.2916vw;
    }

    @include media($small) {
      height: 250px;
    }
  }

  &__bottom-stripe {
    width: 1726px;
    height: 442px;
    background-color: $porcelain-gray-color;
    border-radius: 0 44px 44px 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    @include mediaMinMax($small, $normal) {
      width: 89.8958vw;
      height: 23.0208vw;
      border-radius: 0 2.2916vw 2.2916vw 0;
    }

    @include media($small) {
      width: calc(100vw - 134px);
    }

    @include media($xlmini) {
      width: 100%;
    }
  }

  &__top-rect {
    position: absolute;
    width: 141px;
    height: 141px;
    right: 83px;
    top: 360px;
    background: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.09);
    border-radius: 27px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      width: 7.34375vw;
      height: 7.34375vw;
      right: 4.3229vw;
      top: 18.75vw;
      border-radius: 1.40625vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__all-articles-link {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: -52px;
    text-decoration: none;
    font-weight: $medium;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      top: -2.7083vw;
      font-size: 0.8333vw;
      line-height: 1.40625vw;
    }

    @include media($small) {
      left: 20px;
    }

    @include media($xlmini) {
      left: 0;
    }
  }

  &__category {
    margin: 135px 0 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1;
    color: $charcoal-gray-color;
    position: relative;
    display: inline-block;

    @include mediaMinMax($small, $normal) {
      margin: 7, 03125vw 0 0;
      font-size: 0.7291vw;
    }

    &:before {
      content: '';
      bottom: -5px;
      position: absolute;
      width: 100%;
      height: 5px;
      background: $turquoise-color;
      border-radius: 5px;

      @include mediaMinMax($small, $normal) {
        bottom: -0.2604vw;
        height: 0.2604vw;
        border-radius: 0.2604vw;
      }
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: $black;
    line-height: 56px;
    color: $shark-gray-color;
    margin: 20px auto 60px;
    text-align: center;
    letter-spacing: 1px;
    max-width: 950px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.0833vw;
      line-height: 2.9166vw;
      margin: 1.0416vw auto 3.125vw;
      max-width: 49.4791vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin: 20px auto;
    }
  }

  &__image {
    max-width: 990px;
    width: 90vw;
    margin: 0 auto;
    border-radius: 28px;
    position: relative;
    height: auto;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.4583vw;
      max-width: 51.5625vw;
    }

    @include media($small) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__body {
    padding-top: 40px;
    max-width: 1000px;

    .ql-align-center {
      text-align: center;
    }

    & ol,
    & ul {
      line-height: 1.5;
      font-weight: $light;
      color: $charcoal-gray-color;
      margin: 20px auto;
      display: flex;
      flex-direction: column;

      & li {
        margin: 10px auto;
      }
    }

    & p,
    & span,
    & div {
      color: $scarpa-flow-gray-color;
      margin: 20px auto;
      font-weight: $medium;
      font-size: 1.0625rem;
      line-height: 27px;
      letter-spacing: 1px;
    }

    & img {
      height: auto;
      display: block;
      max-width: 1000px;

      @include mediaMinMax($small, $normal) {
        max-width: 100%;
      }

      @include media($small) {
        max-width: 100%;
      }
    }

    & span {
      margin: 0 auto;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      font-size: 1.25rem;
      line-height: 27px;
      font-weight: $black;
      color: $shark-gray-color;

      & p,
      & span,
      & div {
        font-size: 1.5rem;
        line-height: 1.33;
        font-weight: $medium;
        color: $dark-slate-blue-color;
      }
    }

    & h2 {
      padding-top: 20px;
      font-weight: $black;
      font-size: 1.25rem;
      line-height: 27px;
      letter-spacing: 1px;
      color: $shark-gray-color;
    }
  }

  &__social {
    color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 100px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 5.2083vw;
    }
  }

  &__follow-us {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $black-color;
    margin: 0 5px 15px 0;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      line-height: 1.40625vw;
      margin: 0 0.2604vw 0.78125vw 0;
    }
  }

  &__social-icons {
    margin: 0 15px 20px 0;
    height: 46px;

    @include mediaMinMax($small, $normal) {
      margin: 0 0.78125vw 1.0416vw 0;
      height: 2.3958vw;
    }
  }

  &__social-svg {
    margin-left: 14px;

    @include mediaMinMax($small, $normal) {
      margin-left: 0.7291vw;
    }

    &:last-child {
      transition: margin-right 0.5s;
    }
  }

  &__icon-link {
    text-decoration: none;
    outline: none;
  }

  &__author-wrapper {
    display: flex;
  }

  &__author,
  &__article-date {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 0.56px;
    color: $light-slate-gray-color;
    margin: 50px 0 70px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      line-height: 1.40625vw;
      margin: 2.6041vw 0 3.6458vw;
    }
  }

  &__article-date {
    margin-left: 50px;
    color: $darker-cadet-blue-color;

    @include mediaMinMax($small, $normal) {
      margin-left: 2.6041vw;
    }
  }

  &__continue-reading {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include media($xsmall) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__articles {
    padding: 60px 0 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    @include mediaMinMax($small, $normal) {
      padding: 3.125vw 0 7.2916vw;
    }

    @include media($xsmall) {
      padding: 40px 0 60px;
    }

    @include media($xmini) {
      padding: 40px 0 50px;
    }
  }

  &__articles-title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 2.0833vw;
    }
  }

  &__articles-title {
    font-weight: $black;
    font-size: 1.75rem;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.4583vw;
      line-height: 1.9791vw;
    }
  }

  &__btn {
    width: 141px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $light-slate-gray-color;
    border-radius: 8px;
    font-weight: $extraBold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.71px;
    color: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      width: 7.34375vw;
      height: 2.2916vw;
      border-radius: 0.4166vw;
      font-size: 0.8333vw;
      line-height: 1.1458vw;
    }
  }

  &__article-title {
    margin: 15px 0;
    font-size: 1.125rem;
    line-height: 1.5;
    color: $dark-slate-blue-color;

    @include mediaMinMax($small, $normal) {
      margin: 0.78125vw 0;
      font-size: 0.9375vw;
    }
  }

  &__article {
    position: relative;
    max-width: 428px;
    min-width: 334px;
    width: 25vw;
    max-height: 573px;
    min-height: 467px;
    height: 40vw;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    border-radius: 30px;

    @include mediaMinMax($small, $normal) {
      max-width: 25vw;
      min-width: 25vw;
      max-height: 29.84375vw;
      height: 29.84375vw;
      min-height: 29.84375vw;
      border-radius: 1.5625vw;
    }

    @include media($small) {
      margin-bottom: 20px;

      &:last-child {
        display: none;
      }
    }
  }

  &__article-image {
    object-fit: cover;
    object-position: center center;
    height: 283px;
    border-radius: 30px 30px 0 0;
    width: 100%;
    position: relative;

    @include mediaMinMax($small, $normal) {
      height: 14.7395vw;
      border-radius: 1.5625vw 1.5625vw 0 0;
    }
  }

  &__article-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 428px;
    min-width: 334px;
    width: 25vw;
    max-height: 319px;
    min-height: 267px;
    height: 20vw;
    padding: 30px 50px 50px;
    border-radius: 30px;
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.04);

    @include mediaMinMax($small, $normal) {
      max-width: 25vw;
      min-width: 25vw;
      max-height: 16vw;
      min-height: 16vw;
      height: 16vw;
      padding: 1.8229vw 2.6041vw 2.6041vw;
      border-radius: 1.5625vw;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__article-category {
    font-size: 1.25rem;
    font-weight: $bold;
    line-height: 27px;
    letter-spacing: 0.7px;
    color: $shark-gray-color;
    margin-bottom: 12px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.0416vw;
      line-height: 1.40625vw;
      margin-bottom: 0.625vw;
    }
  }

  &__article-link {
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    font-weight: $medium;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8333vw;
      line-height: 1.40625vw;
    }
  }

  &__articles-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1344px;
    width: 98vw;

    @include mediaMinMax($small, $normal) {
      max-width: 78vw;
    }

    @include media($small) {
      width: 100vw;
      padding: 0 40px;
    }

    @include media($xmini) {
      padding: 0 20px;
    }
  }

  &__loading-wrapper {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      height: 26.0416vw;
    }
  }

  &__load-icon {
    animation-name: spin;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 25px;
    height: 25px;
    margin-right: 10px;

    @include mediaMinMax($small, $normal) {
      width: 1.3020vw;
      height: 1.3020vw;
      margin-right: 0.5208vw;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &__back-arrow {
    transform: rotate(180deg);
    margin-right: 15px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.78125vw;
    }
  }

  &__next-arrow {
    margin-left: 15px;

    @include mediaMinMax($small, $normal) {
      margin-left: 0.78125vw;
    }
  }
}
