@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.image-card {
  content: '';
  width: 220px;
  height: 200px;
  position: relative;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  outline: none;

  @include mediaMinMax(1025, $normal) {
    width: 11.45vw;
    height: 10.41vw;
    position: relative;
    border-radius: 1.04vw;
  }

  &_small {
    width: 143px;
    height: 130px;

    @include mediaMinMax(1025, $normal) {
      width: 7.448vw;
      height: 6.771vw;
    }
  }

  &_small &_select {
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      background-color: $summer-green-color;
      border: 3px solid $white-color;
      position: absolute;
      left: 9px;
      top: 9px;
      border-radius: 50%;
    }
  }

  &_select {
    border: 4px solid $summer-green-color;
  }

  &__select-icon {
    width: 30px;
    height: 30px;

    &_responsive {

      @include mediaMinMax($small, $normal) {
        width: 1.5625vw;
        height: 1.5625vw;
      }
    }
  }

  &__select-btn {
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 14px;
    left: 14px;

    &_responsive {
      @include mediaMinMax($small, $normal) {
        top: 0.7291vw;
        left: 0.7291vw;
      }
    }

    &_small {
      display: none;
    }
  }

  &__zoom-button {
    outline: none;
    border: none;
    border-radius: 13px;
    background-color: rgba($athens-gray-color, 0.5);
    backdrop-filter: blur(10px);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 14px;
    left: 14px;

    &_hidden {
      @include media($small) {
        display: none;
      }
    }

    &_small {
      width: 30px;
      height: 30px;
      bottom: 9px;
      left: 9px;
      border-radius: 8.45px;
    }
  }

  &__trash-button {
    outline: none;
    border: none;
    border-radius: 13px;
    background-color: $white-color;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 14px;
    right: 14px;

    &_small {
      width: 30px;
      height: 30px;
      bottom: 9px;
      right: 9px;
      border-radius: 8.45px;
    }
  }

  &__zoom-icon,
  &__trash-icon {
    &_small {
      width: 16px;
      height: 16px;
    }

    &_responsive {

      @include mediaMinMax($small, $normal) {
        width: 1.25vw;
        height: 1.25vw;
      }
    }
  }
}
