@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.min-frame-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 298px;
  overflow: hidden;
  background-color: $white-color;
  border-radius: 22px;
  outline: none;
  position: relative;

  @include mediaMinMax($small, $normal) {
    width: 15.521vw;
    border-radius: 1.146vw;
  }

  @include media($xsmall) {
    width: 250px;
    border-radius: 19px;
  }

  @include media($mini) {
    height: 200px;
    width: 189px;
  }

  &_select {
    border: 2px solid $summer-green-color;

    &::after {
      content: '';
      width: 20px;
      height: 20px;
      background-color: $summer-green-color;
      border: 2px solid $white-color;
      border-radius: 50%;
      position: absolute;
      left: 13px;
      top: 13px;
      z-index: 2;

      @include mediaMinMax($small, $normal) {
        width: 1.042vw;
        height: 1.042vw;
        left: 0.677vw;
        top: 0.677vw;
      }

      @include media($mini) {
        width: 16px;
        height: 16px;
        left: 10px;
        top: 10px;
      }
    }
  }

  &__image-block {
    height: 246px;
    width: 298px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    @include mediaMinMax($small, $normal) {
      width: 15.521vw;
      height: 12.813vw;
    }

    @include media($xsmall) {
      width: 250px;
      height: 206px;
    }

    @include media($mini) {
      height: 156px;
      width: 189px;
    }
  }

  &__info-block {
    position: relative;
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -22px;
    z-index: 2;
    background-color: $white-color;
    padding: 20px 30px 22px 30px;
    border-radius: 22px;
    border: 2px solid $athens-gray-color;

    &_select {
      border-left: none;
      border-right: none;
      border-bottom: none;
    }

    @include mediaMinMax($small, $normal) {
      min-height: 4.688vw;
      border-radius: 1.146vw;
      margin-top: -1.146vw;
      padding: 1.042vw 1.563vw 1.146vw 1.563vw;
    }

    @include media($xsmall) {
      min-height: 76px;
      padding: 12px 20px 15px 20px;
      border-radius: 19px;
      margin-top: -19px;
    }

    @include media($mini) {
      min-height: 56px;
      padding: 10px 20px 12px 20px;
    }
  }

  &__name {
    font-weight: $extraBold;
    font-size: 1.0625rem;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    color: $black-color;
    margin-bottom: 8px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.885vw;
      line-height: 1.198vw;
      margin-bottom: 0.417vw;
    }

    @include media($xsmall) {
      font-weight: $bold;
      font-size: 0.9375rem;
      line-height: 20px;
      margin-bottom: 11px;
    }

    @include media($mini) {
      line-height: 16px;
      font-size: 0.75rem;
      margin-bottom: 7px;
    }
  }

  &__price {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $xlnormal) {
      font-size: 0.729vw;
      line-height: 0.833vw;
    }

    @include media($xsmall) {
      font-size: 0.875rem;
      line-height: 16px;
    }

    @include media($mini) {
      font-size: 0.688rem;
      line-height: 12px;
    }
  }

  &__image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }

  &__background-image {
    position: absolute;
  }

  &__frame-wrap {
    position: absolute;
  }

  &__image-wrap {
    position: absolute;
    z-index: -1;
  }

  &__art-photo {
    position: absolute;
    height: 100%;
    display: block;
    object-position: center;
    object-fit: cover;
  }

  &__frame-image {
    max-width: 100%;
    max-height: 100%;
  }

  &__hint-button {
    display: flex;
    position: absolute;
    right: 15px;
    top: 25px;

    @include mediaMinMax($small, $normal) {
      right: 0.781vw;
      top: 1.302vw
    }
  }

  &__hint-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;

    @include mediaMinMax($small, $normal) {
      width: 2.083vw;
      height: 2.083vw;
    }

    @include media($mini) {
      width: 30px;
      height: 30px;
    }
  }
}
