@import "src/styles/variables.scss";
@import "src/styles/media.scss";
@import "src/styles/mixins.scss";

.restoration-new-choose-any-photo {
  width: 100%;
  display: flex;
  margin-bottom: 15px;

  @include mediaMinMax(1025, $normal) {
    margin-bottom: 1.3vw;
  }

  @include media($small) {
    flex-direction: column;
  }

  &__description {
    background-color: $polar-light-blue-color;
    border-radius: 46px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 31px;
    overflow: hidden;

    @include mediaMinMax(1025, $normal) {
      width: 20.833vw;
      height: 27.18vw;
      margin-right: 1.615vw;
    }

    @include media($small) {
      display: none;
    }

    @include media($xlmini) {
      flex-direction: column;
      width: 100%;
      min-height: 361px;
      padding: 31px 0px;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__description-block {
    text-align: center;
  }

  &__description-icon {
    width: 160px;
    height: 100px;

    &_cloud {
      margin-bottom: 10px;
    }

    svg#{&_add-prints} {
      width: 107px;
      height: 108px;
      @include media($normal) {
        height: 97px;
      }
    }

    @include mediaMinMax(1025, $normal) {
      width: 8.333vw;
      height: 5.208vw;
    }

    @include media($small) {
      width: 140px;
      height: 88px;
    }
  }

  &__description-text {
    width: 306px;
    font-weight: $bold;
    font-size: 15px;
    line-height: 20px;
    color: $scarpa-flow-gray-color;
    text-align: center;
    white-space: pre-line;

    @include mediaMinMax($small, $normal) {
      width: 15.938vw;
      line-height: 1.042vw;
      font-size: 0.781vw;
    }

    @include media($small) {
      width: 268px;
      font-size: 0.75rem;
      line-height: 16px;
    }

    @include media($xlmini) {
      width: 100%;
      margin: 0px;
    }
  }

  &__choose-photo-main {
    display: flex;
    flex-wrap: wrap;
    background-color: $white-color;
    border: 2px solid rgba($shark-gray-color, 0.1);
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 60px;
    max-width: 930px;
    width: 930px;
    height: 522px;
    padding: 20px 30px 50px 25px;

    @include mediaMinMax(1025, $normal) {
      width: 48.43vw;
      border-radius: 3.125vw;
      margin-left: 1.56vw;
      padding: 1.0416vw 1.5625vw 2.6041vw 1.3008vw;
      height: 27.18vw;
    }

    @include media($small) {
      padding: 30px 40px 40px 40px;
      border-radius: 28px;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 600px;
    }

    @include media($xsmall) {
      padding: 30px 40px 40px 40px;
    }

    @include media($mini) {
      padding: 20px 15px 18px 15px;
      min-height: fit-content;
      max-height: 527px;
      height: initial;
      justify-content: flex-end;
    }
  }

  &__choose-photo-container {
    display: grid;
    grid-template-columns: 216px 216px 216px 200px;
    max-height: 26vw;
    width: 100%;
    height: 100%;
    overflow-x: auto;

    @include mediaMinMax($small, $normal) {
      grid-template-columns: 11vw 11vw 11vw 10.4vw;
    }

    @include media($small) {
      width: 100%;
      max-width: 100%;
      height: 35.41vw;
      max-height: 35.41vw;
      min-width: 100%;
      max-height: 414px;
      height: fit-content;
      display: flex;
      flex-wrap: nowrap;
    }

    @include media($mini) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include custom-scroll;

    &_cart {
      @include media($mini) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__container-item-wrap {
    position: relative;
    outline: none;
    width: 200px;
    height: fit-content;
    margin-right: 16px;

    @include mediaMinMax(1025, $normal) {
      width: 10.4166vw;
      margin-right: 0.8vw;
    }

    @include media($xmini) {
      width: 180px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__image-card {
    margin-bottom: 16px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.833vw;
    }

    @include media($small) {
      margin-bottom: 15px;
    }
  }

  &__labels-include {
    position: absolute;
    bottom: -10px;
    width: 100%;
    color: $dark-slate-blue-color;
    font-weight: $extraMedium;
    left: 50%;

    @include mediaMinMax($small, $normal) {
      left: 45%;
    }

    @include media($small) {
      position: initial;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      font-size: 0.75rem;
      margin-bottom: 20px;
      transform: translateX(0);
      margin-top: 10px;
    }
  }
}
