@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.compare-slide-card {
  position: relative;
  max-width: 524px;
  max-height: 524px;
  min-width: 294px;
  min-height: 294px;

  @include mediaMinMax($small, $normal) {
    min-width: 24.27vw;
    min-height: 24.27vw;
  }

  &__inner-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    max-height: 524px;
  }

  &__inner-compare-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    top: 0;
  }

  &__compare-btn {
    position: absolute;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid $white-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    &:after, &:before {
      position: absolute;
      content: '';
      width: 4px;
      height: 100vh;
      background-color: #fff;
      left: calc(50% - 2px);
    }

    &::after {
      bottom: calc(100% + 3px);
    }
    &::before {
      top: calc(100% + 3px);
    }

    @include mediaMinMax($xlnormal, $normal) {
      width: 2.60416vw;
      height: 2.60416vw;
      border-width: 0.20833vw;

      &:after, &:before {
        width: 0.2083vw;
      }

      &::after {
        bottom: calc(100% + 0.15625vw);
      }
      &::before {
        top: calc(100% + 0.15625vw);
      }
    }

    @include mediaMinMax($xnormal, $xlnormal) {
      width: 3.2679vw;
      height: 3.2679vw;
      border-width: 0.26143vw;

      &:after, &:before {
        width: 0.26143vw;
      }

      &::after {
        bottom: calc(100% + 0.19607vw);
      }
      &::before {
        top: calc(100% + 0.19607vw);
      }
    }

    @include mediaMinMax($small, $xnormal) {
      width: 3.6603vw;
      height: 3.6603vw;
      border-width: 0.2928vw;

      &:after, &:before {
        width: 0.2928vw;
      }

      &::after {
        bottom: calc(100% + 0.2196vw);
      }
      &::before {
        top: calc(100% + 0.2196vw);
      }
    }
  }

  &__compare-btn-arrow {
    position: absolute;
    width: 100%;
    height: 100%;

    &:before, &:after { 
      content: '';
      position: absolute;
      height: 3px;
      width: 10px;
      top: 20px;
      border-radius: 2px;
      background-color: $white-color;
    }

    &_right {
      &:before, &:after {
        right: 20%;
      }

      &:before {
        transform: rotate(45deg);
        top: 18px;
      }
      &:after {
        transform: rotate(-45deg);
        top: 23px;
      }
    }

    &_left {
      &:before, &:after {
        left: 20%;
      }

      &:before {
        transform: rotate(-45deg);
        top: 18px;
      }
      &:after {
        transform: rotate(45deg);
        top: 23px;
      }
    }

    @include mediaMinMax($xlnormal, $normal) {
      &:after, &:before {
        height: 0.15625vw;
        width: 0.52083vw;
        top: 1.04166vw;
        border-radius: 0.1016;
      }

      &_right, &_left {
        &:before {
          top: 0.9375vw;
        }
        &:after {
          top: 1.1979vw;
        }
      }
    }

    @include mediaMinMax($xnormal, $xlnormal) {
      &:after, &:before {
        height: 0.19607vw;
        width: 0.65359vw;
        top: 1.3071vw;
        border-radius: 0.1301;
      }

      &_right, &_left {
        &:before {
          top: 1.1764vw;
        }
        &:after {
          top: 1.5032vw;
        }
      }
    }

    @include mediaMinMax($small, $xnormal) {
      &:after, &:before {
        height: 0.2196vw;
        width: 0.73206vw;
        top: 1.4641vw;
        border-radius: 0.1464vw;
      }

      &_right, &_left {
        &:before {
          top: 1.3177vw;
        }
        &:after {
          top: 1.6837vw;
        }
      }
    }
  }
}
