@import "src/styles/variables.scss";
@import 'src/styles/media.scss';

.is-gift-order {
  &__checkbox {
    display: flex;
    align-items: center;
    margin-left: 40px;

    @include mediaMinMax(1025, $normal) {
      margin-left: 2.08vw;
    }

    @include media($xmini) {
      margin: 10px 0 26px 0;
    }

    &_right {
      @include mediaMinMax(1025, $normal) {
        margin-left: 2.08vw;
      }

      @include media($xmini) {
        margin-left: 30px;
      }
    }
  }

  &__input,
  &__input-checkbox {
    display: none;
  }

  &__custom {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;

    &:before {
      content: '';
      padding: 2px;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      bottom: 0;
      transform: translateY(-50%);
      background: $white-color;
      border-radius: 12px;
      border: 2px solid $slate-gray-color;
    }

    @include mediaMinMax(1025, $normal) {
      margin-right: 1.04vw;
      min-width: 0.93vw;
      max-width: 0.93vw;
      min-height: 0.93vw;
      max-height: 0.93vw;

      &:before {
        width: 1.25vw;
        height: 1.25vw;
        border-radius: 0.62vw;
      }
    }
  }

  &__input-checkbox:checked + &__custom  {
    &:after {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      top: calc(50% - 6px);
      left: 6px;
      background: $pickled-bluewood-color;
      border-radius: 6px;
    }
    &:before {

    }

    @include mediaMinMax(1025, $normal) {
      &:after {
        width: 0.62vw;
        height: 0.62vw;
        top: calc(50% - 0.31vw);
        left: 0.31vw;
        border-radius: 0.31vw;
      }
    }
  }

  &__label {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 23px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__gift-form-columns {
    display: flex;
    width: 45%;
    flex-direction: column;
  }

  &__gift-row-wrapper {
    display: flex;
    justify-content: space-between;

    @include media($xmini) {
      flex-direction: column;
    }
  }

  &__gift-row {
    display: flex;
    width: 100%;

    @include media($xmini) {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  &__gift-form-left-column {
    width: 100%;
    max-width: 280px;
    margin-right: 20px;

    @include mediaMinMax(1025, $normal) {
      max-width: 14.58vw;
      margin-right: 1.04vw;
    }

    @include mediaMinMax(681, $small) {
      max-width: 36.45vw;
      margin-right: 2.6vw;
    }

    @include media($xmini) {
      max-width: 100%;
    }
  }

  &__gift-form-right-column {
    width: 100%;
    max-width: 476px;

    @include mediaMinMax(1025, $normal) {
      max-width: 24.79vw;
    }

    @include mediaMinMax(681, $small) {
      max-width: 61.97vw;
    }

    @include media($xlmini) {
      max-width: 300px;
    }

    @include media($xmini) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__column-input,
  &__column-textarea {
    & input {
      background: $wild-sand-color;
    }

    & textarea {
      background: $wild-sand-color;
      height: 244px;
      margin-bottom: 25px;

      @include mediaMinMax(1025, $normal) {
        height: 12.7vw;
        margin-bottom: 1.3vw;
      }
    }

    &_left-min {
      width: 280px;

      @include mediaMinMax(1025, $normal) {
        width: 14.58vw;
      }

      @include mediaMinMax(681, $small) {
        width: 28.64vw;
      }

      @include media($xmini) {
        width: 100%;
      }
    }

    &_right-min {
      width: 172px;

      @include mediaMinMax(1025, $normal) {
        width: 8.95vw;
      }

      @include mediaMinMax(681, $small) {
        width: 22.39vw;
        margin-left: 1.3vw;
      }

      @include media($xmini) {
        width: 100%;
        margin: 0;
      }
    }

    @include media($xmini) {
      order: 1;
    }
  }

  &__column-input-field {
    margin-bottom: 32px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.66vw;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__btn-save {
    max-height: 30px;
    margin-left: 20px;

    @include mediaMinMax(1025, $normal) {
      max-height: 1.56vw;
      margin-left: 1.04vw;
    }

    @include media($xsmall) {
       margin-left: 0;
       margin-top: 20px;
    }
  }

  &__title-wrapper{
    margin: 10px 0 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      margin: 0.52vw 0 1.45vw 0;
    }
  }

  &__title {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
    }

    @include media($small) {
      font-size: 1.125rem;
      line-height: 25px;
    }
  }

  &__close-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    cursor: pointer;
  }

  &__close-btn-text {
    margin-right: 12px;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5625px;
    color: $slate-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.4vw;
      margin-right: 0.62vw;
    }
  }

  &__close-btn-icon {
    display: flex;

    @include mediaMinMax(1025, $normal) {
      svg {
        width: 1.66vw;
        height: 1.66vw;
      }
    }
  }

  &__gift-row-text {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    color: $shark-gray-color;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
    }

    @include media($small) {
      font-size: 1.125rem;
      line-height: 25px;
    }

    @include media($xmini) {
      width: 100%;
      justify-content: flex-start;
    }
  }

  &__submit-btn {
    width: 172px;
    height: 60px;
    padding: 16px 30px !important;

    @include mediaMinMax(1025, $normal) {
      width: 8.95vw;
      height: 3.12vw;
      padding: 0.83vw 1.56vw !important;
    }
  }

  &__submit-wrapper {
    @include media($xmini) {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}
