@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.make-us-card {
  width: 320px;
  height: 390px;
  background-color: $white-color;
  padding: 15px;
  box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
  border-radius: 30px;
  display: flex;
  flex-direction: column;

  @include mediaMinMax(1025, $normal) {
    width: 16.66vw;
    height: 20.31vw;
    padding: 0.73vw;
    border-radius: 1.56vw;
  }

  @include mediaMinMax(681, $small) {
    padding: 10px;
    border-radius: 22px;
    width: 20.83vw;
    height: 29.29vw;
  }

  @include media($xlmini) {
    padding: 10px;
    border-radius: 22px;
    width: 160px;
    height: 225px;
    margin: 8px 0;
  }

  &_isFirst {
    margin-left: 0;
  }

  &_isLast {
    margin-right: 0;
  }

  &__img-container {
    display: flex;
    justify-content: center;
  }

  &__img {
    display: flex;
    align-items: center;
    width: 288px;
    height: 223px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-position 0.5s, background-size 0.5s;
    border-radius: 18px;

    @include mediaMinMax(1025, $normal) {
      width: 15vw;
      height: 11.61vw;
      border-radius: 0.93vw;
    }

    @include mediaMinMax(681, $small) {
      border-radius: 14px;
      width: 18.22vw;
      height: 14.19vw;
    }

    @include media($xlmini) {
      width: 140px;
      height: 109px;
    }
  }

  &__text {
    font-size: clamp(14px, 0.88vw, 17px);
    line-height: clamp(19px, 1.25vw, 24px);
    letter-spacing: 1px;
    font-weight: $medium;
    color: $scarpa-flow-gray-color;
    text-align: center;
    margin-top: clamp(14px, 1.35vw, 30px);
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
      margin-top: 1.35vw;
    }

    @include mediaMinMax(681, $small) {
      font-size: 1.42vw;
      line-height: 2.11vw;
      margin-top: 1.82vw;
      white-space: initial;
    }

    @include media($xlmini) {
      font-size: 0.875rem;
      line-height: 17px;
      margin-top: 5px;
      white-space: initial;
    }
  }

  &__link {
    text-decoration: underline;
    text-decoration-color: $burnt-sienna-red-color;
  }

  &__link-text {
    font-size: 16px;
    font-weight: $bold;
    line-height: 24px;
    letter-spacing: 1px;
    color: $burnt-sienna-red-color;
    text-align: center;

    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      line-height: 1.25vw;
    }

    @include media($small) {
      font-size: 0.8rem;
      line-height: 19px;
    }

    @include mediaMinMax(681, $small) {
      font-size: 1.42vw;
      line-height: 2.11vw;
    }

    @include media($xlmini) {
      font-size: 0.8rem;
      line-height: 17px;
    }
  }
}
