@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.order-track {
  width: 100%;
  padding: 0 15%;

  @include media($small) {
    padding: 0;
  }

  &__main-title {
    display: block;
    font-weight: $black;
    font-size: 1.375rem;
    line-height: 30px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    margin-bottom: 23px;
    text-align: left;

    @include mediaMinMax(1025, $normal) {
      line-height: 1.563vw;
      margin-bottom: 1.198vw;
      font-size: 1.146vw;
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid $athens-gray-color;
    color: $black-color;

    @include mediaMinMax(1025, $normal) {
      padding: 0.521vw 0;
    }

    &-date {
      flex: 1;
      margin-left: 5%;

      &_small {
        margin-left: 0;
        font-weight: $bold;
        font-size: 1.0625rem;
        line-height: 26px;
        color: $shark-gray-color;

        @include mediaMinMax(1025, $normal) {
          font-size: 0.885vw;
          line-height: 1.354vw;
        }
      }

      @include media($small) {
        margin-left: 0;
      }
    }

    &-status {
      flex: 2;

      &_small {
        font-weight: $bold;
        font-size: 1.0625rem;
        line-height: 26px;
        color: $shark-gray-color;

        @include mediaMinMax(1025, $normal) {
          font-size: 0.885vw;
          line-height: 1.354vw;
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;

    &-date {
      flex: 1;
      margin-left: 5%;

      &_small {
        margin-left: 0;
        font-weight: $medium;
        font-size: 0.875rem;
        color: $scarpa-flow-gray-color;

        @include mediaMinMax(1025, $normal) {
          font-size: 0.729vw;
        }
      }

      &_last {
        opacity: 0.5;
      }

      @include media($small) {
        margin-left: 0;
      }
    }

    &-status {
      flex: 2;
      display: flex;

      &_small {
        margin-left: 0;
        font-weight: $medium;
        font-size: 0.875rem;
        color: $scarpa-flow-gray-color;

        @include mediaMinMax(1025, $normal) {
          font-size: 0.729vw;
        }
      }

      &_last {
        opacity: 0.5;
      }

      &-link {
        color: $black-color;

        &_small {
          margin-left: 0;
          font-weight: $medium;
          font-size: 0.875rem;

          @include mediaMinMax(1025, $normal) {
            font-size: 0.729vw;
          }
        }

        &_last {
          opacity: 0.5;
        }
      }
    }
  }

  &__view-all-btn {
    display: block;
    margin: 30px auto 0 auto;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;

    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
    color: $pickled-bluewood-color;

    @include mediaMinMax(1025, $normal) {
      margin: 1.563vw auto 0 auto;
      font-size: 0.833vw;
      line-height: 1.146vw;
    }
  }
}
