@font-face {
  font-family: 'Work Sans Hairline';
  src: url('work-sans/WorkSans-Hairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Work Sans';
  src: url('work-sans/WorkSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Work Sans';
  src: url('work-sans/WorkSans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Work Sans';
  src: url('work-sans/WorkSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Work Sans';
  src: url('work-sans/WorkSans-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Work Sans';
  src: url('work-sans/WorkSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Work Sans';
  src: url('work-sans/WorkSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Work Sans';
  src: url('work-sans/WorkSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Work Sans';
  src: url('work-sans/WorkSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Work Sans';
  src: url('work-sans/WorkSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Bodoni_Medium';
  src: url('Bodoni_Moda/BodoniModa-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Bodoni_Medium';
  src: url('Bodoni_Moda/BodoniModa-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'Libre_Baskerville_Regular';
  src: url('Libre_Baskerville/LibreBaskerville-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Railway_Light';
  src: url('Raleway/Raleway-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Railway_Light';
  src: url('Raleway/Raleway-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'Egptienne_Bold';
  src: url('egyptienne-mn/EgyptienneMNCondensed-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Recoleta';
  src: url('Recoleta/Recoleta-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Futura_Book';
  src: url('Futura - Book/FuturaBT-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Pier_Sans_Bold';
  src: url('Pier Sans - Bold/PierSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Market_Fresh';
  src: url('Market Fresh/MarketFresh.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Neutraface_Text_Book';
  src: url('Neutraface Text - Book/NeutraText-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
