@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: block;
}
