@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  @include media($mini) {
    padding: 0;
    height: 150px;
  }

  &__upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  &__upload-title {
    font-size: 1.4rem;
    color: $dark-slate-blue-color;
    font-weight: $extraMedium;
    line-height: 1.25;

    @include media($xsmall) {
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
    }

    @include media($mini) {
      font-size: 1.125rem;
      margin-bottom: 20px;
    }
  }

  &__upload-text {
    font-size: 1.5rem;
    color: $dark-slate-blue-color;
    margin-bottom: 20px;

    @include media($xsmall) {
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
    }

    @include media($mini) {
      font-size: 16px;
    }
  }

  &__drag-and-drop {
    &_enhance {
      @include media($small) {
        border: none !important;
        background-color: transparent !important;
        height: 53px !important;
        min-height: auto !important;
        margin-top: 8px;
        margin-bottom: 12px;
      }
    }
  }

  &__drag-and-drop_wrapper {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: rgba($athens-gray-color, 0.4);
    border: 2px dashed rgba($san-juan-dark-blue-color, 0.8);
    border-radius: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      border-radius: 2.39vw;
    }

    @include media($small) {
      border-radius: 28px;
    }

    @include media($xmini) {
      height: 100%;
      min-height: 150px;
    }
  }

  &__drag-and-drop_with-error {
      margin-top: 23px;

    @include media($xsmall) {
      margin-top: 0;
    }
  }

  &__drag-and-drop_constructor {
    background-color: $athens-light-gray-blue-color;
    border-radius: 18px;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.938vw;
    }

    @include media($small) {
      width: calc(100vw - 40px) !important;
      padding: 0 !important;
    }
  }

  &__spinner-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($black-color, 0.3);
    z-index: 3;
  }

  &__spinner {
    width: 20%;

    &_invisible {
      display: none;
    }
  }

  &__scanning-btn {
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    color: $gray-color;
  }

  &__error {
    font-size: 16px;
    color: $error-red-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    @include media($mini) {
      margin-bottom: 20px;
      flex-direction: column;
    }
  }

  &__error-icon {
    font-size: 16px;
    width: 25px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    @include media($mini) {
      margin-right: 0;
    }
  }

  &__select-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__select-text {
    margin-top: 25px;
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax(1025, $normal) {
      margin-top: 1.3vw;
      font-size: 0.72vw;
      line-height: 0.98vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__select-btn {
      @include media($xlmini) {
        padding: 16px 18px !important;
        font-size: 0.875rem !important;
        line-height: 19px !important;
      }
  }
}
