@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.menu {
  flex-grow: 1;
  height: 100%;
  background-color: $white-color;
  width: 368px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  animation: go-up-down 500ms alternate;
  animation-fill-mode: forwards;
  box-shadow: -37px -37px 80px rgba($black-color, 0.05);
  overflow: auto;
  padding: 158px 0 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include custom-scroll;

  @include mediaMin(1025) {
    display: none;
  }

  @include mediaMin($xnormal) {
    margin-right: 100px;
  }

  @include media($xlmini) {
    padding: 128px 0 40px 0;
  }

  &__live-help{
    display: none;

    @include media($small) {
      display: block;
      margin: 10px 0 20px 0;
    }
  }

  &__live-help-btn{
    display: flex;
    align-items: center;
    background: none;
    border:none;
  }

  &__live-help-btn-title{
    font-weight: $extraBold;
    font-size: 16px;
    line-height: 27px;
    color: $pickled-bluewood-color;
    font-style: normal;
  }

  &__live-help-btn-icon{
    position: relative;
    margin-right: 14px;
    border: 2px solid $athens-gray-color;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;

    &::before{
      content: "";
      position: absolute;
      background-color: $burnt-sienna-color;
      top: -5px;
      right: -5px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid $athens-gray-color;
    }
  }

  &__navi-buttons {
    height: auto;
    padding: 0 33px 0 50px;
  }

  &__navi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  &__navi-button,
  &__navi-button_active {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    border: none;
    text-decoration: none;
    outline: none;
    transition: transform 1s;

    &:after {
      display: block;
      content: '';
      border-bottom: 1px solid $white-color;
      transform: scaleX(0);
      transition: transform 250ms linear;
      transform-origin: 0 50%;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0 50%;
    }

    &:first-child {
      margin-left: 0;
    }

    &_active {
      &:after {
        display: block;
        content: '';
        transform: scaleX(1);
        border-bottom: 1px solid $turquoise-color;
      }
    }
  }

  &__tab {
    display: flex;
    flex-direction: column;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px 0;
    background-color: $white-color;
    transition: padding 0.5s;
  }

  &__container,
  &__tab-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
  }

  &__navi-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;

    &:hover {
      a {
        color: $burnt-sienna-color;
      }
    }
  }

  &__container {
    justify-content: space-between;
  }

  &__tab-container {
    justify-content: flex-start;
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    transition: max-width 0.5s, margin-right 0.5s;
  }

  &__links-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-basis: 70%;
    width: 100%;
  }

  &__simple-links-block {
    display: flex;
    flex-direction: column;
  }

  &__simple-list-link {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__simple-list-link-icon {
    margin-right: 10px;
  }

  &__simple-list-link-text {
    font-size: 16px;
    color: $charcoal-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

  }

  &__tab-name {
    font-size: 1.5rem;
    font-weight: $medium;
    color: $dark-slate-blue-color;
    margin-bottom: 16px;
  }

  &__tab-text {
    font-size: 16px;
    line-height: 1.5;
    color: $charcoal-gray-color;
    margin-bottom: 36px;
  }

  &__btn-link {
    text-decoration: none;
    font-weight: $bold;
    font-size: 0.9375rem;
    line-height: 27px;
    color: $burnt-sienna-color;

    @include media($xmini) {
      display: none;
    }
  }

  &__list-link {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    transition: width 0.5s, padding 0.5s;
    margin-bottom: 16px;

    @include mediaMin($xnormal) {
      max-width: 190px;
    }

    @include mediaMin($normal) {
      margin: 20px;
      width: 240px;
    }
  }

  &__list-link-img {
    width: 100%;
    width:  32px;
    height: 24px;
    border-radius: 4px;
    margin-right: 10px;
    object-fit: contain;
    object-position: center;
    position: relative;

    @include media($small) {
      display: none;
    }
  }

  &__list-link-text {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 25px;
    color: $scarpa-flow-gray-color;
    text-align: start;
    width: 100%;

    &_cloud {
      text-transform: capitalize;
    }
  }

  &__social-icons {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
  }

  &__social-link {
    margin: 0 9px;
    width: 46px;
    height: 46px;
  }

  &__button {
    border: none;
    background-color: transparent;
    outline: none;
  }

  &__notification-container{
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__notification-text{
    font-style: normal;
    font-weight: $extraBold;
    font-size: 16px;
    line-height: 27px;
    color: $pickled-bluewood-color;
  }

  &__btn-notification{
    display: inline-flex;
    align-items: center;
    padding: 9px;
    border: 2px solid $summer-green-color;
    border-radius: 12px;
    position: relative;
    margin-right: 14px;
  }

  &__notification-count{
    position: absolute;
    background-color: $summer-green-color;
    border: 2px solid $white-color;
    box-shadow: -5px 5px 20px rgba($black-color, 0.2);
    border-radius: 50%;
    color: $white-color;
    text-align: center;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -9px;
    font-size: 0.688rem;
    line-height: 15px;
  }

  &__call-us-info {
    display: none;

    @include media($xsmall) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 68px;
      margin-top: 40px;
    }
  }

  &__call-us-info-container {
    display: flex;
    align-items: center;
  }

  &__call-us-title {
    font-size: 16px;
    font-weight: $extraBold;
    color: $slate-gray-color-2;
    line-height: 22px;
    letter-spacing: 0.5px;
    margin: 0 5px;
  }

  &__call-us-text {
    font-size: 16px;
    font-weight: $medium;
    text-decoration: none;
    outline: none;
    color: $pickled-bluewood-color;
  }
}
