@import "src/styles/variables.scss";

.counter {

  &__wrapper {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    padding: 15px 30px;
    box-shadow: 0 2px 4px 0 rgba($black-color, 0.1);
    min-height: 80px;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__count {
    padding: 0 5px;
    min-width: 20px;

    &_main {
      font-size: 1.25rem;
    }
  }

  &__input {
    padding: 2px 5px;
    min-width: 20px;
    border: 1px solid $dark-slate-blue-color;
    background-color: $gray-light-color;
    border-radius: 5px;
    max-width: 70px;
    outline: none;
    text-align: center;
    -moz-appearance:textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &_main {
      font-size: 1.25rem;
    }
  }

  &__btn-count {
    &_main {
      margin: 0 3px;
    }
  }
}
