@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.payment-method-tab {
  padding-top: 0;

  &__card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__error {
    font-size: 1.25rem;
    color: $warning-red-color;
    margin-bottom: 10px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 310px;
    border: 2px solid $dark-slate-blue-color;
    border-radius: 20px;
    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      width: 26.042vw;
      height: 16.146vw;
      border-radius: 1.042vw solid $dark-slate-blue-color;
      margin-bottom: 2.083vw;
    }

    @include media($xsmall) {
      width: 470px;
      height: 294px;
      border-radius: 15px;
    }

    @include media($mini) {
      width: 320px;
      height: 200px;
      border-radius: 10px;
    }
  }

  &__logo {
    margin-top: 30px;
    width: 100%;
    font-size: 1.5rem;
    color: $turquoise-color;
    background-color: $dark-slate-blue-color;
    padding: 20px;
    display: flex;
    justify-content: center;

    @include mediaMinMax($small, $normal) {
      margin-top: 1.563vw;
      font-size: 1.250vw;
      padding: 1.042vw;
    }

    @include media($xsmall) {
      font-size: 1.25rem
    }

    @include media($mini) {
      font-size: 1.25rem
    }
  }

  &__card-icon {
    max-width: 50px;
    margin-right: 30px;
  }

  &__card-number {
    margin: 70px auto auto 40px;
    font-size: 1.25rem;
    color: $dark-slate-blue-color;

    @include mediaMinMax($small, $normal) {
      margin:3.646vw auto auto 2.083vw;
      font-size: 1.042vw;
    }

    @include media($xsmall) {
      margin: 50px auto auto 20px;
    }

    @include media($mini) {
      margin: 30px auto auto 15px;
    }
  }

  &__delete-button {
    margin: 0 40px 20px auto;

    @include mediaMinMax($small, $normal) {
      font-size: 0.781vw;
      height: 1.823vw;
      padding: 0 1.563vw;
      margin: 0 2.083vw 1.042vw auto
    }
  }

  &__tab-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
