@import 'src/styles/variables.scss';
@import "src/styles/media.scss";

.image-slider {
  max-width: 978px;
  margin: 20px auto 0;
  padding: 0 70px;

  @include media($small) {
    padding: 0 40px;
  }

  @include media($xsmall) {
    padding: 0 30px;
  }

  @include media($xmini) {
    padding: 0;
    width:100%;
  }

  .slick-arrow::before {
    display: none;
  }

  .slick-slide {
    padding: 0 0 205px 0 !important;
    width: 838px !important;

    @include media($small) {
      padding: 0 0 205px 0 !important;
    }

    @include media($mini) {
      padding: 0 0 170px 0 !important;
    }
  }

  .slick-active {
    display: block !important;
  }

  .slick-next,
  .slick-prev {
    top: calc(50% - 90px);

    @include media($xlmini) {
      top: calc(50% - 45px);
    }
  }

  &__arrow {
    width: 30px !important;
    height: 70px !important;
    margin-top: -50px;
    z-index: 1 !important;
    display: block;

    @include media($xsmall) {
      padding: 0 30px;
    }

    @include media($mini) {
      padding: 0 20px;
    }

    &_prev {
      left: -60px !important;
      transform: rotate(180deg) !important;

      @include media($small) {
        left: -25px !important;
      }

      .svg {
        width: 30px;
        height: 70px;
        transform: rotate(180deg);
      }
    }

    &_next {
      right: -60px !important;
      transform: rotate(0deg);

      @include media($small) {
        right: -25px !important;
      }

      .svg {
        width: 30px;
        height: 70px;
      }
    }
  }

  &__slide {
    margin-left: auto;
    margin-right: auto;
  }

  &__slide-wrapper {
    outline: none;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }
}
