@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.account-custom-select {
  position: relative;
  width: 300px;
  height: 60px;
  margin: 0 auto;

  @include mediaMinMax(1025, $normal) {
    width: 15.62vw;
    height: 3.12vw;
  }

  div#{&} {
    @include media($xsmall) {
      width: 300px;
      height: 60px;
      margin: 0 auto;
    }
  }

  &__select {
    outline: none;
    margin-bottom: 5px;

    div {
      text-align: center;
    }

    @include mediaMinMax(1025, $normal) {
     margin-bottom: 0.26vw;
    }


    &__menu-list::-webkit-scrollbar {
      width: 4px;
      height: 0;

      @include mediaMinMax(1025, $normal) {
        width: 0.2vw;
      }
    }
    &__menu-list::-webkit-scrollbar-track {
      background: $athens-gray-color;
      margin: 4px;
      border-radius: 3px;

    }
    &__menu-list::-webkit-scrollbar-thumb {
      background: $cadet-blue-color;
      border-radius: 3px;

      @include mediaMinMax(1025, $normal) {
        border-radius: 0.15vw;
      }
    }
    &__menu-list::-webkit-scrollbar-thumb:hover {
      background: $cadet-blue-color;
    }
  }

  &__select_roun#{&__select} {
   .custom-select__select {

      &__control--menu-is-open {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }

      &__menu-list::-webkit-scrollbar-track {
        margin: 15px;

        @include mediaMinMax(1025, $normal) {
          margin: 0.78vw;
        }
      }
    }
  }

  &_red-border {

    .custom-select__select {

      &__control {
        border-color: $error-red-color !important;
      }
    }

  }

  &__error {
    position: absolute;
    bottom: -15px;
    left: 0;
    font-size: 0.75rem;
    color: $error-red-color;

    @include mediaMinMax(1025, $normal) {
      bottom: -0.78vw;
      font-size: 0.62vw;
    }
  }
}
