@import "src/styles/variables.scss";
@import 'src/styles/media.scss';

.order-card {

  &__order {
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: $summer-green-color;
    }
  }

  &__order-title {
    margin-top: 20px;
    font-weight: $black;
    font-size: 1.125rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $shark-gray-color;
  }

  &__info-title {
    margin: 13px 0 2px;
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: $shark-gray-color;
  }

  &__description {
    max-width: 300px;
    font-size: 0.9375rem;
    line-height: 23px;
    letter-spacing: 0.5px;
    margin: 0;
    white-space: pre-line;
    color: $gray-lynch-color;
  }

  &__buttons-wrapper {
    position: relative;
  }

  &__buttons {
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76px;
  }

  &__btn-edit {
    text-decoration: none;
    color: $pickled-bluewood-color;
    font-size: 0.875rem;
    font-weight: $bold;
    line-height: 19px;
    letter-spacing: 1px;
  }

  &__btn-delete {
    cursor: pointer;
    height: 24px;

    &:focus{
      outline: none;
    }
  }

  &__delete-popup {
    position: absolute;
    padding: 20px;
    width: 196px;
    top: 38px;
    z-index: 500;
    right: 40px;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: $extraBold;
    line-height: 22px;
    background-color: $white-color;
    border-radius: 20px;
    border: 1px solid $athens-gray-color;
    text-align: center;

    &:before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      top: 58px;
      right: -17px;

      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-30%, -50%) rotate(45deg);
      background-color: $white-color;
      border-right: 1px solid $athens-gray-color;
      border-top: 1px solid $athens-gray-color;
    }
  }

  &__confirmation-wrapper {
    display: flex;
    margin-top: 16px;
  }

  &__delete-confirm,
  &__delete-cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 40px;
    margin: 0 8px;
    padding: 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: $extraBold;
    color: $light-slate-gray-color;
    text-decoration: none;
    border: solid 3px transparent;
    box-shadow: none;

    &:hover {
      box-shadow: 0 5px 10px 0 rgba($black-color, 0.2);
    }

    &:active{
      outline: none;
      color: $dark-turquoise-color;
    }

    &:disabled {
      opacity: 0.6;
      border: none;
      box-shadow: none;
    }
  }

  &__delete-confirm {
    background-color: $burnt-sienna-color;
    color: $white-color;
  }

  &__delete-cancel {
    background-color: $white-color;
    border: 2px solid $athens-gray-color;
  }

  &__photo-art-options {
    display: flex;
    justify-content: space-between;
    width: 240px;
    flex-wrap: wrap;
  }

  &__options {
    &_half-string {
      width: 49%;
    }

    &_full-string {
      width: 100%;
    }
  }
}
