.box-icon {
  &__st0 {
    fill: none;
  }

  &__st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B0E0E2;
  }

  &__st2 {
    filter: url(#Adobe_OpacityMaskFilter);
  }

  &__st3 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FFFFFF;
  }

  &__st4 {
    mask: url(#b_1_);
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #2D4A5E;
  }

  &__st5 {
    filter: url(#Adobe_OpacityMaskFilter_1_);
  }

  &__st6 {
    mask: url(#d_1_);
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #2D4A5E;
  }

  &__st7 {
    filter: url(#Adobe_OpacityMaskFilter_2_);
  }

  &__st8 {
    mask: url(#d_2_);
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B0E0E2;
  }

  &__st9 {
    filter: url(#Adobe_OpacityMaskFilter_3_);
  }

  &__st10 {
    mask: url(#d_3_);
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #2D4A5E;
  }

  &__st11 {
    filter: url(#Adobe_OpacityMaskFilter_4_);
  }

  &__st12 {
    mask: url(#d_4_);
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B0E0E2;
  }

  &__t13 {
    filter: url(#Adobe_OpacityMaskFilter_5_);
  }

  &__st14 {
    mask: url(#d_5_);
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #2D4A5E;
  }
}