@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.request-changes-form {
  margin-left: 20px;
  width: 38%;
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  @include mediaMinMax($small, $normal) {
    margin-left: 1.0466vw;
  }

  @include media($small) {
    width: 100%;
    margin-left: 0px;
  }

  &__chat-content-wrap {
    width: 100%;
    height: calc(100% - 47px);
    border: 1px solid $athens-gray-color;
    border-radius: 30px;

    @include mediaMinMax($small, $normal) {
      height: calc(100% - 2.4479vw);
      border-radius: 1.5625vw;
    }

    @include media($small) {
      height: 570px;
    }
  }

  &__chat-top-block {
    padding-top: 44px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $athens-gray-color;

    @include mediaMinMax($small, $normal) {
      padding-top: 2.2916vw;
      padding-bottom: 1.0416vw;
    }
  }

  &__chat-title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    color: $black-color;
    margin-bottom: 4px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.71875vw;
      margin-bottom: 0.2083vw;
    }
  }

  &__chat-subtitle {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.83333vw;
      line-height: 1.1458vw;
    }
  }

  &__title-wrapper {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaMinMax($small, $normal) {
      padding: 0 1.5625vw;
    }

    @include media($small) {
      border-bottom: 0;
    }
  }

  &__title {
    font-size: 1.125rem;
    color: $dark-slate-blue-color;
    margin-bottom: 10px;
    font-weight: $medium;

    @include mediaMinMax($small, $normal) {
      font-size: 0.9375vw;
      margin-bottom: 0.5208vw;
    }

    @include media($mini) {
      font-size: 0.875rem;
    }
  }

  &__text {
    font-size: 0.875rem;
    color: $mako-gray-color;
    margin: 10px auto;
    text-align: center;

    @include mediaMinMax($small, $normal) {
      font-size: 0.7291vw;
      margin: 0.5208vw auto;
    }

    @include media($mini) {
      font-size: 0.75rem;
    }
  }

  &__popup-close-bar {
    position: absolute;
    right: 10px;
    top: 10px;

    @include mediaMinMax($small, $normal) {
      right: 0.5208vw;
      top: 0.5208vw;
    }
  }

  &__close-icon {
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;

    @include mediaMinMax($small, $normal) {
      width: 1.5625vw;
      height: 1.5625vw;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    height: 127px !important;
    border-radius: 14px !important;
    border: 1px solid $athens-gray-color !important;
    background-color: $catskill-white-color !important;
    width: 316px !important;
    padding: 14px 18px !important;
    &::placeholder {
      line-height: 16px !important;
    }

    @include mediaMinMax($small, $normal) {
      height: 6.6145vw !important;
      border-radius: 0.7291vw !important;
      width: 16.4583vw !important;
      padding: 0.7291vw 0.9375vw !important;
    }

    &::placeholder {
      font-weight: $medium;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 1px;
      color: $darker-cadet-blue-color;

      @include mediaMinMax($small, $normal) {
        font-size: 0.8333vw;
        line-height: 1.1458vw;
      }
    }
  }

  &__btn {
    margin: 10px auto 0 auto;
    padding: 0px;
    width: 96px;
    height: 47px;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 27px;
    border-radius: 10px;

    @include mediaMinMax(1025, $normal) {
      width: 5vw;
      height: 2.448vw;
      font-size: 0.833vw;
      line-height: 1.406vw;
      border-radius: 0.521vw;
    }

    &:disabled {
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  &__chat {
    max-height: 490px;
    overflow: auto;
    padding: 0 10px;

    @include custom-scroll;

    @include mediaMinMax($small, $normal) {
      padding: 0 0.5208vw;
    }
  }

  &__chat-date {
    text-align: center;
    margin: 15px auto 5px;
    font-weight: $bold;
    font-size: 0.9375rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $darker-cadet-blue-color;

    @include mediaMinMax($small, $normal) {
      margin: 0.78125vw auto 0.2604vw;
      font-size: 0.78125vw;
      line-height: 1.0416vw;
    }
  }

  &__message-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    align-items: flex-start;

    &_user {
      align-items: flex-end;
    }
  }

  &__message-title {
    display: flex;
    align-items: center;
  }

  &__message-name {
    font-size: 0.875rem;
    font-weight: $medium;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;
    margin-bottom: 4px;

    @include mediaMinMax($small, $normal) {
      margin: 0.78125vw auto 0.2604vw;
      font-size: 0.78125vw;
      line-height: 1.0416vw;
    }
  }

  &__message {
    padding: 12px 20px;
    border: 1px solid $athens-gray-color;
    min-height: 20px;
    max-width: 80%;
    border-radius: 2px 14px 14px 14px;
    background-color: $catskill-white-color;

    @include mediaMinMax($small, $normal) {
      padding:0.625vw 1.0416vw;
      min-height: 1.0416vw;
      border-radius: 0.1041vw 0.7291vw 0.7291vw 0.7291vw;
    }

    &_user {
      background-color: $iceberg-blue-light-color;
      border: 1px solid $powder-blue-color;
      border-radius: 14px 2px 14px 14px;

      @include mediaMinMax($small, $normal) {
        border-radius: 0.7291vw 0.1041vw 0.7291vw 0.7291vw;
      }
    }

    @include media($mini) {
      padding: 10px 5px;
    }
  }

  &__message-time {
    font-weight: $bold;
    font-size: 0.625rem;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: $darker-cadet-blue-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.5208vw;
      line-height: 0.7291vw;
    }

    &_user {
      color: $light-slate-gray-color;
    }
  }

  &__message-text {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;
    margin-bottom: 3px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.7291vw;
      line-height: 0.9895vw;
      margin-bottom: 0.15625vw;
    }
  }

  &__popup-back-icon {
    margin-right: 9px;
    padding-bottom: 1px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.46875vw;
    }
  }

  &__back-icon {
    transform: rotate(180deg);
  }

  &__popup-back-text {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $pickled-bluewood-color;
    text-decoration: underline;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8333vw;
      line-height: 1.1458vw;
    }
  }

  &__close-btn {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    margin: auto auto 0 auto;
  }

  &__form-border-wrap {
    width: 100%;
    padding: 50px 22px;
    border: 1px solid $athens-gray-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-self: center;

    @include mediaMinMax($small, $normal) {
      padding: 2.6041vw 1.1458vw;
      border-radius: 1.5625vw;
    }
  }

  &__form-title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    color: $shark-gray-color;
    margin-bottom: 4px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.71875vw;
      margin-bottom: 0.2083vw;
    }
  }

  &__form-text {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $scarpa-flow-gray-color;
    margin-bottom: 20px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8333vw;
      line-height: 1.1458vw;
      margin-bottom: 1.0416vw;
    }
  }

  &__preset-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include media($xnormal) {
      width: 100%;
    }
  }

  &__preset-border-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 22px 22px 22px;
    border: 1px solid $athens-gray-color;
    border-radius: 30px;

    @include mediaMinMax($small, $normal) {
      padding: 2.6041vw 1.1458vw 1.1458vw 1.1458vw;
      border-radius: 1.5625vw;
    }

    @include media($xnormal) {
      width: 100%;
    }
  }

  &__preset-title {
    font-weight: $bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: $shark-gray-color;
    margin-bottom: 4px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.71875vw;
      margin-bottom: 0.2083vw;
    }
  }

  &__preset-subtitle {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $scarpa-flow-gray-color;
    margin-bottom: 20px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8333vw;
      line-height: 1.1458vw;
      margin-bottom: 1.0416vw;
    }
  }

  &__preset-buttons-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__preset-button {
    background: $white-color;
    border: 2px solid $summer-green-color;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    color: $shark-gray-color;

    width: 100%;
    margin-bottom: 16px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.8333vw;
      font-size: 0.7291vw;
      line-height: 0.9895vw;
      border-radius: 0.8333vw;
      padding: 0.7291vw;
    }

    &_with-error {
      margin-bottom: 40px;

      @include mediaMinMax($small, $normal) {
        margin-bottom: 2.083vw;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &__button-error {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    color: $error-red-color;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    @include mediaMinMax($small, $normal) {
      font-size: 0.7291vw;
      line-height: 0.9895vw;
      top: calc(100% + 0.52vw);
    }
  }

  &__preset-button-icon {
    margin-right: 13px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.677vw;
    }
  }

  &__fieldset {
    border: none;
    padding: 0;
  }
}
