@import 'variables.scss';
@import 'mixins.scss';
@import 'media.scss';

.btn {
  padding: 0 30px;
  min-width: 145;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.9375rem;
  font-weight: $extraMedium;
  color: $turquoise-color;
  text-decoration: none;

  border-radius: 20px;
  background: $dark-slate-blue-color;
  border: solid 3px transparent;
  box-shadow: none;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba($black-color, 0.2);
    border: solid 3px $turquoise-color;
  }

  &:active{
    outline: none;
    color: $dark-turquoise-color;
  }

  &:disabled {
    opacity: 0.6;
    border: none;
    box-shadow: none;
    cursor: default;

    &:hover {
      border: none;
      box-shadow: none;
    }
  }

  &_light {
    height: 35px;
    color: $dark-slate-blue-color;
    border-radius: 20px;
    background-color: $turquoise-color;

    &:hover {
      border-color: $dark-slate-blue-color !important;
    }
  }

  &_extra-light {
    color: $dark-slate-blue-color;
    background-color: $white-color;

    &:hover {
      border-color: $dark-slate-blue-color;
    }
  }

  &_big {
    padding: 0 30px;
    height: 48px;
    font-size: 16px;
    border-radius: 24px;
  }

  &_close {
    padding: 0;
    position: absolute;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;

    background: transparent;
    cursor: pointer;

    &:after,
    &:before {
      content: '';
      position: absolute;
      height: 18px;
      width: 2px;
      background-color: rgba($light-slate-gray-color, 0.7);
      transform: rotate(45deg);
      height: 18px;
      width: 2px;

      @include mediaMinMax(1025, $normal) {
        width: 0.93vw;
        height: 0.1vw;
      }
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:hover {
      border: none;
      box-shadow: none;
      opacity: 0.6;
    }

    &:active {
      background: none;
      box-shadow: none;
    }
  }

  &_minus,
  &_plus {
    width: 52px;
    height: 52px;
    border-radius: 16px;
    padding: 0;
    background-color: $pickled-bluewood-color;

    @include mediaMinMax(1025, $normal) {
      width: 2.7vw;
      height: 2.7vw;
      border-radius: 0.83vw;
    }

    &:after {
      content: '';
      position: absolute;
      height: 18px;
      width: 2px;
      height: 20px;
      width: 2px;
      background-color: $white-color;
      transform: rotate(90deg);

      @include mediaMinMax(1025, $normal) {
        height: 1.04vw;
      }
    }

    &:hover,
    &:active {
      border: none;
      box-shadow: none;

      &:after {
        width: 3px;
      }
    }
  }

  &_plus {
    &:before {
      content: '';
      position: absolute;
      height: 20px;
      width: 2px;
      background-color: $white-color;

      @include mediaMinMax(1025, $normal) {
        height: 1.4vw;
      }
    }

    &:hover,
    &:active {
      &:before {
        width: 3px;
      }
    }
  }

  &_min-size {
    width: 30px;
    height: 30px;
    border-radius: 8px;

    @include mediaMinMax(1025, $normal) {
      height: 1.56vw;
      width: 1.56vw;
      border-radius: 0.41vw;
    }
  }
}
