  $white-color: #ffffff;
  $beige-light-color: #f9f5f2;
  $turquoise-color: #9ee5d8;
  $dark-turquoise-color: #579096;
  $gray-color: #868686;
  $darker-dusty-gray-color: #909090;
  $dark-slate-blue-color: #123c55;
  $charcoal-gray-color: #45474c;
  $black-color: #000;
  $iron-color: #e0e3e5;
  $beige-brown-color: #f5e3d1;
  $gray-light-color: #e5e9ea;
  $gray-lynch-color: #678091;
  $light-salmon: #f8ab85;
  $bluey-grey-color: #a6bac6;
  $gray-geser-color: #CAD6DD;
  $cadet-blue-color: #A6BAC6;
  $darker-cadet-blue-color: #ABB6BF;
  $athens-gray-color: #E5E9EC;
  $wild-sand-color: #F6F6F6;
  $error-red-color: #ff0b51;
  $slate-light-blue-color: #3C5E73;
  $slate-gray-color: #718a99;
  $light-slate-gray-color: #778998;
  $green-color: #06881B;
  $desert-sand-color: #F4BA9E;
  $quick-sand-color: #bfa28c;
  $lightest-gray-color: #f6f6f7;
  $crimson-red-color: #ED1C24;
  $san-juan-color: #2E5268;
  $mako-gray-color: #9b9b9b;
  $warning-red-color: #a61e22;
  $mercury-gray-color: #E6E6E6;
  $silver-green-color: #c1c1c1;
  $light-silver-green-color: #C9C9C9;
  $dov-gray-color: #737373;
  $silver-chalice-gray-color: #a7a7a7;
  $iceberg-color : #d9f4ef;
  $scorpion-gray-color: #5B5B5B;
  $silver-gray-color: #CDCDCD;
  $silver-color: #C6C6C6;
  $deep-sea-green-color: #0A516D;
  $mine-shaft-gray-color: #2F2F2F;
  $linen-color: #F9EBDE;
  $brandy-color: #DFB89E;
  $loblolly-color: #B9C4CB;
  $rhino-blue-color: #2E4A5E;
  $iceberg-blue-light-color: #D1F0EF;
  $shark-gray-color: #232325;
  $pickled-bluewood-color: #314D61;
  $conch-gray-green-color: #BBD0C9;
  $burnt-sienna-red-color: #EC6859;
  $scarpa-flow-gray-color: #5A5A5C;
  $polar-light-blue-color: #F3FCFB;
  $citrine-white-color: #FDFBF0;
  $burnt-sienna-color: #EA695D;
  $gull-gray-color: #98A6B0;
  $catskill-white-color: #FBFCFD;
  $rose-white-color: #FFFEFE;
  $summer-green-color: #8FB8AA;
  $darker-summer-green-color: #8CB5A8;
  $coconut-cream-yellow-color: #F8F5D6;
  $intense-citrine-white-color: #F9F5D5;
  $white-lilac-color: #F8F9FD;
  $paris-white-color: #C0D6CE;
  $dusty-gray-color: #979797;
  $roman-red-color: #DE5D51;
  $sea-pink-red-color: #F09B92;
  $bombay-gray-color: #B6B8BF;
  $concrete-gray-color: #F2F2F2;
  $alabaster-gray-color: #F9F9F9;
  $light-gray-color: #F9F9FB;
  $athens-light-gray-color: #F3F4F8;
  $athens-light-gray-blue-color: #FAFBFC;
  $san-juan-dark-blue-color: #304D62;
  $iron-gray-color: #ced4d9;
  $shuttle-gray-color: #5B7181;
  $azalea-light-pink-color: #FADDDA;
  $powder-blue-color: #B3E7E7;
  $sidecar-yellow-color: #F3EFBE;
  $cinderella-pink-color: #FBDDD9;
  $apricot-orange-color: #F18B7E;
  $porcelain-gray-color: #F0F4F3;
  $hit-gray-color: #A3ADB5;
  $nobel-gray-color: #b3b3b3;
  $sinbad-blue-color: #98CCCC;
  $blue-squeeze: #F6FCFC;
  $chateau-gray-color: #97A3AE;
  $athens-gray-dark-color: #EAEEF1;
  $summer-green-dark-color: #8AB4A6;
  $iceberg-dark-color: #D0F0EF;
  $humming-bird-blue-color: #E0FBFB;
  $fair-pink-color: #FFEEEE;
  $cornflower-blue-color: #6195ED;
  $slate-gray-color-2: #778997;
  $fiord-blue-color: #3E5366;
  $aqua-squeeze: #e5f4f3;
  $shuttle-gray-color: #5C7182;
  $black-squeeze-color: #E5F6F5;
  $apricot-color: #F18C7F;
  $jagged-ice-color: #D0ECEF;
  $jagged-ice-color-dark: #B1DFE1;
  $citrine-white-color: #FAF7D6;
  $wild-sand-color: #F5F5F5;
  $catskill-two-white-color: #F0F8F7;
  $gallery-color: #EEEEEE;
  $tiber-color: #07343D;
  $jagged-ice-blue-color: #B1E0E1;
  $tuna-gray-color: #333336;
  $cinderella-pink-color: #FBDDD9;
  $jagged-ice-blue-color: #B1E0E1;
  $jumbo-color: #888889;
  $mid-gray-color: #6a6a6c;
