@import './variables.scss';
@import './btn.scss';
@import './form-elem.scss';
@import './media.scss';
@import './mixins.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: $font-family;
  color: $charcoal-gray-color;

  @include custom-scroll;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.hiddenBlock {
  display: none;
}

.container {
  &_xsmall {
    width: 100%;
    max-width: 830px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &_small {
    width: 100%;
    max-width: 950px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &_xnormal {
    width: 100%;
    max-width: 1186px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &_normal {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  &_big {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
  margin: 0;
  color: $shark-gray-color;
  font-weight: $medium;

  &_main {
    font-size: 2.5rem;
    line-height: 1.25;

    @include media($xsmall) {
      font-size: 2rem;
      font-weight: $medium;
    }
  }

  &_banner {
    font-size: 2.5rem;
    line-height: 1.25;
    transition: font-size 0.5s, line-height 0.5s;

    @include mediaMin($small) {
      font-size: 3.5rem;
      line-height: 1.21;
    }

    @include media($xsmall) {
      font-size: 2rem;
      font-weight: $medium;
    }
  }
}

.sub-title {
  color: $charcoal-gray-color;
  font-size: 16px;
  line-height: 1.5;
}

.form {
  &__fieldset {
    padding: 0;
    border: none;
  }

  &__legend {
    font-size: 1.5rem;
    line-height: 1.33;
    color: $dark-slate-blue-color;
  }
}

.link {
  font-size: 0.875rem;
  color: $charcoal-gray-color;
  text-decoration: underline;
}

.popup {
  position: absolute;
  width: 100vw;
  min-height: 100vh;

  &_topRight {
    right: 0;
    top: 0;
  }

  &__img-container {
    position: relative;
  }

  &__block-text {
    position: absolute;
    left: 19%;
    top: 23%;
    display: flex;
    justify-content: center;
    width: 62%;
  }

  &__img-text {
    margin: 0;
    color: $white-color;
    transform: skewX(10deg);
  }

  @media screen and (min-width: 320px) {
    &__img-text {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1024px) {
    &__img-text {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1366px) {
    &__img-text {
      font-size: 16px;
    }
  }
}

.fresh-chat-button {
  position: absolute;
  top: 100px;
  right: 50px;
}

button,
button:active,
button:focus {
  outline: none;
}

#review-close-btn {
  width: 30px;
  height: 30px;
  position: fixed;
  top: -190px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: -10px;
  left: 115px;
  z-index: 300;
  cursor: pointer;
  background-color: rgba($gray-light-color, 1);
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
  }

  @include media($mini) {
    display: none;
  }
}

.no-reviews {
  display: none;
}

#fc_frame {
  z-index: 200;
}
