@import 'variables.scss';

.order-field {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba($white-color, 0);

  &_text {
    flex-direction: column;
    min-height: 140px;
    justify-content: space-around;
  }

  &_personalize-text {
    flex-direction: column;
    justify-content: space-around;
  }

  &__container {
    text-align: left;
  }

  &__title,
  &__price {
    margin: 0;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: $extraMedium;
    line-height: 1.5;
    color: $charcoal-gray-color;
  }

  .hint {
    margin-left: 20px;
  }
}
