@import "./variables.scss";

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: $font-family;
    color: $charcoal-gray-color;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}
