@import 'variables.scss';
@import 'media.scss';

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 580px;
    width: 580px;
    @include mediaMinMax($small, $normal){
      width: 30.208vw;
      height: 30.208vw;
    }

    @include mediaMin($xlmini){
      &::after{
        content: "";
        position: absolute;
        background-color: $azalea-light-pink-color;
        border-radius: 30px;
        height: 186.95px;
        width: 195px;
        top: 0;
        right: 0;
        z-index: -1;
        @include mediaMinMax($small, $normal){
          width: 10.156vw;
          height: 9.737vw;
        }
      }
      &::before{
        content: "";
        position: absolute;
        background: $iceberg-dark-color;
        border-radius: 0 0 0 37px;
        height: 238px;
        width: 250px;
        bottom: 0;
        left: 0;
        z-index: -1;
        @include mediaMinMax($small, $normal){
          width: 13.021vw;
          height: 12.396vw;
        }
      }
    }
    &-main{
      background: $white-color;
      width: 500px;
      height: 500px;
      border-radius: 44px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include mediaMinMax($small, $normal){
        width: 26.042vw;
        height: 26.042vw;
      }
      @include mediaMin($xsmall){
        box-shadow: 37px 37px 80px rgba($black-color, 0.03);
      }
      &-icon{
        @include mediaMinMax($small, $normal){
          width: 9.375vw;
          height: 9.375vw;
        }
        text{
          text-shadow: $paris-white-color 2px 2px 0
        }
      }
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.56;
    width: 250px;
    text-align: center;
    margin: 30px auto;
    @include mediaMinMax($small, $normal){
      margin: 1.563vw auto;
      width: 13.021vw;
      font-size: 0.833vw;
    }
  }

  &__btn {
    padding: 16px 28px;
    height: 59px;

    .color-button__button-text{
      font-size: 1.0625rem
    }

    @include mediaMinMax($small, $normal){
      padding: 0.833vw 1.458vw;
      height: 3.073vw;

      .color-button__button-text{
        font-size: 0.885vw;
      }
    }
  }
}
