@import './variables.scss';

@mixin custom-scroll {
  &::-webkit-scrollbar {
    width: 15px;
    background-color: $white-color;
  }

  &::-webkit-scrollbar-track {
    width: 10px;
    background-color: $athens-light-gray-color;
    border-radius: 60px;
    border: 4px solid rgba($athens-light-gray-color, 0);
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $athens-gray-color;
    height: 6px;
    border-radius: 100px;
    border: 4px solid rgba($athens-gray-color, 0);
    background-clip: padding-box;
  }

}
