@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.reset-password {
  padding: 30px;
  background: $white-color;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

  &__fieldset {
    border: none;
  }

  &__legend {
    margin-bottom: 30px;
    text-align: center;
    font-weight: $black;
    font-size: 2rem;
    line-height: 38px;
    color: $shark-gray-color;

    @include mediaMin($small){
      font-size: 1.458vw;
      margin-bottom: 1.563vw;
    }
  }

  &__input {
    margin-bottom: 20px;

    @include mediaMin($small){
      margin-bottom: 1.042vw;
    }
  }

  &__container {
    padding: 20px 0;
    margin-bottom: 10px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    color: $white-color;
    align-self: center;
    padding: 13px 60px;

    &:disabled {
      opacity: 0.5;
    }

    @include mediaMin($small){
      padding: 0.677vw 3.125vw;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.63;
    color: $charcoal-gray-color;

    .link {
      font-size: 16px;
      margin-left: 10px;
    }
  }

  &__popup {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__form {
    width: 440px;
    display: flex;
    flex-direction: column;

    @include mediaMin($small){
      width: 22.917vw;
    }
  }

  &__submit-msg {
    color: $dark-slate-blue-color;
    text-align: center;
    margin-bottom: 5px;
  }
}
