@import "src/styles/variables.scss";

.order-text {

  &__wrapper {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    padding: 13px 30px;
    box-shadow: 0 2px 4px 0 rgba($black-color, 0.1);
    min-height: 80px;
  }

  &__container {
    min-width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  &__count {
    padding: 0 5px;
    min-width: 20px;
  }

  &__input {
    width: 100%;
  }

  &__count-controls {
    display: flex;
  }
}
