@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.order-track-tab {
  width: 100%;
  border: 1px solid $porcelain-gray-color;
  box-shadow: 0 20px 30px rgba($black-color, 0.03);
  border-radius: 10px;

  @include media($xlmini) {
    border: none;
    box-shadow: none;
  }

  @include media($small) {
    padding: 0;
  }

  &__title {
    display: grid;
    grid-template-columns: 40% 5% 55%;
    border: 1px solid $porcelain-gray-color;
    box-shadow: 0 20px 30px rgba($black-color, 0.03);
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 16px 0;

    @include mediaMinMax(1025, $normal) {
      padding: 0.833vw 0;
      margin-bottom: 5.208vw;
    }

    @include media($small) {
      margin-bottom: 60px;
    }
  }

  &__title-date {
    text-align: right;
    padding-right: 80px;
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.833vw;
      line-height: 1.146vw;
      padding-right: 4.167vw;
    }

    @include media($small) {
      padding-right: 57px;
    }

    @include media($xlmini) {
      text-align: left;
      padding-left: 23px;
      padding-right: 0;
    }
  }

  &__title-status {
    grid-column: 2 / 3;
    padding-left: 155px;
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      padding-left: 8.073vw;
      font-size: 0.833vw;
      line-height: 1.146vw;
    }

    @include media($small) {
      padding-left: 100px;
    }

    @include media($xlmini) {
      padding-left: 20px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 40% auto 55%;
    justify-content: space-between;
    margin-bottom: 60px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 3.125vw;
    }

    @include media($small) {
      margin-bottom: 50px;
    }

    @include media($xlmini) {
      grid-template-columns: 25% auto 60%;
    }

    &:last-child {
      margin-bottom: 100px;
    }
  }

  &__status-icon {
    position: relative;
    z-index: 5;
    background: white;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $darker-cadet-blue-color;

    @include mediaMinMax($small, $normal) {
      border: 0.104vw solid $darker-cadet-blue-color;
      width: 2.292vw;
      height: 2.292vw;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    @include mediaMinMax(1024, $normal) {
      width: 1.250vw;
      height: 1.250vw;
    }

    &_place {
      border-radius: 50%;
      border: 2px solid $paris-white-color;
      margin-right: 10px;
      width: 22px;
      height: 22px;
      padding: 4px;

      @include mediaMinMax(1025, $normal) {
        padding: 0.208vw;
        width: 1.146vw;
        height: 1.146vw;
        margin-right: 0.521vw;
        border: 0.104vw solid $paris-white-color
      }
    }

    &_proofs {
      width: 22px;
      height: 22px;
      margin-right: 10px;

      @include mediaMinMax(1025, $normal) {
        margin-right: 0.521vw;
        width: 1.146vw;
        height: 1.146vw;
      }
    }

    &_dollar {
      width: 22px;
      height: 22px;
      border: 2px solid $sea-pink-red-color;
      border-radius: 50%;
      margin-right: 10px;

      @include mediaMinMax(1025, $normal) {
        border: 0.104vw solid $sea-pink-red-color;
        margin-right: 0.521vw;
        width: 1.146vw;
        height: 1.146vw;
      }
    }

    &_track {
      width: 22px;
      height: 22px;
      margin-right: 10px;

      @include mediaMinMax(1025, $normal) {
        margin-right: 0.521vw;
        width: 1.146vw;
        height: 1.146vw;
      }
    }
  }

  &__item-date-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 77px;

    @include media($xlmini) {
      padding-right: 16px !important;
    }

    @include media($xlmini) {
      align-items: flex-start;
      padding-left: 15px;
    }

    &::before {
      position: absolute;
      right: -38px;
      top: 0;
      background-color: $athens-gray-color;
      width: 1px;
      height: calc(100% + 65px);
      content: '';

      @include mediaMinMax(1025, $normal) {
        right: -1.979vw;
      }

      @include media($small) {
        right: -22px;
        height: calc(100% + 50px);
      }

      @include media($xlmini) {
        right: -7.059vw;
      }
    }

    &_last {
      &::before {
        display: none;
      }
    }

    @include mediaMinMax(1025, $normal) {
      padding-right: 4.010vw;
    }

    @include media($small) {
      padding-right: 57px;
    }

    @include media($xlmini) {
      padding-right: 38px;
    }
  }

  &__item-date {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: right;
    color: $pickled-bluewood-color;

    @include mediaMinMax(1025, $normal) {
      line-height: 0.990vw;
      font-size: 0.729vw;
    }

    @include media($small) {
      font-size: 0.75rem;
      line-height: 16px;
    }
  }

  &__item-time {
    font-weight: $medium;
    font-size: 0.75rem;
    line-height: 16px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.625vw;
      line-height: 0.833vw;
    }

    @include media($small) {
      font-size: 0.6875rem;
      line-height: 15px;
    }
  }

  &__item-container,
  &__item-status-link {
    width: 55%;
    padding-left: 77px;

    @include mediaMinMax(1025, $normal) {
      padding-left: 4.010vw;
    }

    @include media($small) {
      width: 63%;
      padding-left: 57px;
      font-size: 0.9375rem;
      line-height: 20px;
    }

    @include media($xlmini) {
      width: 100%;
      padding-left: 16px;
    }
  }

  &__item-status {
    display: flex;
    justify-content: flex-start;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 24px;
    color: $shark-gray-color;

    @include mediaMinMax(1024, $normal) {
      line-height: 1.250vw;
      font-size: 0.885vw;
    }

    &-link {
      color: $black-color;
    }
  }

  &__item-description {
    font-size: 0.938rem;
    line-height: 20px;

    @include mediaMinMax(1024, $normal) {
      font-size: 0.781vw;
      line-height: 1.042vw;
    }
  }

  &__btn {
    background: none;
    border-radius: 7px;
    font-size: 0.875rem;
    padding: 5px 12px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.729vw;
      margin-top: 1.146vw;
      padding: 0.260vw 0.625vw;
    }

    &_payment {
      color: $burnt-sienna-color;
      border: 2px solid $azalea-light-pink-color;

      @include mediaMinMax(1025, $normal) {
        border: 0.104vw solid $azalea-light-pink-color;
      }
    }

    &_place {
      border: 2px solid $athens-gray-color;
      color: $light-slate-gray-color;

      @include mediaMinMax(1025, $normal) {
        border: 0.104vw solid $athens-gray-color;
      }
    }

    &_download {
      border: 2px solid $iceberg-blue-light-color;
      color: $light-slate-gray-color;

      @include mediaMinMax(1025, $normal) {
        border: 0.104vw solid $iceberg-blue-light-color;
      }
    }
  }

  &__view-all-btn {
    display: block;
    margin: 30px auto 0 auto;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;

    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
    color: $pickled-bluewood-color;

  }
}
