@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.cloud-day-counter {
  display: flex;
  align-items: center;
  z-index: 1;

  &__logo-block {
    margin-right: 15px;
    display: flex;

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.78vw;
    }
  }

  &__icon {
    object-fit: cover;
    object-position: center center;
    width: 84px;

    @include mediaMinMax(1025, $normal) {
      width: 4.37vw;
    }
  }

  &__content-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: $bold;
    font-size: 16px;
    line-height: 21px;
    color: $dark-slate-blue-color;
    margin-bottom: 6px;
    margin-right: 30px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.09vw;
      margin-bottom: 0.312vw;
    }
  }

  &__count-bar {
    width: 265px;
    height: 44px;
    content: '';
    position: relative;
    background-color: $catskill-white-color;
    overflow: hidden;
    border: 1px solid $athens-gray-color;
    border-radius: 12px;
    padding: 4px;

    @include mediaMinMax(1025, $normal) {
      width: 13.8vw;
      height: 2.29vw;
      border-radius: 0.625vw;
      padding: 0.2vw;
    }
  }

  &__progress {
    content: '';
    max-width: 97%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 83%;
    background-color: $turquoise-color;
    border-radius: 10px;
    margin: 4px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0.52vw;
      margin: 0.2vw;
    }
  }

  &__count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $dark-slate-blue-color;
    font-size: 0.875rem;
    line-height: 19px;
    white-space: nowrap;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.72vw;
      line-height: 0.98vw;
    }
  }

  &__bottom-text {
    font-weight: $medium;
    font-size: 0.813rem;
    line-height: 18px;
    text-align: center;
    color: $burnt-sienna-color;
    text-decoration: underline;
    background-color: transparent;
    padding: 0;
    border: none;
    margin-right: 30px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.67vw;
      line-height: 0.93vw;
      margin-right: 1.56vw;
    }
  }

  &__hint {
    width: 24px;
    height: 24px;
    margin-left: 10px;

    @include mediaMinMax(1025, $normal) {
      width: 1.25vw;
      height: 1.25vw;
      margin-left: 0.52vw;
    }
  }

  &__count-bar-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.2vw;
    }
  }

  &__hint-wrap {
    outline: none;
    background: none;
    display: flex;
  }
}
