@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.shipping-info-form {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  max-width: 1352px;

  &__title-icon {
    display: flex;
    align-items: center;
  }

  &__title-icon-name {
    margin-left: 20px;
  }

  &__icon {
    stroke: $dark-slate-blue-color;
  }

  &__products-title {
    margin-bottom: 30px;
  }

  &__orders-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    display: none;
  }

  &__custom {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;

    @include mediaMinMax($small, $normal) {
      margin-right: 1.042vw;
      min-width: 0.93vw;
      max-width: 0.93vw;
      min-height: 0.93vw;
      max-height: 0.93vw;
    }

    &:before {
      content: '';
      padding: 2px;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 50%;
      bottom: 0;
      transform: translateY(-50%);
      background: $white-color;
      border-radius: 50%;
      border: 1px solid $dark-slate-blue-color;

      @include mediaMinMax($small, $normal) {
        width: 1.146vw;
        height: 1.146vw;
      }
    }
  }

  &__input:checked + &__custom {
    &:after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      top: calc(50% - 5px);
      left: 6px;
      background: $dark-slate-blue-color;
      border-radius: 5px;

      @include mediaMinMax($small, $normal) {
        top: calc(50% - 0.260vw);
        left: 0.313vw;
        width: 0.521vw;
        height: 0.521vw;
      }
    }

    &:before {

      border-color: $dark-slate-blue-color;
    }
  }

  &__same-address-text {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.8px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      line-height: 1.146vw;
    }
  }

  &__delivery {
    &_wrap {
      @include mediaMin($small) {
        display: flex;
      }
    }
  }

  &__method-block-wrapper {
    max-width: 700px;
    background: $wild-sand-color;
    margin-bottom: 50px;
    padding: 30px 20px;
  }

  &__method-text-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: $white-color;
    padding: 20px 40px;
    position: relative;

    &:after {
      content: "";
      width: 85%;
      height: 1px;
      position: absolute;
      background-color: $bluey-grey-color;
      bottom: 0;
      left: 7%;
    }
  }

  &__method-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__method-description {
    margin: 0 15px 0 0;
    font-size: 1.125rem;
    color: $dark-slate-blue-color;


    &_tiny {
      font-size: 0.875rem;
      color: $charcoal-gray-color;
    }
  }

  &__method-title {
    margin-bottom: 15px;
  }

  &__order-details {
    width: 700px;
  }

  &__info-wrapper {
    width: 100%;
  }

  &__card-info {
    background-color: $lightest-gray-color;
  }

  &__info-form-row {
    display: flex;
    justify-content: space-between;
    gap: 32px 20px;

    @include mediaMinMax($small, $normal) {
      gap: 1.667vw 1.042vw;
    }

    @include media($small) {
      justify-content: center;
      flex-wrap: wrap;
    }

    &_with-margin {
      margin-bottom: 16px;

      @include mediaMinMax($small, $normal) {
        margin-bottom: 0.833vw;
      }
    }
  }

  &__column-input {
    width: 49%;

    &_full-width {
      width: 100%;
    }
  }

  &__column-text-field {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  &__column-select-field {
    width: 320px;
    margin-bottom: 15px;

    @include media($xlnormal) {
      width: 20vw;
      max-width: 320px;
    }

    @include media($small) {
      width: 320px;
    }

    &_full {
      width: 664px;

      @include media($xlnormal) {
        width: 44vw;
        max-width: 664px;
      }

      @include media($small) {
        width: 320px;
      }
    }
  }

  &__btn {
    margin: 20px auto 0;
  }

  &__card-info {
    padding: 20px 40px;
    background-color: $white-color;
  }

  &__card-info-title {
    padding: 20px 0;
    color: $dark-slate-blue-color;
    font-weight: $medium;
  }

  &__payment-method-title {
    color: $dark-slate-blue-color;
    font-weight: $medium;
    margin: 0;
    margin-bottom: 20px;
  }

  &__same-address-box {
    display: flex;

    &_not-same {
      margin-bottom: 80px;

      @include mediaMinMax($small, $normal) {
        margin-bottom: 4.167vw;
      }

      @include media($small) {
        max-width: 660px;
        margin: 0 auto 50px;
      }
    }
  }

  &__form-title {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: $shark-gray-color;

    @include mediaMinMax($small, $normal) {
      line-height: 1.406vw;
      font-size: 1.042vw;
    }
  }

  &__select-wrapper {
    z-index: 1;
  }

  &__column-input-field,
  &__select-wrapper {
    width: 320px;

    @include media($xlnormal) {
      width: 20vw;
      max-width: 320px;
    }

    @include media($small) {
      width: 320px;
    }

    &_full {
      width: 664px;

      @include media($xlnormal) {
        width: 44vw;
        max-width: 664px;
      }

      @include media($small) {
        width: 320px;
      }
    }

    &_desktop {
      @include media($small) {
        width: 100%;
      }

      @include media($xlmini) {
        width: 320px;
      }
    }
  }

  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_half {
      width: auto;
      margin-left: 193px;

      @include mediaMinMax(1025, $normal) {
        justify-content: flex-start;
        margin-left: 10.052vw;
      }

      @include media($small) {
        margin: 50px auto 0 auto;
      }
    }
  }

  &__billing-wrapper,
  &__shipping-wrapper {
    margin-bottom: 80px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 4.167vw;
    }

    @include media($small) {
      margin-bottom: 30px;
    }
  }

  &__textarea {
    height: 156px;

    @include media($small) {
      max-width: 660px;
      margin: 0 auto;
    }

    @include media($xlmini) {
      width: 320px;
    }
  }

  &__info {
    @include media($xlmini) {
      max-width: 340px;
      margin: 0 auto;
    }
  }
}
