@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0 20px 0;
  position: relative;
  align-items: center;

  @include mediaMin($xsmall) {
    padding: 30px 0 40px 0;
  }

  @include mediaMin($xnormal) {
    padding: 30px 0;
    flex-direction: row;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    background-color: $slate-light-blue-color;
    height: 1px;
    width: 100%;
  }

  &__description {
    color: $white-color;
    text-align: center;

    @include mediaMin($xnormal) {
      text-align: left;
      width: 220px;
      margin-right: 75px;
    }
  }

  &__text {
    margin-top: 9px;
    margin-bottom: 20px;
    transition: margin-bottom 0.5s;

    @include mediaMin($small) {
      margin-bottom: 30px;
    }

    @include mediaMin($xnormal) {
      margin-bottom: 0;
    }
  }

  &__title {
    color: $beige-brown-color;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: $medium;
  }

  &__link {
    color: $white-color;

    @include media($small) {
      display: block;
    }

    @include mediaMin($xnormal) {
      display: block;
    }
  }

  &__image,
  &__image-link {
    height: 160px;

    @include mediaMin($small) {
      height: 120px;
    }

    @include media($small) {
      height: auto;
    }
  }

  &__image-link {
    width: 50%;

    @include mediaMin($small) {
      width: auto;
      margin-right: 20px;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__image-block {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width:100%;
    justify-content: center;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;

    @include mediaMin($small) {
      width: 200px;
    }

    @include media($small) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__image-wrapper {
    position: relative;
    text-align: center;

    @include media($small) {
      padding: 30% 0;
      content: '';
    }
  }
}
