@import 'src/styles/variables.scss';
@import "src/styles/media.scss";

.my-files-tab {
  width: 100%;
  position: relative;

  &__background {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: $athens-light-gray-blue-color;
    left: calc((-100vw + 1532px) / 2);

    &_white {
      background-color: $white-color;
    }

    @include mediaMinMax(1025, $normal) {
      left: -10.105vw;
    }

    @include media($small) {
      left: -20px;
    }
  }
}
