@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.account-tabs {
  display: flex;
  align-items: center;

  &_main {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.3vw;
    }

    @include media($small) {
      margin-bottom: 15px;
    }
  }

  &_sub-tubs {
    margin-bottom: 68px;
    display: flex;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 3.54vw;
    }

    @include media($small) {
      margin-bottom: 50px;
    }

  }

  &_mobile {
    display: none;

  }

  @include media($xsmall) {
    justify-content: center;
    overflow: hidden;
  }

  &__btn {
    border: none;
    background-color: transparent;
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.01em;
    color: $gull-gray-color;
    margin: 0 31px;
    padding-bottom: 6px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
      margin: 0 1.61vw;
      padding-bottom: 0.31vw;
    }

    &_main {
      font-weight: $medium;
      font-size: 1.25rem;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.01em;
      color: $gull-gray-color;
      margin-right: 30px;
      padding-bottom: 0;
      margin-bottom: 0;

      @include mediaMinMax(1025, $normal) {
        font-size: 1.04vw;
        line-height: 1.4vw;
        margin-right: 1.563vw;
        padding-bottom: 0;
      }

      @include media($small) {
        padding-bottom: 0;
      }

      @include media($xsmall) {
        padding-bottom: 0;
      }
    }

    &_active {
      border-bottom: 2px solid $pickled-bluewood-color !important;
      font-weight: $bold;
      font-size: 1.0625rem;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.01em;
      color: $pickled-bluewood-color !important;
      opacity: 1 !important;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.88vw;
        line-height: 1.19vw;
      }
    }

    &_main-active {
      font-weight: $bold;
      font-size: 1.25rem;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.01em;
      color: $pickled-bluewood-color !important;
      border-bottom: 2px solid $athens-gray-color;


      @include mediaMinMax(1025, $normal) {
        font-size: 1.04vw;
        line-height: 1.4vw;
      }
    }

    &_column {
      margin-bottom: 10px;
    }

    @include media($xmini) {
      margin-bottom: 10px;
    }
  }

  &__tabs-view {


    &_main {
      padding-bottom: 20px;
      display: flex;
      overflow: auto;

      @include mediaMinMax(1025, $normal) {
        padding-bottom: 1.04vw;
      }

      @include media($xmini) {
        width: 375px;
        max-width: 90vw;
      }
    }

    &_sub-tubs {
      @include media($xmini) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }

  &__select {
    &_without-line {

    }

    &_without-line div div {
      padding: 0;
    }
  }
}
