@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.know-about {
  margin-bottom: 27px;
  width: 100%;

  @include media($small) {
    margin-bottom: 20px;

  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 60px rgba($black-color, 0.04);
    height: 106px;
    padding: 0 50px 0 69px;

    font-size: 1.125rem;
    color: $dark-slate-blue-color;
    background-color: $white-color;
    outline: none;
    border-radius: 30px;

    @include mediaMinMax(1025, $normal) {
      height: 5.521vw;
      padding: 0 2.604vw 0 3.594vw;
    }

    &_nested-item {
      background-color: $athens-light-gray-blue-color;
      border: 1px solid $athens-gray-dark-color;
      border-radius: 16px;
      max-height: 60px;
    }

    @include media($small) {
      height: auto;
      padding: 17px;
      border-radius: 20px;
    }

    @include media($xmini) {
    }
  }

  &__title {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    max-width: calc(100% - 30px);

    @include mediaMinMax(1025, $normal) {
      font-size: 1.042vw;
      line-height: 1.406vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.727273px;
    }

    &_nested-title {
      font-size: 1.0625rem;
      line-height: 23px;
      color: $light-slate-gray-color;
    }
  }

  &__content {
    padding: 30px 80px 5px 80px;
    margin-top: 2px;

    @include mediaMinMax(1025, $normal) {
      padding: 1.563vw 4.167vw 0.260vw 4.167vw;
    }

    &_without-padding {
      padding: 0;
      font-size: 16px;
      font-weight: $medium;
      line-height: 27px;
      letter-spacing: 1px;
      color: $scarpa-flow-gray-color;
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    }

    &_nested-text {
      padding-left: 69px;
    }

    @include media($small) {
      padding: 20px;
    }
    @include media($xsmall) {
      flex-wrap: wrap;
    }
  }

  &__icon {

    @include mediaMinMax(1025, $normal) {
      width: 1.875vw;
      height: 1.875vw;
    }

    @include media($small) {
      width: 24px;
      height: 24px;
    }

    &_open {
      transform: rotate(90deg);
    }
  }
}
