@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.shipping-target {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 1px 2px 4px rgba($black-color, .2);

  @include media($small) {
    top: 0;
    position: relative;
  }

  &__top-block {
    display: flex;
    padding: 5px 15px;
    background-color: $turquoise-color;
    justify-content: center;
    position: relative;

    @include mediaMinMax($small, $normal) {
      padding: 0.260vw 0.781vw;
    }

    @include media($small) {
      flex-direction: column;
    }
  }

  &__top-text {
    max-width: calc(100% - 220px);
    text-align: center;

    @include mediaMinMax($small, $normal) {
      max-width: calc(100% - 11.458vw);
    }

    @include media($small) {
      max-width: 100%;
      margin-bottom: 5px;
    }
  }

  &__learn-more {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 7px;

    @include mediaMinMax($small, $normal) {
      right: 0.781vw;
      top: 0.365vw;
    }

    @include media($small) {
      position: static;
    }
  }

  &__btn-text {
    font-size: 16px;
    margin-right: 5px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      margin-right: 0.260vw;
    }
  }

  &__content-wrap {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(49, 77, 97, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 113;
  }

  &__veil {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__content-block {
    display: flex;
    flex-wrap: nowrap;
    z-index: 2;
    background: $black-squeeze-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 50px;
    border: solid 3px $powder-blue-color;
    padding: 40px 30px 40px 60px;

    @include mediaMinMax($small, $normal) {
      border-radius: 2.604vw;
      padding: 2.083vw 1.562vw 2.083vw 3.125vw;
    }

    @include media($small) {
      flex-direction: column;
      align-items: center;
      width: 688px;
      max-height: calc(100vh - 160px);
      overflow-y: auto;
      padding: 30px 17px;
      padding-bottom: 25px;
      border-radius: 28px;
      margin-top: 100px;
      max-width: 690px;
      width: 95vw;

      @include custom-scroll;

      &::-webkit-scrollbar {
        background-color: rgba($black-squeeze-color, 0);
      }
    }

    @include media($mini) {
      width: 350px;
    }
  }

  &__input-block {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    justify-content: flex-start;
    margin-right: 69px;

    @include mediaMinMax($small, $normal) {
      max-height: 26.042vw;
      max-width: 26.042vw;
      margin-right: 3.594vw;
    }

    @include media($small) {
      margin-bottom: 0px;
      margin-right: 0;
      width: auto;
    }
  }

  &__card {
    @include media($small) {
      width: 100%;
    }
  }

  &__card-list {
    display: flex;
    align-items: center;

    @include media($small) {
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
  }

  &__shipping-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include media($small) {
      width: 100%;
    }

    &_no-local {

      @include media($small) {
        order: 4 !important;
      }
    }
  }

  &__shipping-card {
    width: 300px;
    height: 520px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white-color;
    box-shadow: 12px 12px 94px rgba($black-color, 0.05);
    border-radius: 28px;
    margin-right: 16px;
    position: relative;

    @include mediaMinMax($small, $normal) {
      width: 15.625vw;
      height: 27.083vw;
      padding: 0.625vw;
      border-radius: 1.458vw;
      margin-right: 0.833vw;
    }

    @include media($small) {
      margin-right: 6px;
      margin-left: 6px;
      margin-bottom: 22px;
      width: 100%;
      padding: 13px 10px;
      height: auto;
    }

    &:last-child {

      @include media($small) {
        margin-right: 6px;
        margin-left: 6px;
        margin-bottom: 22px;
      }
    }

    &_no-local {
      width: 460px;

      @include mediaMinMax(1025, $normal) {
        width: 23.958vw;
      }

      @include media($small) {
        width: 100%;
      }
    }
  }

  &__card-mobile {
    display: none;

    @include media($small) {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }

  &__link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    margin: 20px 16px 20px 0;
    color: $white-color;
    background-color: $rhino-blue-color;
    border-radius: 10px;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 1.0625rem;
    font-weight: $bold;
    &::visited {
      text-decoration: none;
    }

    @include mediaMinMax($xsmall, 1025) {
      height: 60px;
      width: 180px;
      border-radius: 10px;
      font-size: 1.0625rem;
    }

    @include mediaMinMax(1025, $normal) {
      height: 3.125vw;
      width: 9.512vw;
      border-radius: 0.5208vw;
      font-size: 0.8854vw;
      line-height: 1.40625vw;
    }

    @include media($small) {
      margin-right: 0;
      margin-top: 0;
    }
  }

  &__input-title {
    font-weight: $black;
    font-size: 2.188rem;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1.10526px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 40px;
    margin-top: 15px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.77vw;
      margin-bottom: 2.083vw;
      margin-top: 0.781vw;
      line-height: 2.396vw;
    }

    @include media($small) {
      font-size: 1.594rem;
      margin-bottom: 20px;
      letter-spacing: normal;
      margin-top: 0px;
    }
  }

  &__input-text {
    font-size: 1.188rem;
    line-height: 22px;
    text-align: center;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 50px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.989vw;
      line-height: 1.146vw;
      margin-bottom: 2.604vw;
    }

    @include media($small) {
      display: none;
      font-size: 1.0316px;
      margin-bottom: 0px;
    }

    @include media($mini) {
      white-space: initial;
      width: 265px;
    }
  }

  &__input-btn {
    border-radius: 10px;
    background-color: $burnt-sienna-color;
    font-size: 1.094rem;
    line-height: 1.97;
    color: $white-color;
    border: none;
    height: 60px;
    width: 260px;
    display: flex;
    align-items: center;
    font-weight: $bold;;
    display: flex;
    justify-content: center;

    @include mediaMinMax($small, $normal) {
      height: 3.125vw;
      width: 13.541vw;
      border-radius: 0.52vw;
      font-size: 0.911vw;
    }

    @include media($small) {
      margin-bottom: 20px;
    }
  }

  &__input-contact {
    font-size: 1.188rem;
    font-weight: $extraMedium;
    color: $pickled-bluewood-color;
    line-height: 20px;
    margin-top: 60px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.989vw;
      margin-top: 3.125vw;
      line-height: 1.042vw;
    }

    @include media($small) {
      margin-top: 0px;
    }
  }

  &__input-contact-phone {
    font-size: 1.188rem;
    font-weight: $normal;
    color: $scarpa-flow-gray-color;
    line-height: 20px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.989vw;
      line-height: 1.042vw;
    }
  }

  &__card-subtitle {
    font-size: 1.188rem;
    line-height: 1.26;
    color: $scarpa-flow-gray-color;
    font-weight: $normal;
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.989vw;
      margin-top: 2.083vw;
    }

    @include media($small) {
      margin-top: 0px;
      font-size: 0.844rem;
      line-height: 1.81;
    }

  }

  &__input-block-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media($small) {
      display: none;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
      }
    }
  }

  &__card-content-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100%;

    @include media($small) {
      flex-direction: row;
    }
  }

  &__status-shipping {
    width: 165px;
    min-height: 40px;
    border-radius: 10px;
    background-color: $jagged-ice-color-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.063rem;
    line-height: 34px;
    font-weight: $extraMedium;

    @include mediaMinMax(1025, $normal) {
      width: 8.594vw;
      min-height: 2.083vw;
      border-radius: 0.521vw;
      font-size: 0.885vw;
      line-height: 1.771vw;
    }

    @include media($small) {
      display: none;
    }

    &_no-available {
      background-color: $iron-color;
    }
  }

  &__zip-code-text {
    font-weight: $bold;
    font-size: 1.063rem;
    margin-bottom: 10px;
    line-height: 20px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.521vw;
      font-size: 0.885vw;
      line-height: 1.042vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__zip-code-text-aviable {
    font-weight: $extraMedium;
    font-size: 16px;
    line-height: 34px;
  }

  &__zip-code-button-aviable {
    font-weight: $extraMedium;
    font-size: 16px;
    line-height: 26px;
    color: $white-color;
    width: 165px;
    height: 40px;
    background-color: $burnt-sienna-color;
    border: none;
    border-radius: 10px;
  }

  &__zip-code-area {
    background: $black-squeeze-color;
    border-radius: 16px;
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 15px;

    @include mediaMinMax(1025, $normal) {
      height: 8.594vw;
      border-radius: 0.833vw;
      padding: 0.521vw;
      margin-top: 0.781vw;
    }

    @include media($small) {
      display: none;
      border-radius: 17px;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
        height: auto;
      }
    }

    &_show {
      display: none;
    }
  }

  &__zip-code-input {
    width: 220px;
    height: 40px;
    background: $white-color;
    border: 2px solid rgba($powder-blue-color, 0.7);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
    font-size: 1.063rem;
    letter-spacing: normal;
    line-height: 34px;
    outline: none;

    @include mediaMinMax($small, $normal) {
      width: 11.458vw;
      height: 2.083vw;
      border-radius: 0.521vw;
      margin-bottom: 0.521vw;
      font-size: 0.885vw;
      line-height: 1.771vw;
    }

    &::placeholder {
      font-weight: $medium;
      font-size: 1.063rem;
      line-height: 34px;
      text-align: center;
      letter-spacing: 0.5px;
      color: $darker-cadet-blue-color;

      @include mediaMinMax($small, $normal) {
        font-size: 0.885vw;
        line-height: 1.771vw;
      }
    }
  }

  &__check-block {
    display: flex;
    align-items: center;
    height: 40px;

    @include mediaMinMax(1025, $normal) {
      height: 2.083vw;
    }
  }

  &__check-box {
    background: $white-color;
    border: 2px solid $light-slate-gray-color;
    box-sizing: border-box;
    border-radius: 4px;
    content: '';
    width: 17px;
    height: 17px;
    margin-right: 12px;
    position: relative;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.208vw;
      width: 0.885vw;
      height: 0.885vw;
      margin-right: 0.625vw;
    }

    &_checked {
      &::after {
        width: 16px;
        height: 7px;
        content: '';
        border-left: 2px solid $pickled-bluewood-color;
        border-bottom: 2px solid $pickled-bluewood-color;
        transform: rotate(-45deg);
        position: absolute;
        left: 3px;
        bottom: 9px;

        @include mediaMinMax($small, $normal) {
          width: 0.833vw;
          height: 0.365vw;
          left: 0.156vw;
          bottom: 0.469vw;
        }
      }
    }
  }

  &__check-box-text {
    font-weight: $medium;
    font-size: 1.063rem;
    line-height: 24px;
    color: $shark-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.885vw;
      line-height: 1.250vw;
    }
  }

  &__bottom-text {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
      line-height: 0.990vw;
    }
  }

  &__card-title {
    font-weight: $bold;
    font-size: 1.125rem;
    line-height: 23px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.938vw;
      line-height: 1.198vw;
      margin-bottom: 0.521vw;
      margin-top: 1.0416vw;
    }

    @include media($small) {
      display: none;
      font-size: 1.094rem;
      line-height: 1.46;
      margin-bottom: 8px;
      margin-top: 0px;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: block;
      }
    }
  }

  &__card-turquoise-text {
    font-size: 1.5rem;
    color: $turquoise-color;
    text-align: center;

    @include mediaMinMax($small, $normal) {
      font-size: 1.250vw;
    }
  }

  &__card-desc {
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.5px;
    color: $scarpa-flow-gray-color;
    border: none;
    background-color: $white-color;
    white-space: break-spaces;

    &_link {
      text-decoration: underline;
      cursor: pointer;
      margin-top: 32px;
      margin-bottom: 25px;

      @include mediaMinMax(1025, $normal) {
        margin-top: 1.667vw;
        margin-bottom: 1.302vw;
      }

      @include media($small) {
        margin-bottom: 0px;
        font-weight: $extraMedium;
        color: $pickled-bluewood-color;
      }
    }

    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      line-height: 1.146vw;
    }

    @include media($small) {
      display: none;
      font-size: 16px;
      line-height: 24px;
      margin-left: 10px;
      white-space: initial;
    }

    @include media($mini) {
      margin-left: 0px;
      white-space: break-spaces;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: block;
      }
    }
  }

  &__button-bottom-text {
    font-size: 16px;
    line-height: 24px;
    color: $scarpa-flow-gray-color;
    margin-top: 5px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.833vw;
      line-height: 1.250vw;
      margin-top: 0.260vw;
    }
  }

  &__card-image {
    position: relative;
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 18px;

    @include mediaMinMax($small, $normal) {
      height: 11.458vw;
      border-radius: 0.938vw;
    }

    @include media($small) {
      display: none;
      min-width: 135px;
      max-width: 135px;
      height: 135px;
      margin-right: 10px;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: block;
      }
    }

    &_no-available {
      opacity: 0.27;
    }
  }

  &__card-info-text {
    font-size: 1.5rem;

    @include mediaMinMax($small, $normal) {
      font-size: 1.250vw;
    }
  }

  &__arrow {
    transform: rotate(90deg);
    height:15px;

    @include mediaMinMax($small, $normal) {
      height: 0.781vw;
    }

    &_open {
      transform: rotate(270deg);
    }
  }

  &__status-block {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: $white-color;
    border-radius: 14px;
    padding: 6px 18px;
    z-index: 1;
    display: flex;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      top: -0.417vw;
      right: -0.417vw;
      border-radius: 0.729vw;
      padding: 0.313vw 0.938vw;
    }

    @include media($small) {
      top: 0;
    }
  }

  &__open-block-wrap {
    position: fixed;
    left: 20px;
    bottom: 20px;

    @include mediaMinMax($small, $normal) {
      bottom: 1.042vw;
      left: 1.042vw;
    }
  }

  &__open-block {
    display: flex;
    align-items: center;
    padding: 10px 28px 10px 10px;
    background: $iceberg-blue-light-color;
    border: 2px solid $powder-blue-color;
    box-shadow: 25px 25px 40px rgba($black-color, 0.03);
    border-radius: 20px;
    outline: none;

    @include mediaMinMax($small, $normal) {
      padding: 0.521vw 1.458vw 0.521vw 0.521vw;
      border-radius: 1.042vw;
    }

    @include media($small) {
      padding: 10px;
    }
  }

  &__icon-block-wrap {
    z-index: 1;
  }

  &__icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.1);
    border-radius: 14px;
    width: 65px;
    height: 65px;
    margin-right: 28px;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.729vw;
      width: 3.38vw;
      height: 3.38vw;
      margin-right: 1.458vw;
    }

    @include media($small) {
      margin-right: 0;
      background-color: $white-color;
    }
  }

  &__back-blue-element {
    display: block;
    position: absolute;
    top: -6px;
    left: -6px;
    background: $pickled-bluewood-color;
    border-radius: 20px 0;
    content: '';
    width:36px;
    height: 37px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      top: -0.313vw;
      left: -0.313vw;
      border-radius: 1.042vw 0;
      width:1.875vw;
      height: 1.927vw;
    }

    @include media($small) {
      display: block;
    }
  }

  &__back-green-element {
    display: block;
    position: absolute;
    bottom: -6px;
    right: -6px;
    background: $powder-blue-color;
    border-radius: 20px 0;
    content: '';
    width:36px;
    height: 37px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      bottom: -0.313vw;
      right: -0.313vw;
      border-radius: 1.042vw 0;
      width:1.875vw;
      height: 1.927vw;
    }

    @include media($small) {
      display: block;
    }
  }

  &__icon-element {
    width: 50px;
    height: 50px;

    @include mediaMinMax(1025, $normal) {
      width: 2.604vw;
      height: 2.604vw;
    }
  }

  &__close-btn {
    position: absolute;
    right: -24px;
    top: -24px;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: none;

    img {
      width: 30px;
      height: 30px;

      @include mediaMinMax(1025, $normal) {
        width: 1.56vw;
        height: 1.56vw;
        border-radius: 0.52vw;
      }
    }

    &_popup {
      @include media($small) {
        right: 0;
        top: 65px;
      }
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include media($small) {
      display: none;
    }
  }

  &__button-title {
    font-weight: $black;
    font-size: 1.13rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: left;
    margin-bottom: 1px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.94vw;
      line-height: 1.25vw;
    }
  }

  &__button-text {
    font-weight: $medium;
    font-size: 1.2rem;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;
    font-family: Lato;
    font-style: normal;

    @include mediaMinMax($small, $normal) {
      font-size: 1vw;
      line-height: 1.38vw;
    }
  }

  &__button-link {
    font-weight: $medium;
    font-size: 1.2rem;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;
    text-decoration: underline;

    @include mediaMinMax($small, $normal) {
      font-size: 1vw;
      line-height: 1.38vw;
    }
  }

  &__stripe-one {
    background: $powder-blue-color;
    content: '';
    border-radius: 0 0 0 37px;
    position: absolute;
    top: 0;
    left: 488px;
    width: 194px;
    height: 245px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      border-radius: 0 0 0 1.927vw;
      left: 25.417vw;
      width: 10.104vw;
      height: 12.760vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__stripe-two {
    background: $iceberg-blue-light-color;
    border-radius: 37px 0 0 0;
    content: '';
    position: absolute;
    right: 0;
    top: 110px;
    width: 194px;
    height: 245px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.927vw 0 0 0;
      top: 5.729vw;
      width: 10.104vw;
      height: 12.760vw;
    }

    @include media($small) {
      display: none;
    }
  }
}
