@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.home-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 1920px;
  padding: 70px clamp(92px, 10.1%, 194px) 0px;
  margin: 0 auto;

  &_with-banner {

    @include media($mini) {
      padding-top: 85px;
    }
  }

  &_no-padding {
    padding-bottom: 0px;
  }

  @include media($small) {
    padding: 0 20px 30px;
  }
  
  &_mission {
    @include media($small) {
      padding: 20px 20px 30px;
    }
  }

  &__title {
    font-weight: $black;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1px;
    color: $black-color;
    line-height: 48px;
    margin-bottom: clamp(20px, 1.3%, 25px);
    white-space: pre-wrap;

    @-moz-document url-prefix() {
      white-space: pre;
    }

    @include media($normal) {
      font-size: 2.5vw;
      line-height: 2.5vw;
      margin-bottom: 25px;
    }

    @include media($small) {
      font-size: 2rem;
      line-height: 40px;
      margin-bottom: 20px;
    }

    @include media($xmini) {
      white-space: initial;
    }

    &_mission {
      font-size: 40px;

      @include media($normal) {
        font-size: 2.2vw;
        line-height: 56px;
        margin-bottom: 1vw;
      }
  
      @include media($small) {
        font-size: 2rem;
        line-height: 40px;
        margin-bottom: 20px;
      }
  
      @include media($xmini) {
        white-space: initial;
      }
    }
  }

  &__desc {
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }
    margin-bottom: 89px;
    
    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.45vw;
      margin-bottom: 4.63vw;
    }

     @include media($small) {
      margin-bottom: 40px;
      font-weight: $medium;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.8px;
      white-space: initial;
    }

    @include media($xlmini) {
      white-space: initial;
    }
    
    &_mission {
      margin-bottom: 160px;

      @include mediaMinMax($small, $normal) {
        margin-bottom: 8.5vw;
      }

      @include media($small) {
        margin-bottom: 40px;
      }
    }
  }

  &__block-image {
    width: 100%;
    height: 500px;
    border-radius: 28px;
    object-fit: cover;
    object-position: center;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      height: 26.042vw;
      border-radius: 1.458vw;
    }

    @include media($small) {
      width: 728px;
      height: 300px;
    }

    @include mediaMinMax(481, $xsmall) {
      width: 94.668vw;
      height: 39.012vw;
    }

    @include media($mini) {
      width: 335px;
      height: 300px;
    }
  }

  &__image {
    border-radius: 28px;
  }

  &__stripe-one {
    position: absolute;
    top: 200px;
    left: -67px;
    width: 24.2%;
    height: 260px;
    background-color: $polar-light-blue-color;
    border-radius: 40px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      top: 10.417vw;
      left: -3.490vw;
      height: 13.542vw;
      border-radius: 2.083vw;
    }

     @include media($mini) {
       top: 234px;
       left: 0;
       width: 105px;
       border-top-left-radius: 0;
       border-bottom-left-radius: 0;
    }

    &_mission {
      top: 260px;
    }
  }

  &__stripe-three {
    position: absolute;
    top: 160px;
    left: 295px;
    width: 141px;
    height: 141px;
    background-color: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.09);
    border-radius: 27px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      top: 8.333vw;
      left: 15.365vw;
      width: 7.344vw;
      height: 7.344vw;
      border-radius: 1.406vw;
    }

    @include media($small) {
      left: clamp(61px, 7.94vw, 295px);
      width: 80px;
      height: 80px;
    }

    @include media($mini) {
      display: none;
    }

    &_mission {
      top: 220px;
    }
  }

  &__stripe-four {
    position: absolute;
    top: 100px;
    right: 180px;
    width: 90px;
    height: 90px;
    background-color: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.07);
    border-radius: 20px;
    z-index: -1;

   @include mediaMinMax(1025, $normal) {
     top: 5.208vw;
     right: 9.375vw;
     border-radius: 1.042vw;
     width: 4.688vw;
     height: 4.688vw;
   }

    @include media($mini) {
      display: none;
    }

    &_mission {
      top: 160px;
    }
  }

  &__stripe-six {
    position: absolute;
    bottom: -80px;
    right: -65vw;
    width: 100vw;
    height: 335px;
    background-color: $citrine-white-color;
    border-radius: 50px;

    @include mediaMinMax(1025, $normal) {
      bottom: -3.125vw;
      height: 17.448vw;
      border-radius: 2.604vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__stripe-seven {
    position: absolute;
    bottom: -130px;
    right: 140px;
    width: 110px;
    height: 110px;
    background-color: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.07);
    border-radius: 20px;

    @include mediaMinMax(1025, $normal) {
      bottom: -6.771vw;
      width: 5.729vw;
      height: 5.729vw;
      border-radius: 1.042vw;
      right: 7.292vw;
    }

    @include media($small) {
      display: none;
    }
  }
}
