@import '../../../../src/styles/variables';
@import '../../../../src/styles/media';

.info-widget {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: max(40px, min(6.25vw, 120px)) 0 97px 0;
  margin-bottom: min(80px, 4.16vw);

  @include mediaMin($normal) {
    padding: 120px 0 97px 0;
    margin-bottom: 80px;
  }

  @include mediaMinMax(1025, $normal) {
    padding: 6.25vw 0 5.05vw 0;
    margin-bottom: 4.16vw;
  }

  @include media($mini) {
    margin-bottom: 160px;
  }

  &__img-wrapper {
    max-width: 1920px;
    width: 100%;
    position: relative;
  }

  &__img-container {
    display: flex;
    align-items: center;
    border-radius: 32px;
    padding: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 500px;
    height: 26vw;
    max-width: 1920px;
    margin: 0 max(92px, min(10.1%, 194px));
    transition: background-position 0.5s, background-size 0.5s;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      border-radius: 1.66vw;
      padding: 2.6vw;
      height: 26.04vw;
      margin: 0 10.1vw;
    }

    @include media($small) {
      margin: 0 20px;
      height: 372px;
    }

    @include media($xsmall) {
      max-width: 1532px;
      max-height: 500px;
      min-height: 372px;
      height: calc(100vw / 100 * 30);
      padding: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 20px;
    }

    @include media($mini) {
      padding: 11px;
      background-position: 40% 0;
    }
  }

  &__container {
    background-color: $catskill-white-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: max(24px, min(1.82vw, 35px));
    height: max(312px, min(20.83vw, 400px));
    width: max(312px, min(20.83vw, 400px));
    padding: max(40px, min(3.125vw, 60px)) max(28px, min(2.6vw, 50px)) max(40px, min(2.6vw, 50px)) max(40px, min(2.6vw, 50px));
    z-index: 1;

    @include mediaMin($normal) {
      border-radius: 35px;
      width: 400px;
      height: 400px;
      padding: 60px 50px 50px 50px;
    }

    @include mediaMinMax(1025, $normal) {
      border-radius: 1.82vw;
      height: 20.83vw;
      width: 20.83vw;
      padding: 3.125vw 2.6vw 2.6vw 2.6vw;
    }

     @include media($mini) {
       position: absolute;
       top: 300px;
       left: calc(50vw - 175px);
    }
  }

  &__title {
    text-align: center;
    font-weight: $black;
    font-size: max(27px, min(2.08vw, 40px));
    line-height: max(40px, min(2.91vw, 56px));
    letter-spacing: 1px;
    margin-bottom: 30px;

    @include mediaMin($normal) {
      font-size: 2.5rem;
      line-height: 56px;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 1.56vw;
    }
  }

  &__desc {
    text-align: center;
    font-size: 1.0625rem;
    line-height: max(22px, min(1.4vw, 27px));
    letter-spacing: 1px;
    font-weight: $medium;
    margin-bottom: max(40px, min(2.96vw, 57px));

    @include mediaMin($normal) {
      font-size: 1.0625rem;
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }
    
      line-height: 27px;
      margin-bottom: 57px;
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.4vw;
      margin-bottom: 2.96vw;
    }

    @include media($small) {
      font-size: 16px;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: center;
  }

  &__link {
    text-decoration: none;
  }

  &__stripe {
    position: absolute;

    &_right {
      width: calc((100vw - 100%) / 2 + 20%);
      height: 260px;
      top: -100px;
      left: 80%;
      background-color: $polar-light-blue-color;
      border-radius: 40px 0 0 40px;
      z-index: -2;

      @include media($xnormal) {
        width: calc(50vw - 50% + 200px);
        top: -40px;
        right: 0;
        left: auto;
        z-index: -2;
      }
    }

     &_left {
      width: calc((100vw - 100%) / 2 + 20%);
      height: 265px;
      bottom: -90px;
      right: 80%;
      background-color: $citrine-white-color;
      border-radius: 0 35px 35px 0;
      z-index: -2;

      @include media($xnormal) {
        width: calc(50vw - 50% + 265px);
        bottom: -40px;
        left: 0;
        right: auto;
      }
    }

    &_square {
      width: 90px;
      height: 90px;
      bottom: -136px;
      right: calc(100% + 6px);
      background-color: $white-color;
      box-shadow: 29px 29px 48px rgba($black-color, 0.07);
      border-radius: 20px;
      z-index: -2;
    }
  }

  &__image {
    width: 100%;
    height: 26vw;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    border-radius: 32px;
    max-height: 500px;
    max-width: 1920px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 1.66vw;
      height: 26.04vw;
    }

    @include media($small) {
      height: 372px;
    }

    @include media($xsmall) {
      max-width: 1532px;
      max-height: 500px;
      min-height: 372px;
      height: calc(100vw / 100 * 30);
    }

    @include media($mini) {
      object-position: 40% 0;
    }
  }
}
