@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.big-count-input {
  display: flex;
  justify-content: center !important;

  &__wrapper {
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    min-height: 80px;

    @include mediaMinMax(1025, $normal) {
      padding: 0.78vw 1.56vw;
      min-height: 4.16vw;
    }

    &_min-size {
      min-height: 30px;
      padding: 0;

      @include mediaMinMax(1025, $normal) {
        min-height: 1.56vw;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__count {
    line-height: 27px;
    letter-spacing: 1.11px;
    padding: 0 25px;
    height: 52px;
    font-size: 1.25rem;
    font-weight: $bold;
    color: $pickled-bluewood-color;
    opacity: 0.8;
    background-color: $athens-light-gray-color;
    border: 1px solid $iron-gray-color;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;

    @include mediaMinMax(1025, $normal) {
      line-height: 1.4vw;
      padding: 0 1.3vw;
      height: 2.7vw;
      font-size: 1.04vw;
      border-radius: 0.83vw;
    }
  }

  &__input {
    line-height: 27px;
    letter-spacing: 1.11px;
    padding: 0 25px;
    height: 52px;
    font-size: 1.25rem;
    font-weight: $bold;
    color: $pickled-bluewood-color;
    opacity: 0.8;
    background-color: $athens-light-gray-color;
    border: 1px solid $iron-gray-color;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    text-align: center;

    @include mediaMinMax(1025, $normal) {
      line-height: 1.4vw;
      padding: 0 1.3vw;
      height: 2.7vw;
      font-size: 1.04vw;
      border-radius: 0.83vw;
    }

    &_min-size {
      min-width: 70px;
      height: 30px;
      border-radius: 8px;

      @include mediaMinMax(1025, $normal) {
        min-width: 3.6vw;
        height: 1.56vw;
        border-radius: 0.41vw;
      }
    }
  }

  &__btn-count {
    margin: 0 3px;

    &_main {
      margin: 0 3px;
    }
  }

  &__input_min-size {
    min-width: 40px;
    padding: 0;
    width: 46px !important;

    @include mediaMinMax(1025, $normal) {
      min-width: 2.083vw;
      width: 30% !important;
    }
  }

  .btn {
    padding: 0 30px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.9375rem;
    font-weight: $extraMedium;
    color: $turquoise-color;
    text-decoration: none;

    border-radius: 20px;
    background: $dark-slate-blue-color;
    border: solid 3px transparent;
    box-shadow: none;

    &:hover {
      box-shadow: 0 5px 10px 0 rgba($black-color, 0.2);
      border: solid 3px $turquoise-color;
    }

    &:active {
      outline: none;
      color: $dark-turquoise-color;
    }

    &:disabled {
      opacity: 0.6;
      border: none;
      box-shadow: none;
      cursor: default;

      &:hover {
        border: none;
        box-shadow: none;
      }
    }

    &_light {
      height: 35px;
      color: $dark-slate-blue-color;
      border-radius: 20px;
      background-color: $turquoise-color;

      &:hover {
        border-color: $dark-slate-blue-color !important;
      }
    }

    &_extra-light {
      color: $dark-slate-blue-color;
      background-color: $white-color;

      &:hover {
        border-color: $dark-slate-blue-color;
      }
    }

    &_big {
      padding: 0 30px;
      height: 48px;
      font-size: 16px;
      border-radius: 24px;
    }

    &_close {
      padding: 0;
      position: absolute;
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;

      background: transparent;
      cursor: pointer;

      &::after,
      &::before {
        content: '';
        position: absolute;
        height: 18px;
        width: 2px;
        background-color: rgba($light-slate-gray-color, 0.7);
        transform: rotate(45deg);

        @include mediaMinMax(1025, $normal) {
          width: 0.93vw;
          height: 0.1vw;
        }
      }

      &::before {
        transform: rotate(-45deg);
      }

      &:hover {
        border: none;
        box-shadow: none;
        opacity: 0.6;
      }

      &:active {
        background: none;
        box-shadow: none;
      }
    }

    &_minus,
    &_plus {
      width: 52px;
      height: 52px;
      border-radius: 16px;
      padding: 0;
      background-color: $pickled-bluewood-color;

      @include mediaMinMax(1025, $normal) {
        width: 2.7vw;
        height: 2.7vw;
        border-radius: 0.83vw;
      }

      &::after {
        content: '';
        position: absolute;
        height: 18px;
        width: 2px;
        background-color: $white-color;
        transform: rotate(90deg);

        @include mediaMinMax(1025, $normal) {
          height: 1.04vw;
        }
      }

      &:hover,
      &:active {
        border: none;
        box-shadow: none;

        &::after {
          width: 3px;
        }
      }
    }

    &_plus {
      &::before {
        content: '';
        position: absolute;
        height: 18px;
        width: 2px;
        background-color: $white-color;

        @include mediaMinMax(1025, $normal) {
          height: 1.4vw;
        }
      }

      &:hover,
      &:active {
        &::before {
          width: 3px;
        }
      }
    }

    &_min-size {
      width: 30px;
      height: 30px;
      border-radius: 8px;

      @include mediaMinMax(1025, $normal) {
        height: 1.56vw;
        width: 1.56vw;
        border-radius: 0.41vw;
      }
    }

    &_hidden {
      @include media($xmini) {
        display: none;
      }
    }
  }

  .btn_minus,
  .btn_plus {
    margin: 0 14px;
    padding: 0;
    background-color: $pickled-bluewood-color;

    @include mediaMinMax(1025, $normal) {
      margin: 0 0.72vw;

      &::before,
      &::after {
        height: 1.04vw !important;
        width: 0.15vw !important;
      }
    }

    &::before,
    &::after {
      height: 20px;
      width: 3px;
    }

    &::after {
      content: '';
      position: absolute;
      height: 18px;
      width: 2px;
      background-color: $white-color;
      transform: rotate(90deg);

      @include mediaMinMax(1025, $normal) {
        height: 1.04vw;
      }
    }

    &:hover,
    &:active {
      border: none;
      box-shadow: none;

      &::after {
        width: 3px;
      }
    }

    &:hover {
      &:before,
      &:after {
        width: 4px;
      }
    }
  }

  .btn_plus {
    &::before {
      content: '';
      position: absolute;
      height: 18px;
      width: 2px;
      background-color: $white-color;

      @include mediaMinMax(1025, $normal) {
        height: 1.04vw;
      }
    }

    &:hover,
    &:active {
      &::before {
        width: 3px;
      }
    }
  }
}
