@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.free-photo-scan {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 130;
  background-color: rgba($black-color, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  &__popup-wrapper {
    height: 505px;
    overflow-y: auto;
  }

  &__wrapper {
    position: relative;
    width: 688px;
    height: 493px;
    background-color: $white-color;
    border-radius: 42px;
    padding: 40px;

    @include mediaMinMax(1025, $normal) {
      width: 35.833vw;
      height: 25.677vw;
      border-radius: 2.188vw;
      padding: 2.083vw;
    }

    @include media($xlmini) {
      width: 343px;
      height: 540px;
      border-radius: 24px;
      padding: 5.882vw 3.676vw;
    }

    @include media($mini) {
      padding: 6.250vw 5.208vw;
    }
  }

  &__title {
    font-family: Lato;
    font-style: normal;
    font-weight: $black;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 24px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.250vw;
      line-height: 1.719vw;
      margin-bottom: 1.250vw;
    }

    @include media($xlmini) {
      font-size: 1.375rem;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  &__text-one,
  &__text-two {
    font-family: Lato;
    font-style: normal;
    font-weight: $medium;
    font-size: 1.063rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;


    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.406vw;
      margin-bottom: 1.042vw;
    }

    @include media($xlmini) {
      font-size: 16px;
      margin-bottom: 16px;
      letter-spacing: 0.8px;
    }
  }

  &__text-two {
    margin-bottom: 20px;
    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.406vw;
      margin-bottom: 0.684vw;
    }
  }

  &__text-one {
    margin-bottom: 15px;
  }

  &__text-three {
    margin-bottom: 15px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.406vw;
      margin-bottom: 0.684vw;
    }

    @include media($xlmini) {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  &__promo-code-text, &__text-three {
    font-weight: $extraBold;
    font-family: Lato;
    font-style: normal;
    font-size: 1.063rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.406vw;
    }
  }

  &__promo-code-text {
    justify-content: center;
    display: flex;
    align-items: center;

    @include media($mini) {
      font-size: 2.8vw;
    }
    @include mediaMinMax($mini, $xmini) {
      font-size: 2.353vw;
    }
    @include mediaMinMax($xmini, $xlmini) {
      font-size: 1.995vw;
    }
  }

  &__promo-code {
    background-color: $iron-color;
    border-radius: 5px;
    padding:2px 3px;
    margin: 0 2px;
  }

  &__block-button {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  &__button {
    font-family: Lato;
    font-style: normal;
    font-weight: $extraBold;
    font-size: 1.063rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5625px;
    background-color: $burnt-sienna-red-color;
    color: $white-color;
    border: none;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    margin: 0 auto;

    @include mediaMinMax(1025, $normal) {
      width: 8.333vw;
      height: 3.125vw;
      border-radius: 0.521vw;
      font-size: 0.885vw;
      line-height: 1.406vw;
    }


  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    top: -32px;
    right: -32px;
    z-index: 3;
    background-color: rgba($athens-gray-color, 0);
    border-radius: 10px;
    width: 30px;
    height: 30px;

    @include media($small) {
      right: -32px;
      top: -32px;
    }

    @include media($xsmall) {
      right: 0;
      top: -37px;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
