@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.words-slider {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 1669px;

  @include mediaMinMax($small, $normal) {
    width: 86.927vw;
  }

  @include media($small) {
    width: 90vw;
  }

  &__list-wrap {
    width: 1669px;
    display: flex;

    @include mediaMinMax($small, $normal) {
      width: 86.927vw;
    }

    @include media($small) {
      width: 90vw;
  }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }


  &__word {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    font-size: 1.375rem;
    line-height: 1.27;
    color: $black-color;
    font-weight: $bold;

    @include mediaMinMax($small, $normal) {
      font-size: 1.1458vw;
    }
  }

  &__word-wrap {
    text-align: center;
  }

  &__title {
    color: $black-color;
    letter-spacing: 1px;
    font-weight: $black;
    margin-bottom: 34px;
    font-size: 2.5rem;
    width: 100%;
    line-height: 56px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    max-width: 1130px;
    text-align: center;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.7708vw;
      font-size: 2.08vw;
      width: 100%;
      line-height: 2.91vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
    }

    @include media($xlmini) {
      white-space: initial;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 50px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    transition: margin-bottom 0.5s;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      margin-bottom: 2.6vw;
    }

    @include media($small) {
      font-size: 16px !important;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      text-align: center;
      margin-bottom: 30px;
      white-space: initial;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      line-height: 3.51vw;
      font-size: 2.864vw;
      text-align: center;
    }

    @include media($xlmini) {
      white-space: initial;
      line-height: 24px;
      letter-spacing: 1px;
      font-size: 2.79vw;
      max-width: 80%;
    }

    @include media($xmini) {
      font-size: 3.27vw;
    }

    @include media($mini) {
      font-size: 3.95vw;
    }
  }
}
