@import "src/styles/variables.scss";
@import 'src/styles/media.scss';

.select-images-form {
  background-color: $white-color;
  box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
  border-radius: 50px;

  @include mediaMinMax(1025, $normal) {
    border-radius: 2.6vw;
  }

  @include media($small) {
    border-radius: 40px;
  }

  @include media($xsmall) {
    border-radius: 24px;
    width: calc(100vw - 40px);
  }

  &__upload-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-between;
    padding: 0;
    margin: 0 0 35px;
    max-height: 80px;
    width:80%;

    @include mediaMinMax(1025, $normal) {
      margin: 0 0 1.82vw;
      max-height: 4.16vw;
    }
  }

  &__upload-list-item {
    color: $charcoal-gray-color;
    font-size: 0.875rem;
    line-height: 2.2;
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.72vw;
      margin-bottom: 0.26vw;
    }
  }

  &__select-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.52vw;
      width: 1.04vw;
      height: 1.04vw;
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @include mediaMinMax(1025, $normal) {
      margin-top: 1.56vw;
    }

    .tabs__btn {
      font-size: 16px;
      font-weight: $regular;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.83vw;
      }
    }
  }

  &__tabs-btn {
    padding-bottom: 2px;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 24px;
    text-align: center;
    color: $shark-gray-color;
    opacity: 0.5;
    border-bottom: 3px solid $athens-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
    }
  }

  &__upload {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 40px 40px;
    margin-top: 0;

    @include mediaMinMax(1025, $normal) {
      padding: 1.04vw 2.08vw 2.08vw 2.08vw;
    }

    @include media($small) {
      padding: 20px 30px 30px 30px;
    }

    @include media($xsmall) {
      width: calc(100vw - 40px);
    }
  }

  &__upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.56vw;
    }
  }

  &__upload-title,
  &__upload-list {
    text-align: left;
  }

  &__upload-title {
    font-size: 1.5rem;
    font-weight: $medium;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.25vw;
    }
  }


  &__drag-and-drop_wrapper {
    width: 600px;
    height: 300px;
    outline: none;
    border: 2px dashed $pickled-bluewood-color;
    background: $athens-light-gray-blue-color;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      width: 31.25vw;
      height: 15.62vw;
      border-radius: 22px;
    }

    @include media($small) {
      width: 75vw;
    }

    @include media($xsmall) {
      width:calc(100vw - 100px);
      margin: 0;
    }

    @include media($mini) {
      height: 140px;
    }
  }

  &__select-btn {
    margin: 0 auto 15px auto;

    @include media($xsmall) {
      margin-bottom: 0;
    }
  }

  &__modal {
    position: fixed;
    top: 30%;
    left: 25%;
    right: 25%;
    z-index: 9;
    animation-fill-mode: forwards;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;

    @include mediaMinMax(1025, $normal) {
      padding: 1.56vw;
    }
  }

  &__order-images-selector {
    width: 900px;
    margin: 25px 0 0 0;

    @include mediaMinMax(1025, $normal) {
      width: 46,87vw;
      margin: 1.3vw 0 0 0;
    }

    @include media($small) {
      width: 80vw;
    }

    @include media($xsmall) {
      width:100vw;
    }
  }

  &__scan-block {
    display: flex;
    justify-content: center;
    padding: 20px 30px 30px 30px;
    margin: 0;
    width:680px;

    @include mediaMinMax(1025, $normal) {
      padding: 1.04vw 1.56vw 1.56vw 1.56vw;
      width:35.41vw;
    }

    @include media($small) {
      width: 80vw;
    }

    @include media($xsmall) {
      width:calc(100vw - 40px);
    }
  }

  &__scan-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 10px 0;

    @include mediaMinMax(1025, $normal) {
      margin: 0 0 0.52vw 0;
    }
  }

  &__scan-list-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.78vw;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__scan-list-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 14px;

    @include mediaMinMax(1025, $normal) {
      width: 1.04vw;
      height: 1.04vw;
      margin-right: 0.72vw;
    }
  }

  &__scan-list-item-text {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;
    max-width: 227px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.72vw;
      line-height: 0.98vw;
      max-width: 11.82vw;
    }
  }

  &__scan-title {
    font-weight: $black;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    margin-bottom: 10px;
    text-align: center;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
      margin-bottom: 0.52vw;
    }
  }

  &__scan-text {
    margin-bottom: 28px;
    display: block;
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    color: $scarpa-flow-gray-color;
    max-width: 471px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.45vw;
      font-size: 0.72vw;
      line-height: 0.98vw;
      max-width: 24.53vw;
    }

    &_scan {
      text-align: center;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &_left {
      padding: 10px 30px 10px 10px;
      border-right: 1px solid $dark-slate-blue-color;

      @include mediaMinMax(1025, $normal) {
        padding: 0.52vw 1.56vw 0.52vw 0.52vw;
      }
    }

    &_right {
      padding: 10px 10px 10px 30px;

      @include mediaMinMax(1025, $normal) {
        padding: 0.52vw 0.52vw 0.52vw 1.56vw;
      }
    }
  }

  &__ship-kit-text {
    margin-bottom: 20px;
    display: block;
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    color: $scarpa-flow-gray-color;
    max-width: 483px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.04vw;
      font-size: 0.72vw;
      line-height: 0.98vw;
      max-width: 25.15vw;
    }
  }

  &__ship-kit-price-text {
    text-align: center;
    display: block;
    font-weight: $black;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
    }
  }

  &__ship-kit-name {
    margin-left: 30px;
    display: block;
    font-weight: $medium;

    @include mediaMinMax(1025, $normal) {
      margin-left: 1.56vw;
    }
  }

  &__name-wrap {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-self: center;
    margin: 0 auto;

    @include mediaMinMax(1025, $normal) {
      max-width: 10.41vw;
    }
  }

  &__name-block {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.26vw;
    }
  }

  &__bullet-block {
    position: absolute;
    left: 0;
    padding: 4px;
    border: 1px solid $dark-slate-blue-color;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      padding: 0.2vw;
      width: 0.93vw;
      height: 0.93vw;
    }
  }

  &__bullet {
    content: '';
    border-radius: 50%;
    width:8px;
    height:8px;
    background-color: $dark-slate-blue-color;

    @include mediaMinMax(1025, $normal) {
      width: 0.41vw;
      height: 0.41vw;
    }
  }

  &__price {
    margin-left: 30px;

    @include mediaMinMax(1025, $normal) {
      marign-left: 1.56vw;
    }
  }

  &__top-block {
    padding-bottom: 20px;

    @include mediaMinMax(1025, $normal) {
      padding-bottom: 1.04vw;
    }
  }

  &__ship-kit-form {

    @include media($xsmall) {
      width:350px;
    }
  }

  &__btn {
    position: absolute;
    right: -32px;
    top: -32px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $athens-gray-color;
    padding: 0px;
    border-radius: 12px;

    @include mediaMinMax(1025, $normal) {
      right: -1.66vw;
      top: -1.66vw;
      width: 1.66vw;
      height: 1.66vw;
      border-radius: 0.625vw;
    }

    @include media($xsmall) {
      right: 0;
    }

    svg {
      width: 30px;
      height: 30px;

      @include mediaMinMax(1025, $normal) {
        width: 1.66vw;
        height: 1.66vw;
      }
    }
  }

  &__spinner-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($black-color, 0.3);
  }

  &__spinner {
    width: 20%;

    &_invisible {
      display: none;
    }
  }

  &__select-text {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    text-align: center;
    padding-top: 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.72vw;
      line-height: 0.98vw;
      padding-top: 0.52vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    width: 688px;
    height: 493px;
    background-color: $white-color;
    border-radius: 42px;
    padding: 40px;

    @include mediaMinMax(1025, $normal) {
      width: 35.833vw;
      height: 25.677vw;
      border-radius: 2.188vw;
      padding: 2.083vw;
    }

    @include media($xlmini) {
      width: 343px;
      height: 681px;
      border-radius: 24px;
      padding: 5.882vw 3.676vw;
    }

    @include media($mini) {
      padding: 10.667vw 6.667vw;
    }
  }

  &__title {
    font-family: Lato;
    font-style: normal;
    font-weight: $black;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 24px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.250vw;
      line-height: 1.719vw;
      margin-bottom: 1.250vw;
    }

    @include media($xlmini) {
      font-size: 1.375rem;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  &__text-one,
  &__text-two {
    font-family: Lato;
    font-style: normal;
    font-weight: $medium;
    font-size: 1.063rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;


    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.406vw;
      margin-bottom: 1.042vw;
    }

    @include media($xlmini) {
      font-size: 16px;
      margin-bottom: 16px;
      letter-spacing: 0.8px;
    }
  }

  &__text-two {
    margin-bottom: 20px;
    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.406vw;
      margin-bottom: 0.684vw;
    }
  }

  &__text-one {
    margin-bottom: 15px;
  }

  &__text-three {
    margin-bottom: 15px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.406vw;
      margin-bottom: 0.684vw;
    }

    @include media($xlmini) {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  &__promo-code-text, &__text-three {
    font-weight: $extraBold;
    font-family: Lato;
    font-style: normal;
    font-size: 1.063rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.406vw;
    }
  }

  &__promo-code-text {
    justify-content: center;
    display: flex;
    align-items: center;

    @include media($mini) {
      font-size: 2.8vw;
    }
    @include mediaMinMax($mini, $xmini) {
      font-size: 2.353vw;
    }
    @include mediaMinMax($xmini, $xlmini) {
      font-size: 1.995vw;
    }
  }

  &__promo-code {
    background-color: $iron-color;
    border-radius: 5px;
    padding:2px 3px;
    margin: 0 2px;
  }

  &__block-button {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  &__button {
    font-family: Lato;
    font-style: normal;
    font-weight: $extraBold;
    font-size: 1.063rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5625px;
    background-color: $burnt-sienna-red-color;
    color: $white-color;
    border: none;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    margin: 0 auto;

    @include mediaMinMax(1025, $normal) {
      width: 8.333vw;
      height: 3.125vw;
      border-radius: 0.521vw;
      font-size: 0.885vw;
      line-height: 1.406vw;
    }
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    top: -32px;
    right: -32px;
    z-index: 3;
    background-color: $athens-gray-color;
    border-radius: 10px;
    width: 30px;
    height: 30px;

    @include media($small) {
      right: -32px;
      top: -32px;
      border-radius: 0.521vw;
    }

    @include media($xsmall) {
      right: 0;
      top: -37px;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
