@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';
@import 'src/styles/media.scss';

.photo-art-preview-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  display: flex;
  border-radius: 4px;
  background-color: $white-color;

  &__photo-block {
    width: 100%;
    height: 100%;
    content: '';
    position: relative;
    overflow: hidden;
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index: 2;
  }

  &__button-block {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: $white-color;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__art {
    position: absolute;
  }

  &__art-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__image-wrap {
    position: absolute;
    box-shadow: 3px 6px 8px 0 rgba($black-color, 0.3) inset;
  }

  &__art-photo {
    position: absolute;
    height: 100%;
    display: block;
  }

  &__shadow-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 1px 0 $gray-color inset, -3px -3px 1px 0px $gray-geser-color inset;
  }

  &__close-btn {
    border: none;
    padding: 0;
    background: transparent;
  }

  &__background-image {
    width: 100%;
    height: 100%;
  }

  &__custom-background-image {
    position: absolute;
  }

  &__upload-button {
    width: 244px;
    height: 39px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($white-color, 0.8);
    border: 2px solid rgba($athens-gray-color, 0.8);
    border-radius: 10px;
    color: $shark-gray-color;
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    z-index: 4;

    @include media($small) {
      bottom: 12px;
    }
  }

  &__popup-wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba(49, 77, 97, 0.05);
  }

  &__upload-popup {
    width: 740px;
    height: 380px;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 50px;
    background-color: $white-color;
    padding: 40px;
    position: relative;

    @include media($xsmall) {
      padding: 20px;
      width: calc(100vw - 40px);
      border-radius: 34px;
    }
  }

  &__close-btn {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -32px;
    top: -32px;
    outline: none;
    padding: 0;
    background-color: $athens-gray-color;
    border-radius: 10px;
    border: none;

    @include media($small) {
      right: 0;
      z-index: 1;
    }

    &::before {
      width: 16px;
      height: 1px;
      position: absolute;
      left: 7px;
      top: 15px;
      border-radius: 19px;
      transform: rotate(45deg);
      content: '';
      display: block;
      background-color: $light-slate-gray-color;
    }

    &::after {
      width: 16px;
      height: 1px;
      position: absolute;
      left: 7px;
      top: 15px;
      border-radius: 19px;
      transform: rotate(-45deg);
      content: '';
      display: block;
      background-color: $light-slate-gray-color;
    }
  }

  &__range-wrap {
    position: absolute;
    top: 132px;
    right: 28px;
    z-index: 4;

    @include media($xsmall) {
      display: none;
    }
  }

  &__range {
    width: 60px;
    height: 322px;
    border-radius: 18px;
    background-color: $white-color;
  }

  &__move-zone {
    position: absolute;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 5px;
    border: 2px dashed $burnt-sienna-red-color;
    border-radius: 26px;
    outline: none;
    z-index: 3;
    cursor: move;
    -webkit-touch-callout: none
  }

  &__popup-icon {
    margin: 20px auto 38px auto;
    display: block;
  }

  &__button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  &__select-background-btn {
    width: 262px;
    height: 44px;
    background-color: $white-color;
    outline: none;
    padding: 0;
    border: 2px solid $darker-cadet-blue-color;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: $pickled-bluewood-color;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__portal-wrap {
    display: none;

    @include media($xsmall) {
      display: block;
    }
  }

  &__portal-range-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $athens-light-gray-blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div#{&__portal-range} {
    width: 335px;
    height: 60px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  input#{&__mobile-range-input} {
    transform: none;
    margin: 0 auto;
  }

  button#{&__mobile-range-plus},
  button#{&__mobile-range-minus} {
    margin: 0;
  }

  &__personalize-wrap {
    position: absolute;
    z-index: 2;
  }

  &__personalize-data-block {
    position: absolute;
    background-position: center;
    background-size: 100% 100%;
  }

  &__personalize-text-data {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

  }
}
