@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.try-us-for-free {

  height: 850px;
  padding-top: 100px;

  @include media($normal){
    padding-top: 5.208vw;
    height: 44.271vw;
  }

  @include media($small){
    height: 500px;
  }

  @include media($xlmini){
    height: 750px;
  }

  &__container {
    width: 1532px;
    height: 520px;
    position: relative;
    margin: 0 auto;
    border-radius: 32px;

    @include media($normal) {
      width: 79.792vw;
      height: 27.083vw;
      border-radius: 1.667vw;
    }

    @include media($small) {
      width: 728px;
      height: 430px;
    }

    @include media($xsmall) {
      width: 93.333vw;
      height: 55.128vw;
    }

    @include media($xlmini) {
      width: 334px;
      height: 700px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 32px;

    @include media($normal) {
      border-radius: 1.667vw;
    }

    @include media($xlmini) {
      width: 334px;
      height: 372px;
    }
  }

  &__content {
    position: absolute;
    width: 440px;
    height: 420px;
    top: 50px;
    left: 50px;
    background-color: $white-color;
    border-radius: 35px;
    padding: 50px;

    @include media($normal) {
     width: 22.917vw;
     height: 21.875vw;
     border-radius: 1.823vw;
     padding: 2.604vw;
     top:2.604vw;
     left: 2.604vw;
    }

    @include media($small) {
      width: 366px;
      height: 370px;
      border-radius: 24px;
      padding: 40px;
    }

    @include media($xsmall) {
      height: 350px;
    }

    @include media($xlmini) {
      width: 314px;
      height: 414px;
      background-color: $catskill-white-color;
      top: 300px;
      left: 10px;
    }
  }

  &__title {
    font-family: Lato;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: $black;
    line-height: 56px;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 30px;

    @include media($normal) {
      font-size: 2.083vw;
      line-height: 2.917vw;
      margin-bottom: 1.563vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
    }
  }

  &__text-one {
    font-size: 1.25rem;
    font-weight: $medium;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 20px;
    color: $scarpa-flow-gray-color;

    @include media($normal) {
      font-size: 1.041vw;
      line-height: 1.406vw;
      margin-bottom: 1.042vw;
      letter-spacing: 0.052vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 14px;
      letter-spacing: 1px;
    }
  }

  &__text-two {
    font-size: 1.25rem;
    font-weight: $extraBold;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 30px;
    color: $pickled-bluewood-color;

    @include media($normal) {
      font-size: 1.041vw;
      line-height: 1.406vw;
      margin-bottom: 1.5625vw;
      letter-spacing: 0.052vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 25px;
    }
  }

  &__button {
    width: 191px;
    height: 66px;
    font-family: Lato;
    font-style: normal;
    font-weight: $extraBold;
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 2px;
    background-color: $burnt-sienna-color;
    border: none;
    border-radius: 10px;
    color: $white-color;

    @include media($normal) {
      width: 9.948vw;
      height: 3.438vw;
      font-size: 0.885vw;
      line-height: 1.406vw;
      border-radius: 0.521vw;
    }

    @include media($small) {
      font-size: 1.0625rem;
      line-height: 27px;
      width: 191px;
      height: 66px;
      border-radius: 10px;
    }
  }

  &__right-square {
    position: absolute;
    width: 50vw;
    right: auto;
    left: 1300px;
    top: -70px;
    background-color: $polar-light-blue-color;
    height: 280px;
    border-radius: 40px;
    z-index: -1;

    @include media($normal) {
      height: 14.583vw;
      border-radius: 2.083vw;
      left: 67.708vw;
      top: -3.646vw;
    }

    @include media($small){
      height: 260px;
    }

    @include media($xlmini){
      top: -50px;
      left: 220px;
    }
  }

  &__left-square-one {
    position: absolute;
    width: 50vw;
    right: 1300px;
    left: auto;
    bottom: -110px;
    background-color: $citrine-white-color;
    height: 280px;
    border-radius: 40px;
    z-index: -1;

    @include media($normal) {
      height: 14.583vw;
      border-radius: 2.083vw;
      right: 67.708vw;
      bottom: -5.729vw;
    }

    @include media($small){
      height: 260px;
    }

    @include media($xlmini){
      bottom: 200px;
      right: 220px;
    }
  }

  &__left-square-two {
    position: absolute;
    width: 90px;
    right: 1600px;
    left: auto;
    bottom: -150px;
    background-color: $white-color;
    height: 90px;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 29px 29px 48px rgba($black-color, 0.07);

    @include media($normal) {
      width: 4.688vw;
      height: 4.688vw;
      right: 83.333vw;
      bottom:-7.813vw;
      border-radius: 1.042vw;
    }

    @include media($small) {
      display: none;
    }
  }

}
