@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.your-memories {
  width: 100%;
  padding: 0 0 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mediaMinMax($small, $normal) {
    padding: 0 0 4.68vw 0;
  }

  @include media($small) {
    padding: 0 0;
  }

  @include media($mini) {
    padding: 0 0;
  }

  &__title {
    font-size: 2.5rem;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    margin-bottom: 35px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
    }

    @include media($xlmini) {
      width: 55%;
      margin: auto;
      white-space: pre-wrap;
      margin-bottom: 20px;
    }
  }

  &__sub-title {
    margin: auto;
    text-align: center;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
    }

    @include media($small) {
      max-width: 80%;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      max-width: 90%;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 18px;
    }

    @include media($xlmini) {
      line-height: 24px;
      letter-spacing: 1px;
    }

    @include media($xmini) {
      text-align: center;
      line-height: 24px;
      letter-spacing: 1px;
    }

    @include media($mini) {
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  &__slider-wrapper {
    position: relative;
    margin: 0 auto;
    width: 82.39vw;
    max-width: 1582px;

    @include media($xsmall) {
      width: calc(100% - 2.7vw);
    }

    @include media($xlmini) {
      padding-bottom: 20px;
    }
  }

  &__left-square {
    position: absolute;
    width: 100vw;
    height: 300px;
    background-color: $paris-white-color;
    border-radius: 37px;
    top: -70px;
    left: -80px;
    z-index: -1;
    right: auto;

    @include mediaMinMax($small, $normal) {
      height: 15.625vw;
      top: -3.646vw;
      left: -4.167vw;
      border-radius: 1.927vw;
    }

    @include media($small) {
      height: 200px;
      top: -45px;
    }

    @include media($xlmini) {
      height: 350px;
      width: 200vw;
      left: -2px;
      transform: rotate(180deg);
    }
  }

  &__image {
    max-height: 466px;
    max-width: 466px;
    min-width: 294px;
    min-height: 298px;
    width: 30vw;
    height: 25vw;

    @include mediaMinMax($small, $normal) {
      max-height: 466px;
      max-width: 466px;
      min-width: 230px;
      width: 24.27vw;
      height: 24.27vw;
    }
  }

  &__compare-image {
    max-height: 466px;
    max-width: 466px;
    min-width: 294px;
    min-height: 298px;
    width: 30vw;
    height: 25vw;

    @include mediaMinMax($small, $normal) {
      position: absolute;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      border-radius: 16px;
      max-height: 466px;
      max-width: 466px;
      min-width: 230px;
      width: 24.27vw;
      height: 24.27vw;
    }
  }

  &__text-wrapper {
    margin: 72px 0 130px 0;

    @include mediaMinMax($small, $normal) {
      margin: 4.948vw 0 6.771vw 0;
    }

    @include media($small) {
      margin: 50px 0 70px 0;
    }

    @include media($xlmini) {
      margin: 35px 0 70px 0;
    }
  }

  &__scroll-button {
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 10px;
    margin-top: 60px;

    @include mediaMinMax($small, $normal) {
      padding-left: 4.68vw;
      padding-right: 4.68vw;
      border-radius: 0.521vw;
      margin-top: 3.125vw;
    }

    @include media($small) {
      margin-bottom: 60px;
    }

    @include media($xlmini) {
      display: none;
    }

    &_retouching {
      padding: 26px 70px !important;
      font-size: 20px !important;
      line-height: 0.95 !important;
      width: 304px;
      letter-spacing: normal !important;

      @include mediaMinMax($small, $normal) {
        padding: 1.2vw 3.5vw !important;
        font-size: 1.35vw !important;
        letter-spacing: normal;
        border-radius: 0.521vw;
        margin-top: 3.125vw;
        width: auto;
      }

      @include media($small) {
        padding: 20px 35px !important;
        margin-bottom: 60px;
        width: auto;
      }

      @include media($xlmini) {
        display: none;
        width: auto;
      }
    }
  }
}
