@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.tabs {
  display: flex;
  align-items: center;

  @include media($xsmall) {
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  &_art {
    margin-bottom: 90px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 4.68vw;
    }

    @include media($small) {
      margin-bottom: 40px;
    }

    @include media($xsmall) {
      margin-bottom: 0;
    }
  }

  &__btn {
    margin-right: 50px;
    font-size: 1.16px;
    font-weight: $medium;
    color: $dark-slate-blue-color;
    border: none;
    background-color: transparent;

    &:last-child {
      margin-right: 0;

      @include media($xlmini) {
        margin-right: 50px;
      }
    }

    @include media($xlmini) {
      margin-right: 40px;
      margin-bottom: 30px;
    }

    &_active {
      color: $shark-gray-color !important;
      border-bottom: 5px solid $turquoise-color !important;
      opacity: 1 !important;
    }

    &_column {
      margin-bottom: 10px;
    }

    &_art {
      min-width: 80px;
      padding-bottom: 4px;
      font-weight: $bold;
      font-size: 1.0625rem;
      line-height: 24px;
      text-align: center;
      color: $shark-gray-color;
      opacity: 0.5;
      border-bottom: 5px solid $athens-gray-color;

      @include mediaMinMax($small, $normal) {
        min-width: 4.1666vw;
        padding-bottom: 0.2083vw;
        font-size: 0.8854vw;
        line-height: 1.25vw;
        border-width: 0.2604vw;
        margin-right: 2.6041vw;
      }

      @include media($small) {
        font-size: 0.9375rem;
        line-height: 24px;
        padding: 0 4px 4px 4px;
        width: auto;
        margin: 0 25px 20px;
      }

      @include media($xsmall) {
        padding: 0 0 4px 0;
        margin: 0 20px 30px 20px;

        &:last-child {
          margin-right: 20px;
        }
      }
    }
  }

  &__tabs-view {
    @include media($xlmini) {
      display: none;
    }

    &_always-show {
      @include media($small) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -40px;
      }

      @include media($xsmall) {
        margin-right: -40px;
        width: calc(100% + 40px);
      }
    }

    &_column {
      @include media($xlmini) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__select-view {
    @include mediaMin($xlmini) {
      display: none;
    }
  }

  &__select {
    &_without-line {

    }

    &_without-line div div {
      padding: 0;
    }
  }
}
