@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.reviews-block {
  max-width: 1532px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 140px;

  @include mediaMinMax($small, $normal) {
    padding-top: 7.29vw;
  }

  @include media($small) {
    padding-top: 50px;
  }

  &_enhance {
    padding-top: 57px;
  }

  &__title {
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    white-space: pre-wrap;
    text-align: center;
    margin: 0 auto 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin: 0 auto 2.083vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin: 0 auto 30px;
      max-width: 80vw;
    }
  }

  &__description {
    text-align: center;
    max-width: 70vw;
    margin: auto;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    margin-bottom: 60px;
    white-space: pre-wrap;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      margin-bottom: 3.125vw;
    }

    @include media($small) {
      max-width: 80vw;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;
      margin-bottom: 5.85vw;
    }

    @include media($xsmall) {
      margin-bottom: 9.11vw;
      letter-spacing: 0.13vw;
      max-width: 90vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 2.864vw;
    }

    @include media($xlmini) {
      line-height: 3.97vw;
      letter-spacing: 0.147vw;
      font-size: 2.79vw;
      margin-bottom: 10.29vw;
    }

    @include media($xmini) {
      text-align: center;
      max-width: 90%;
      line-height: 24px;
      letter-spacing: 1px;
      font-size: 3.27vw;
      margin-bottom: 12vw;
    }

    @include media($mini) {
      line-height: 24px;
      font-size: 3.95vw;
      margin-bottom: 14.58vw;
    }

    &_enhance,
    &_digitize {
      max-width: 1200px;

      @include mediaMinMax($small, $normal) {
        max-width: 62vw;
        margin-bottom: 50px;
      }

      @include media($small) {
        max-width: 90vw;
      }
    }

    &_enhance {
      max-width: 1200px;

      @include mediaMinMax($small, $normal) {
        max-width: 62vw;
        margin-bottom: 50px;
      }

      @include media($small) {
        max-width: 90vw;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;

    @include media($small) {
      flex-direction: column;
    }
  }

  &__total-reviews-wrapper {
    font-weight: $black;
    font-size: 1.25em;
    line-height: 27px;
    letter-spacing: 1.1px;
    color: $shark-gray-color;
    display: flex;
    margin-right: 20px;
    margin-top: 30px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
      margin-right: 1.04vw;
      margin-top: 1.56vw;
    }

    @include media($small) {
      font-weight: $bold;
      font-size: 1.0625rem;
      line-height: 23px;
      letter-spacing: 0.943775px;
      margin: 0 0 20px 0;
      display: flex;
      justify-content: center;
    }
  }

  &__total-reviews {
    color: $burnt-sienna-red-color;
    margin-left: 10px;
  }

  &__reviews-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 70vw;
    max-width: 1344px;
    padding: min(78px, 4.06vw) 0 min(90px, 4.68vw) 0;
    justify-content: space-between;

    @include mediaMin($normal) {
      width: 100%;
      max-width: 1354px;
      padding: 78px 0 90px 10px;
    }

    @include media($xnormal) {
      width: 76vw;
      justify-content: center;
    }

    @include media($small) {
      padding: 24px 0 50px 0;
      width: 100%;
    }
  }

  &__stripe {
    position: absolute;
    height: 442px;
    width: 100vw;
    left: 5%;
    top: 0;
    background-color: $cinderella-pink-color;
    border-radius: 44px 0 0 44px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      height: 23vw;
    }

    @include media($small) {
      left: 20px;
      border-radius: 28px 0 0 28px;
      height: 367px;
    }

    @include media($xlmini) {
      left: 0;
      height: calc(100% - 124px);
      max-height: 100%;
    }
  }

  &__square {
    width: 141px;
    height: 141px;
    position: absolute;
    right: -141px;
    top: -85px;
    background: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.0932037);
    border-radius: 27px;
  }

  &__sorting {
    display: flex;
    margin: 50px 0;
    width: 100%;
    align-items: center;
  }

  &__sorting-desc {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    color: $shark-gray-color;
    margin: 0 5px;
  }

  &__sorting-btn {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    color: $darker-cadet-blue-color;
    margin: 0 5px;
    outline: none;

    &_isActive {
      text-decoration: underline;
      color: $burnt-sienna-color;
    }
  }

  &__pagination-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__pagination {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    max-width: 438px;
    width: 100%;
    margin: 0 20px 120px 20px;

    @include media($small) {
      margin: 0 20px 60px 20px;
    }
  }

  &__pagination-page,
  &__pagination-break {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background-color: rgba($athens-light-gray-color, 0.5);
    color: rgba($black-color, 0.3);
    display: flex;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 23px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
  }


  &__pagination-page-link,
  &__pagination-break-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
  }

  &__pagination-page &__active-page {
    background-color: $apricot-orange-color;
    color: rgba($white-color, 0.8);
  }

  &__next-arrow {
    margin-left: 20px;
  }

  &__back-arrow {
    transform: rotate(180deg);
    margin-right: 20px;
  }

  &__next,
  &__back {
    display: flex;
    outline: none;
  }

  &__next-wrapper,
  &__back-wrapper {
    svg {
      path {
        stroke: $apricot-orange-color;
      }
    }
  }

  &__disabled {
    svg {
      path {
        stroke: $silver-gray-color;
      }
    }
  }

  &__rating {
    margin-top: 16px;

    @include mediaMinMax(1025, $normal) {
      margin-top: 1vw;
    }

    @include media($small) {
      margin: 20px auto 30px;
      display: flex;
      justify-content: center;
    }

    svg {
      @include media($small) {
        width: 24px !important;
        height: 24px !important;
      }
    }
  }
}
