@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.promo-banner {
  transition: 1s all;

  &_hidden {
    top: 0 !important;

    @include media($small) {
      top: -200% !important;
    }
  }

  &__top-block {
    display: flex;
    justify-content: space-between;
    background-color: $humming-bird-blue-color;
    border-radius: 0 0 20px 20px;
    padding: 20px 36px 13px 36px;

    @include media($small) {
      padding: 16px 27px 8px 27px;
    }

    &_hidden {
      border-radius: 20px;
    }
  }

  &__top-block-content {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    @include media($xsmall) {
      flex-direction: column;
    }

    @include media($mini) {
      padding: 14px 0 3px 0;
    }
  }

  &__notification-block {
    position: absolute;
    height: 40px;
    width: max-content;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    background-color: $humming-bird-blue-color;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: $bold;
    font-size: 0.938rem;
    line-height: 11px;
    color: $pickled-bluewood-color;
    text-align: center;
    padding: 0 20px;

    @include media($xsmall) {
      display: flex;
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 0.78125vw;
      line-height: 0.5729vw;
      height: 2.0833vw;
      bottom: -2.0833vw;
      border-radius: 0 0 1.0416vw 1.0416vw;
      padding: 0 1.0416vw;
    }

    @include media($small) {
      font-size: 1.4648vw;
      line-height: 1.855vw;
      height: 3.90625vw;
      bottom: -3.90625vw;
      border-radius: 0 0 1.95315vw 1.95315vw;
      padding: 0 1.95315vw;
    }

    @include media($xsmall) {
      height: 30px;
      bottom: -28px;
      left: 50vw;
    }

    @include media($xmini) {
      font-size: 0.725rem;
    }

    &_desktop {
      display: none;

      @include mediaMin($xsmall) {
        display: flex;
      }
    }
  }

  &__notification-text {
    margin: 0 10px;
  }

  &__close-btn {
    background-color: $gray-light-color;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  &__close-icon {
    width: 30px;
    height: 30px;
  }

  &__top-text {
    font-weight: $regular;
    font-size: 1.313rem;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $pickled-bluewood-color;
    text-align: center;
    margin-right: 20px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.09375vw;
      line-height: 0.52083vw;
      margin-right: 1.04vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 19px;
    }

    @include media($xlmini) {
      max-width: 88vw;
    }
  }

  &__top-timer {
    display: flex;
  }

  &__time-container {
    width: 34px;
    height: 34px;
    background-color: $white-color;
    border-radius: 7px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mediaMinMax(1025, $normal) {
      width: 1.771vw;
      height: 1.771vw;
      margin-right: 0.521vw;
      border-radius: 0.365vw;
    }
  }

  &__time-count {
    font-family: Lato;
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 16px;
    color: $burnt-sienna-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.729vw;
      line-height: 0.833vw;
    }
  }

  &__time-title {
    font-family: Lato;
    font-weight: $medium;
    font-size: 0.688rem;
    line-height: 11px;
    color: $light-slate-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.573vw;
      line-height: 0.573vw;
    }
  }

  &__promo-and-timer-wrap {
    display: flex;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      align-items: center;
    }

    @include media($xsmall) {
      margin-top: 8px;
      justify-content: center;
    }

    @include media($mini) {
      justify-content: center;
    }
  }

  &__promo-code-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: max-content;
    margin: 0 80px;

    @include mediaMinMax(1025, $normal) {
      margin: 0 4.166vw;
    }

    @include media($small) {
      margin: 0 7.8125vw;
    }

    @include media($mini) {
      margin: 0 0.8125vw;
    }
  }

  &__hint-text {
    margin-right: 10px;
    font-weight: $extraMedium;
    font-size: 1.25rem;
    line-height: 11px;
    color: $burnt-sienna-red-color;
    word-wrap: normal;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04166vw;
      line-height: 0.5729vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 1.0742vw;
    }

  }

  &__top-promo-code {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $bold;
    font-size: 1.2rem;
    line-height: 22px;
    height: 34px;
    background-color: $burnt-sienna-red-color;
    border-radius: 7px;
    padding: 0 14px;
    color: $white-color;
    outline: none;

    @include mediaMinMax(1025, $normal) {
      font-size: 1vw;
      line-height: 1.146vw;
      padding: 0 0.729vw;
      border-radius: 0.365vw;
      height: 1.771vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 19px;
    }

    @include media($xsmall) {
      margin: 0 20px 0 0;
    }
  }

  &__learn-more-block {
    display: flex;
    justify-content: center;
    min-width: max-content;
    margin-bottom: 3px;
    align-items: flex-end;

    @include media($small) {
      min-width: max-content;
      padding: 0;
    }

    @include media($xsmall) {
      min-width: 30px;
    }
  }

  &__learn-more {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__btn-text {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: right;
    color: $light-slate-gray-color;
    margin-right: 10px;
    outline: none;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.729vw;
      margin-right: 0.521vw;
    }

    @include media($xsmall) {
      display: none;
    }
  }

  &__arrow-wrap {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      width: 1.458vw;
      height: 1.458vw;
    }
  }

  &__arrow {
    transform: rotate(90deg);
    height: 15px;

    @include mediaMinMax(1025, $normal) {
      height: 0.781vw;
    }

    &_open {
      transform: rotate(270deg);
    }
  }

  &__bottom-block {
    width: 100%;
    height: 407px;
    box-shadow: 4.5px 15.8px 42px 2px rgba($black-color, 0.09);
    position: absolute;
    top: calc(100% - 20px);
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      height: 21vw;
    }

    @include media($small) {
      height: 346px;
    }

    @include media($xsmall) {
      flex-direction: column;
      height: auto;
    }
  }

  &__image-block {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    content: '';
    object-fit: cover;
    object-position: center;

    @include media($xsmall) {
      width: 100%;
      height: 372px;
      z-index: 0;
    }

    @include media($small) {
      object-position: right;
    }
  }

  &__background-block {
    content: '';
    background-color: $white-color;
    position: relative;

    @include media($xsmall) {
      width: 100%;
      padding-bottom: 1.9vw;
      display: none;

      &::after {
        width: 700px;
        transform: rotate(-47deg);
        height: 700px;
        background-color: $white-color;
        content: '';
        display: block;
        position: absolute;
        right: -242px;
        top: -340px;

        @include mediaMinMax(1025, $normal) {
          height: 36.458vw;
          width: 36.458vw;
          right: -14.7vw;
          top: -20vw;
        }

        @include media($small) {
          transform: rotate(-67deg);
          right: -140px;
          top: -290px;
        }

        @include media($xsmall) {
          display: none;
        }
      }
    }
  }

  &__content-block {
    width: 475px;
    max-height: 450px;
    box-shadow: 12px 12px 100px rgba($pickled-bluewood-color, 0.1);
    border-radius: 20px;
    background-color: $white-color;
    position: absolute;
    left: 209px;
    top: 60px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      width: 24.740vw;
      max-height: 23.438vw;
      border-radius: 1.042vw;
      left: 10.885vw;
      top: 3.125vw
    }

    @include media($small) {
      left: 30px;
      top: 50px;
      width: 355px;
      max-height: 410px;
      box-shadow: 12px 12px 20px rgba($pickled-bluewood-color, 0.08);
    }

    @include media($xsmall) {
      margin: auto;
      position: relative;
      left: 0;
      top: 40px;
    }
  }

  &__step-expires-block {
    position: absolute;
    background-color: $burnt-sienna-color;
    width: calc(100% - 80px);
    top: 100%;
    left: 40px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 30px 30px;

    @include mediaMinMax(1025, $normal) {
      width: calc(100% - 4.167vw);
      left: 2.083vw;
      height: 1.771vw;
      border-radius: 0 0 1.563vw 1.563vw;
    }

    @include media($small) {
      height: 30px;
      left: 24px;
      width: calc(100% - 48px);
    }
  }

  &__expires-block-text {
    color: $white-color;
    font-weight: $medium;
    font-size: 1.125rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-right: 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.938vw;
      line-height: 1.302vw;
      margin-right: 0.521vw;
    }

    @include media($small) {
      font-size: 16px;
      margin-right: 18px;
    }
  }

  &__expires-block-time span {
    color: $white-color;
    font-weight: $black;
    font-size: 1.125rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.01em;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.938vw;
      line-height: 1.302vw;
    }

    @include media($small) {
      font-size: 16px;
    }
  }

  &__step-btn {
    margin-bottom: 10px;
    padding: 14px 18px;
    border-radius: 7px;
    background-color: $burnt-sienna-red-color;
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    color: $white-color;
    border: none;
    outline: none;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.521vw;
      padding: 0.729vw 0.938vw;
      border-radius: 0.365vw;
      font-size: 0.833vw;
      line-height: 1.146vw;
    }

    @include media($mini) {
      margin-bottom: 15px;
      font-size: 0.6875rem;
      height: 30px;
      padding: 2px 10px;
    }
  }

  &__input-block {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 395px;
    height: 60px;
    margin-bottom: 10px;
    background: $catskill-white-color;
    border: 1px solid $darker-cadet-blue-color;
    border-radius: 16px;
    padding: 18px 20px;
    font-weight: $medium;
    font-size: 1.09375rem;
    line-height: 23px;
    letter-spacing: 1px;
    outline: none;

    @include mediaMinMax(1025, $normal) {
      width: 20.573vw;
      height: 3.125vw;
      margin-bottom: 0.521vw;
      font-size: 0.885vw;
      line-height: 1.198vw;
      border-radius: 0.833vw;
      padding: 0.938vw 1.042vw;
    }

    @include media($small) {
      width: 320px;
      border-radius: 14px;
    }

    &::placeholder {
      color: $darker-cadet-blue-color;
      font-weight: $medium;
      font-size: 1.09375rem;
      line-height: 23px;
      letter-spacing: 1px;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.885vw;
        line-height: 1.198vw;
      }
    }

    @include media($mini) {
      width: 230px;
      height: 30px;
      font-size: 0.75rem;
    }
  }

  &__step-submit-btn {
    width: 395px;
    height: 50px;
    background: $burnt-sienna-red-color;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 10px;
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    color: $white-color;
    border: none;
    outline: none;

    @include mediaMinMax(1025, $normal) {
      width: 20.573vw;
      height: 2.604vw;
      border-radius: 0.365vw;
      margin-top: 0.313vw;
      margin-bottom: 0.521vw;
      font-size: 0.833vw;
      line-height: 1.146vw;
    }

    @include media($small) {
      width: 320px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__code-btn {
    padding: 15px 38px;
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    color: $white-color;
    background: $burnt-sienna-red-color;
    border-radius: 7px;
    border: none;
    outline: none;

    @include mediaMinMax(1025, $normal) {
      padding: 0.781vw 1.979vw;
      font-size: 0.833vw;
      line-height: 1.146vw;
      border-radius: 0.365vw;
    }


    @include media($mini) {
      width: 230px;
      height: 30px;
      font-size: 1.125rem;
    }
  }

  &__top-expires-block {
    margin-left: 30px;

    @include mediaMinMax(1025, $normal) {
      margin-left: 1.563vw;
    }
  }

  &__top-expires-text {
    font-style: italic;
  }

  &__top-expires-time span {
    font-weight: $extraMedium;
    margin-left: 5px;

    @include mediaMinMax(1025, $normal) {
      margin-left: 0.260vw;
    }
  }

  &__step-title {
    font-size: 16px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.833vw;
    }
  }

  &__step-subtitle {
    font-size: 16px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.833vw;
    }
  }

  &__step-text {
    font-size: 16px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.833vw;
    }
  }

  &__step-bottom-text {
    font-size: 16px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.833vw;
    }
  }

}
