@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.enhance-image-card {

  position: relative;
  height: 236px;

  @include mediaMinMax(1025, $normal) {
    height: 12.292vw;
  }

  &_margin {
    margin-bottom: 50px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 2.604vw;
    }

    @include media($xmini) {
      margin-bottom: 10px;
    }
  }

  &__main-block {
    width: 200px;
    padding: 11px 11px 14px 11px;
    border-radius: 16px;
    border: 2px solid $athens-light-gray-color;
    background-color: $white-color;
    height: 236px;
  
    @include mediaMinMax($small, $normal) {
      width: 10.417vw;
      padding: 0.573vw 0.573vw 0.729vw 0.573vw;
      border-radius: 0.833vw;
      border-width: 0.104vw;
      height: 12.292vw;
    }
  
    @include media($xmini) {
      width: 180px;
      height: 216px;
      padding: 9px 9px 12px 9px;
    }
  
    &_select {
      border-color: $summer-green-color;
      z-index: 2;
    }
  
    &_option {
      z-index: 3;
      position: relative;
    }
  }

  &__content-block {
    display: flex;
    position: relative;

    &::before {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 14px;
      height: 14px;
      content: '';
      border-radius: 50%;
      border: 2px solid $white-color;
      background-color: $hit-gray-color;

      @include mediaMinMax($small, $normal) {
        top: 0.104vw;
        left: 0.104vw;
        width: 0.729vw;
        height: 0.729vw;
        border-width: 0.104vw;
      }

      @include media($xmini) {
        width: 12px;
        height: 12px;
      }
    }

    &_no-before {
      &::before {
        display: none;
      }
    }

    &_select {
      &::before {
        background-color: $summer-green-color;
      }
    }
  }

  &__image-button {
    border: none;
    outline: none;
    background: $light-gray-color;
    border-radius: 9px;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.469vw;
    }
  }

  &__image-wrap {
    position: relative;
    width: 175px;
    height: 175px;
    border: 1px dashed $athens-gray-color;
    background: $light-gray-color;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      width: 9.115vw;
      height: 9.115vw;
      border-radius: 0.469vw;
      border-width: 0.052vw;
    }

    @include media($xmini) {
      width: 155px;
      height: 155px;
    }

    &_mini {
      width: 115px;
      height: 112px;

      @include mediaMinMax($small, $normal) {
        width: 5.990vw;
        height: 5.833vw;
      }
    }
  }

  &__image-index {
    position: absolute;
    right: 14%;
    bottom: 3px;
    font-size: 1.375rem;
    font-weight: $bold;
    color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      bottom: 0.1vw;
    }

    @include media($small) {
      font-size: 1.4rem;
      bottom: 0.2vw;
    }
  }

  &__image-block {
    background: $light-gray-color;
    border-radius: 9px;
    max-width: 175px;
    max-height: 175px;
    display: block;

    @include mediaMinMax($small, $normal) {
      max-width: 9.115vw;
      max-height: 9.115vw;
      border-radius: 0.469vw;
    }

    @include media($xmini) {
      max-width: 155px;
      max-height: 155px;
    }

    &_mini {
      width: 100%;
      max-width: 115px;
      max-height: 112px;

      @include mediaMinMax($small, $normal) {
        max-width: 5.990vw;
        max-height: 5.833vw;
      }
    }
  }

  &__delete-button {
    width: 28px;
    height: 28px;
    border-radius: 9px;
    outline: none;
    border: none;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: $white-color;

    @include mediaMinMax($small, $normal) {
      width: 1.45833vw;
      height: 1.45833vw;
      border-radius: 0.4675vw;
      top: -0.260vw;
      right: -0.260vw;
    }


    &::before {
      width: 12px;
      height: 2px;
      border-radius: 5px;
      content: '';
      position: absolute;
      top: 12px;
      left: 8px;
      transform: rotate(45deg);
      background-color: $slate-gray-color-2;
      display: block;

      @include mediaMinMax($small, $normal) {
        width: 0.625vw;
        height: 0.104vw;
        top: 0.625vw;
        left: 0.4166vw;
        border-radius: 0.2604vw;
      }
    }

    &::after {
      width: 12px;
      height: 2px;
      border-radius: 5px;
      content: '';
      position: absolute;
      top: 12px;
      left: 8px;
      transform: rotate(-45deg);
      background-color: $slate-gray-color-2;
      display: block;

      @include mediaMinMax($small, $normal) {
        width: 0.625vw;
        height: 0.104vw;
        top: 0.625vw;
        left: 0.4166vw;
        border-radius: 0.2604vw;
      }
    }
  }

  &__menu-block {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 12px;

    &_retouching {
      justify-content: center;
    }

    @include mediaMinMax($small, $normal) {
      margin-top: 0.625vw;
    }
  }

  &__colorization-button {
    outline: none;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    @include mediaMinMax(1025, $normal) {
      width: 1.042vw;
      height: 1.042vw;
    }
  }

  &__colorization-button-icon {
    width: 15px;
    height: 20px;

    @include mediaMinMax(1025, $normal) {
      width: 0.781vw;
      height: 1.042vw;
    }
  }

  &__note-button {
    outline: none;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    @include mediaMinMax(1025, $normal) {
      width: 1.042vw;
      height: 1.042vw;
    }
  }

  &__print-button {
    display: flex;
    background-color: $white-color;
    border: none;
    position: relative;
    width: 20px;
    height: 20px;

    @include mediaMinMax(1025, $normal) {
      width: 1.042vw;
      height: 1.042vw;
    }

    svg {
      width: 20px;
      height: 20px;

      @include mediaMinMax(1025, $normal) {
        width: 1.042vw;
        height: 1.042vw;
      }
    }
  }

  &__note-icon {
    width: 20px;
    height: 20px;

    @include mediaMinMax(1025, $normal) {
      width: 1.042vw;
      height: 1.042vw;
    }
  }


  &__check-icon-wrapper {
    position: absolute;
    top: -6px;
    right: -3px;
    width: 15px;
    height: 15px;

    @include mediaMinMax(1025, $normal) {
      top: -0.313vw;
      right: -0.156vw;
      width: 0.781vw;
      height: 0.781vw;
    }

    svg {
      width: 15px;
      height: 15px;

      @include mediaMinMax(1025, $normal) {
        width: 0.781vw;
        height: 0.781vw;
      }
    }
  }

  &__check-icon {
    width: 15px;
    height: 15px;

    @include mediaMinMax(1025, $normal) {
      width: 0.781vw;
      height: 0.781vw;
    }
  }

  &__note-img {
    width: 100%;
    height: 100%;
  }

  &__card-bottom-popup {
    position: absolute;
    bottom: -30px;
    background-color: $summer-green-color;
    width: 200px;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 5px;
    border-radius: 16px;
    z-index: -106;
    cursor: pointer;
    font-size: 14px;
    font-weight: $bold;

    @include mediaMinMax(1025, $normal) {
      width: 10.417vw;
      bottom: -1.563vw;
      padding-top: 1.302vw;
      padding-bottom: 0.260vw;
      border-radius: 0.833vw;
      font-size: 0.729vw;
    }

    @include media($xmini) {
      width: 180px;
      bottom: -10px;
    }
  }
}
