@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.photo-art-collections {
  width: 100%;
  display: flex;
  min-height: 850px;

  @include mediaMinMax($small, $normal) {
    min-height: 44.271vw;
  }

  @include media($small) {
    min-height: 600px;
  }

  &__frame-slider {
    .slick-list {
      background: linear-gradient(170deg, rgba($black-color, 0.001), rgba($black-color, 0.01)) !important;
      box-shadow: 37px 37px 80px rgba($black-color, 0.02) !important;
    }
  }

  &_popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &_popup {
      background-color: $athens-light-gray-blue-color;
      border-radius: 20px;
      padding: 50px 102px 98px 102px;

      @include media($xlnormal) {
        padding: 50px 30px 98px 30px;
      }

      @include media($small) {
        padding: 40px 30px 50px 30px;
        height: 100%;
        justify-content: center;
      }
    }
  }

  &__popup-title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 50px;

    @include media($xsmall) {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 22px;
    }

    @include media($mini) {
      max-width: 217px;
    }
  }

  &__close-btn {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 50px;
    top: 50px;
    display: flex;
    align-items: center;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5625px;
    color: $light-slate-gray-color;

    @include media($small) {
      right: 30px;
      top: 30px;
    }
  }

  &__close-text {
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 0.5625px;
    color: $light-slate-gray-color;

    @include media($xlmini) {
      display: none
    }
  }

  &__material-tabs {
    margin-bottom: 40px;

    @include media($small) {
      margin-bottom: 30px;
    }

    @include media($xlmini) {
      margin-bottom: 0;
    }
  }

  &__material-btn {
    min-width: 80px;
    padding-bottom: 4px;
    font-weight: $bold !important;
    font-size: 1.0625rem !important;
    line-height: 24px !important;
    text-align: center;
    color: $shark-gray-color !important;
    opacity: 0.5 !important;
    border-bottom: 5px solid $athens-gray-color !important;

    &_btn {
      margin-right: 40px !important;

      @include mediaMinMax(1025, $normal) {
        margin-right: 2.6041vw !important;
      }
    }

    @include mediaMinMax(1025, $normal) {
      min-width: 4.16vw;
      padding-bottom: 0.2vw;
      font-size: 0.88vw !important;
      line-height: 1.25vw !important;
      border-bottom: 0.26vw solid $athens-gray-color !important;
      margin-right: 2.6041vw !important;
    }

    @include media($small) {
      font-size: 0.9375rem !important;
      line-height: 24px !important;
      padding: 0 4px 4px 4px !important;
      width: auto;
    }

    @include media($xsmall) {
      padding: 0 0 4px 0;
    }

    &:nth-child(4) {
      @include media($xmini) {
        margin-right: 0 !important;
      }
    }

    &:last-child {
      @include media($xmini) {
        margin-right: 0 !important;
      }
    }
  }

  &__stripe {
    position: absolute;
    content: '';
    width: calc(50vw + 50% + 104px);
    height: 249px;
    left: calc((50vw - 50%) * -1);
    top: -60px;
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;
    background-color: $polar-light-blue-color;

    @include media($small) {
      display: none;
    }
  }

  &__material-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10% 0;
    background-color: $white-color;

    @include media($small) {
      padding: 10px 20px 0;
    }

    @include media($xsmall) {
      padding: 10px 20px 0;
    }

    @include media($xmini) {
      padding: 10px 0 0;
    }
  }

  &__material-selector-title {
    color: $dark-slate-blue-color;
    font-size: 2.5rem;
    margin-bottom: 12px;
    font-weight: $medium;
    text-align: center;

    @include media($small) {
      margin-bottom: 20px;
      max-width:335px;
      font-size: 1.6875rem;
      line-height: 40px;
    }

    &_hide-in-mobile {
      @include media($xsmall) {
        display: none;
      }
    }
  }

  &__material-selector-subtitle {
    color: $dark-slate-blue-color;
    font-size: 16px;
    margin-bottom: 60px;
    text-align: center;
  }

  &__material-info {
    display: flex;
  }

  &__frame-selector {
    margin-top: 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;

    @include media($small) {
      padding: 0 20px;
    }
  }

  &__frame-selector-info {
    align-self: center;
    font-size: 16px;
    max-width: 433px;
    color: $scarpa-flow-gray-color;
    margin-bottom: 100px;
    font-weight: $medium;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;

    @include media($small) {
      margin-bottom: 30px;
    }


    @include media($mini) {
      letter-spacing: 0.8px;
    }
  }

  &__frame-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    max-width: 1466px;
    width: 100%;
    margin: 0 auto;

    @include media($xlnormal) {
      max-width: 1062px;
      padding: 0 20px
    }

    @include media($small) {
      max-width: 728px;
      padding: 0;
    }
  }

  &__slid-wrap {
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;

    @include mediaMin($xsmall) {
      width: auto;
      margin-bottom: 20px;
    }
  }

  &__frame-card {
    height: 100%;
  }

  &__download-btn {
    margin: 20px auto 0;
    width: 210px;
    display: flex;
    align-items: center;
    padding: 0 20px !important;
  }

  &__download-icon {
    margin-right: 5px;
    width: 24px;
    height: 24px;
  }

  &__close-icon-wrap {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: $athens-gray-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
  }

  &__close-zoom-icon {
    width: 23px;
    height: 23px;
    margin-left: -1px;
    margin-top: -1px;
  }

  &__tabs-list {
    @include media($small) {
      margin: 0 !important;
      display: flex;
      flex-wrap: nowrap;
      width: 100% !important;
    }
  }
}
