@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.order-details {
  width: 100%;
  padding: 0;
  margin: 0 auto;

  &__main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include media($small) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__order-title {
    padding-bottom: 10px;
    border-bottom: 1px solid $bluey-grey-color;
    font-weight: $extraMedium;

    @include mediaMinMax(1025, $normal) {
      padding-bottom: 0.52vw;
    }
  }

  .modal__btn {
    top: -40px;
    right: 0;
  }

  &__order-info {
    position: relative;

    &_title {
      width: 100%;
      display: flex;
      padding: 10px 0;
      min-width: 450px;

      @include mediaMinMax(1025, $normal) {
        padding: 0.52vw 0;
        min-width: 23.43vw;
      }
    }

    &_column {
      display: flex;
      flex-direction: column;
      border: none;
    }
  }

  &__order-info-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.52vw;
    }

    &_bold {
      font-weight: $extraMedium;
    }

    &_total {
      position: relative;
      padding: 40px 0 20px;
      margin-bottom: 0;

      @include mediaMinMax(1025, $normal) {
        padding: 2.08vw 0 1.04vw;
      }

      &::before {
        width: 100%;
        content: '';
        height: 2px;
        background-color: $athens-gray-color;
        top: 0;
        position: absolute;
        right: 0;
      }
    }
  }


  &__buttons-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;

    @include mediaMinMax(1025, $normal) {
      padding: 1.56vw 0;
    }

    @include media($small) {
      flex-direction: row;
      width: auto;
      justify-content: flex-start;
      align-items: center;
    }

    @include media($xlmini) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__first-button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      margin-bottom: 0;
      margin-right: 30px;
    }

    @include media($xlmini) {
      flex-direction: column;
      align-items: center;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__request-message {
    display: flex;
    justify-content: center;
    color: $dark-slate-blue-color;
    font-size: 1.16px;
    margin-top: 20px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.91vw;
      margin-top: 1.04vw;
    }

    &_clear {
      display: none;
    }
  }

  &__message-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($black-color, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 201;
  }

  &__message-popup-content {
    max-width: 80%;
    max-height: 80%;
    width: 900px;
    position: relative;
  }

  &__message-popup-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
  }

  &__btn {
    padding: 16px 30px !important;
    letter-spacing: 1px !important;
    font-weight: $bold;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      padding: 0.83vw 1.56vw !important;
      font-size: 0.88vw !important;
      line-height: 1.4vw !important;
      border-radius: 0.52vw !important;
    }

    @include media($small) {
      margin-right: 22px;
    }

    @include media($xlmini) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &:last-child {
      @include media($xnormal) {
        margin-right: 0;
      }

      @include media($xlmini) {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  &__icon {
    margin-right: 5px;

    @include mediaMinMax(1025, $normal) {
      width: 1.250vw;
      height: 1.250vw;
      margin-right: 0.26vw;
    }
  }

  &__message-list {
    width: 100%;
    min-height: 200px;
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid $gray-light-color;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 4px 8px;

    @include custom-scroll;
  }

  &__message-card-wrapper {
    width: 100%;
    margin-bottom: 10px;
    display: flex;

    &_my {
      justify-content: flex-end;
    }
  }

  &__message-desc {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.26vw;
    }

    &_my {
      justify-content: flex-end;
      flex-direction: row-reverse;
    }
  }

  &__message-sender {
    font-size: 16px;
    margin-right: 5px;
    color: $pickled-bluewood-color;
    font-weight: $extraMedium;

    &_my {
      margin-right: 0;
      margin-left: 5px;
    }

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
      margin-right: 0.26vw;

      &_my {
        margin-right: 0;
        margin-left: 0.26vw;
      }
    }
  }

  &__message-date {
    font-size: 0.875rem;

    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
    }
  }

  &__message-text {
    font-size: 16px;

    &_my {
      text-align: right;
    }

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
    }
  }

  &__message-card {
    border-radius: 8px;
    min-width: 30px;
    min-height: 40px;
    max-width: 70%;
    box-shadow: 2px 3px 10px rgba($black-color, 0.1);
    padding: 5px 7px;
  }

  &__btn-text {
    letter-spacing: 1px !important;
    font-weight: $bold;
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__form {
    width: 100%;
    padding: 22px 0 15px;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      padding: 1.14vw 0 0.78vw;
    }

    @include media($xlmini) {
      padding: 18px 15px 25px;
      width: 100%;
    }
  }

  &__request-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__btn-cancel {
    border: none;
    text-decoration: underline;
    background: none;
  }

  &__input {
    margin: 20px 0;
    display: none;

    @include mediaMinMax(1025, $normal) {
      margin: 1.04vw 0;
    }
  }

  &__info-form-row_two_column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @include mediaMin($small) {
      gap: 1.563vw;
    }
  }

  &__input-textarea {
    margin: 15px 0 10px;
    width: 100%;

    @include mediaMinMax(1025, $normal) {
      margin: 0.78vw 0 0.52vw;
    }

    .custom-textarea__input {
      width: 100%;
      height: 65px;
      border-radius: 6px;
      border: 2px solid $mercury-gray-color;

      @include mediaMinMax(1025, $normal) {
        height: 3.38vw;
        border-radius: 0.31vw;
      }

      @include media($small) {
        width: 100%;
        height: 110px;
      }
    }

    @include media($xlmini) {
      width: 100%;
    }
  }

  &__input textarea {
    border-radius: 4px;
  }

  &__order-info-column-title {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 24px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
    }

    &_sub-total {
      font-weight: $bold;
      font-size: 20px;
      line-height: 27px;
      color: $dark-slate-blue-color;

      @include mediaMinMax(1025, $normal) {
        font-size: 1.04vw;
        line-height: 1.4vw;
      }
    }

    &_total {
      font-weight: $bold;
      font-size: 22px;
      line-height: 24px;
      color: $dark-slate-blue-color;

      @include mediaMinMax(1025, $normal) {
        font-size: 1.14vw;
        line-height: 1.25vw;
      }
    }
  }

  &__order-info-column-value {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 24px;
    text-align: right;
    color: $pickled-bluewood-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
    }

    &_discount {
      color: $summer-green-color;
    }

    &_total {
      font-weight: $bold;
      font-size: 1.25rem;
      line-height: 24px;
      text-align: right;
      color: $burnt-sienna-color;

      @include mediaMinMax(1025, $normal) {
        font-size: 1.04vw;
        line-height: 1.25vw;
      }
    }

    &_red {
      color: $burnt-sienna-color;
    }
  }

  &__payment-method {
    background-color: $catskill-white-color;
    border-radius: 34px;

    @include mediaMinMax(1025, $normal) {
      width: 26.042vw;
    }

    @include media($small) {
      max-height: calc(100vh - 200px);

      @include custom-scroll;
    }
  }

  &__method-block-wrapper {
    max-width: 700px;
    background: $wild-sand-color;
    margin-bottom: 50px;
    padding: 30px 20px;

    @include mediaMinMax(1025, $normal) {
      max-width: 36.45vw;
      margin-bottom: 2.6vw;
      padding: 1.56vw 1.04vw;
    }
  }

  &__method-text-wrapper-container {
    border-radius: 30px;
    background-color: $white-color;
    padding: 40px;
    border: 1px solid $athens-gray-color;
  }

  &__method-text-wrapper {
    display: grid;
    grid-template-columns: 26px 1fr 40px;
    position: relative;
    gap: 20px;

    &:nth-child(1) {
      margin-bottom: 41px;

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: $bluey-grey-color;
        bottom: -20px;
        left: 0;
      }
    }

    &:nth-child(2) {
      margin-bottom: 41px;

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: $bluey-grey-color;
        bottom: -20px;
        left: 0;
      }
    }
  }

  &__method-checkbox {
    display: flex;
    padding-top: 5px;
    justify-content: center;
  }

  &__method-description {
    font-size: 1.125rem;
    color: $dark-slate-blue-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.938vw;
    }

    &_tiny {
      width: 222px;
      font-size: 0.938rem;
      color: $charcoal-gray-color;
      line-height: 20px;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.781vw;
        width: 11.563vw;
      }

      @include media($xmini) {
        width: auto;
      }
    }
  }

  &__method-title {
    margin-bottom: 15px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.78vw;
    }
  }

  &__card-info {
    padding: 10px 20px;

    @include mediaMinMax(1025, $normal) {
      padding: 0.52vw 1.04vw;
    }
  }

  &__card-info-title {
    padding: 20px 0;
    color: $dark-slate-blue-color;
    font-weight: $extraBold;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      padding: 1.04vw 0;
      font-size: 1.042vw;
    }
  }

  &__custom {
    display: inline-block;
    position: relative;
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;
    cursor: pointer;

    @include mediaMinMax(1025, $normal) {
      min-width: 0.93vw;
      max-width: 0.93vw;
      min-height: 0.93vw;
      max-height: 0.93vw;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      width: 28px;
      height: 28px;
      border-radius: 14px;
      background-color: $white-color;
      border: 2px solid $slate-gray-color;
      transition: background-color 0.3s;

      @include mediaMinMax(1025, $normal) {
        width: 1.45vw;
        height: 1.45vw;
        border-radius: 0.72vw;
      }
    }

    &::after {
      opacity: 0;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: $dark-slate-blue-color;

      @include mediaMinMax(1025, $normal) {
        width: 0.83vw;
        height: 0.83vw;
        border-radius: 0.41vw;
      }
    }

    &:hover,
    &:focus {
      &::before {
        background-color: $wild-sand-color;
      }
    }
  }

  &__input:checked + &__custom {
    &::after {
      opacity: 1;
    }
  }

  &__payment-btn {
    margin: 20px auto;
    width: 100%;

    @include mediaMinMax(1025, $normal) {
      margin: 1.04vw auto;
    }
  }

  &__column-input {
    margin-bottom: 5px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.26vw;
    }

    &_full-width {
      width: 100%;
      margin-bottom: 30px;

      @include mediaMin($small) {
        margin-bottom: 1.563vw;
      }
    }
  }

  &__order-wrapper {
    white-space: nowrap;
    max-width: 1000px;
    width: calc(100% - 422px);

    @include mediaMinMax(1025, $normal) {
      max-width: 52.08vw;
      width: 100%;
    }

    @include media($small) {
      margin-bottom: 20px;
      width: 790px;
    }

    @include media($small) {
      width: 100%;
    }
  }

  &__order-total-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 392px;

    @include mediaMinMax(1025, $normal) {
      width: 20.41vw;
    }

    @include media($small) {
      width: 100%;
    }
  }

  &__reorder-info {
    text-align: center;
    font-size: 1.125rem;
    color: $dark-slate-blue-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.93vw;
    }
  }

  &__error {
    color: $burnt-sienna-color;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__payment-form {
    border-radius: 30px;

    @include media($xmini) {
      width: 95%;
    }
  }

  .modal__position {
    box-shadow: none;
    top: 50%;
    background-color: $catskill-white-color;
  }

  &__order-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__order-agreement {
    display: flex;
    align-items: center;
    margin-right: 107px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 5.57vw;
    }

    @include media($small) {
      margin-right: 0;
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__order-agreement-text {
    margin-left: 7px;
    font-size: 0.85rem;
    font-weight: $regular;
    color: $dark-slate-blue-color;

    @include mediaMinMax(1025, $normal) {
      margin-left: 0.36vw;
      font-size: 0.7vw;
    }

    @include media($small) {
      font-size: 0.8rem;
    }
  }

  &__order-info-total {
    font-weight: $extraMedium;
    color: $dark-slate-blue-color;
  }

  &__form-title {
    font-size: 0.9rem;
    text-align: center;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.75vw;
    }
  }

  &__btn-submit {
    margin-bottom: 15px;
    padding: 16px 30px !important;
    letter-spacing: 1px !important;
    font-weight: $bold;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      padding: 0.83vw 1.56vw !important;
      font-size: 0.88vw !important;
      line-height: 1.4vw !important;
      border-radius: 0.52vw !important;
      margin-bottom: 0.78vw;
    }

    @include media($small) {
      margin-right: 22px;
    }

    @include media($xlmini) {
      margin-right: 0;
      margin-bottom: 20px;
    }

  }

  &__invoice-btn {
    border: none;
    padding: 0;
    background-color: $white-color;
    display: flex;
    align-items: center;

    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 23px;
    text-align: center;
    color: $shark-gray-color;
    margin: 0 auto;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
    }
  }

  &__invoice-icon {
    margin-right: 15px;
    width: 26px;
    height: 32px;

    @include mediaMinMax(1025, $normal) {
      width: 1.354vw;
      height: 1.667vw;
      margin-right: 0.78vw;
    }
  }

  main#{&__track-block} {
    width: 100%;
    padding: 0;
  }
}
