@import 'src/styles/variables.scss';

.mini-photo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;

  &__image-wrapper {
      border: 4px solid transparent;
      outline: none;
      cursor: pointer;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

  }

  &__image-wrap {
    position: relative;
    background-color: $mercury-gray-color;
    width: 100%;
    height: 65%;
    border-radius: 5px;
    outline: none;

    &_selected-image {
      border: 4px solid $turquoise-color;
    }

    &_vertical {
      width: 65%;
      height: 100%;
    }
  }

  &__photo {
    object-fit: cover;
    object-position: center center;
    display: block;
    width: 100%;
    height: 100%;

    &_invisible {
      display: none;
    }
  }

  &__spinner {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &_invisible {
      display: none;
    }
  }

  &__image {
    max-width: 80px;
    max-height: 80px;
  }
}
