@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.new-custom-input {
  position: relative;

  &__input {
    border: 1px solid $gray-light-color;
    border-radius: 14px;
    width: 100%;
    height: 60px;
    color: $pickled-bluewood-color;
    background-color: $catskill-white-color;
    padding: 14px 20px;
    font-size: 1.0625rem;
    font-weight: $medium;
    line-height: 32px;
    letter-spacing: 1px;
    outline: none;

    @include mediaMinMax($small, $normal) {
      height: 3.125vw;
      padding: 0.72vw 1.04vw;
      font-size: 0.88vw;
      line-height: 1.66vw;
      border-radius: 0.72vw;
    }

    &_card-icon {
      background-size: 24px 18px;
      background-repeat: no-repeat;
      background-position: 20px;
      padding-left: 54px;
    }

    &::placeholder {
      font-size: 1.0625rem;
      color: $darker-cadet-blue-color;
      font-weight: $medium;
      line-height: 32px;
      letter-spacing: 1px;

      @include mediaMinMax($small, $normal) {
        font-size: 0.88vw;
        line-height: 1.66vw;
      }
    }

  }

  &__input_red-border {
    border-color: $burnt-sienna-color;
  }

  &__error {
    position: absolute;
    top: calc(100% + 5px);
    left: 20px;
    color: $burnt-sienna-color;
    font-size: 0.75rem;
    line-height: 16px;
    letter-spacing: 0.5px;

    @include mediaMinMax($small, $normal) {
      top: calc(100% + 5px);
      left: 1.04vw;
      font-size: 0.625vw;
      line-height: 0.83vw;
    }
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 20px;
  }
}
