@import "src/styles/variables.scss";
@import 'src/styles/media.scss';

.memories {
  width: 100%;
  background-color: $light-gray-color;
  display: flex;
  justify-content: center;
  position: relative;

  &__wrapper {
    width: 1532px;
    background: none;
    margin: 0 auto;
    padding: 0 0 140px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @include mediaMinMax($small, $normal) {
      width: 79.79vw;
      background: none;
      padding: 0 0 7.29vw 0;
    }

    @include media($small) {
      width: calc(100% - 40px);
      padding: 0 20px 103px 44px;
    }

    @include media($xlmini) {
      padding: 0;
    }
  }

  &__title {
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    text-align: center;
    margin-bottom: 35px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
      max-width: 90vw;
    }

    &_isWithoutBullets {
      z-index: 1;
      text-align: start;
    }
  }

  &__container {
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1192px;
    width: 100%;

    @include mediaMinMax($small, $normal) {
      margin-top: 3.3vw;
      max-width: 62vw;
    }

    @include media($small) {
      max-width: 80vw;
    }
    @include media($xsmall) {
      max-width: 90vw;
      flex-direction: column-reverse;
      justify-content: center;
      margin-top: 76px;
    }

    @include media($xmini) {
      margin-top: 25px;
    }

    &_isWithoutBullets {
      max-width: 100%;

      @include media($xlmini) {
        flex-direction: column;
      }
    }

    &_first {

      @include media($xlmini) {
        align-items: center;
      }
    }

  }

  &__bullets-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 318px;
    position: relative;

    @include mediaMinMax($small, $normal) {
      height: 16.56vw;
    }

    @include media($small) {
      height: 290px;
    }

    @include media($xlmini) {
      align-items: flex-start;
      margin-bottom: 36px;
    }

    &_isWithoutBullets {
      height: initial;
      margin-right: 20px;

      @include media($xlmini) {
        align-items: center;
        margin: auto;
      }
    }

    &_first {
      margin-top: 10px;
    }
  }

  &__bullets-background {
    position: absolute;
    width: 200vw;
    height: calc(100% + 70px);
    background-color: rgba($iceberg-color, 0.3);
    top: -35px;
    left: -100%;

    @include mediaMin($xsmall) {
      display: none;
    }
  }

  &__bullet {
    display: flex;
    align-items: center;
    z-index: 1;

    svg {
      width: 46px;
      height: 46px;

      @include mediaMinMax($small, $normal) {
        width: 2.39vw;
        height: 2.39vw;
      }
    }
  }

  &__bullet-text {
    margin-left: 40px;
    font-size: 1.25rem;
    line-height: 27px;
    letter-spacing: 1px;
    font-weight: $medium;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    z-index: 1;

    @-moz-document url-prefix() {
      white-space: pre;
    }

    @include mediaMinMax($small, $normal) {
      margin-left: 2.08vw;
      font-size: 1.04vw;
      line-height: 1.4vw;
    }

    @include media($small) {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.8px;
      margin-left: 30px;
    }
  }

  &__image-wrapper {
    position: relative;

    @include media($xsmall) {
      margin-bottom: 100px;
    }

    &_small-margin {
      margin-bottom: 70px;
    }
  }

  &__image {
    width: 568px;
    height: 568px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white-color;
    border-radius: 54px;
    box-shadow: 37px 37px 80px rgba($black-color, 0.03);
    position: relative;
    z-index: 1;
    padding: 10px;

    @include mediaMinMax($small, $normal) {
      width: 29.58vw;
      height: 29.58vw;
      border-radius: 3.29vw;
    }

    @include media($small) {
      width: 340px;
      height: 340px;
      border-radius: 38px;
    }

    &_isWithoutBullets {
      width: 812px;
      height: 466px;
      border-radius: 80px;

      @include mediaMinMax($xlmini, $normal) {
        width: 42.29vw;
        height: 24.27vw;
        border-radius: 4.16vw;
      }

      @include media($xlmini) {
        width: 90vw;
        height: calc(90vw /1.798);
        border-radius: 28px;
      }

    }

    div {
      width: 100%;
      height: 100%;
    }

  }

  &__image-text {
    font-size: 2rem;
    font-weight: $black;
    line-height: 44px;
    letter-spacing: 4px;
    margin-top: 50px;
    color: $black-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.66vw;
      line-height: 2.29vw;
      letter-spacing: 0.2vw;
      margin-top: 2.6vw;
    }

    @include media($small) {
      font-size: 1.1875rem;
      line-height: 26px;
      letter-spacing: 2.4px;
      margin-top: 35px;
    }
  }

  &__image-left-square {
    width: 293px;
    height: 280px;
    background-color: $iceberg-blue-light-color;
    border-radius: 0 0 0 37px;
    position: absolute;
    left: -110px;
    bottom: -86px;

    @include mediaMinMax($small, $normal) {
      width: 15.26vw;
      height: 14.58vw;
      left: -5.7vw;
      bottom: -4.47vw;
      border-radius: 0 0 0 1.92vw;
    }

    @include media($small) {
      width: 126px;
      height: 120px;
      left: -32px;
      bottom: -23px;
    }
  }

  &__image-right-square {
    width: 400px;
    height: 250px;
    position: absolute;
    right: -240px;
    bottom: -130px;

    @include mediaMinMax($small, $normal) {
      width: 20.833vw;
      height: 13.021vw;
      right: -12.500vw;
      bottom: -6.771vw;
    }

    @include media($small) {
      width: 117px;
      height: 112px;
      right: -41px;
      bottom: -38px;
      background-color: $intense-citrine-white-color;
    }
  }

  &__image-square {
    width: 100%;
    height: 100%;

    @include media($small) {
      display: none;
    }
  }

  &__image-url {
    width: 100%;
    height: 100%;
    border-radius: 44px;
    position: relative;

    @include mediaMinMax($small, $normal) {
      border-radius: 2.29vw;
    }

    @include media($small) {
      border-radius: 28px;
    }
  }

  &__image-top-square {
    width: 143px;
    height: 143px;
    background-color: $white-color;
    border-radius: 27px;
    box-shadow: 29px 29px 48px rgba($black-color, 0.050672);
    position: absolute;
    right: -256px;
    top: 137px;
    z-index: 1;

    @include mediaMinMax($small, $normal) {
      width: 7.44vw;
      height: 7.44vw;
      border-radius: 1.4vw;
      right: -13.33vw;
      top: 7.13vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__image-top-stripe {
    position: absolute;
    width: calc(50vw - 50% + 638px);
    height: 384px;
    background-color: $athens-light-gray-color;
    border-radius: 47px 0 0 0;
    top: -150px;
    left: 266px;

    @include mediaMinMax($small, $normal) {
      height: 20vw;
      border-radius: 2.44vw 0 0 0;
      top: -7.81vw;
      left: 13.85vw;
    }

    @include media($small) {
      width: 214px;
      height: 200px;
      right: -40px;
      left: auto;
      top: -44px;
      border-radius: 28px 0 0 28px;
    }

    &_isWithoutBullets {
      height: 200px;
      top: 0;

      @include mediaMinMax($small, $normal) {
        height: 10.41vw;
      }
    }
  }

  &__bullets-stripe {
    background-color: $catskill-two-white-color;
    position: absolute;
    top: -120px;
    right: -110px;
    height: 568px;
    width: 50vw;
    border-radius: 44px;
    z-index: 1;

    @include mediaMinMax($small, $normal) {
      top: -6.25vw;
      right: -5.72vw;
      height: 29.58vw;
      border-radius: 2.29vw;
    }

    @include media($small) {
      width: 100vw;
      height: calc(100% + 60px);
      top: -30px;
    }

    &_isWithoutBullets {
      height: 440px;
      top: -10px;
      right: -50px;
      width: 100vw;

      @include media($xlmini) {
        display: none;
      }

      @include mediaMinMax($small, $normal) {
        height: 22.91vw;
      }
    }
  }

  &__text-wrapper {
    padding-top: 75px;
    z-index: 1;

    @include mediaMinMax($small, $normal) {
      padding-top: 4.68vw;
    }

    @include media($small) {
      padding-top: 50px;
    }

    @include media($xlmini) {
      padding-top: 35px;
    }
  }

  &__description {
    align-items: center;
    text-align: center;
    max-width: 70vw;
    font-size: 1.375rem;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      // margin-bottom: 3.125vw;
    }

    @include media($small) {
      max-width: 80vw;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;
      margin: auto;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      max-width: 90vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 18px;
    }

    @include media($xlmini) {
      line-height: 24px;
      letter-spacing: 1px;
    }

    @include media($xmini) {
      text-align: center;
      line-height: 24px;
      letter-spacing: 1px;
      max-width: 100%;
    }

    @include media($mini) {
      white-space: initial;
    }

    &_isWithoutBullets {
      z-index: 1;
      text-align: start;
      margin-bottom: 50px;

        @include mediaMinMax($small, $normal) {
          margin-bottom: 2.6vw;
        }

        @include media($small) {
          margin-bottom: 3.88vw;
        }

        @include media($xsmall) {
          margin-bottom: 6.51vw;
        }

        @include media($xlmini) {
          margin-bottom: 25px;
        }

        @include media($xlmini) {
          text-align: center;
        }
    }
  }

  &__image-background-top-stripe {
    position: absolute;
    width: 100%;
    height: 255px;
    background-color: $athens-light-gray-color;
    top: 0;
    left: 0;
  }

  &__scroll-button {
    &_isWithoutBullets {
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      width: -moz-fit-content;
    }

    &_margin-bottom {
      margin-bottom: 30px;
    }

    @include media($xlmini) {
      padding-left: 60px !important;
      padding-right: 60px !important;
    }

    &_desktop {
      @include media($xlmini) {
        display: none;
      }
    }

    &_mobile {
      @include mediaMin($xlmini) {
        display: none;
      }
    }
  }

  &__lazy-load {
    z-index: 1;
  }
}
