@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.blog-list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  max-width: 100vw;

  @include mediaMinMax($small, $normal) {
    margin: 5.25vw auto 0;
  }

  @include media($small) {
    margin-top: 50px;
  }

  &__title {
    font-weight: $black;
    font-size: 3rem;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 2.5vw;
      line-height: 2.916vw;
    }

    @include media($small) {
      font-size: 2rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 1px;
      max-width: 335px;
      margin: 0 auto;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title-desc {
    margin: 25px 0 45px;
    align-items: center;
    text-align: center;
    color: $scarpa-flow-gray-color;
    width: 1300px;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }
    

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      width: 67.7vw;
      margin: 1.302vw 0 2.34375vw;
    }

    @include media($small) {
      margin: 20px auto 45px;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;
      max-width: 90vw;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 2.864vw;
    }

    @include media($xlmini) {
      line-height: 3.97vw;
      letter-spacing: 0.147vw;
      font-size: 2.795vw;
    }

    @include media($xmini) {
      text-align: center;
      margin-bottom: 40px;
      line-height: 4.65vw;
      letter-spacing: 0.17vw;
      font-size: 3.27vw;
    }

    @include media($mini) {
      line-height: 5.625vw;
      letter-spacing: 0.2vw;
      font-size: 3.95vw;
    }
  }

  &__top-stripe {
    position: absolute;
    width: calc(100vw + 94px);
    height: 442px;
    left: -94px;
    top: -90px;
    background: $iceberg-blue-light-color;
    border-radius: 44px 0 0 44px;
    z-index: -2;

    @include mediaMinMax($small, $normal) {
      width: calc(100vw + 4.8958vw);
      height: 23.0208vw;
      left: -4.8958vw;
      top: -4.6875vw;
      border-radius: 2.2916vw 0 0 2.2916vw;
    }

    @include media($small) {
      left: 0;
      top: -34px;
      border-radius: 28px 0 0 28px;
      height: 311px;
    }
  }

  &__top-rect {
    position: absolute;
    width: 141px;
    height: 141px;
    left: 1420px;
    top: -170px;
    background: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.09);
    border-radius: 27px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      width: 7.34375vw;
      height: 7.34375vw;
      left: 73.646vw;
      top: -8.854vw;
      border-radius: 1.40625vw;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__category-image {
    max-width: 990px;
    width: 90vw;
    border-radius: 30px;
    position: relative;
    height: auto;
    margin: 30px auto 15px;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.4583vw;
      max-width: 51.5625vw;
    }

    @include media($small) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__article-title {
    font-size: 1.25rem;
    font-weight: $bold;
    line-height: 27px;
    letter-spacing: 0.7px;
    color: $shark-gray-color;
    margin-bottom: 12px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.0416vw;
      line-height: 1.40625vw;
      margin-bottom: 0.625vw;
    }
  }

  &__article-columns {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  &__article-list {
    margin: 110px 0 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1430px;
    width: 85vw;
    justify-content: center;
    position: relative;

    @include mediaMinMax($small, $normal) {
      margin: 5.7291vw 0 5.2083vw;
    }

    @include media($small) {
      height: auto;
      width: 95vw;
      margin: 15px 0 60px;
    }

    @include media($xlmini) {
      width: 100vw;
      margin: 64px 0 50px;
    }
  }

  &__article-category {
    font-size: 1.0625rem;
    font-weight: $medium;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    max-width: 328px;
    max-height: 119px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      line-height: 1.40625vw;
    }
  }

  &__article {
    position: relative;
    margin: 0 15px 30px;
    max-width: 428px;
    min-width: 334px;
    width: 25vw;
    max-height: 573px;
    min-height: 467px;
    height: 40vw;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    border-radius: 30px;
    cursor: pointer;
    outline: none;

    @include mediaMinMax($small, $normal) {
      margin: 0 0.78125vw 1.5625vw;
      max-width: 22.292vw;
      min-width: 17.396vw;
      max-height: 29.84375vw;
      height: 29.84375vw;
      min-height: 29.84375vw;
      border-radius: 1.5625vw;
    }

    @include media($small) {
      margin: 0 10px 10px;
    }
  }

  &__featured-image {
    display: block;
    border-radius: 5px;
    object-fit: cover;
    object-position: center center;
    max-width: 1160px;
    width: 100%;
    padding: 0 20px;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.2604vw;
      max-width: 60.4166vw;
      padding: 0 1.0416vw;
    }
  }

  &__article-image {
    object-fit: cover;
    object-position: center center;
    height: 283px;
    border-radius: 30px 30px 0 0;
    width: 100%;
    position: relative;

    @include mediaMinMax($small, $normal) {
      height: 14.7395vw;
      border-radius: 1.5625vw 1.5625vw 0 0;
    }
  }

  &__article-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 428px;
    min-width: 334px;
    width: 25vw;
    max-height: 319px;
    min-height: 267px;
    height: 20vw;
    padding: 35px 50px 50px;
    border-radius: 30px;
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.04);

    @include mediaMinMax($small, $normal) {
      max-width: 22.292vw;
      min-width: 17.396vw;
      max-height: 16vw;
      min-height: 16vw;
      height: 16vw;
      padding: 1.8229vw 2.6041vw 2.6041vw;
      border-radius: 1.5625vw;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__article-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
  }

  &__link-text {
    width: 141px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $light-slate-gray-color;
    border-radius: 8px;
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.71px;
    color: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      width: 7.34375vw;
      height: 2.2916vw;
      border-radius: 0.4166vw;
      font-size: 0.8333vw;
      line-height: 1.1458vw;
    }
  }

  &__load-icon {
    animation-name: spin;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-right: 10px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.5208vw;
    }
  }

  &__desktop {
    width: 100%;
  }

  &__mobile {
    display: none;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  &__pagination {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 120px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 6, 25vw;
    }

    @include media($small) {
      margin-bottom: 60px;
    }

    @include media($xlmini) {
      margin-bottom: 50px;
    }
  }

  &__pagination-page,
  &__pagination-break {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    margin: 0 20px;
    background-color: rgba($athens-light-gray-color, 0.5);
    color: rgba($black-color, 0.3);
    display: flex;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 23px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;

    @include mediaMinMax($small, $normal) {
      width: 1.875vw;
      height: 1.875vw;
      border-radius: 0.5208vw;
      margin: 0 1.0416vw;
      line-height: 1.1979vw;
      font-size: 0.8854vw;
    }

    @include media($xmini) {
      margin: 0 12px;
    }
  }


  &__pagination-page-link,
  &__pagination-break-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: rgba($black-color, 0.3);

    &:visited,
    &:focus {
      text-decoration: none;
    }
  }

  &__active-page-link {
    color: rgba($white-color, 0.8);
  }

  &__pagination-page#{&__active-page} {
    background-color: $pickled-bluewood-color;
    color: rgba($white-color, 0.8);
  }

  &__next-arrow {
    margin-left: 20px;

    @include mediaMinMax($small, $normal) {
      margin-left: 1.0416vw;
    }
  }

  &__back-arrow {
    transform: rotate(180deg);
    margin-right: 20px;

    @include mediaMinMax($small, $normal) {
      margin-right: 1.0416vw;
    }
  }

  &__next,
  &__back {
    display: flex;
    outline: none;
  }

  &__next-wrapper,
  &__back-wrapper {
    svg {
      path {
        stroke: $pickled-bluewood-color;
      }
    }
  }

  &__disabled {
    svg {
      path {
        stroke: $silver-gray-color;
      }
    }
  }
}
