@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.what-we-transfer {
  display: flex;
  justify-content: center;
  padding:  140px 0 130px 0;

  &_digitize {
    padding: 40px 0 75px 0;
  }

  @include media($small) {
    padding: 60px 0;
  }

  &__wrapper {
    width: 100%;
  }

  &__title {
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    text-align: center;
    margin-bottom: 44px;
    white-space: pre-wrap;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.29vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 35px;
      white-space: initial;
    }

    @include media($xmini) {
      font-size: 1.625rem;
      white-space: pre-wrap;
    }
  }

  &__description {
    align-items: center;
    text-align: center;
    color: $scarpa-flow-gray-color;
    width: 1249px;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    white-space: pre-wrap;
    margin: auto;
    margin-bottom: 108px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      width: 65vw;
      margin-bottom: 5.625vw;
    }

    @include media($small) {
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
      max-width: 90vw;
      margin-bottom: 10.54vw;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 2.864vw;
    }

    @include media($xlmini) {
      line-height: 3.97vw;
      letter-spacing: 0.147vw;
      font-size: 2.795vw;
      margin-bottom: 60px;
    }

    @include media($xmini) {
      text-align: center;
      line-height: 24px;
      letter-spacing: 1px;
      font-size: 3.27vw;
    }

    @include media($mini) {
      font-size: 3.95vw;
    }

    &_enhance,
    &_digitize {
      max-width: 1200px;

      @include mediaMinMax($small, $normal) {
        max-width: 62vw;
      }

      @include media($small) {
        max-width: 90vw;
      }
    }
  }

  &__description {
    margin: auto;
    text-align: center;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    margin-bottom: 100px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      margin-bottom: 5.2083vw;
    }

    @include media($small) {
      max-width: 80vw;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
      margin-bottom: 60px;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      max-width: 90vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 2.864vw;
    }

    @include media($xlmini) {
      line-height: 24px;
      letter-spacing: 1;
      font-size: 2.79vw;
      margin-bottom: 40px;
    }

    @include media($xmini) {
      text-align: center;
      line-height: 24px;
      letter-spacing: 1;
      font-size: 3.27vw;
    }

    @include media($mini) {
      line-height: 24px;
      letter-spacing: 1;
      font-size: 3.95vw;
    }
  }

  &__cards {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    @include media($xmini) {
      width: calc(100% - 40px);
      margin: 0 auto;
    }

    @include media($mini) {
      justify-content: space-evenly;
      width: 100%;
    }
  }

  &__background-stripe {
    position: absolute;
    top: -53px;
    left: -60px;
    height: calc(100% - 47px);
    width: calc(100vw + 71px);
    z-index: -1;
    background-color: $porcelain-gray-color;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-top-left-radius: 44px;
    border-bottom-left-radius: 44px;

    @include mediaMinMax(1025, $normal) {
      top: -2.76vw;
      left: -3.12vw;
      height: 12.96vw;
      border-top-left-radius: 2.29vw;
      border-bottom-left-radius: 2.29vw;
    }

    @include media($small) {
      left: 20px;
      top: -32px;
    }

    @include media($xmini) {
      left: -20px;
    }
  }
}
