@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.fix-everything {
  width: 100%;
  padding: 0 0 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mediaMinMax($small, $normal) {
    padding: 0 0 6.25vw 0;
  }

  @include media($small) {
    padding: 60px 20px;
  }

  @include media($xlmini) {
    padding: 35px 0 0 0 ;
  }

  &__title {
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
      white-space: inherit;
    }

    @include media($xlmini) {
      white-space: initial;
    }
  }

  &__slider-wrapper {
    position: relative;
    margin: 0 auto;
    width: 82.39vw;
    max-width: 1582px;

    @include media($xsmall) {
      width: calc(100% - 2.7vw);
    }
    @include media($xlmini) {
      padding-bottom: 30px;
    }
  }

  &__left-square {
    position: absolute;
    width: 310px;
    height: 298px;
    background-color: $intense-citrine-white-color;
    border-radius: 0 0 0 37px;
    bottom: 26px;
    left: -100px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      width: 16.14vw;
      height: 15.52vw;
      border-radius: 0 0 0 1.92vw;
      bottom: 1.35vw;
      left: -5.2vw;
    }

    @include media($small) {
      width: 115px;
      height: 150px;
      left: -10px;
      bottom: 71px;
      border-radius: 0;
    }

     @include media($mini) {
      width: 62px;
      height: 119px;
      bottom: 72px;
    }
  }

  &__image {
    max-height: 466px;
    max-width: 466px;
    min-width: 294px;
    width: 30vw;
    height: 25vw;

    @include mediaMinMax($small, $normal) {
      max-height: 466px;
      max-width: 466px;
      min-width: 230px;
      width: 24.27vw;
      height: 24.27vw;
    }
  }

  &__compare-image {
    max-height: 466px;
    max-width: 466px;
    min-width: 294px;
    min-height: 294px;
    width: 30vw;
    height: 25vw;

    @include mediaMinMax($small, $normal) {
      position: absolute;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      border-radius: 16px;
      max-height: 466px;
      max-width: 466px;
      min-width: 230px;
      width: 24.27vw;
      height: 24.27vw;
    }
  }

  &__right-stripe {
    position: absolute;
    width: calc(50vw - 50% + 420px);
    height: 400px;
    background-color: $paris-white-color;
    border-radius: 37px 0 0 0;
    top: -83px;
    right: calc(50% - 50vw);
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      height: 20.83vw;
      width: 30.15vw;
      background-color: $paris-white-color;
      border-radius: 1.92vw 0 0 0;
      top: -4.32vw;
    }

    @include media($small) {
      top: -23px;
      width: 288px;
      height: 247px;
    }

    @include media($mini) {
      top: -21px;
      right: -60px;
      width: 268px;
      height: 250px;
    }
  }

  &__description {
    text-align: center;
    margin-bottom: 40px;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      max-width: 80vw;
      line-height: 2.63vw;
      font-size: 2.14vw;
      margin: auto;
      letter-spacing: 0.097vw;
      white-space: inherit;;
      margin-bottom: 3.9vw;
    }

    @include media($xsmall) {
      margin-bottom: 5.2vw;
      letter-spacing: 0.13vw;
      max-width: 80%;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 18px;
    }

    @include media($xlmini) {
      line-height: 24px;
      letter-spacing: 1px;
      margin-bottom: 5.8vw;
      max-width: 90%;
    }

    @include media($xmini) {
      text-align: center;
      margin-bottom: 40px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    @include media($mini) {
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  &__text-wrapper {
    width: 100%;
    padding-top: 90px;
    margin-bottom: 95px;

    @include mediaMinMax($small, $normal) {
      padding-top: 4.68vw;
      margin-bottom: 4.94vw;
    }

    @include media($small) {
      padding-top: 0 ;
    }

    @include media($xlmini) {
      padding: 0 18px 30px 18px;
      margin-bottom: 0;
    }
  }
}
