@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.shipping-target {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 1px 2px 4px rgba($black-color, .2);

  @include media($small) {
    top: 0;
    position: relative;
  }

  &__top-block {
    display: flex;
    padding: 5px 15px;
    background-color: $turquoise-color;
    justify-content: center;
    position: relative;

    @include mediaMinMax($small, $normal) {
      padding: 0.260vw 0.781vw;
    }

    @include media($small) {
      flex-direction: column;
    }
  }

  &__top-text {
    max-width: calc(100% - 220px);
    text-align: center;

    @include mediaMinMax($small, $normal) {
      max-width: calc(100% - 11.458vw);
    }

    @include media($small) {
      max-width: 100%;
      margin-bottom: 5px;
    }
  }

  &__content-wrap {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(49, 77, 97, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 113;
  }

  &__veil {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__content-block {
    display: flex;
    flex-wrap: nowrap;
    z-index: 2;
    background: $black-squeeze-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 50px;
    border: solid 3px $powder-blue-color;
    padding: 90px 30px 45px 60px;

    @include mediaMinMax($small, $normal) {
      border-radius: 2.604vw;
      padding: 4.687vw 1.562vw 2.343vw 3.125vw;
    }

    @include media($small) {
      flex-direction: column;
      align-items: center;
      max-height: calc(100vh - 160px);
      overflow-y: auto;
      padding: 30px 23px;
      border-radius: 28px;
      margin-top: 175px;
      max-width: 690px;
      width: 95vw;

      @include custom-scroll;

      &::-webkit-scrollbar {
        background-color: rgba($black-squeeze-color, 0);
      }
    }

    @include media($mini) {
      width: 350px;
    }
  }

  &__input-block {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    max-width: 500px;
    justify-content: center;
    margin-right: 69px;

    @include mediaMinMax($small, $normal) {
      max-height: 26.042vw;
      max-width: 26.042vw;
      margin-right: 3.594vw;
    }

    @include media($small) {
      margin-bottom: 20px;
      margin-right: 0;
      width: auto;
    }
  }

  &__card {
    @include media($small) {
      width: 100%;
    }
  }

  &__input-title {
    font-weight: $black;
    font-size: 2.188rem;
    line-height: 1.53;;
    text-align: center;
    letter-spacing: 1.10526px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.77vw;
      margin-bottom: 2.083vw;
    }

    @include media($small) {
      font-size: 1.594rem;
      margin-bottom: 20px;
    }
  }

  &__input-text {
    font-size: 1.188rem;
    line-height: 1.3;
    text-align: center;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 45px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.989vw;
      line-height: 1.25vw;
      margin-bottom: 2.343vw;
    }

    @include media($small) {
      display: none;
      font-size: 1.0316px;
      margin-bottom: 0px;
    }

    @include media($mini) {
      white-space: break-spaces;
      width: 290px;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: block;
      }
    }
  }

  &__input-btn {
    border-radius: 10px;
    background-color: $burnt-sienna-color;
    font-size: 1.094rem;
    line-height: 1.97;
    color: $white-color;
    border: none;
    height: 60px;
    width: 260px;
    display: flex;
    align-items: center;
    font-weight: $bold;;
    display: flex;
    justify-content: center;

    @include mediaMinMax($small, $normal) {
      height: 3.125vw;
      width: 13.541vw;
      border-radius: 0.52vw;
      font-size: 0.911vw;
    }

    @include media($small) {
      margin-bottom: 20px;
    }
  }

  &__input-contact {
    font-size: 1.188rem;
    font-weight: $extraMedium;
    color: $pickled-bluewood-color;
    line-height: 1.26;
    margin-top: 35px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.989vw;
      margin-top: 1.82vw;
    }

    @include media($small) {
      margin-top: 0px;
    }
  }

  &__input-contact-phone {
    font-size: 1.188rem;
    font-weight: $normal;
    color: $scarpa-flow-gray-color;
    line-height: 1.26;

    @include mediaMinMax($small, $normal) {
      font-size: 0.989vw;
    }
  }

  &__input-block-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media($small) {
      display: none;
    }

    &_mobile {
      display: none;
      margin-top: 20px;

      @include media($small) {
        display: flex;
      }
    }
  }

  &__photo-art-block {
    width: 940px;
    height: 400px;
    position: relative;
    border-radius: 40px;
    padding: 20px;
    background-color: $white-color;
    display: flex;

    @include mediaMinMax(1025, $normal) {
      width: 48.95vw;
      height: 20.83vw;
      border-radius: 2.08vw;
      padding: 1.04vw;
    }

    @include media($small) {
      width: 100%;
      height: 220px;
      border-radius: 31px;
      padding: 10px;
    }

    @include media($mini) {
      justify-content: center;
    }
  }

  &__photo-art-block-main-img {
    border-radius: 40px;
    object-fit: cover;

    @include mediaMinMax(1025, $normal) {
      border-radius: 2.08vw;
    }

    @include media($small) {
      border-radius: 27px;
    }

    @include media($mini) {
      display: none !important;
    }
  }

  &__photo-art-block-img {
    width: 430px;
    height: 360px;
    border-radius: 25px;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      width: 22.39vw;
      height: 18.75vw;
      border-radius: 1.3vw;
    }

    @include media($small) {
      display: none;
      height: 200px;
      width: 270px;
      border-radius: 27px;
    }

    @include media($small) {
      display: none;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: block;
      }
    }
  }

  &__open-block-wrap {
    position: fixed;
    left: 20px;
    bottom: 20px;

    @include mediaMinMax($small, $normal) {
      bottom: 1.042vw;
      left: 1.042vw;
    }
  }

  &__open-block {
    display: flex;
    align-items: center;
    padding: 10px 28px 10px 10px;
    background: $iceberg-blue-light-color;
    border: 2px solid $powder-blue-color;
    box-shadow: 25px 25px 40px rgba($black-color, 0.03);
    border-radius: 20px;
    outline: none;

    @include mediaMinMax($small, $normal) {
      padding: 0.521vw 1.458vw 0.521vw 0.521vw;
      border-radius: 1.042vw;
    }

    @include media($small) {
      padding: 10px;
    }
  }

  &__icon-block-wrap {
    z-index: 1;
  }

  &__icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.1);
    border-radius: 14px;
    width: 65px;
    height: 65px;
    margin-right: 28px;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.729vw;
      width: 3.38vw;
      height: 3.38vw;
      margin-right: 1.458vw;
    }

    @include media($small) {
      margin-right: 0;
      background-color: $white-color;
    }
  }

  &__back-blue-element {
    display: block;
    position: absolute;
    top: -6px;
    left: -6px;
    background: $pickled-bluewood-color;
    border-radius: 20px 0;
    content: '';
    width:36px;
    height: 37px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      top: -0.313vw;
      left: -0.313vw;
      border-radius: 1.042vw 0;
      width:1.875vw;
      height: 1.927vw;
    }

    @include media($small) {
      display: block;
    }
  }

  &__back-green-element {
    display: block;
    position: absolute;
    bottom: -6px;
    right: -6px;
    background: $powder-blue-color;
    border-radius: 20px 0;
    content: '';
    width:36px;
    height: 37px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      bottom: -0.313vw;
      right: -0.313vw;
      border-radius: 1.042vw 0;
      width:1.875vw;
      height: 1.927vw;
    }

    @include media($small) {
      display: block;
    }
  }

  &__icon-element {

    @include media($normal) {
      width: 3.1vw;
      height: 3.1vw;
    }

    @include media($small) {
      width: 54px;
      height: 44px;
    }
  }

  &__close-btn {
    position: absolute;
    right: -24px;
    top: -24px;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: none;

    img {
      width: 30px;
      height: 30px;

      @include mediaMinMax(1025, $normal) {
        width: 1.56vw;
        height: 1.56vw;
        border-radius: 0.52vw;
      }
    }

    &_popup {
      @include media($small) {
        right: 0;
        top: 135px;
      }
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include media($small) {
      display: none;
    }
  }

  &__button-title {
    font-weight: $black;
    font-size: 1.13rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: left;
    margin-bottom: 1px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.94vw;
      line-height: 1.25vw;
    }
  }

  &__button-text {
    font-weight: $medium;
    font-size: 1.2rem;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;
    font-family: Lato;
    font-style: normal;

    @include mediaMinMax($small, $normal) {
      font-size: 1vw;
      line-height: 1.38vw;
    }
  }

  &__button-link {
    font-weight: $medium;
    font-size: 1.2rem;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;
    text-decoration: underline;

    @include mediaMinMax($small, $normal) {
      font-size: 1vw;
      line-height: 1.38vw;
    }
  }

  &__stripe-one {
    background: $powder-blue-color;
    content: '';
    border-radius: 0 0 0 37px;
    position: absolute;
    top: 0;
    left: 488px;
    width: 194px;
    height: 245px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      border-radius: 0 0 0 1.927vw;
      left: 25.417vw;
      width: 10.104vw;
      height: 12.760vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__stripe-two {
    background: $iceberg-blue-light-color;
    border-radius: 37px 0 0 0;
    content: '';
    position: absolute;
    right: 0;
    top: 110px;
    width: 194px;
    height: 245px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.927vw 0 0 0;
      top: 5.729vw;
      width: 10.104vw;
      height: 12.760vw;
    }

    @include media($small) {
      display: none;
    }
  }
}
