@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.checkout {
  display: flex;
  max-width: 1532px;
  margin: 0 auto;
  flex-direction: column;

  @include mediaMinMax(1025, $normal) {
    max-width: 79.79vw;
  }

  @include media($small) {
    padding: 0 20px;
  }

  &__title {
    margin-top: 200px;

    @include mediaMinMax(1025, $normal) {
      margin-top: max(10.416vw, 150px);
    }

    @include media($small) {
      margin-top: 198px;
    }
  }

  &__title-icon-name {
    font-weight: $black;
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
    }

    @include media($small) {
      font-size: 2rem;
      line-height: 40px;
      letter-spacing: 0.6px;
    }
  }

  &__icon {
    stroke: $dark-slate-blue-color;
  }

  &__products-title {
    margin: 40px 0 30px 0;
    font-weight: $black;
    font-size: 1.5rem;
    line-height: 33px;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      margin: 2.08vw 0 1.56vw 0;
      font-size: 1.25vw;
      line-height: 1.71vw;
    }

    @include media($small) {
      font-size: 1.1875rem;
      line-height: 26px;
      letter-spacing: 1px;
      margin: 30px 0 20px 0;
    }
  }

  &__orders-wrapper {
    display: flex;
    justify-content: space-between;

    @include media($small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__input {
    display: none;
  }

  &__custom {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 1.04vw;
      min-width: 0.93vw;
      max-width: 0.93vw;
      min-height: 0.93vw;
      max-height: 0.93vw;
    }

    &:before {
      content: '';
      padding: 2px;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 50%;
      bottom: 0;
      transform: translateY(-50%);
      background: $white-color;
      border-radius: 10px;
      border: 1px solid $dark-slate-blue-color;

      @include mediaMinMax(1025, $normal) {
        width: 1.14vw;
        height: 1.14vw;
        border-radius: 0.52vw;
      }
    }
  }

  &__input:checked + &__custom {
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: calc(50% - 5px);
      left: 6px;
      background: $turquoise-color;
      border-radius: 5px;

      @include mediaMinMax(1025, $normal) {
        width: 0.52vw;
        height: 0.52vw;
        top: calc(50% - 0.26vw);
        left: 0.31vw;
        background: $turquoise-color;
        border-radius: 0.26vw;
      }
    }

    &:before {

      border-color: $dark-slate-blue-color;
    }
  }

  &__rush-block-wrapper {
    max-width: 700px;
    background: $wild-sand-color;
    margin-bottom: 50px;
    padding: 30px 20px;


    @include mediaMinMax(1025, $normal) {
      max-width: 36.45vw;
      margin-bottom: 2.6vw;
      padding: 1.56vw 1.04vw;
    }

    @include media($small) {
      max-width: 100%;
    }
  }

  &__rush-text-wrapper {
    background-color: $white-color;
    padding: 10px 20px;
    position: relative;

    &:first-child {
      &:after {
        content: '';
        width: 95%;
        height: 1px;
        position: absolute;
        background-color: $bluey-grey-color;
        bottom: 0;
        left: 3%;
      }
    }
  }

  &__rush-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  &__rush-checkbox,
  &__rush-controls {
    display: flex;
    align-items: center;
  }

  &__rush-price {
    margin: 0 15px 0 0;

    @include mediaMinMax(1025, $normal) {
      margin: 0 0.78vw 0 0;
    }
  }

  &__rush-title {
    margin: 0 15px 0 0;

    @include mediaMinMax(1025, $normal) {
      margin: 0 0.78vw 0 0;
    }
  }

  &__order-details {
    width: 932px;

    @include mediaMinMax(1025, $normal) {
      width: 48.542vw;
    }

    @include media($small) {
      max-width: 100%;
      width: 728px;
      margin-right: 0;
    }

    @include media($mini) {
      width: 334px;
    }
  }

  &__orders-summary-wrap {
    align-self: baseline;
    padding-bottom: 40px;

    @include mediaMinMax(1025, $normal) {
      padding-bottom: 2.08vw;
    }
  }

  &__checkout-btn {
    white-space: nowrap;

    @include media($small) {
      height: 50px;
      border-radius: 25px;
    }
  }

  &__payment-link {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 220px;

    @include mediaMinMax(1025, $normal) {
      width: 11.45vw;
    }
  }

  &__orders-summary {
    width: 500px;

    @include mediaMinMax(1025, $normal) {
      width: 26.04vw;
    }

    @include media($small) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__payment-btn {
    width: 220px;
    padding: 15px 5px !important;

    @include mediaMinMax(1025, $normal) {
      width: 11.45vw;
      padding: 0.78vw 0.26vw !important;
    }
  }
}
