@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.hint-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($gray-color, 0.3);
  z-index: 1;


  &__hint-block {
    max-width: 700px;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    position: relative;
    border-radius: 8px;
    background-color: $white-color;

    @include media($small) {
      max-width: 260px;
      padding: 35px 10px;
    }
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    background: transparent;
  }

  &__hint-title {
    font-size: 1.4rem;
    font-weight: $extraMedium;
    color: $dark-slate-blue-color;
    margin-bottom: 10px;
    text-align: center;

    @include media($small) {
      font-size: 16px;
    }
  }

  &__hint-text {
    font-size: 16px;
    font-weight: $regular;
    color: $gray-color;
    text-align: center;
    margin-bottom: 10px;

    @include media($small) {
      font-size: 0.75rem;
    }
  }

  &__hint-images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;

    @include media($xsmall) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__hint-image {
    max-width: 274px;
    height: 176px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;

    @include media($small) {
      height: 109px;
      max-width: 172px;
    }
  }
}
