@import "src/styles/variables.scss";
@import "src/styles/media.scss";


.payment-info-form {
  display: flex;
  max-width: 1150px;
  margin: 0 auto;
  flex-direction: column;

  &__title {
    margin-top: 60px;

    @include media($small) {
      margin-left: 20px;
    }
  }

  &__title-icon {
    display: flex;
    align-items: center;
  }

  &__title-icon-name {
    margin-left: 20px;
  }

  &__icon {
    stroke: $dark-slate-blue-color;
  }

  &__products-title {
    margin: 20px 0 10px 0;

    @include media($small) {
      margin-left: 20px;
    }
  }

  &__orders-wrapper {
    display: flex;
    justify-content: space-between;

    @include media($small) {
      flex-direction: column-reverse;
      margin: 10px;
    }
  }

  &__info-form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    @include media($xsmall) {
      flex-direction: column;
    }
  }

  &__payment-method {
    max-width: 344px;
  }

  &__column-input {
    width: 49%;

    @include media($xsmall) {
      width: 100%;

      &_first-in-row {
        margin-bottom: 32px;
      }
    }

    &_full-width {
      width: 100%;
    }
  }

  &__btn {
    width: 100%;
    margin-bottom: 138px;
  }
}
