@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.what-we-do-products {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;


  @include mediaMinMax($small, $normal) {
    margin-bottom: 3.6458vw;
  }

  &__container {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    transition: margin-top 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include mediaMinMax($small, $normal) {
      margin-top: 2.0833vw;
      padding-left: 1.0416vw;
      padding-right: 1.0416vw;
    }

    @include mediaMin($small) {
      margin-top: 0;
    }
  }

  &__container,
  &__info {
    text-align: center;
  }

  &__title {
    font-size: 2.5rem;
    max-width: 820px;
    width: 100%;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: $black;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    color: $shark-gray-color;
    margin-bottom: 67px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.0833vw;
      max-width: 42.7083vw;
      line-height: 2.9166vw;
      margin-bottom: 3.4895vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
    }

    &_only-desktop {
      @include media($xsmall) {
        display: none;
      }
    }

    &_with-subtitle {
      margin-bottom: 25px;

      @include mediaMinMax($small, $normal) {
        margin-bottom: 1.302vw;
      }

      @include media($small) {
        margin-bottom: 20px;
      }
    }
  }

  &__sub-title {
    margin: 0;
    margin-bottom: 50px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }
    transition: margin-bottom 0.5s;
    font-size: 1.375rem;
    line-height: 1.27;
    letter-spacing: 1px;
    font-weight: $medium;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 2.6041vw;
      font-size: 1.14vw;
      line-height: 1.45vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.8px;
      margin-bottom: 30px;
      white-space: normal;
    }
  }

  &__card-container {
    display: flex;
    max-width: 1506px;
    width: 100%;
    position: relative;
    padding: 60px 20px 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mediaMinMax($small, $normal) {
      max-width: 78.4375vw;
      padding: 3.125vw 1.0416vw 0 1.0416vw;
    }

    @include media($small) {
      justify-content: center;
      padding: 32px 0 0 0;
    }

     @include media($xsmall) {
        align-items: center;
      }
  }

  &__info {
    padding: 60px 18%;
    font-size: 1.5rem;
    line-height: 1.33;
    color: $dark-slate-blue-color;
    background-color: $turquoise-color;

    @include mediaMinMax($small, $normal) {
      padding: 3.125vw 18%;
      font-size: 1.25vw;
    }
  }

  &__background-stripe {
    position: absolute;
    top: 0;
    left: -101px;
    width: calc((100vw - 100%) / 2 + 100% + 104px);
    height: 249px;
    z-index: -1;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-top-left-radius: 44px;
    border-bottom-left-radius: 44px;

    @include mediaMinMax($small, $normal) {
      left: -5.2604vw;
      width: calc((100vw - 100%) / 2 + 100% + 5.4166vw);
      height: 12.96875vw;
      border-top-left-radius: 2.2916vw;
      border-bottom-left-radius: 2.2916vw;
    }

    @include media($small) {
      right: 0;
      left: 20px;
      border-top-left-radius: 28px;
      border-bottom-left-radius: 28px;
    }

    @include media($xlmini) {
      left: 0;
      right: 0;
      height: calc(100% - 80px);
      width: 100%;
    }

    &_isFlip {
      transform: scale(-1, 1);
      left: calc((100vw - 100%) * -1 / 2);

      @include media($small) {
        transform: scale(-1, 1);
        left: 0;
        right: 20px;
        width: calc(100vw - 20px);
      }

      @include media($xlmini) {
        left: 0;
        right: 0;
        height: calc(100% - 80px);
        width: 100%;
      }
    }
  }

  &__frame-card {
    @include media($small) {
      margin: 0 10px 10px;

      &:last-child {
        display: none;
      }
    }
    @include media($xmini) {
      margin: 0 0 10px 0;
    }
  }
}
