@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 79.8%;
  max-width: 1920px;
  z-index: 102;
  position: sticky;
  top: 42px;
  margin: 40px auto -138px auto;
  transition: 0.7s all;

  &_hidden {
    top: 0;
  }

  @include mediaMin($normal) {
    padding: 0;
    max-width: 1532px;
  }

  @include media($small) {
    width: 100%;
    margin: 0 auto -138px auto;
    padding: 0;
  }

  &_menu {
    padding: 0;
  }

  &__veil {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba($black-color, 0.1);
  }

  &__navi-wrap {
    width: 100%;
    height: 86px;
    background-color: $white-color;
    padding: 30px 26px;
    box-shadow: 0 2px 63px rgba($black-color, 0.05);
    border-radius: 20px;
    z-index: 110;
    position: relative;

    @include media($small) {
      padding: 30px 20px;
      height: 82px;
    }

    @include media($mini) {
      padding: 20px;
      height: 82px;
    }
  }

  &__slider-wrap {
    width: 51vw;
    max-width: 980px;
  }

  &__slid {
    outline: none;
  }

  .slick-active {
    outline: none !important;
  }

  .slick-active div {
    outline: none !important;
  }


  @include media($small) {
    flex-flow: row;
    height: 82px;

    &__home-container {
      order: 2;

      &_menu {
        display: none;
      }
    }
  }

  &__home-container {
    max-width: 305px;
  }

  &__home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo-icon {
    margin-right: 19px;

    @include mediaMinMax(1025, $normal) {
      width: 8.8vw;
      height: 3.96vw;
    }

    @include media($small) {
      width: 150px;
      height: 47px;
    }

    @include media($mini) {
      margin-right: 0;
    }
  }

  &__logo-text {
    font-weight: $black;
    color: $shark-gray-color;
    font-size: 1.375rem;
  }

  &__navi-buttons {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 30px;

    @include media($small) {
      order: 1;
      display: none;
    }
  }

  &__navi-button,
  &__navi-button_active {
    padding: 5px 0;
    margin: 0 25px;
    font-size: 1.1vw;
    font-weight: $bold;
    border: none;
    color: $shark-gray-color;
    text-decoration: none;
    outline: none;
    transition: transform 1s;

    @include mediaMin($normal) {
      font-size: 1.0625rem;
    }

    @include media($xnormal) {
      margin: 0 15px;
    }

    @include media($small) {
      font-size: 1.0625rem;
    }

    &:after {
      display: block;
      content: '';
      border-bottom: 2px solid $pickled-bluewood-color;
      transform: scaleX(0);
      transition: transform 250ms linear;
      transform-origin: 0 50%;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0 50%;
    }

    &:first-child {
      margin-left: 0;
    }

    &_active {
      &:after {
        display: block;
        content: '';
        transform: scaleX(1);
        border-bottom: 1px solid $turquoise-color;
      }
    }
  }

  &__navi-burger-menu {
    display: none;


    &_tablet {
      @include media($small) {
        order: 4;
        display: flex;
        margin-left: 30px;
      }

      @include media($mini) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include media($mini) {
        order: 1;
        display: flex;
        margin-left: 0;
        margin-right: 16px;
      }
    }
  }

  &__buttons-block {
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    &_menu {
      margin-right: 30px;
    }

    @include media($small) {
      order: 3;
    }
  }

  &__control-button-link {
    margin-left: 10px;
    background-color: $pickled-bluewood-color;
    border: none;
    border-radius: 12px;
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &_light {
      background-color: $conch-gray-green-color;
    }

    &_withText {
      width: 101px;

      @include media($mini) {
        width: 46px;
      }
    }

    &:first-child {
      margin: 0;

      &_menu {
        margin-left: 60px;
      }
    }

    @include media($mini) {
      &_menu {
        display: flex;
      }
    }

  }

  &__account-btn {
    margin-left: 20px;
    background-color: $pickled-bluewood-color;
    border: none;
    border-radius: 12px;
    height: 46px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.5px;

    @include media($small) {
      display: none;
    }
  }

  &__account-text {
    color: $white-color;
    margin-left: 12px;
  }

  &__account-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    width: 120px;
    top: 26px;
    border: 2px solid $pickled-bluewood-color;
    border-radius: 12px;
    z-index: -1;
    padding: 20px 10px 10px 15px;
  }

  &__account-menu-item {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 2px 0;
  }

  &__account-line {
    z-index: 120;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    margin-left: 12px;
    color: $slate-gray-color-2;
    &:visited {
      text-decoration: none;
      color: $slate-gray-color-2;
    }
  }

  &__login-button-text {
    margin-left: 12px;
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: $white-color;

    @include media($mini) {
      display: none;
    }
  }


  &__live-help-btn-title {
    margin: 0 0 3px 10px;

    @include media($xsmall) {
      display: none;
    }
  }

  &__live-help-btn {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;
    background-color: $white-color;
    border: 2px solid $gray-light-color;
    border-radius: 12px;
    width: 127px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include media($small) {
      display: none;
    }
  }

  &__round {
    width: 20px;
    height: 20px;
    background-color: $darker-summer-green-color;
    border: 2px solid $gray-light-color;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    right: -8px;

    &_unavailable {
      background-color: $burnt-sienna-color;
    }
  }

  &__tab {
    position: absolute;
    top: calc(100% - 20px);
    left: 0;
    width: 100%;
    height: 16.66vw;
    padding: 0 20px 0 60px;
    background-color: $white-color;
    transition: padding 0.5s;
    box-shadow: 0 20px 80px rgba($black-color, 0.1);
    border-radius: 0 0 60px 60px;
    z-index: 1;

    @include mediaMin($normal) {
      height: 320px;
      padding: 0 20px 0 60px;
    }
  }

  &__container,
  &__tab-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
  }

  &__content-wrap {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;

    &_create {
      justify-content: flex-start;
    }
  }

  &__container {
    justify-content: space-between;
  }

  &__tab-container {
    justify-content: flex-start;
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    margin-right: 113px;
    max-width: 329px;
    transition: max-width 0.5s, margin-right 0.5s;

    @include media($xlnormal) {
      margin-right: 63px;
      max-width: 195px;
    }

    @include media($xnormal) {
      margin: 0;
    }

    &_create {
      margin-right: 0;
    }
  }

  &__links-block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 0 auto 0 120px;

    @include mediaMinMax(1025, $normal) {
      margin: 0 auto 0 6.25vw;
    }

    @include media($small) {
      margin: 0 auto;
    }
  }

  &__simple-links-block {
    display: flex;
    flex-direction: column;
  }

  &__simple-list-link {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__simple-list-link-icon {
    margin-right: 10px;
  }

  &__simple-list-link-text {
    font-size: 16px;
    color: $charcoal-gray-color;
  }

  &__tab-name {
    font-size: 1.45vw;
    font-weight: $black;
    color: $shark-gray-color;
    margin-bottom: 0.83vw;
    line-height: 1.97vw;
    letter-spacing: 1px;

    @include mediaMin($normal) {
      font-size: 1.75rem;
      font-weight: $black;
      color: $shark-gray-color;
      margin-bottom: 16px;
      line-height: 38px;
      letter-spacing: 1px;
    }

    @include media($small) {
      font-size: 1.75rem;
      font-weight: $black;
      color: $shark-gray-color;
      margin-bottom: 16px;
      line-height: 38px;
      letter-spacing: 1px;
    }
  }

  &__tab-text {
    font-size: 0.78vw;
    line-height: 1.25vw;
    color: $scarpa-flow-gray-color;
    margin-bottom: 1.71vw;
    letter-spacing: 1px;

    @include mediaMin($normal) {
      font-size: 0.9375rem;
      line-height: 24px;
      margin-bottom: 32px;
    }
  }

  &__btn-link {
    text-decoration: none;
  }

  &__btn.dark-blue-button {
    max-width: 171px;
    padding: 14px 30px;
  }

  &__btn-text {
    font-weight: $bold;
    font-size: 0.88vw !important;
    line-height: 1.4vw !important;

    @include mediaMin($normal) {
      font-size: 17px !important;
      line-height: 27px !important;
      letter-spacing: 2px !important;
    }

    @include media($small) {
      font-size: 17px !important;
      line-height: 27px !important;
      letter-spacing: 2px !important;
    }
  }

  &__list-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    max-width: 170px;
    height: 100%;
    text-decoration: none;
    transition: width 0.5s, padding 0.5s;

    @include mediaMin($xnormal) {
      max-width: 190px;
    }

    @include mediaMin($normal) {
      margin: 20px;
      width: 240px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) scaleX(0);
      width: 75%;
      height: 1px;
      background-color: $turquoise-color;
      transition: transform 0.5s;
    }

    &:hover {
      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__list-link-img {
    margin-bottom: 20px;
    width: 100%;
    max-width: 200px;
  }

  &__list-link-text {
    font-size: 1.125rem;
    color: $dark-slate-blue-color;
    text-align: center;
  }

  &__icon {
    &_login {
      transform: translateY(3px);
    }

    &_cart {
      margin-right: 8px;
    }

    &_is-cart {
      margin-right: 4px;
    }
  }

  &__orders-counter {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -9px;
    right: -7px;
    border-radius: 10px;
    background-color: $burnt-sienna-red-color;
    color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.68715rem;
    font-weight: $medium;
    border: 2px solid $white-color;
    line-height: 0;
  }

  &__with-live-help {
    display: flex;
  }

  &__burger-button-link {
    border: none;
    height: 41px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: none;
  }

  &__btn {
    padding: 1.04vw 1.82vw !important;

    @include mediaMin($normal) {
      padding: 20px 35px !important;
    }

    @include media($small) {
      padding: 20px 35px !important;
    }
  }

  .universal-slider {
    padding: 0 40px 0 0;
  }

  &__notification {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 2px solid $summer-green-color;
    border-radius: 12px;
    position: relative;
    margin-left: 20px;
    outline: none;
    cursor: pointer;

    @include media($small) {
      display: none;
    }
  }

  &__notification-list {
    outline: none;
    padding: 12px 30px 20px;

    @include mediaMinMax(1025, $normal) {
      padding: 0.625vw 1.563vw 1.042vw;
    }
  }

  &__notification-count {
    position: absolute;
    background-color: $summer-green-color;
    border: 2px solid $white-color;
    box-shadow: -5px 5px 20px rgba($black-color, 0.2);
    border-radius: 50%;
    color: $white-color;
    text-align: center;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -9px;
    font-size: 0.688rem;
    line-height: 15px;
  }

  &__notification-list-container {
    position: absolute;
    color: $black-color;
    top: calc(100% + 10px);
    right: 0;
    z-index: 120;
    background-color: $white-color;
    box-shadow: 0 2px 63px rgba($black-color, 0.05);
    border-radius: 20px;
    width: 580px;

    @include media($mini) {
      width: 375px;
    }

    @include mediaMinMax(1025, $normal) {
      width: 30.208vw;
      border-radius: 1.042vw;
    }
  }

  &__notification-list-fond {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
  }

  &__message-container {
    @include mediaMinMax(1025, $normal) {
      grid-template-columns: 2.865vw auto 4.167vw;
      margin-bottom: 1.250vw;
    }
  }

  &__notification-date,
  &__notification-text {
    @include mediaMinMax(1025, $normal) {
      line-height: 0.99vw;
      font-size: 0.729vw;
    }
  }

  &__btn-close {
    @include mediaMinMax(1025, $normal) {
      width: 1.667vw;
      height: 1.667vw;
    }
  }

  &__promo-banner {
    position: absolute;
    top: 78px;
    width: 100%;
    left: 0;
    z-index: 0;

    @include media($mini) {
      top: 68px;
    }
  }

  &__call-us-block {
    width: 100%;
    height: 42px;
    position: absolute;
    left: 0;
    top: -42px;
    display: flex;
    justify-content: center;
    z-index: 10;

    @include media($small) {
      border-radius: 0;
    }

    @include media($mini) {
      justify-content: space-between;
    }
  }

  &__call-us-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;

    &_phone {
      @include media($xsmall) {
        display: none;
      }
    }

    &_review {
      cursor: pointer;
    }

    .star-ratings {
      margin-right: 5px;
    }
  }

  &__call-us-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 768px;
    background-color: $white-lilac-color;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 2px 63px rgba($black-color, 0.05);

    @include media($small) {
      width: 100%;
      border-radius: 0;
    }
  }

  &__call-us-title {
    font-size: 0.875rem;
    font-weight: $extraBold;
    color: $slate-gray-color-2;
    line-height: 14px;
    letter-spacing: 0.5px;
    margin: 0 5px;
  }

  &__call-us-text {
    font-size: 0.875rem;
    font-weight: $medium;
    text-decoration: none;
    outline: none;
    color: $pickled-bluewood-color;

    &_review {
      font-size: 0.875rem;
      font-weight: $extraBold;
      line-height: 13.66px;
      letter-spacing: 0.89px;
      text-decoration-line: underline;
    }
  }
}
