@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.forgot-pass {
  width: 320px;
  background-color: $white-color;

  @include mediaMinMax($small, $normal) {
    width: 16.66vw;
  }

  &__legend {
    font-size: 1.75rem;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: $black;
    text-align: center;
    line-height: 38px;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.45vw;
      margin-top: 0.78vw;
      margin-bottom: 1.04vw;
      line-height: 1.97vw;
    }
  }

  &__forgot-pass-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 74px;

    @include mediaMinMax($small, $normal) {
      margin-top: 3.85vw;
    }
  }

  &__forgot-pass-logo-svg {
    margin-right: 2px;

    @include mediaMinMax($small, $normal) {
      width: 1.77vw;
      height: 2.08vw;
    }
  }

  &__title {
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    font-weight: $medium;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 24px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
      line-height: 1.3vw;
      margin-bottom: 1.25vw;
    }
  }

  &__input {
    margin-bottom: 32px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.66vw;
    }
  }

  &__container {
    padding: 20px 0;
    margin-bottom: 10px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;

    @include mediaMinMax($small, $normal) {
      padding: 1.04vw 0;
      margin-bottom: 0.52vw;
    }
  }

  &__btn {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 320px;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.0625rem;
    line-height: 27px;
    font-weight: $bold;
    letter-spacing: 0.5625px;
    color: $white-color;
    background-color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      width: 16.66vw;
      height: 3.125vw;
      border-radius: 0.52vw;
      font-size: 0.88vw;
      line-height: 1.4vw;
    }

    &:disabled {
      background-color: $gull-gray-color;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.63;
    color: $charcoal-gray-color;

    .link {
      font-size: 16px;
      margin-left: 10px;
    }
  }

  &__popup {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__submit-msg {
    margin: 0;
    color: $dark-slate-blue-color;
  }

  &__fieldset {
    position: relative;
    padding: 0;
    border: none;
  }

  &__wrong-email {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 5px;
    color: $burnt-sienna-color;
    font-size: 16px;
  }
}
