@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.shipping-target {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 1px 2px 4px rgba($black-color, .2);

  @include media($small) {
    top: 0;
    position: relative;
  }

  &__top-block {
    display: flex;
    padding: 5px 15px;
    background-color: $turquoise-color;
    justify-content: center;
    position: relative;

    @include mediaMinMax($small, $normal) {
      padding: 0.260vw 0.781vw;
    }

    @include media($small) {
      flex-direction: column;
    }
  }

  &__top-text {
    max-width: calc(100% - 220px);
    text-align: center;

    @include mediaMinMax($small, $normal) {
      max-width: calc(100% - 11.458vw);
    }

    @include media($small) {
      max-width: 100%;
      margin-bottom: 5px;
    }
  }

  &__content-wrap {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(49, 77, 97, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 113;
  }

  &__veil {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__content-block {
    display: flex;
    flex-wrap: nowrap;
    z-index: 2;
    min-height: 100%;
    max-height: 100%;

    @include media($small) {
      flex-direction: column;
      align-items: center;
      overflow-y: auto;

      @include custom-scroll;

      &::-webkit-scrollbar {
        background-color: $black-squeeze-color;
      }
    }
  }

  &__popup-block {
    z-index: 2;
    background: $black-squeeze-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 50px;
    border: solid 3px $powder-blue-color;
    padding: 90px 50px 45px 60px;

    @include mediaMinMax($small, $normal) {
      border-radius: 2.604vw;
      padding: 4.687vw 3.125vw 2.343vw 3.125vw;
    }

    @include media($small) {
      width: 688px;
      height: calc(100vh - 160px);
      overflow-y: auto;
      padding: 30px 15px;
      border-radius: 28px;
      margin-top: 150px;
      max-width: 690px;
      width: 95vw;
      max-height: 1000px;


      @include custom-scroll;
    }
  }

  &__input-block {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    max-width: 500px;
    justify-content: center;
    margin-right: 69px;

    @include mediaMinMax($small, $normal) {
      max-height: 26.042vw;
      max-width: 26.042vw;
      margin-right: 3.594vw;
    }

    @include media($small) {
      margin-bottom: 15px;
      margin-right: 0;
      width: auto;
    }
  }

  &__card {
    @include media($small) {
      width: 100%;
    }
  }

  &__input-title {
    font-weight: $black;
    font-size: 2.188rem;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1.10526px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 45px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.77vw;
      margin-bottom: 2.344vw;
      line-height: 2.604vw;
    }

    @include media($small) {
      display: none;
      font-size: 1.594rem;
      margin-bottom: 20px;
      white-space: initial;
    }

    @include media($mini) {
      width: 283px;
      white-space: break-spaces;
      line-height: 39px;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: block;
      }
    }
  }

  &__input-text {
    font-size: 1.188rem;
    line-height: 1.3;
    text-align: center;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 45px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.989vw;
      line-height: 1.25vw;
      margin-bottom: 2.343vw;
    }

    @include media($small) {
      font-size: 1.0316px;
      margin-bottom: 20px;
    }

    @include media($mini) {
      white-space: initial;
      width: 260px;
    }

    &_margin-bottom {
      margin-bottom: 25px;

      @include mediaMinMax(1025, $normal) {
        margin-bottom: 1.302vw;
      }
    }

    &_margin-submit {
      margin-bottom: 105px;

      @include mediaMinMax(1025, $normal) {
        margin-bottom: 5.469vw;
      }

      @include media($small) {
        margin-bottom: 20px;
      }
    }
  }

  &__input-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.188rem;
    font-weight: $extraMedium;
    color: $pickled-bluewood-color;
    line-height: 1.26;
    margin-top: 35px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.989vw;
      margin-top: 1.82vw;
    }

    @include media($small) {
      display: none;
      margin-top: 0px;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
      }
    }
  }

  &__input-contact-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.188rem;
    font-weight: $normal;
    color: $scarpa-flow-gray-color;
    line-height: 1.26;

    @include mediaMinMax($small, $normal) {
      font-size: 0.989vw;
    }

    @include media($small) {
      display: none;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
      }
    }
  }

  &__enhance-block {
    height: 100%;
    display: flex;

    @include mediaMinMax(1025, $normal) {
      height: 20.83vw;
    }

    @include media($small) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__wizard {
    width: 550px;
    height: 400px;
    padding: 30px 30px 30px;
    border-radius: 40px;
    background-color: $white-color;
    margin-right: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;

    @include mediaMinMax(1025, $normal) {
      width: 28.64vw;
      height: 20.83vw;
      padding: 1.56vw 1.56vw 1.56vw;
      border-radius: 2.08vw;
      margin-right: 1.667vw;
    }

    @include media($small) {
      height: 265px;
      width: 100%;
      margin-bottom: 15px;
      flex-wrap: initial;
      padding: 15px;
      border-radius: 23px;
      justify-content: flex-start;
      margin-right: 0px;
    }

    @include custom-scroll;

    &::-webkit-scrollbar {
      background-color: rgba($white-color, 0);
    }
  }

  &__form {
    width: 310px;

    @include mediaMinMax(1025, $normal) {
      width: 16.14vw;
    }

    @include media($small) {
      width: 100%;
    }
  }

  &__input-form {
    width: 100%;
    height: 50px !important;
    border-radius: 8px;
    border: solid 2px $wild-sand-color;
    background-color: $catskill-white-color;
    margin-bottom: 13px;

    @include mediaMinMax(1025, $normal) {
      height: 2.6vw !important;
      border-radius: 0.41vw;
      margin-bottom: 0.67vw;
    }

    @include media($small) {
      height: 42px !important;
      border-radius: 12px;
    }
  }

  &__input-area-form {
    width: 310px;
    height: 135px;
    border-radius: 8px;
    margin-bottom: 20px;

    @include mediaMinMax(1025, $normal) {
      width: 16.14vw;
      height: 7.03vw;
      border-radius: 0.41vw;
      margin-bottom: 1.04vw;
    }

    @include media($small) {
      width: 100%;
      height: 80px;
      margin-bottom: 15px;
    }
  }

  &__submit-form-block {
    display: flex;
    justify-content: flex-end;

    @include media($small) {
      justify-content: center;
      margin-bottom: 22px;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
      }
    }
  }

  &__submit-form {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: $pickled-bluewood-color;
    color: $white-color;
    line-height: 1.97;
    font-size: 1.094rem;
    font-weight: $bold;
    border: none;

    @include mediaMinMax(1025, $normal) {
      width: 10.41vw;
      height: 3.12vw;
      border-radius: 0.52vw;
      font-size: 0.91vw;
    }

    @include media($small) {
      width: 265px;
    }

  }

  &__upload {
    border: none !important;
    background-color: $white-color !important;
    width: 260px !important;

    @include mediaMinMax(1025, $normal) {
      width: 13.54vw !important;
    }

    @include media($small) {
      display: none !important;
      min-height: 60px !important;
      height: 60px !important;
    }

    &_mobile {
      display: none !important;

      @include media($small) {
        display: block !important;
      }
    }
  }

  &__upload-btn {
    border-radius: 10px !important;
    background-color: $burnt-sienna-color !important;
    font-size: 1.094rem !important;
    line-height: 1.97 !important;
    color: $white-color !important;
    border: none !important;
    height: 60px !important;
    width: 260px !important;
    display: flex !important;
    align-items: center !important;
    font-weight: $bold !important;
    justify-content: center !important;

    @include mediaMinMax($small, $normal) {
      height: 3.125vw !important;
      width: 13.541vw !important;
      border-radius: 0.52vw !important;
      font-size: 0.91vw !important;
      padding: 0px !important;
    }
  }

  &__delete-button {
    width: 28px;
    height: 28px;
    border-radius: 9px;
    outline: none;
    border: none;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: $white-color;

    @include mediaMinMax($small, $normal) {
      width: 1.45833vw;
      height: 1.45833vw;
      border-radius: 0.4675vw;
      top: -0.260vw;
      right: -0.260vw;
    }


    &::before {
      width: 12px;
      height: 2px;
      border-radius: 5px;
      content: '';
      position: absolute;
      top: 12px;
      left: 8px;
      transform: rotate(45deg);
      background-color: $slate-gray-color-2;
      display: block;

      @include mediaMinMax($small, $normal) {
        width: 0.625vw;
        height: 0.104vw;
        top: 0.625vw;
        left: 0.4166vw;
        border-radius: 0.2604vw;
      }
    }

    &::after {
      width: 12px;
      height: 2px;
      border-radius: 5px;
      content: '';
      position: absolute;
      top: 12px;
      left: 8px;
      transform: rotate(-45deg);
      background-color: $slate-gray-color-2;
      display: block;

      @include mediaMinMax($small, $normal) {
        width: 0.625vw;
        height: 0.104vw;
        top: 0.625vw;
        left: 0.4166vw;
        border-radius: 0.2604vw;
      }
    }
  }

  &__note-button {
    outline: none;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      width: 1.042vw;
      height: 1.042vw;
    }
  }

  &__check-icon-wrapper {
    position: absolute;
    top: -6px;
    right: -3px;
    width: 15px;
    height: 15px;

    @include mediaMinMax(1025, $normal) {
      top: -0.313vw;
      right: -0.156vw;
      width: 0.781vw;
      height: 0.781vw;
    }

    svg {
      width: 15px;
      height: 15px;

      @include mediaMinMax(1025, $normal) {
        width: 0.781vw;
        height: 0.781vw;
      }
    }
  }

  &__check-icon {
    width: 15px;
    height: 15px;

    @include mediaMinMax(1025, $normal) {
      width: 0.781vw;
      height: 0.781vw;
    }
  }

  &__image-wizard {
    width: 230px;
    height: 270px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid $athens-gray-color;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      width: 11.97vw;
      height: 14.06vw;
      padding: 0.52vw;
      border-radius: 0.78vw;
      margin-bottom: 1.04vw;
    }

    @include media($small) {
      min-width: 190px;
      width: 190px;
      height: 100%;
      margin-right: 10px;
      overflow: initial;
      margin-bottom: 0px;
    }
  }

  &__image-wizard-block {
    width: 100%;
    min-height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed $athens-gray-color;
    background: $light-gray-color;
    border-radius: 9px;

    @include mediaMinMax(1025, $normal) {
      min-height: 10.93vw;
      border-radius: 0.46vw;
    }

    @include media($small) {
      min-height: 170px;
    }
  }

  &__image-wizard-block-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 9px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0.46vw;
    }
  }

  &__image-wizard-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__open-block-wrap {
    position: fixed;
    left: 20px;
    bottom: 20px;


    @include mediaMinMax($small, $normal) {
      bottom: 1.042vw;
      left: 1.042vw;
    }
  }

  &__open-block {
    display: flex;
    align-items: center;
    padding: 10px 28px 10px 10px;
    background: $iceberg-blue-light-color;
    border: 2px solid $powder-blue-color;
    box-shadow: 25px 25px 40px rgba($black-color, 0.03);
    border-radius: 20px;
    outline: none;
    width: 350px;

    @include mediaMinMax($small, $normal) {
      padding: 0.521vw 1.458vw 0.521vw 0.521vw;
      border-radius: 1.042vw;
      width: 18.229vw;
    }

    @include media($small) {
      padding: 10px;
      width: auto;
    }
  }

  &__icon-block-wrap {
    z-index: 1;
  }

  &__icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.1);
    border-radius: 14px;
    width: 65px;
    height: 65px;
    margin-right: 28px;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.729vw;
      width: 3.38vw;
      height: 3.38vw;
      margin-right: 1.458vw;
    }

    @include media($small) {
      margin-right: 0;
      background-color: $white-color;
    }
  }

  &__back-blue-element {
    display: block;
    position: absolute;
    top: -6px;
    left: -6px;
    background: $pickled-bluewood-color;
    border-radius: 20px 0;
    content: '';
    width:36px;
    height: 37px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      top: -0.313vw;
      left: -0.313vw;
      border-radius: 1.042vw 0;
      width:1.875vw;
      height: 1.927vw;
    }

    @include media($small) {
      display: block;
    }
  }

  &__back-green-element {
    display: block;
    position: absolute;
    bottom: -6px;
    right: -6px;
    background: $powder-blue-color;
    border-radius: 20px 0;
    content: '';
    width:36px;
    height: 37px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      bottom: -0.313vw;
      right: -0.313vw;
      border-radius: 1.042vw 0;
      width:1.875vw;
      height: 1.927vw;
    }

    @include media($small) {
      display: block;
    }
  }

  &__icon-element {
    width: 100%;
    height: 100%;
  }

  &__close-btn {
    position: absolute;
    right: -24px;
    top: -24px;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: none;

    img {
      width: 30px;
      height: 30px;

      @include mediaMinMax(1025, $normal) {
        width: 1.56vw;
        height: 1.56vw;
        border-radius: 0.52vw;
      }
    }

    &_popup {
      @include media($small) {
        right: 0;
        top: 120px;
      }
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include media($small) {
      display: none;
    }
  }

  &__button-title {
    font-weight: $black;
    font-size: 1.13rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: left;
    margin-bottom: 1px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.94vw;
      line-height: 1.25vw;
    }
  }

  &__button-text {
    font-weight: $medium;
    font-size: 1.2rem;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;
    font-family: Lato;
    font-style: normal;

    @include mediaMinMax($small, $normal) {
      font-size: 1vw;
      line-height: 1.38vw;
    }
  }

  &__button-link {
    font-weight: $medium;
    font-size: 1.2rem;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;
    text-decoration: underline;

    @include mediaMinMax($small, $normal) {
      font-size: 1vw;
      line-height: 1.38vw;
    }
  }

  &__stripe-one {
    background: $powder-blue-color;
    content: '';
    border-radius: 0 0 0 37px;
    position: absolute;
    top: 0;
    left: 488px;
    width: 194px;
    height: 245px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      border-radius: 0 0 0 1.927vw;
      left: 25.417vw;
      width: 10.104vw;
      height: 12.760vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__stripe-two {
    background: $iceberg-blue-light-color;
    border-radius: 37px 0 0 0;
    content: '';
    position: absolute;
    right: 0;
    top: 110px;
    width: 194px;
    height: 245px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.927vw 0 0 0;
      top: 5.729vw;
      width: 10.104vw;
      height: 12.760vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__icon-popup {
    position: relative;
    width: 45px;
    height: 45px;

    @include mediaMinMax(1025, $normal) {
      width: 2.344vw;
      height: 2.344vw;
    }
  }

  &__text-area-input {
    color: $pickled-bluewood-color;
    padding: 14px 20px;
    font-size: 1.0625rem;
    font-weight: $medium;
    line-height: 32px;
    letter-spacing: 1px;
    outline: none;

    @include mediaMinMax($small, $normal) {
      height: 3.125vw;
      padding: 0.72vw 1.04vw;
      font-size: 0.88vw;
      line-height: 1.66vw;
      border-radius: 0.72vw;
    }
  }
}
