@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.login-page {
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  padding: 150px 15px 0 15px;
  margin: 0 auto;

  @include mediaMinMax(1025, $normal) {
    padding: 150px 0.78vw 0 0.78vw;
    max-width: 54.68vw;
  }

  @include media($small) {
    max-width: 410px;
    padding: 130px 0 0;
  }

  &__forms-wrap {
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: space-between;

    @include mediaMinMax(1025, $normal) {
      margin: 20px 0 40px 0;
    }

    @include media($small) {
      flex-direction: column;
    }
  }

  &__title {
    margin-top: 60px;

    @include mediaMinMax(1025, $normal) {
      margin-top: 3.12vw;
    }

    @include media($small) {
      margin-left: 20px;
      text-align: center;
    }
  }

  &__title-icon {
    display: flex;
    align-items: center;
  }

  &__title-icon-name {
    margin-left: 20px;
  }

  &__icon {
    stroke: $shark-gray-color;
  }

  &__login,
  &__signup {
    padding-bottom: 0;
    padding-left: 80px;
    padding-right: 80px;

    @include mediaMinMax(1025, $normal) {
      padding-left: 4.16vw;
      padding-right: 4.16vw;
    }

    @include media($small) {
      padding: 0;
    }

    @include media($xlmini) {
      padding: 0;
    }

    @include media($mini) {
      width: 100%;
      padding: 0 30px 0;
    }
  }

  &__login {
    margin-right: 20px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 1.04vw;
    }

    @include media($small) {
      margin-right: 0;
      margin-bottom: 0;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @include media($xmini) {
      padding: 0;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  &__form-block {
    display: flex;
    flex-direction: column;
    flex-grow: nowrap;
  }

  &__form-title {
    margin: 20px 0 10px 0;
  }
}
