@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.get-in-touch-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


  &__title {
    font-size: 3rem;
    line-height: 56px;
    font-weight: $black;
    color: $shark-gray-color;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-align: center;

    @include mediaMinMax($small, $normal) {
      font-size: 2.5vw;
      line-height: 2.9166vw;
      margin-bottom: 0.78125vw;
    }

    @include media($small) {
      font-size: 2rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    @include media($mini) {
      padding: 0 10px;
    }
  }

  &__description {
    line-height: 1.5;
    font-size: 1.5rem;
    color: $charcoal-gray-color;
    margin: 10px 0 50px;
    letter-spacing: 1px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.27vw;
      margin: 0.5208vw 0 2.6041vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.8px;
      margin: 0 0 50px 0;
    }

    @include media($mini) {
      padding: 0 10px;
    }
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.5625vw;
    }

    @include media($small) {
      margin-bottom: 50px;
      margin-right: 70px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include media($xmini) {
      margin: 0 0 30px 0;
      align-items: center;
    }
  }

  &__info-title {
    font-size: 1.25rem;
    color: $shark-gray-color;
    font-weight: $bold;
    display: block;
    margin-bottom: 13px;
    letter-spacing: 1px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.0.416vw;
      margin-bottom: 0.677vw;
    }

    @include media($xnormal) {
      font-size: 1.125rem;
      line-height: 34px;
      letter-spacing: 0.7px;
    }
  }

  &__info-name,
  &__info-value {
    font-size: 1.0625rem;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.8px;
    }
  }

  &__info-name {
    font-weight: $bold;
    color: $shark-gray-color;
  }

  &__main-wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 1532px;

    @include mediaMinMax($small, $normal) {
      max-width: 67.1875vw;
    }
  }

  &__info-wrapper {
    display: flex;
    max-width: 1290px;
    width: 90vw;
    justify-content: space-between;
    margin-right: 70px;

    @include mediaMinMax($small, $normal) {
      margin-right: 3.6458vw;
      max-width: 67.1875vw;
    }

    @include media($small) {
      width: 97vw;
      justify-content: space-between;
      margin-right: 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__info-block-wrapper {
    margin-top: 40px;

    @include mediaMinMax($small, $normal) {
      margin-top: 2.0833vw;
    }

    @include media($small) {
      display: flex;
      margin: 0;
      width: 100%;
    }

    @include media($xmini) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info-item {
    font-size: 1.0625rem;
    line-height: 27px;
    margin-bottom: 1px;
    letter-spacing: 1px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      line-height: 1.40624vw;
    }
  }

  &__form-block {
    @include media($small) {
      width: 100%;
    }
  }
}
