.dropdown-icon {
  cursor: pointer;

  &__caret {
    &_up {
      transform: rotate(-90deg);
    }

    &_down {
      transform: rotate(90deg);
    }

    &_right {
      transform: rotate(0deg);
    }
  }
}
