@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.reviews-banner {
  min-width: 370px;
  max-width: 770px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 42px;
  background-color: $white-color;
  box-shadow: 0 3px 60px -10px rgba($black-color, 0.25);
  z-index: 111;
  animation: 0.3s ease-in slidein;
  @keyframes slidein {
    from {
      top: 0;
    }

    to {
      top: 42px;
    }
  }

  @include media($small) {
    width: 83vw;
  }

  @include media(400) {
    left: 0;
  }

  &__title {
    width: 100%;
    padding: 15px 20px;
    height: 85px;
    background-color: $lightest-gray-color;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include media($mini) {
      padding: 15px;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title-text {
    font-size: 16px;
    color: $scorpion-gray-color;
    font-weight: $medium;
    margin-right: 10px;

    &_bold {
      font-size: 1.125rem;
      font-weight: $bold;
      color: $black-color;
      text-transform: uppercase;

      @include media($mini) {
        font-size: 16px;
      }
    }

    &_mark {
      margin: 0;
      text-align: center;
      letter-spacing: 1px;
    }
  }

  &__title-string {
    display: flex;
    justify-content: flex-start;
  }

  &__reviews-wrapper {
    max-height: 600px;
    padding: 20px 40px;
    overflow-y: scroll;

    @include custom-scroll;

    @include media($mini) {
      padding: 20px;
    }

    &_small {
      max-height: 300px;
    }
  }

  &__review-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &::after {
      content: '';
      width: 100%;
      display: flex;
      margin-top: 20px;
      border-bottom: 1px solid $silver-chalice-gray-color;
    }
  }

  &__name-with-rating {
    @include media($mini) {
      display: flex;
      flex-direction: column;
    }
  }

  &__reviewer-name {
    font-size: 16px;
    font-weight: $bold;
    color: $black-color;
  }

  &__review-comment {
    margin: 10px 0;
  }

  &__review-date {
    color: $silver-chalice-gray-color;
  }

  &__reviews-footer {
    width: 100%;
    padding: 10px 20px;
    height: 45px;
    background-color: $lightest-gray-color;
    display: flex;
    justify-content: space-between;
  }

  &__link-to-all-reviews {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: $scorpion-gray-color;

    &:visited {
      color: $scorpion-gray-color
    }
  }

  &__close-btn {
    position: absolute;
    right: -35px;
    top: -35px;
    z-index: 5;
    width: 30px;
    height: 30px;

    @include media($mini) {
      right: 0;
    }
  }
}

.star-ratings {
  @include media($mini) {
    margin: 0;
  }
}
