@import 'src/styles/variables.scss';
@import "src/styles/media.scss";

.projects-tab {
  width: 100%;

  &__projects-wrap {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mediaMinMax(1025, $normal) {
      max-width: 53.3333vw;
    }
  }

  &__project-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid $athens-gray-color;
  }

  &__project-item {
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $athens-gray-color;

    @include mediaMinMax(1025, $normal) {
      margin-top: 2.0833vw;
      padding-bottom: 2.0833vw;
    }

    @include media($xlmini) {
      flex-wrap: wrap;
    }
  }

  &__image-block {
    position: relative;
    outline: none;
    cursor: pointer;

    @include media($xlmini) {
      order: 1;
    }
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    padding: 15px 0;

    @include mediaMinMax(1025, $normal) {
      margin-left: 1.5625vw;
      padding: 0.78125vw 0;
    }

    @include media($xlmini) {
      order: 3;
      width: 100%;
      margin-left: 0;
    }
  }

  &__product-image {
    width: 200px;
    height: 200px;
    border-radius: 28px;
    object-fit: cover;
    object-position: center;

    @include mediaMinMax(1025, $normal) {
      width: 10.4166vw;
      height: 10.4166vw;
      border-radius: 1.4583vw;
    }

    @include media($xlmini) {
      width: 192px;
      height: 192px;
    }

    &_half {
      width: 100px;
      border-radius: 0;

      @include mediaMinMax(1025, $normal) {
        width: 5.208vw;
      }

      @include media($xlmini) {
        width: 96px;
      }
    }

    &_quarter {
      width: 100px;
      height: 100px;
      border-radius: 0;

      @include mediaMinMax(1025, $normal) {
        width: 5.208vw;
        height: 5.208vw;
      }

      @include media($xlmini) {
        width: 96px;
        height: 96px;
      }
    }

    &_bottom-half {
      height: 100px;
      border-radius: 0;

      @include mediaMinMax(1025, $normal) {
        height: 5.208vw;
      }

      @include media($xlmini) {
        height: 96px;
      }
    }
  }

  &__image-group {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border-radius: 28px;
    overflow: hidden;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      width: 10.4166vw;
      height: 10.4166vw;
      border-radius: 1.4583vw;
    }

    @include media($xlmini) {
      width: 192px;
      height: 192px;
    }
  }

  &__veil {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black-color, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
  }

  &__veil-text {
    color: $white-color;
    font-size: 0.875rem;
    font-weight: $bold;
  }

  &__veil-number-of-photos {
    color: $white-color;
    font-size: 0.75rem;
  }

  &__image-text {
    margin-bottom: 12px;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    color: $summer-green-color;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.625vw;
      width: 4.6875vw;
      height: 1.5625vw;
      border-radius: 0.4166vw;
      font-size: 0.7291vw;
      line-height: 0.9895vw;
      bottom: 0.781vw;
    }
  }

  &__product-name {
    font-weight: $black;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;
    margin-bottom: 2px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.8333vw;
      line-height: 1.1458vw;
    }
  }

  &__project-name {
    font-weight: $bold;
    font-size: 1.375rem;
    line-height: 30px;
    color: $black-color;
    margin-bottom: 4px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.1458rem;
      line-height: 1.5625vw;
      margin-bottom: 0.2083vw;
    }
  }

  &__product-quantity {
    font-weight: $medium;
    font-size: 0.9375rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.78125vw;
      line-height: 1.0416vw;
    }
  }

  &__product-date-block {
    display: flex;
    justify-self: flex-end;
    margin-top: auto;

    @include media($xlmini) {
      margin-top: 14px;
    }

    &_small-margin {
      margin-top: 4px;

      @include mediaMinMax(1025, $normal) {
        margin-top: 0.2083vw;
      }

      @include media($xlmini) {
        margin-top: 4px;
      }
    }
  }

  &__added-title {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.7291vw;
      line-height: 0.9895vw;
    }
  }

  &__added-date {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    color: $scarpa-flow-gray-color;
    opacity: 0.75;
    margin-left: 5px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.7291vw;
      line-height: 0.9895vw;
      margin-left: 0.2604vw;
    }
  }

  &__control-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 140px;
    justify-self: flex-start;
    margin-left: auto;

    @include mediaMinMax(1025, $normal) {
      width: 7.2916vw;
    }

    @include media($xlmini) {
      order: 2;
      width: 125px;
    }
  }

  &__control-btn {
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: $scarpa-flow-gray-color;
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.8854vw;
      line-height: 1.1979vw;
      margin-bottom: 1.40625vw;
    }

  }

  &__control-btn-icon {
    margin-right: 16px;
    width: 28px;
    height: 28px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.8333vw;
      width: 1.4583vw;
      height: 1.4583vw;
    }
  }

  &__sort-block {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 34px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.7707vw;
    }

    @include media($xsmall) {
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    margin-right: 30px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 1.563vw;
    }

    @include media($xsmall) {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;
      width: 230px;
    }

    &:last-child {
      margin-right: 0;

      @include mediaMinMax(1025, $normal) {
        margin-right: 0;
      }

      @include media($xsmall) {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
      }
    }
  }

  &__sort-title {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;
    margin-left: 8px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.8333vw;
      line-height: 1.1458vw;
      margin-left: 0.4166vw;
    }
  }

  &__sort-select {
    width: 160px !important;
    min-width: 150px !important;
    padding: 0;
    height: 22px !important;
    min-height: 22px !important;
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0 0 3px 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.8333vw;
      line-height: 1.1458vw;
      margin-left: 0.4166vw;
      width: 9.7vw !important;
      min-width: 7.813vw !important;
      max-width: 155px !important;
    }
  }

  &__filter-select {
    width: 135px;
    min-width: 130px;
    padding: 0;
    height: 22px;
    min-height: 22px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0 0 3px 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.8333vw;
      line-height: 1.1458vw;
      margin-left: 0.4166vw;
      width: 7.031vw;
      min-width: 6.771vw;
    }
  }


  &__sort-select-input {
    padding: 0 !important;
  }

  &__sort-icon {

    &_asc {
      transform: scale(1, -1);
    }
  }

  &__art-photo-block {
    width: 200px;
    height: 200px;
    border-radius: 28px;
    overflow: hidden;

    @include mediaMinMax(1025, $normal) {
      width: 10.4166vw;
      height: 10.4166vw;
      border-radius: 1.4583vw;
    }

    @include media($xlmini) {
      width: 192px;
      height: 192px;
    }
  }

  &__art-wrap {
    width: 242px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-left: -21px;

    @include mediaMinMax(1025, $normal) {
      width: 12.6041vw;
      height: 10.4166vw;
      margin-left: -1.09375vw;
    }
  }

  &__image-wrap {
    position: absolute;
    height: 76.1%;
    width: 81.46%;
    left: 7.66%;
    top: 8.68%;
  }

  &__art-photo {
    position: absolute;
    height: 100%;
    display: block;
  }

  &__display {
    position: absolute;
  }

  &__frame-wrap {
    position: absolute;
  }

  &__frame-image {
    max-width: 100%;
    max-height: 100%;
  }

  &__popup-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($pickled-bluewood-color, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  &__popup-block {
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 24px;
    padding: 30px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      border-radius: 1.250vw;
      padding: 1.563vw 2.083vw;
    }
  }

  &__popup-title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 27px;
    color: $shark-gray-color;
    margin-bottom: 20px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.250vw;
      line-height: 1.406vw;
      margin-bottom: 1.042vw;
    }
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -32px;
    right: -32px;
    z-index: 3;
    background-color: $athens-gray-color;
    border-radius: 10px;

    @include mediaMinMax(1025, $normal) {
      width: 1.667vw;
      height: 1.667vw;
      top: -1.667vw;
      right: -1.667vw;
    }
  }

  &__close-icon {
    width: 16px;
    height: 16px;
    margin-left: -1px;
    margin-bottom: -3px;

    @include mediaMinMax(1025, $normal) {
      width: 1.042vw;
      height: 1.042vw;
      margin-left: -1px;
      margin-bottom: -0.156vw;
    }
  }

  &__project-edit {
    padding: 5px 5px 5px 20px;
    background: $catskill-white-color;
    border: 1px solid $athens-gray-color;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    @include mediaMinMax(1025, $normal) {
      padding: 0.260vw 0.260vw 0.260vw 1.042vw;
      border-radius: 0.833vw;
      margin-bottom: 1.250vw;
    }
  }

  &__project-edit-btn {
    width: 93px;
    height: 50px;
    background: $summer-green-color;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: $white-color;
    border: none;
    outline: none;

    @include mediaMinMax(1025, $normal) {
      width: 4.844vw;
      height: 2.604vw;
      border-radius: 0.625vw;
      font-size: 0.833vw;
      line-height: 1.146vw;
    }
  }

  &__project-create-input {
    background-color: transparent;
    border: none;
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;
    outline: none;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.833vw;
      line-height: 1.146vw;
    }

    &::placeholder {
      font-weight: $medium;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 1px;
      color: $darker-cadet-blue-color;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.833vw;
        line-height: 1.146vw;
      }
    }
  }

  &__edit-Name-icon {
    @include mediaMinMax(1025, $normal) {
      width: 0.938vw;
      height: 0.938vw;
    }
  }

  &__change-name-btn {
    background-color: transparent;
    border: none;
    margin-left: 15px;
    outline: none;
    padding: 0;
  }

  &__title-wrap {
    display: flex;
    align-items: center;
  }

  &__type-filter-block {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    margin-right: auto;
    padding-top: 6px;
    z-index: 1;

    @include mediaMinMax(1025, $normal) {
      padding-top: 0.313vw;
    }

    @include media($xsmall) {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 14px;
      width: 230px;
    }
  }

  &__type-filter-select {
    width: 144px;
    height: 30px;
    margin-left: 10px;

    @include mediaMinMax(1025, $normal) {
      width: 7.5vw;
      height: 1.5625vw;
    }

    @include media($small) {
      min-width: auto;
    }
  }

  &__type-filter-select-selector {
    padding: 0 !important;

    svg.dropdown-indicator {
      @include mediaMinMax(1025, $normal) {
        width: 0.8333vw;
        height: 0.46875vw;
      }
    }
  }
}
