@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.faq {
  margin: 255px auto 140px auto;
  max-width: 1572px;
  padding: 0 20px;

  @include media($small) {
    margin: 198px auto 100px auto;
  }

  @include media($xlmini) {
    margin: 188px auto 80px auto;
  }

  &__faq-title {
    display: flex;
    justify-content: center;
    margin: 0 auto 80px auto;
    font-weight: $black;
    font-size: 3rem;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include media($small) {
      font-size: 2rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 1px;
      margin: 0 auto 50px auto;
      white-space: pre-wrap;

      @-moz-document url-prefix() {
        white-space: pre;
      }
    }

    @include media($xlmini) {
      margin: 0 auto 40px auto;
    }
  }

  &__faq-btn {
    max-width: 1532px;
    margin: 0 auto;
  }
}
