@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.new-info-widget {
  padding: clamp(90px, 9.89vw, 190px) 0 clamp(97px, 12.29vw, 180px) 0;
  display: flex;
  justify-content: center;
  position: relative;

    @include mediaMin($normal) {
      max-width: 1920px;
      margin: 0 auto;
      padding: 190px 0 180px 0;
    }

     @include media($mini) {
      padding: 33px 0 50px 0;
    }

  &_is-right {

    @include media($xlmini) {
      padding: 33px 0 50px 0;
    }
  }

  &_mission-page {
    @include media($mini) {
      padding-bottom: 0;
    }
  }

  &__wrapper {
    max-width: 1920px;
    margin: 0 10%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;

    @include mediaMinMax($small, $normal) {
      max-width: 100vw;
    }

    @include media($small) {
      margin: 0 40px 0 30px;
      justify-content: center;
    }

    @include media($xlmini) {
      justify-content: center;
      margin: 0;
    }

    &_is-right {
      flex-direction: row-reverse;
      margin: 0;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10.7%;
    justify-content: center;
    z-index: 1;

    @include media($small) {
      padding-top: 50px;
      margin: 0 0 0 83px;
    }

    @include media($xlmini) {
      margin: 0 auto;
      padding: 0;
      align-items: center;
    }

    &_block-with-quotes {
      margin: 140px 0 70px 223px;
      position: relative;
      padding: 0;

      @include mediaMinMax($small, $normal) {
        margin: 7.625vw 0 3.6458vw 11.6145vw;
      }

      @include media($small) {
        margin: 0 20px 0 70px;
        height: fit-content;
      }

      @include media($xlmini) {
        margin: 0;
      }
    }

    &_is-right {
      margin: 0;
      margin-right: 320px;

      @include mediaMinMax(1025, $normal) {
        margin-right: 16.667vw;
      }

      @include media($small) {
        padding-top: 80px;
        margin-right: 47px;
      }

      @include media($xlmini) {
        margin: 0;
        padding: 0;
      }
    }

    &_right-on-mission-page {
      max-width: 547px;
      margin: 180px 0px 70px 120px;

      @include mediaMinMax($small, $normal) {
        max-width: 29.4895vw;
        margin: 0 10.1145vw 2.3375vw 1.5625vw;
      }

      @include media($small) {
        max-width: 390px;
        margin: 40px 0px 50px 85px;
      }

      @include media($xsmall) {
        margin: 0 0 45px 45px;
        
      }

      @include media($xlmini) {
        margin: 0 0 45px 0;
        margin-right: 0;
      }
    }
  }

  &__top-quotes {
    position: absolute;
    top: -135px;
    left: 0;

    @include mediaMinMax($small, $normal) {
      top: -7.03125vw;
      width: 6.7708vw;
      height: 5.4166vw;
    }

    @include media($small) {
      width: 50px;
      height: 50px;
      top: -45px;
    }

    @include media($xlmini) {
      display: none;
    }

    &_mission {
      @include mediaMinMax(1025, $normal) {
        top: -1.03125vw;
      }
    }
  }

  &__bottom-quotes {
    position: absolute;
    bottom: -110px;
    right: 10px;

    @include mediaMinMax($small, $normal) {
      bottom: -5.7291vw;
      right: 0.427vw;
      width: 6.7708vw;
      height: 5.4166vw;
    }

    @include media($small) {
      width: 50px;
      height: 50px;
      bottom: -50px;
      right: 0;
    }

    @include media($xlmini) {
      display: none;
    }

    &_mission {
      @include mediaMinMax($small, $normal) {
        bottom: -1.7291vw;
      }
    }
  }

  &__text-title {
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    font-weight: $black;
    margin-bottom: 60px;
    white-space: pre-wrap;
    max-width: 650px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.0833vw;
      line-height: 2.9166vw;
      margin-bottom: 1.5625vw;
      max-width: 33.8541vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      margin-bottom: 20px;
      letter-spacing: 0.6px;
    }

    @include media($xlmini) {
      margin: 0 auto 30px;
      text-align: center;
      max-width: 335px;
    }
  }

  &__text-description {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: $medium;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    
    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.45vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.8px;
      white-space: initial;
      max-width: 292px;
    }

    @include media($xlmini) {
      margin-top: 47px;
      max-width: 313px;
      text-align: center;
    }

    &_block-with-quotes {
      max-width: 580px;
      margin-bottom: 7px;

      @include mediaMinMax($small, $normal) {
        max-width: 30.2083vw;
        margin-bottom: 0.3645vw;
      }

      @include media($xlmini) {
        padding: 0 44px;
      }
    }
  }

  &__left-square {
    position: absolute;
    top: min(6.25vw, 120px);
    left: min(2.65vw, 51px);
    width: min(7.44vw, 143px);
    height: min(7.44vw, 143px);
    background-color: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.050672);
    border-radius: 27px;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.40625vw;
      top: 6.25vw;
      left: 2.65625vw;
      width: 7.4479vw;
      height: 7.4479vw;
    }

    @include mediaMin($small) {
      top: 120px;
      left: 51px;
      width: 143px;
      height: 143px;
    }

    @include media($small) {
      display: none;
    }

    &_is-right {
      display: none;
    }

    &_mission {
      top: 220px;
      left: 10px;

      @include mediaMinMax($small, $normal) {
        border-radius: 1.40625vw;
        top: 6.25vw;
        left: 2.65625vw;
        width: 7.4479vw;
        height: 7.4479vw;
      }
  
      @include mediaMin($small) {
        top: 220px;
        left: 10px;
        width: 143px;
        height: 143px;
      }
  
      @include media($small) {
        display: none;
      }
    }
  }

  &__btn {
    display: flex;
    margin-top: 50px;

    &_isBig {
      width: 300px;
      margin-top: 15px;
      justify-content: center;
    }

    @include mediaMinMax($small, $normal) {
      margin-top: 2.6041vw;

      &_isBig {
        width: 15.62vw;
        margin-top: 0.78vw;
      }
    }

    @include media($small) {
      margin-top: 30px;
    }
  }

  &__left-stripe {
    position: absolute;
    bottom: -96px;
    left: calc((100vw - 100%) * -1 / 2 - 200px);
    height: clamp(100px, 14.32vw, 275px);
    width: calc((100vw - 100%) / 2 + 436px);
    border-radius: 0 0 47px 0;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      left: calc((100vw - 100%) * -1 / 2 - 10.4166vw);
      width: calc((100vw - 100%) / 2 + 22.7083vw);
      border-radius: 0 0 2.4479vw 0;
    }

    @include mediaMin($normal) {
      height: 275px;
    }

    @include media($small) {
      width: calc((100vw - 100%) / 2 + 208px);
      left: -30px;
      height: 100px;
      bottom: -58px;
    }

    @include media($xlmini) {
      width: 50vw;
      left: 0;
      height: 287px;
      bottom: auto;
      top: 204px;
    }
  }

  &__left-square-big {
    position: absolute;
    top: min(-7.39vw, -142px);
    left: min(13.125vw, 252px);
    width: min(13.8vw, 265px);
    height: min(13.8vw, 265px);
    background-color: $catskill-white-color;
    border-radius: 35px;

    @include mediaMin($normal) {
      top: -142px;
      left: 252px;
      width: 265px;
      height: 265px;
    }

    @include mediaMinMax($small, $normal) {
      border-radius: 1.8229vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__left-square-small {
    position: absolute;
    top: min(58px, 3vw);
    left: min(23.54vw, 452px);
    width: min(5.98vw ,115px);
    height: min(5.98vw ,115px);
    background-color: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.050672);
    border-radius: 27px;

    @include mediaMin($normal) {
      top: 58px;
      left: 452px;
      width: 115px;
      height: 115px;
    }

    @include mediaMinMax($small, $normal) {
      border-radius: 1.40625vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__right-stripe {
    position: absolute;
    bottom: 10px;
    right: -13%;
    height: min(11.71vw, 225px);
    width: min(23.28vw, 436px);
    border-radius: 0 0 0 47px;
    z-index: -1;

    @include mediaMin($normal) {
      height: 225px;
      width: calc((100vw - 100%) / 2 + 436px);
      right: calc((100vw - 100%) * -1 / 2 - 180px);
    }

    @include mediaMinMax($small, $normal) {
      bottom: 0.5208vw;
      border-radius: 0 0 0 2.4479vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__right-square-small {
    position: absolute;
    top: -46px;
    right: 0;
    width: min(7.34vw, 141px);
    height: min(7.34vw, 141px);
    background-color: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.0932037);
    border-radius: 27px;
    z-index: -1;

    @include mediaMin($normal) {
      top: -46px;
      right: 116px;
      width: 141px;
      height: 141px;
    }

    @include mediaMinMax($small, $normal) {
      border-radius: 1.40625vw;
      top: -2.396vw;
      right: 6.042vw;
      width: 7.344vw;
      height: 7.344vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__right-square-big {
    position: absolute;
    top: -46px;
    right: 0;
    width: min(9.34vw, 251px);
    height: min(9.34vw, 260px);
    background-color: $porcelain-gray-color;
    opacity: 0.5;
    border-radius: 40px;
    z-index: -2;

    @include mediaMin($normal) {
      top: -82px;
      right: -77px;
      width: 251px;
      height: 260px;
    }

    @include mediaMinMax($small, $normal) {
      border-radius: 1.40625vw;
      top: -4.271vw;
      right: -4.010vw;
      width: 13.073vw;
      height: 13.542vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__reference {
    margin-top: 16px;
    font-weight: $bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      margin-top: 2.3958vw;
      font-size: 0.8333vw;
      line-height: 1.40625vw;
    }
  }

  &__main-text-card {
    @include media($xlmini) {
      display: none;
    }
  }

  &__text-card {
    display: none;

    @include media($xlmini) {
      display: block;
    }
  }
  &__contact-us-block {
    @include media($xlmini) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


  &__contact-us-title {
    font-size: 22px;
    font-weight: $bold;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: $black-color;
    margin: 36px 0 15px 0;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.53vw;
      margin: 1.87vw 0 0.78vw 0;
    }
  }

  &__contact-us-url {
    font-size: 17px;
    font-weight: $medium;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: $tuna-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.88vw;
      line-height: 1.18vw;
    }
  }
}
