@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.image-slider-with-video {

  .slick-slider {
    box-shadow: 30px 100px 100px rgba($black-color, 0.03);
  }

  .slick-arrow::before {
    display: none;
  }

  &__arrow {
    display: block;

    &_prev .svg {
      transform: rotate(180deg);
    }
  }

  &__inner-slide {
    width: 466px;
    max-height: 466px;
    min-height: 294px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    @include media($xsmall) {
      margin-top: 40px;
    }
  }

  &__arrow-btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;

    &_prev {
      margin-right: 55px;

      @include mediaMinMax($xsmall, $normal) {
        margin-right: 2.86vw;
      }

      @include media($xsmall) {
        margin-right: 20px;
      }
    }

    &_next {
      margin-left: 55px;

      @include mediaMinMax($xsmall, $normal) {
        margin-left: 2.86vw;
      }

      @include media($xsmall) {
        margin-left: 20px;
      }
    }
  }

  &__arrow-icon {
    &_prev {
      transform: rotate(180deg);
    }

    &:hover {
      rect {
        fill: $athens-gray-color;
      }
    }
  }

  &__dot-block {
    display: flex;
  }

  &__dot-wrap {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 2px;
    border: none;
    outline: none;
    background-color: transparent;

    @include mediaMinMax($xsmall, $normal) {
      width: 1.04vw;
      height: 1.04vw;
    }

    @include media($xsmall) {
      width: 10px;
      height: 10px;
    }

    &:first-child {
      margin-left: 0;
    }

    &_select {
      border: 1px solid $athens-gray-color;
    }
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $light-silver-green-color;

    @include mediaMinMax($xsmall, $normal) {
      width: 0.52vw;
      height: 0.52vw;
    }

    @include media($xsmall) {
      width: 5px;
      height: 5px;
    }

    &_select {
      background-color: $rhino-blue-color;
      box-shadow: 5px 5px 42px rgba($black-color, 0.15);
    }
  }

  .slick-slide &__card {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 560px;
    max-height: 300px;
    min-width: 280px;
  }

  &__card &__inner-slide {
    display: block;
    width: 100%;
  }

  &__dots {
    bottom: -30px;
    width: 100%;
    position: absolute;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 5px 10px;
      padding: 0;
      cursor: pointer;

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 8px;
        height: 8px;
        padding: 5px;
        cursor: pointer;
        border: 1px solid;
        border-radius: 8px;
        color: $dark-slate-blue-color;
        outline: 0;
        background: 0 0;
      }
    }

    .slick-active button {
      background: $dark-slate-blue-color;
    }
  }

  & .slick-slide {
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__slide-image-wrapper {
    width: 506px;
    max-width: 506px;
    min-width: 326px;
    height: 677px                                                                                                                                                                 ;
    min-height: 360px;
    padding: 20px 20px 29px 20px;
    background-color: $white-color;
    box-shadow: 30px 100px 100px rgba($black-color, 0.03);
    border-radius: 28px;
    margin: 0 15px;

    @include mediaMinMax($small, $normal) {
      width: 26.354vw !important;
      height: 35.260vw;
      max-width: 26.354vw;
      min-width: auto;
      min-height: auto;
      padding: 1.042vw 1.042vw 1.510vw 1.042vw;
      padding-bottom: 20px;
      border-radius: 28px;
      margin: 0 15px;
    }

    @include media($small) {
      max-width:326px;
      width: 326px;
      height: 488px;
      padding: 15px 15px 15px 15px;
    }

    @include media(750) {
      position: relative;
      left: calc(50vw - 25px);
      transform: translateX(-50%);
    }
  }

  &__block-video {
    width: 466px;
    height: 466px;

    @include media($normal) {
      width: 24.271vw;
      height: 24.271vw;
    }

    @include media($small) {
      width: 294px;
      height: 294px;
    }
  }

  &__video {
    border-radius: 30px;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }

  &__slide-image-title {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    letter-spacing: 1.1px;
    color: $shark-gray-color;
    margin-top: 24px;
    justify-content: flex-start !important;
    user-select: text;

    @include mediaMinMax($small, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
      margin-top: 1.25vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.9px;
      margin-top: 0px;
    }
  }

  &__slide-image-text {
    width: 100%;
    height: 108px;
    font-family: Lato;
    font-style: normal;
    font-weight: $medium;
    font-size: 1.25rem;
    line-height: 27px;
    margin-top: 16px;
    overflow: auto;
    color: $scarpa-flow-gray-color;
    user-select: text;

    @include custom-scroll;

    @include media($normal) {
      height: 5.625vw;
      font-size: 1.042vw;
      line-height: 1.406vw;
      margin-top: 0.833vw;
    }

    @include media($small) {
      height: 110px;
      font-size: 16px;
      line-height: 22px;
      margin-top: 16px;
    }
  }

  &__scroll-button {
    position: absolute;
    bottom: 0;
    left: 35px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 10px;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.521vw;
      padding-left: 2.34vw;
      padding-right: 2.34vw;
      left: calc(15px + 1.042vw);
    }

    @include media($small) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 36px;
    }

  }
}
