@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.photo-art-text {

  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.417vw;
    }
  }

  &__title {
    text-align: center;
    font-size: 16px;
    font-weight: $bold;
    line-height: 22px;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      line-height: 1.146vw;
    }
  }

  &__price {
    margin-left: 10px;
    padding-right: 14px;
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    color: $burnt-sienna-color;

    @include mediaMinMax($small, $normal) {
      margin-left: 0.521vw;
      padding-right: 0.729vw;
      font-size: 0.729vw;
      line-height: 0.990vw;
    }

    &_active {
      @include media($mini) {
        margin-right: 60px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 14px;
    background-color: $white-color;
    border-radius: 14px;
    position: relative;
    min-height: 58px;
    min-width: 298px;
    border: 1px solid $athens-gray-color;

    @include mediaMinMax($small, $normal) {
      padding: 0.729vw;
      border-radius: 0.729vw;
      justify-content: center;
      min-height: 3.021vw;
      min-width: 15.521vw;
    }

    &_is-open {
      @include mediaMinMax($small, $xlnormal) {
        min-height: 10.7843vw;
      }
    }
  }

  &__container {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__top-text {
    font-weight: $medium;
    font-size: 17px;
    line-height: 22px;
    color: $slate-gray-color;
    padding-left: 2px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.88vw;
      line-height: 1.146vw;
      padding-left: 0.104vw;
    }

    @include media($small) {
      font-size: 17px;
    }

    @include media($xsmall) {
      font-size: 13px;
    }
  }

  &__count {
    padding: 0 5px;
    min-width: 20px;

    @include mediaMinMax($small, $normal) {
      padding: 0 0.260vw;
      min-width: 1.042vw;
    }
  }

  &__input-block {
    width: 100%;

    @include media($mini) {
      height: 50px;
    }
  }

  &__input {
    border-radius: 10px !important;
    border: solid 1px $athens-gray-color !important;
    background-color: $white-color !important;
    height: 50px !important;
    padding: 15px 16px !important;

    font-weight: $medium;
    font-size: 0.9375rem !important;
    line-height: 20px !important;
    letter-spacing: 1px !important;
    color: $pickled-bluewood-color !important;

    &::placeholder {
      line-height: 20px !important;
      font-size: 0.9375rem !important;


      @include mediaMinMax($small, $normal) {
        line-height: 1.042vw !important;
        font-size: 0.781vw !important;
      }
    }

    @include mediaMinMax($small, $normal) {
      border-radius: 0.521vw !important;
      height: 2.604vw !important;
      padding: 0.781vw 0.833vw !important;
      font-size: 0.781vw !important;
      line-height: 1.042vw !important;
    }
  }

  &__show-button {
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
  }

  &__bottom-block {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    @include mediaMinMax($small, $normal) {
      margin-top: 1.302vw;
    }
  }

  &__info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.521vw;
    }
  }

  &__info-text {
    padding-left: 2px;
    font-weight: $medium;
    font-size: 0.938rem;
    line-height: 20px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      padding-left: 0.104vw;
      font-size: 0.781vw;
      line-height: 1.042vw;
    }
  }

  &__button-icon {
    width: 25px;
    height: 25px;
    margin: -5px 0 -5px 10px;

    @include mediaMinMax($small, $normal) {
      width: 1.302vw;
      height: 1.302vw;
      margin: -0.260vw 0 -0.260vw 0.521vw;
    }
  }

  &__toggler {
    border: none;
    background-color: transparent;
    outline: none;

    @include mediaMinMax($small, $normal) {
      width: 3.125vw;
      height: 1.563vw;
      font-size: 0.833vw;
    }

    .toggler-input__wrap {
      &::before,
      &::after {

        @include mediaMinMax($small, $normal) {
          border-radius: 0.729vw;
        }
      }

      &::before {
        @include mediaMinMax($small, $normal) {
          padding: 0 0.729vw;
          height: 1.563vw;
          width: 3.125vw;
        }
      }

      &::after {
        @include mediaMinMax($small, $normal) {
          height: 1.146vw;
          line-height: 1.146vw;
          width: 1.146vw;
          top: 0.208vw;
          left: 0.208vw;
        }
      }

      &_checked {
        &::after {
          @include mediaMinMax($small, $normal) {
            left: 1.771vw;
          }
        }

        &::before {
          @include mediaMinMax($small, $normal) {
            font-size: 0.833vw;
          }
        }
      }
    }
  }
}
