@import 'src/styles/variables.scss';
@import "src/styles/media.scss";
@import 'src/styles/mixins.scss';

.chat-room {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &_position {
    border: 1px solid $athens-gray-color;
    margin-bottom: 20px;
    border-radius: 24px;
    position: relative;
    height: auto;
  }

  &__expansion-decrease-icon {
    position: absolute;
    left: 10px;
    bottom: -4px;
    width: 32px;
    height: 32px;
    padding: 7px;
    background-color: $athens-gray-color;
    border-radius: 7.68px;
    cursor: pointer;

    @include mediaMinMax($small, $normal) {
      width: 1.667vw;
      height: 1.667vw;
      padding: 0.365vw;
      left: 0.521vw;
      bottom: -0.208vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__content-block {
    border-radius: 30px;
    background-color: $white-color;
    width: 100%;
  }

  &__header-container {
    position: relative;
    margin: 30px 0 20px 0;
    text-align: center;

    &_hidden {
      display: none;
    }

    @include mediaMinMax($small, $normal) {
      margin: 1.563vw 0 1.042vw 0;
    }

    @include media($mini) {
      margin: 15px 0 15px 0;
    }
  }

  &__title {
    font-weight: $extraBold;
    font-size: 1.5rem;
    line-height: 33px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.250vw;
      line-height: 1.719vw;
    }
  }

  &__sub-title {
    font-weight: $extraBold;
    font-size: 16px;
    line-height: 22px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      line-height: 1.146vw;
    }
  }

  &__sort {
    text-align: right;
    border-width: 1px 0;
    border-style: solid;
    border-color: $athens-gray-color;
    height: 33px;
    display: flex;

    &_border {
      border-top: none;
      border-bottom: 1px solid $athens-gray-color;
    }

    @include mediaMinMax($small, $normal) {
      height: 1.719vw;
    }
  }

  &__sort-select {
    background-color: transparent;
    outline: none;
    border: none;
    color: $light-slate-gray-color;
    min-width: 110px;
    width: max-content;
    margin-left: auto;
    height: 100% !important;
    border-radius: 0 !important;

    .custom-select__select {
      &__control,
      &__indicators {
        min-height: auto;
      }

      &__placeholder {
        font-size: 0.875rem;
        line-height: 19px;

        @include mediaMinMax($small, $normal) {
          font-size: 0.729vw;
          line-height: 0.990vw;
        }
      }
    }
  }

  &__container-messages {
    height: 377px;
    overflow-y: auto;
    padding: 10px;
    position: relative;
    scroll-behavior: smooth;

    @include custom-scroll;

    @include mediaMinMax($small, $normal) {
      height: 19.635vw;
      padding: 0.521vw;
    }

    @include media($mini) {
      height: 320px;
    }

    &_container {
      height: 360px;

      @include mediaMinMax($small, $normal) {
        height: 18.750vw;
        padding: 0.521vw;
      }
    }
  }

  &__modal-close-icon {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    right: -35px;
    top: -35px;

    @include media($small) {
      top: -40px;
      right: -2px;
    }

    @include mediaMinMax($small, $normal) {
      right: -1.823vw;
      top: -1.823vw;
      width: 1.667vw;
      height: 1.667vw;
    }
  }

  &__input-container {
    position: relative;
    padding: 10px 20px 20px;

    @include mediaMinMax($small, $normal) {
      padding: 0.521vw 1.042vw 1.042vw;
    }
  }

  &__input-message {
    width: 100%;
    height: 50px;
    outline: none;
    padding: 15px 55px;
    background-color: $catskill-white-color;
    border: 1px solid $athens-gray-color;
    border-radius: 14px;

    &::placeholder {
      font-weight: $medium;
      font-size: 0.938rem;
      line-height: 20px;
      color: $darker-cadet-blue-color;

      @include mediaMinMax($small, $normal) {
        font-size: 0.781vw;
        line-height: 1.042vw;
      }
    }

    @include mediaMinMax($small, $normal) {
      height: 2.604vw;
      padding: 0.781vw 2.865vw;
      border-radius: 0.729vw;
    }
  }

  &__send-message {
    position: absolute;
    right: 25px;
    top: 14px;
    width: 42px;
    height: 42px;
    background-color: $summer-green-color;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 6px;
    outline: none;

    @include mediaMinMax($small, $normal) {
      width: 2.188vw;
      height: 2.188vw;
      border-radius: 0.625vw;
      margin-left: 0.313vw;
      right: 1.302vw;
      top: 0.729vw;
    }
  }

  &__text-message {
    background-color: $catskill-white-color;
    border: 1px solid $athens-gray-color;
    border-radius: 2px 14px 14px 14px;
    padding: 12px 20px;
    width: max-content;
    max-width: 90%;
    overflow-wrap: break-word;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;

    &_its-my {
      background-color: $iceberg-blue-light-color;
      border: 1px solid $powder-blue-color;
      border-radius: 14px 2px 14px 14px;
      margin-left: auto;
    }

    @include mediaMinMax($small, $normal) {
      padding: 0.625vw 1.042vw;
      font-size: 0.729vw;
      line-height: 0.990vw;
    }
  }

  &__time-message {
    font-weight: $extraBold;
    font-size: 0.625rem;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.521vw;
      line-height: 0.729vw;
    }
  }

  &__date-message {
    text-align: center;
    font-weight: $extraBold;
    font-size: 0.9375rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $darker-cadet-blue-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.781vw;
      line-height: 1.042vw;
    }
  }

  &__whose-message {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;
    margin: 10px 0 5px 0;

    &_its-my {
      text-align: right;
    }

    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
      line-height: 0.990vw;
      margin: 0.521vw 0 0.260vw 0;
    }
  }

  &__file-message {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;

    @include mediaMinMax($small, $normal) {
      width: 2.188vw;
      height: 2.188vw;
    }
  }

  &__close-wrap {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: flex-start;

    @include mediaMinMax($small, $normal) {
      top: -0.521vw;
      right: -0.521vw;
    }
  }

  &__close-image-icon {
    width: 24px !important;
    height: 24px !important;
    border-radius: 8px !important;

    @include mediaMinMax($small, $normal) {
      width: 1.250vw !important;
      height: 1.250vw !important;
      border-radius: 0.417vw !important;
    }
  }



  &__reply-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $athens-gray-color;
    padding: 5px 20px;

    @include mediaMinMax($small, $normal) {
      padding: 0.260vw 1.042vw;
    }
  }

  &__reply-button {
    display: flex;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    width: max-content;
    outline: none;

    &_its-my {
      margin-left: auto;
    }

    @include mediaMinMax($small, $normal) {
      margin-top: 0.260vw;
    }
  }

  &__reply-button-text {
    margin: 0 5px;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      margin: 0 0.260vw;
      font-size: 0.729vw;
      line-height: 0.990vw;
    }
  }

  &__reply-message {
    max-height: 100px;
    overflow-y: auto;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;

    @include custom-scroll;

    @include mediaMinMax($small, $normal) {
      max-height: 5.208vw;
      font-size: 0.729vw;
      line-height: 0.990vw;
    }
  }

  &__reply-message-text {
    background-color: $white-color;
    padding: 5px 10px;
    border-radius: 14px 2px 14px 14px;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
      line-height: 0.990vw;
      padding: 0.260vw 0.521vw;
    }
  }

  &__image-message {
    width: 40px;
    height: 40px;
    position: relative;

    @include mediaMinMax($small, $normal) {
      width: 2.083vw;
      height: 2.083vw;
    }
  }

  &__delete-image-btn {
    position: absolute;
    width: 8px;
    height: 8px;
    top: -5px;
    right: 2px;
  }

  &__delete-btn-icon {
    width: 20px !important;
    height: 20px !important;
    border-radius: 8px !important;
  }

  &__ticket-icon,
  &__send-icon {
    width: 22px;
    height: 22px;

    @include mediaMinMax($small, $normal) {
      width: 1.146vw;
      height: 1.146vw;
    }
  }

  &__file-upload {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__select-text {
    display: none;
  }

  &__select-block {
    display: flex;
  }

  &__file-message-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 25%;
    left: 25%;

    @include mediaMinMax($small, $normal) {
      width: 1.146vw;
      height: 1.146vw;
    }
  }

  &__container-images {
    display: flex;
    margin-bottom: 2px;

    &_my-files {
      padding: 0 25px 5px 25px;

      @include mediaMinMax($small, $normal) {
        padding: 0 1.302vw 1.302vw 1.302vw;
      }
    }
  }

  &__delete-icon-file {
    position: absolute;
    width: 15px;
    height: 15px;
    top: -5px;
    right: -5px;

    @include mediaMinMax($small, $normal) {
      width: 0.781vw;
      height: 0.781vw;
    }
  }

  &__error {
    color: red;
    font-size: 0.75rem;
    margin-left: 8px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.625vw;
      margin-left: 0.417vw;
    }
  }

  &__drag-and-drop {
    position: absolute;
    background-color: $porcelain-gray-color !important;
    border-radius: 12px;
    left: 25px;
    top: 14px;
    height: 42px;
    width: 42px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0.625vw;
      width: 2.188vw;
      height: 2.188vw;
      left: 1.302vw;
      top: 0.729vw;
    }
  }
}
