@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.drop-zone {
  &_wrapper {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: rgba($athens-gray-color, 0.4);
    border: 2px dashed rgba($san-juan-dark-blue-color, 0.8);
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top-icon {
    margin-bottom: 7px;
  }

  &__top-text {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 27px;
    text-align: center;
    color: $gull-gray-color;
    margin-bottom: 22px;
  }

  &__select-text {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    text-align: center;
    margin-top: 25px;
  }
}
