@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.cloud-image-card {
  content: '';
  width: 220px;
  height: 273px;
  padding: 8px;
  position: relative;
  border-radius: 20px;
  background-color: $white-color;
  border: 2px solid $athens-light-gray-color;

  @include mediaMinMax(1025, $normal) {
    width: 11.458vw;
    height: 14.219vw;
    padding: 0.417vw;
    border-radius: 1.042vw;
    border-width: 0.104vw;
  }

  @include media($small) {
    width: 158px;
    height: 201px;
    padding: 6px;
    border-radius: 13px;
  }


  &_select {
    border: 2px solid $summer-green-color;

    @include mediaMinMax(1025, $normal) {
      border-width: 0.104vw;
    }
  }

  &__content-block {
    display: flex;
    position: relative;
  }

  &__image-button {
    border: none;
    outline: none;
    background: $light-gray-color;
    border-radius: 16px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0.833vw;
    }

    @include media($small) {
      border-radius: 10px;
    }
  }

  &__image-wrap {
    width: 200px;
    height: 200px;
    border: 1px dashed $athens-gray-color;
    background: $light-gray-color;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      width: 10.417vw;
      height: 10.417vw;
      border-radius: 0.833vw;
      border-width: 0.052vw;
    }

    @include media($small) {
      width: 142px;
      height: 142px;
      border-radius: 10px;
    }
  }
  
  &__image-block {
    background: $light-gray-color;
    border-radius: 15px;
    max-width: 198px;
    max-height: 198px;
    display: block;

    @include mediaMinMax(1025, $normal) {
      max-width: 10.313vw;
      max-height: 10.313vw;
      border-radius: 0.781vw;
    }

    @include media($small) {
      max-width: 140px;
      max-height: 140px;
      border-radius: 9px;
    }

  }

  &__select-icon {
    width: 28px;
    height: 28px;

    @include mediaMinMax(1025, $normal) {
      width: 1.458vw;
      height: 1.458vw;
    }

    @include media($small) {
      width: 18px;
      height: 18px;
    }
  }

  &__select-btn {
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 7px;
    left: 7px;

    @include mediaMinMax(1025, $normal) {
      top: 0.365vw;
      left: 0.365vw;
    }

    @include media($small) {
      top: 4px;
      left: 4px;
    }
  }


  &__menu-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
    padding: 0 12px 4px 12px;

    @include mediaMinMax(1025, $normal) {
      margin-top: 0.260vw;
      padding: 0 0.625vw 0.208vw 0.625vw;
    }

    @include media($small) {
      margin-top: 3px;
      padding: 0 8px 4px 8px;
    }
  }

  &__zoom-button {
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;  
  }

  &__zoom-icon {
    width: 24px;
    height: 24px;

    @include mediaMinMax(1025, $normal) {
      width: 1.250vw;
      height: 1.250vw;
    }

    @include media($small) {
      width: 20px;
      height: 20px;
    }
  }

  &__menu-button {
    outline: none;
    border: none;
    background-color: transparent;
    width: 68px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      width: 3.542vw;
      height: 0.990vw;
    }

    @include media($small) {
      width: 54px;
      height: 16px;
    }
  }

  &__name-image {
    width: 200px;
    text-align: center;
    font-weight: $bold;
    font-size: 0.75rem;
    line-height: 16px;
    color: $scarpa-flow-gray-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 2px;

    @include mediaMinMax(1025, $normal) {
      width: 10.417vw;
      font-size: 0.625vw;
      line-height: 0.833vw;
      margin-bottom: 0.104vw;
    }

    @include media($small) {
      width: 142px;
      font-size: 0.625rem;
      line-height: 14px;
    }
  }
}
