@import "src/styles/variables.scss";
@import "src/styles/media.scss";
@import "src/styles/mixins.scss";

.restoration-choose-any-photo {
  width: 100%;
  display: flex;
  margin-bottom: 39px;

  &_cart {
    margin: 0 !important;
  }

  @include mediaMinMax(1025, $normal) {
    margin-bottom: 2.031vw;
  }

  @include media($small) {
    flex-direction: column;
  }

  &__description {
    background-color: $polar-light-blue-color;
    border-radius: 46px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px;
    justify-content: space-between;
    margin-right: 31px;

    @include mediaMinMax(1025, $normal) {
      width: 20.833vw;
      padding: 3.125vw 2.083vw;
      margin-right: 1.615vw;
    }

    @include media($small) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      min-height: 200px;
      padding: 0px 27px 0 0;
      width: 100%;

    }

    @include media($xlmini) {
      flex-direction: column;
      width: 100%;
      min-height: 361px;
      padding: 31px 0px;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__description-block {
    text-align: center;
  }


  &__description-icon {
    width: 160px;
    height: 100px;

    &_cloud {
      margin-bottom: 10px;
    }

    svg#{&_add-prints} {
      width: 107px;
      height: 108px;

      @include media($normal) {
        height: 97px;
      }
    }

    @include mediaMinMax(1025, $normal) {
      width: 8.333vw;
      height: 5.208vw;
    }

    @include media($small) {
      width: 140px;
      height: 88px;
    }
  }

  &__description-text {
    width: 306px;
    font-weight: $bold;
    font-size: 15px;
    line-height: 20px;
    color: $scarpa-flow-gray-color;
    text-align: center;
    white-space: pre-line;

    @include mediaMinMax($small, $normal) {
      width: 15.938vw;
      line-height: 1.042vw;
      font-size: 0.781vw;
    }

    @include media($small) {
      width: 268px;
      font-size: 0.75rem;
      line-height: 16px;
    }

    @include media($xlmini) {
      width: 100%;
      margin: 0px;
    }
  }

  &__choose-photo-main {
    display: flex;
    flex-wrap: wrap;
    background-color: $white-color;
    border: 2px solid rgba($shark-gray-color, 0.1);
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 60px;
    max-width: 930px;
    width: 930px;
    height: 522px;
    padding: 48px 135px 30px;

    @include mediaMinMax(1025, $normal) {
      width: 48.43vw;
      border-radius: 3.125vw;
      padding: 2.5vw 7.03vw 1.56vw;
      height: 27.18vw;
    }

    @include media($small) {
      padding: 30px 40px 40px 40px;
      border-radius: 28px;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: min(100%, 600px);
      margin: 20px 0 0 0;
    }

    @include media($xsmall) {
      padding: 30px 30px 40px 40px;
    }

    @include media($mini) {
      padding: 20px 15px 18px 15px;
      min-height: fit-content;
      max-height: 527px;
      justify-content: flex-end;
    }

    &_cart {
      width: 100%;
      padding: 50px;
      height: 100%;

      @include mediaMinMax(1025, $normal) {
        padding: 2.604vw;
      }

      @include media($small) {
        padding: 40px;
      }

      @include media($xmini) {
        padding: 30px;
      }
    }
  }

  &__choose-photo-wrapper {
    position: relative;
    width: 100%;
  }

  &__choose-photo-container {
    position: relative;
    overflow-y: auto;
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    max-height: 26vw;
    width: 100%;
    height: 394px;
    overflow-x: auto;

    @include custom-scroll;

    @include mediaMinMax($small, $normal) {
      height: 20.52vw;
    }

    @include media($small) {
      max-width: 100%;
      grid-template-columns: repeat(2, 1fr);
      height: 35.41vw;
      max-height: 35.41vw;
    }

    @include media($xsmall) {
      min-width: 100%;
    }

    @include media($xlmini) {
      max-height: 414px;
      height: fit-content;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media($xmini) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    @include custom-scroll;

    &_cart {
      @include media(545) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__container-item-wrap {
    position: relative;
    outline: none;
    margin-bottom: 20px;
    max-height: 234px;
    z-index: 3;
    width: 200px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.04vw;
      max-height: 12.292vw;
      width: 10.417vw;
    }

    @include media($small) {
      margin-bottom: 1.56vw;
    }

    @include media($xsmall) {
      margin-bottom: 12px;
    }

    @include media($xmini) {
      width: 180px;
    }

    &_margin {
      margin-bottom: 50px;
  
      @include mediaMinMax(1025, $normal) {
        margin-bottom: 2.604vw;
      }
  
      @include media($xmini) {
        margin-bottom: 25px;
      }
    }
  }
}