@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.help-center {
  position: relative;

  @include media($xsmall) {
    display: flex;
    justify-content: center;
  }

  &__main-btn {
    display: flex;
    width: 186px;
    height: 50px;
    background: $white-color;
    border: 1px solid rgba($pickled-bluewood-color, 0.1);
    box-sizing: border-box;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 23px 10px 16px;
    text-decoration: none;
    outline: none;
    cursor: pointer;

    @include mediaMinMax(1025, $normal) {
      width: 9.68vw;
      height: 2.6vw;
      padding: 0.41vw 1.19vw 0.41vw 0.83vw;
      border-radius: 0.62vw;

      svg {
        width: 1.56vw;
        height: 1.56vw;
      }
    }

    @include media($small) {
      padding: 10px 17px 10px 14px;
      width: 162px;
    }

    &:hover {
      border: 1px solid $pickled-bluewood-color;
    }
  }

  &__title {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.4vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 27px;
      text-align: right;
      letter-spacing: 0.5px;
    }

    @include media($mini) {
      font-size: 14px;
    }
  }

  &__list {
    position: absolute;
    top: 54px;
    left: 0;
    background: $white-color;
    border: 1px solid rgba($shark-gray-color, 0.1);
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    min-width: 200px;

    @include media($mini) {
      left: 50%;
      transform: translateX(-50%);
      max-width: 306px;
    }
  }

  &__list-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;
    outline: none;
    max-width: 100%;
  }

  &__list-item-line {
    width: 100%;
    height: 1px;
    background-color: $athens-gray-color;
    margin: 14px 0;
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    top: -32px;
    right: -35px;
    z-index: 3;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    background: none;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
