@import "src/styles/variables.scss";
@import 'src/styles/media.scss';

.before-after-price {
  &__price-wrapper {
    display: flex;
    align-items: center;

    &_column {
      flex-direction: column;
    }
  }

  &__price-values {
    display: flex;
    justify-content: space-between;

    &_row {
      margin: 0 2px;
      width: max-content !important;
    }
  }

  &__price {
    display: flex;
    position: relative;

    &_row {
      margin: 0 2px;
    }

    &_origin-column {
      color: $scarpa-flow-gray-color;
      margin-right: 4px;
      font-weight: $medium !important;

      &::after {
        content: '';
        position: absolute;
        width: 110%;
        height: 1px;
        background-color: $burnt-sienna-red-color;
        left: -5%;
        top: 50%;
      }
    }

    &_origin-row {
      color: $scarpa-flow-gray-color;
      font-weight: $medium !important;

      &::after {
        content: '';
        position: absolute;
        width: 110%;
        height: 1px;
        background-color: $burnt-sienna-red-color;
        left: -5%;
        top: 50%;
      }
    }

    &_custom {
      color: $burnt-sienna-red-color;
    }
  }
}
