@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.text-card {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: padding 0.5s;
  min-height: 300px;

  @include mediaMin($mini) {
    padding: 20px;
  }

  @include mediaMin($xsmall) {
    padding: 20px 30px;
  }

  &__header {
    min-width: 100%;
    margin-bottom: 42px;
    display: flex;
    justify-content: space-between;
  }

  &__date {
    margin: 0;
    color: $charcoal-gray-color;
    font-size: 0.875rem;
    line-height: 2;
  }

  &__title {
    margin: 0;
    margin-bottom: 11px;
    color: $charcoal-gray-color;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: $medium;
  }

  &__review-container {
    display: flex;
    flex-direction: column;
    &_withImage {
      flex-direction: row;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 20px;
    color: $charcoal-gray-color;
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;

    @include custom-scroll;

    &_without-limit {
      overflow-y: visible;
      max-height: none;
    }
  }

  &__name {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.29;
    font-weight: $extraMedium;
    color: $dark-slate-blue-color;
  }

  &__img-container {
    overflow: hidden;
    margin-bottom: 20px;
    min-width: 100px;
    max-width: 150px;
    max-height: 150px;
  }

  &__img {
    max-height: 150px;
    object-fit: contain;
    object-position: center;
  }
}
