@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.service-card {
  border-radius: clamp(28px, 2.28%, 44px);
  max-width: 442px;
  width: min(23vw, 442px);
  padding: clamp(14px, 1.04vw, 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
  background-color: $white-color;
  justify-content: space-between;
  margin: 0 35px 70px;

  @include mediaMinMax(1025, $normal) {
    border-radius: 2.29vw;
    width: 23vw;
    padding: clamp(14px, 1.04vw, 20px);
    display: flex;
    margin: 0 1.82vw 3.64vw;
  }

  @include media($small) {
    min-width: 334px;
    border-radius: 28px;
    padding: 14px 14px 0 14px;
    margin: 0 10px 20px 10px;
  }

  @include media($mini) {
    margin: 0 20px 10px 20px;
  }

  &__img {
    max-width: 402px;
    max-height: 311px;
    border-radius: 2.29vw;
    margin-bottom: min(1.45vw, 14px);
    width: min(20.93vw, 402px);
    height: min(16.19vw, 311px);

    @include mediaMin($normal) {
      max-width: 402px;
      min-width: 280px;
      max-height: 311px;
      min-height: 239px;
      border-radius: 28px;
      width: 21vw;
      height: 17vw;
    }

    @include media($small) {
      width: 306px;
      height: 239px;
      border-radius: 22px;
    }
  }

  &__title {
    font-weight: $bold;
    color: $black-color;
    font-size: min(1.35vw, 26px);
    line-height: min(1.875vw, 36px);
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 12px;

    @include mediaMin($normal) {
      font-size: 1.625rem;
      line-height: 36px;
    }

    @include media($small) {
      font-size: 1.25rem;
      line-height: 27px;
      text-align: center;
      letter-spacing: 1px;
      color: $shark-gray-color;
    }
  }

  &__desc {
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    
    text-align: center;
    font-size: min(0.88VW, 17px);
    line-height: min(1.25vw, 24px);
    letter-spacing: 1px;
    margin-bottom: min(1.56vw, 30px);
    color: $scarpa-flow-gray-color;

    @include mediaMin($normal) {
      font-size: 1.0625rem;
      line-height: 24px;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.8px;
      margin-bottom: 20px;
      white-space: initial;
      max-width: 278px;
    }
  }

  &__link {
    text-decoration: none;
    margin-bottom: 30px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.56vw;
    }
  }

  &__button {

    @include mediaMinMax(1025, $normal) {
      padding: 1.04vw 1.82vw !important;
      font-size: 0.88vw !important;
      line-height: 1.4vw !important;
    }
  }

  &__image-link {
    margin-bottom: 30px;

    &_with-price {
      margin-bottom: 0;

      @include mediaMinMax($small, $normal) {
        margin-bottom: 0;
      }

      @include media($small) {
        margin-bottom: 0;
      }
    }

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.56vw ;
    }

    @include media($small) {
      margin-bottom: 20px;
    }
  }

  &__price-block {
    display: flex;
    justify-content: center;

    @include media($small) {
      margin-bottom: 10px;
    }
  }

  &__price {
    line-height: 1.24;
    font-size: 17px;
    color: $scarpa-flow-gray-color;
    font-weight: $medium;
    position: relative;
    margin-right: 5px;
    display: block;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      margin-right: 0.2604vw;
    }

    &_with-discount {
      &::before {
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        width: calc(100% + 2px);
        height: 2px;
        background-color: $burnt-sienna-red-color;
        top: 50%;
        left: -1px;
      }
    }
  }

  &__discount {
    display: block;
    line-height: 1.24;
    font-size: 17px;
    color: $burnt-sienna-red-color;
    font-weight: $medium;
    margin-right: 5px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      margin-right: 0.2604vw;
    }
  }

  &__per-text {
    display: block;
    line-height: 1.24;
    font-size: 17px;
    color: $scarpa-flow-gray-color;
    font-weight: $medium;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
    }
  }
}
