@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.partners {
  padding: 120px 157px 140px 157px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $catskill-white-color;

  @include mediaMinMax(1025, $normal) {
    padding: 6.25vw 8.17vw 7.29vw 8.17vw;
  }

  @include mediaMinMax($xsmall, $small) {
    padding: 4.16vw 5.2vw;
  }

  @include media($xsmall) {
    padding: 32px 40px;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: $black;
    line-height: 56px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    margin-bottom: 70px;

    @include mediaMinMax(1025, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 3.64vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      letter-spacing: 0.6px;
      margin-bottom: 40px;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

    @include media($xsmall) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__slider {
    max-width: 50%;

    @include media($xsmall) {
      max-width: 100%;
      width: 100%;
    }

    &:first-child {
      @include media($xsmall) {
        margin-bottom: 50px;
      }
    }
  }

  &__img-container {
    max-height: 100px;
    margin-right: 2%;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    max-height: 65px;
    max-width: 170px;
    object-fit: contain;
    object-position: center;
    transition: max-height 0.5s, max-width 0.5s;
    margin: 0 auto;


    @include mediaMin($xnormal) {
      max-height: 90px;
      max-width: 235px;
    }
  }

  &__slid {
    padding-left: 10px;
    padding-right: 10px;
  }
}
