@import "src/styles/variables.scss";

.toggler {

  &__wrapper {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    padding: 15px 30px;
    box-shadow: 0 2px 4px 0 rgba($black-color, 0.1);
    min-height: 80px;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__count {
    padding: 0 5px;
    min-width: 20px;
  }

  &__count-controls {
    display: flex;
  }

  &__input-wrap {
    margin-right: 28px;
  }
}
