@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.frame-selector {
  outline: none;

  &__collection-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 58px;

    @include mediaMinMax($small, $normal) {
      margin: 0 3.021vw;
    }

    @include media($small) {
      margin-left: 0;
      margin-right: 0;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      max-width: calc(100vw - 40px);
    }

    @include media($mini) {
      max-width: calc(100vw - 24px);
    }
  }

  &__frame-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 34px;

    @include mediaMinMax($small, $normal) {
      margin: 0 1.771vw;
    }

    @include media($small) {
      margin: 0;
      max-width: calc(100vw - 40px);
    }
  }

  &__back-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    position: absolute;
    left: 0;
    top: 10px;

    @include mediaMinMax($small, $normal) {
      top: 0.521vw;
    }
  }

  &__back-icon {
    transform: rotate(180deg);
    width: 40px;
    height: 40px;

    @include mediaMinMax($small, $normal) {
      width: 2.083vw;
      height: 2.083vw;
    }
  }

  &__frame-list-wrap {
    width: 315px;

    @include mediaMinMax($small, $normal) {
      width: 16.9925vw;
    }

    @include media($small) {
      width: calc(100vw - 40px);
      max-width: 1026px;
      overflow-x: scroll;
      margin-bottom: 20px;
    }

    @include media($mini) {
      width: 100vw;
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &__frame-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 542px;
    overflow-y: auto;
    width: calc(100%);

    @include custom-scroll;

    @include mediaMinMax($small, $normal) {
      max-height: 28.229vw;
      width: calc(100%);
    }

    @include media($small) {
      padding-right: 0;
      margin-right: 0;
      overflow-y: visible;
      flex-direction: row;
      width: auto;
    }

    @include media($mini) {
      padding: 0 20px;
    }
  }

  &__frame-wrap {
    margin-bottom: 16px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.833vw;
    }

    @include media($small) {
      margin-bottom: 10px;
      margin-right: 10px;
    }

    &:last-child {
      margin-bottom: 0;

      @include media($small) {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }

  &__collections-text,
  &__frame-text {
    font-weight: $black;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;
    margin-bottom: 26px;
    margin-top: 7px;

    @include mediaMinMax($small, $normal) {
      margin-top: 0.365vw;
      margin-bottom: 1.354vw;
      font-size: 0.885vw;
      line-height: 1.406vw;
    }

    @include media($small) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__title-wrap {
    width: 298px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-self: flex-start;

    @include mediaMinMax($small, $normal) {
      width: 15.521vw;
    }
  }

  &__title-wrap {
    width: 298px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-self: flex-start;

    @include mediaMinMax($small, $normal) {
      width: 15.521vw;
    }

    @include media($small) {
      width: auto;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__frame-text {
    margin-bottom: 15px;
    margin-top: 15px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.781vw;
      margin-top: 0.781vw;
    }
  }

  &__collection-button {
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $athens-gray-color;
    border-radius: 14px;
    background-color: $white-color;
    margin-bottom: 20px;
    font-weight: $extraBold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include mediaMinMax($small, $xlnormal) {
      width: 13.021vw;
      height: 3.125vw;
      border-radius: 0.729vw;
      font-size: 0.833vw;
      line-height: 1.406vw;
      margin-bottom: 1.042vw;
    }

    @include media($small) {
      margin-right: 8px;
      margin-left: 8px;
      margin-bottom: 16px;
    }

    @include media($xsmall) {
      width: 160px;
      margin-left: 0;
    }

    &:last-child {
      margin-bottom: 0;

      @include media($small) {
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 16px;
      }
    }
  }

}
