@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.gift-card-form {
  width: 100%;
  max-width: 1322px;
  margin: 0  auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 660px;

  @include mediaMinMax($small, $normal) {
    max-width: 68.8541vw;
    height: 34.375vw;
  }

  @include media($small) {
    width: 100%;
    max-width: none;
    align-items: center;
    height: auto;
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    min-width: 542px;

    @include mediaMinMax($small, $normal) {
      min-width: 28.2291vw;
    }

    @include media($small) {
      flex-direction: column;
      align-items: center;
      min-width: auto;
    }

    &_select {
      margin-bottom: 38px;
      flex-direction: row;

      @include mediaMinMax($small, $normal) {
        margin-bottom: 1.9791vw;
      }

      @include media($mini) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &_input {
      flex-direction: row;

      @include media($xmini) {
        flex-direction: column;
      }
    }
  }

  &__select-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    height: 60px;
    max-width: 159px;
    width: 100%;

    @include mediaMinMax($small, $normal) {
      height: 3.125vw;
      max-width: 8.28125vw;
    }
  }

  &__input {
    width: 260px;
    margin: 0 0 22px 22px;
    flex: 1;

    @include mediaMinMax($small, $normal) {
      width: 1.5416vw;
      margin: 0 0 1.1458vw 1.1458vw;
    }

    @include media($xmini) {
      margin: 0 0 20px 0;
      width: 100%;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__select {
    flex: 1;
    height: auto;

    div.custom-select__select {
      @include mediaMinMax($small, $normal) {
        padding: 0 1.0416vw;
      }
    }

    div.custom-select__select__indicator {
      @include mediaMinMax($small, $normal) {
        padding: 0.4166vw;
      }
    }

    svg.dropdown-indicator {
      @include mediaMinMax($small, $normal) {
        width: 0.8333vw;
        height: 0.46875vw;
      }
    }

    div.custom-select__select__placeholder {
      font-size: 0.8854vw;
      line-height: 1.6666vw;

      @include media($small) {
        font-size: 18px !important;
        line-height: 20px !important;
      }
    }

    div.custom-select__select__single-value {
      font-size: 0.8854vw !important;
      line-height: 1.6666vw !important;

      @include media($small) {
        font-size: 18px !important;
        line-height: 20px !important;
      }
    }

    & .custom-select__select__control {
      background: $wild-sand-color;
    }
  }

  &__btn {
    font-weight: $extraMedium;
  }

  &__textarea {
    flex: 1;
    max-height: 122px;
    margin-bottom: 30px;

    @include mediaMinMax($small, $normal) {
      max-height: 6.3541vw;
      margin-bottom: 1.5625vw;
    }
  }

  &__submit-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include media($xsmall) {
      flex-direction: column;
    }
  }

  &__submit-msg {
    color: $turquoise-color;
  }

  &__images {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 446px;

    @include custom-scroll;

    @include mediaMinMax(1025, $normal) {
      max-height: 16.4583vw;
      min-height: 23vw;
    }

    @include media($xlmini) {
      display: flex;
      width: 100%;
      justify-content: center;
      overflow-x: auto;
      overflow-y: hidden;
      min-height: 100px;
    }

    @include media($mini) {
      width: 86.200vw;
      justify-content: flex-start;
    }
  }

  &__mini-image {
    width: 80px;
    max-height: 80px;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
    border-radius: 20px;

    @include mediaMinMax(1025, $normal) {
      width: 4.1666vw;
      max-height: 4.1666vw;
      border-radius: 1.0416vw;
    }
  }

  &__card-image-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-right: 24px;

    @include mediaMinMax($small, $normal) {
      margin-right: 1.25vw;
    }

    @include media($xlmini) {
      margin: 0;
    }
  }

  &__card-image-description {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 75px;

    @include media($normal) {
      padding: 3.906vw;
    }

    @include media($small) {
      padding: 70px;
    }

    @include media($xmini) {
      padding: 11.545vw;
    }

    @include media($mini) {
      padding: 12.500vw;
    }

  }

  &__card-text {
    color: $black-color;
    width: 100%;
    word-break: break-word;
    text-align: right;
    letter-spacing: 1px;

    @include mediaMinMax($small, $normal) {
      line-height: 1.9791vw;
      font-size: 0.8333vw
    }

    @include media($xsmall) {
      font-size: 0.875rem;
    }

    &_value {
      color: $black-color;
      text-shadow: none;
      margin-top: 34px;
      margin-bottom: 96px;
      font-size: 0.80rem;

      @include media($normal) {
        margin-top: 1.302vw;
        margin-bottom: 4.323vw;
        font-size: 0.667vw;
      }

      @include media($small) {
        margin-top: 38px;
        font-size: 0.813rem;
        margin-bottom: 102px;
      }

      @include media($xmini) {
        margin-top: 7.069vw;
        font-size: 2.241vw;
        margin-bottom: 17.241vw;
      }

      @include media($mini) {
        margin-top: 6.469vw;
      }
    }

    &_title {
      text-align: left;
      margin-bottom: 5px;
      font-size: 1.219rem;
      padding-left: 50px;
      height: 38px;
      overflow: hidden;

      @include media($normal) {
        margin-bottom: 0.521vw;
        font-size: 1.016vw;
        padding-left: 2.604vw;
        height: 1.979vw;
      }

      @include media($small) {
        margin-bottom: 0px;
        font-size: 1.125rem;
        padding-left: 55px;
        height: 38px;
      }

      @include media($xmini) {
        font-size: 3.103vw;
        padding-left: 9.483vw;
        height: 6.052vw;
      }
    }

    &_message {
      text-align: left;
      font-size: 1.219rem;
      line-height: 30px;
      padding-left: 25px;
      height: 90px;
      padding-right: 5px;
      overflow: hidden;

      @include media($normal) {
        font-size: 1.016vw;
        line-height: 1.563vw;
        padding-left: 1.302vw;
        height: 4.688vw;
        padding-right: 0.260vw;
      }

      @include media($small) {
        padding-right: 15px;
        font-size: 1.125rem;
        line-height: 30px;
        padding-left: 31px;
        height: 100px;
      }

      @include media($xmini) {
        font-size: 3.103vw;
        height: 17.241vw;
        padding-left: 5.345vw;
        padding-right: 2.586vw;
        line-height: 5.172vw;
      }
    }

    &_bottom {
      text-align: left;
      font-size: 1.219rem;
      padding-left: 75px;
      margin-top: 8px;
      overflow: hidden;
      height: 30px;

      @include media($normal) {
        margin-top: 0px;
        padding-left: 3.906vw;
        font-size: 1.016vw;
        height: 1.563vw;
      }

      @include media($small) {
        margin-top: 3px;
        padding-left: 82px;
        font-size: 1.125rem;
        height: 30px;
      }

      @include media($xmini) {
        font-size: 3.103vw;
        margin-top: 0.517vw;
        padding-left: 14.138vw;
        height: 5.172vw;
      }


    }
  }

  &__card-image-full {
    height: 26.4583vw;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    max-width: 500px;
    max-height: 514px;

    @include mediaMinMax($small, $normal) {
      width: 26.0416vw;
      height: 26.4583vw;
      border-radius: 0.5208vw;
    }

    @include media($small) {
      width: 500px;
      height: 514px;
    }

    @include media($xmini) {
      width: 86.207vw;
      height: 88.621vw;
    }
  }

  &__img-btn {
    outline: none;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.6666vw;
    }

    @include media($xsmall) {
      margin-left: 20px;
    }

    @include media($xlmini) {
      margin: 12px 10px 0;
      height: 92px;
    }

    &:first-child {
      @include media($xsmall) {
        margin-left: 20px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_checked {
      border: 2px solid $pickled-bluewood-color;
      padding: 4px;
      border-radius: 25px;

      @include mediaMinMax($small, $normal) {
        padding: 0.2083vw;
        border-radius: 1.302vw;
      }
    }
  }

  &__submit-container {
    display: flex;
    align-items: center;

    @include media($mini) {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 26px;

    @include mediaMinMax($small, $normal) {
      margin-right: 1.3541vw;
    }

    @include media($mini) {
      flex-direction: row;
      margin: 0 0 31px 0;
    }
  }

  &__summary-sum {
    font-weight: $black;
    font-size: 1.375rem;
    line-height: 30px;
    text-align: right;
    letter-spacing: 1px;
    color: $burnt-sienna-red-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.1458vw;
      line-height: 1.5625vw;
    }
  }

  &__submit-info {
    font-weight: $medium;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.5px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8333vw;
      line-height: 1.4062vw;
    }

    @include media($mini) {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
  }

  &__title {
    font-weight: $extraBold;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;
    margin-bottom: 25px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.458vw;
      line-height: 1.979vw;
    }

    @include media($small) {
      font-size: 1.5rem;
      line-height: 33px;
      text-align: center;
      letter-spacing: 1px;
      margin-bottom: 12px;
    }


  }

  &__summary-title-wrapper {
    display: flex;
  }

  &__summary-title {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    margin-left: 10px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.0416vw;
      line-height: 1.40625vw;
      margin-left: 0.5208vw;
    }

    @include media($mini) {
      margin: 0 12px 0 10px;
    }


  }

  &__summary-title-icon {
    display: flex;
    svg {
      height: 30px;
      width: 30px;

      @include mediaMinMax(1025, $normal) {
        width: 1.563vw;
        height: 1.563vw;
      }
    }
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white-color;
    border: 2px solid $wild-sand-color;
    box-sizing: border-box;
    box-shadow: 45px 45px 98px rgba($black-color, 0.04);
    border-radius: 34px;
    padding: 40px 34px 40px 40px;
    margin-right: 50px;
    position: relative;


    @include mediaMinMax(1025, $normal) {
      border-radius: 1.7708vw;
      padding: 2.033vw 1.7708vw 2.033vw 2.033vw;
      margin-right: 2.6041vw;
    }

    @include media($small) {
      margin: 0;
    }

    @include media($xlmini) {
      flex-direction: column;
      padding: 12px;
      border-radius: 20px;
    }
  }

  &__mini-image-wrapper {
    position: relative;
    width: 80px;
    height: 80px;

    @include mediaMinMax(1025, $normal) {
      width: 4.1666vw;
      height: 4.1666vw;
    }
  }

  &__checked-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: rgba($white-color, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      width: 4.1666vw;
      height: 4.1666vw;
      border-radius: 1.0416vw;
    }
  }

  &__area {
    width: 100%;
    height: 110px;
    margin-bottom: 32px;

    textarea::placeholder {
      line-height: 16px !important;
    }

    @include mediaMinMax($small, $normal) {
      height: 5.729vw;
      border-radius: 1.0416vw;
      margin-bottom: 1.667vw;
    }
  }

  &__background-square {
    position: absolute;
    top: -142px;
    right: -40px;
    width: 782px;
    height: 700px;
    background: $athens-light-gray-color;
    opacity: 0.3;
    border-radius: 140px;
    z-index: -1;

    @include mediaMinMax($small, $normal) {
      top: -7.396vw;
      right: -2.0833vw;
      width: 40.7291vw;
      height: 36.458vw;
      border-radius: 7.292vw;
    }

    @include media($small) {
      width: 501px;
      height: 100%;
      top: 0;
      right: auto;
      left: -40px;
      border-radius: 0 0 40px 40px;
    }

    @include media($xsmall) {
      max-width: 421px;
      height: 100%;
      top: 0;
      right: auto;
      border-radius: 0 0 40px 40px;
      left: 0;
    }
  }

  &__fields {
    position: relative;

    @include media($small) {
      width: 421px;
      padding: 30px 0 40px 0;
    }

    @include media($xsmall) {
      padding: 30px 20px 40px 20px;
    }

    @include media($mini) {
      width: auto;
      padding: 0 20px;
    }
  }

  &__background-little-square {
    position: absolute;
    bottom: -105px;
    left: -105px;
    width: 304px;
    height: 308px;
    opacity: 0.3;
    z-index: -1;
    background: $white-color;
    box-shadow: -29px 29px 48px rgba($black-color, 0.03);
    border-radius: 0 0 0 47px;

    @include mediaMinMax($small, $normal) {
      bottom: -5.46875vw;
      left: -5.46875vw;
      width: 15.8333vw;
      height: 16.0416vw;
      border-radius: 0 0 0 2.4479vw;
    }
  }

  &__submit-button {
    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw !important;
      line-height: 1.40625vw !important;
      padding: 0.9895vw 1.1979vw !important;
      border-radius: 0.521vw;
    }
  }
}
