@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.slider-with-sub-title {

  .slick-slider {
    box-shadow: 30px 100px 100px rgba($black-color, 0.03);
  }

  .slick-arrow::before {
    display: none;
  }

  &__arrow {
    display: block;

    &_prev .svg {
      transform: rotate(180deg);
    }
  }

  &__inner-slide {
    width: 466px;
    max-height: 466px;
    min-height: 294px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    @include media($xsmall) {
      margin-top: 40px;
    }

    @include media($xlmini) {
      margin-top: 10px;
    }
  }

  &__arrow-btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;

    &_prev {
      margin-right: 55px;

      @include mediaMinMax($xsmall, $normal) {
        margin-right: 2.86vw;
      }

      @include media($xsmall) {
        margin-right: 20px;
      }
    }

    &_next {
      margin-left: 55px;

      @include mediaMinMax($xsmall, $normal) {
        margin-left: 2.86vw;
      }

      @include media($xsmall) {
        margin-left: 20px;
      }
    }
  }

  &__arrow-icon {
    &_prev {
      transform: rotate(180deg);
    }

    &:hover {
      rect {
        fill: $athens-gray-color;
      }
    }
  }

  &__dot-block {
    display: flex;
  }

  &__dot-wrap {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 2px;
    border: none;
    outline: none;
    background-color: transparent;

    @include mediaMinMax($xsmall, $normal) {
      width: 1.04vw;
      height: 1.04vw;
    }

    @include media($xsmall) {
      width: 10px;
      height: 10px;
    }

    &:first-child {
      margin-left: 0;
    }

    &_select {
      border: 1px solid $athens-gray-color;
    }
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $light-silver-green-color;

    @include mediaMinMax($xsmall, $normal) {
      width: 0.52vw;
      height: 0.52vw;
    }

    @include media($xsmall) {
      width: 5px;
      height: 5px;
    }

    &_select {
      background-color: $rhino-blue-color;
      box-shadow: 5px 5px 42px rgba($black-color, 0.15);
    }
  }

  .slick-slide &__card {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 560px;
    max-height: 300px;
    min-width: 280px;
  }

  &__card &__inner-slide {
    display: block;
    width: 100%;
  }

  &__dots {
    bottom: -30px;
    width: 100%;
    position: absolute;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 5px 10px;
      padding: 0;
      cursor: pointer;

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 8px;
        height: 8px;
        padding: 5px;
        cursor: pointer;
        border: 1px solid;
        border-radius: 8px;
        color: $dark-slate-blue-color;
        outline: 0;
        background: 0 0;
      }
    }

    .slick-active button {
      background: $dark-slate-blue-color;
    }
  }

  & .slick-slider .slick-slide .slick-list .slick-track .slick-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slide-image-wrapper {
    width: 320px !important;
    max-width: 320px;
    height: 455px                                                                                                                                                                 ;
    min-height: 360px;
    padding: 20px 20px 29px 20px;
    background-color: $white-color;
    box-shadow: 30px 100px 100px rgba($black-color, 0.03);
    border-radius: 28px;
    margin: 0 38px;

    @include mediaMinMax(1025, $normal) {
      width: 16.667vw!important;
      height: 23.698vw;
      max-width: 16.667vw;
      min-width: auto;
      min-height: auto;
      padding: 1.042vw 1.042vw 1.510vw 1.042vw;
      padding-bottom: 1.042vw;
      border-radius: 1.458vw;
      margin: 0 1.979vw;
    }

    @include media($small) {
      width: 302px !important;
      height: 426px;
      padding: 16px;
      margin: 0 15px;
    }

    @include media(750) {
      position: relative;
      left: calc(50vw - 15px);
      transform: translateX(-50%);
    }
  }

  &__block-video {
    width: 280px;
    height: 223px;

    @include mediaMinMax(1025, $normal) {
      width: 14.55vw;
      height: 11.615vw;
    }

    @include media($small) {
      width: 270px;
      height: 209px;
    }
  }

  &__image {
    border-radius: 30px;
    width: 100%;
    height: 100%;
  }

  &__slide-image-title {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    letter-spacing: 1.1px;
    color: $shark-gray-color;
    margin-top: 24px;
    justify-content: center;
    margin-bottom: 4px;
    color: $shark-gray-color;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
      margin-top: 1.25vw;
    }

    @include media($small) {
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 1px;
    }
  }

  &__slide-image-sub-title {
    font-size: 1.063rem;
    font-style: normal;
    font-weight: $medium;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 16px;
    color: $slate-gray-color-2;

    @include mediaMinMax($small, $normal) {
      font-size: 0.885vw;
      line-height: 1.198vw;
      margin-bottom: 0.833vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.8px;

    }
  }

  &__slide-image-text {
    font-family: Lato;
    font-size: 1.063rem;
    font-style: normal;
    font-weight: $medium;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.885vw;
      line-height: 1.198vw;
      margin-bottom: 0.833vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.8px;
    }
  }
}
