@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.photo-art-selector {

  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  min-height: 60px;
  width: 298px;

  @include media($mini) {
    width: 160px;
  }

  &__container {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $catskill-white-color;
    width: 100%;
    border-radius: 14px;
    border: 1px solid $athens-gray-color;
    position: relative;

    &_menu-opened {
      &::after {
        position: absolute;
        content: '';
        height: 50%;
        width: 100%;
        bottom: -5px;
        background-color: $catskill-white-color;
        border-left: 1px solid $athens-gray-color;
        border-right: 1px solid $athens-gray-color;
        z-index: -1;
      }
    }
  }

  &__title {
    font-weight: $bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;
    margin-bottom: 6px;
  }

  &__selector.form-selector__selector,
  &__selector {
    margin-left: 0;
    border: none;

    &_mask {
      padding: 0 20px;
      display: flex;
      align-items: center;
      height: 60px;
    }
  }

  &__text-selector {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 32px;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;
  }


  &__count {
    padding: 0 5px;
    min-width: 20px;
  }

  &__input {
    width: 100%;
  }

  &__hint-btn {
    margin-right: 25px;

    @include media($mini) {
      margin-right: 5px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__hint-popup {
    position: fixed;
    z-index: 10;
  }
}
