@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.frame-slider {
  max-width: 568px;
  max-height: 650px;
  width: 30vw;
  min-width: 334px;
  min-height: 408px;
  height: 35vw;
  box-shadow: 20px 20px 100px rgba($black-color, 0.08);
  background-color: $white-color;
  border-radius: 28px;
  padding: 22px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  position: relative;

  &_gift-guide {
    margin: 0 50px 0 116px;
  }

  &_is-right {
    margin: 0 116px 0 100px;
  }

  @include media($small) {
    padding: 18px 18px 20px 18px;
    border-radius: 16px;
    height: 100%;
  }

  .slick-arrow::before {
    display: none;
  }

  &__arrow {
    display: block;

    &_prev .svg {
      transform: rotate(180deg);
    }
  }

  &__inner-slide {
    max-height: 524px;
    min-height: 300px;
    height: 28vw;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    width: 100%;

    @include mediaMinMax(1025, $normal) {
      height: 27vw;
    }
  }



  &__slider-description {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    line-height: 24px;
    font-weight: $bold;
    margin: 5px 0;
    user-select: text;

    @include mediaMinMax($small, $normal) {
      font-size: 1.04vw;
      line-height: 1.25vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.9px;
    }

    @include media($xsmall) {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.9px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media($small) {
      justify-content: space-between;
    }
  }

  &__arrow-btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;

    &_prev {
      margin-right: 55px;

      @include mediaMinMax(1025, $normal) {
        margin-right: 2.86vw;
      }

      @include media($small) {
        margin: 0;
      }

      svg {
        @include mediaMinMax(1025, $normal) {
          height: 2.7vw;
        }
      }
    }

    &_next {
      margin-left: 55px;

      @include mediaMinMax(1025, $normal) {
        margin-left: 2.86vw;
      }

      @include media($small) {
        margin: 0;
      }

      svg {
        @include mediaMinMax(1025, $normal) {
          height: 2.7vw;
        }
      }
    }
  }

  &__arrow-icon {
    &_prev {
      transform: rotate(180deg);
    }

    &:hover {
      rect {
        fill: $athens-gray-color;
      }
    }
  }

  &__dot-block {
    display: flex;
  }

  &__dot-wrap {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 2px;
    border: none;
    outline: none;
    background-color: transparent;

    &:first-child {
      margin-left: 0;
    }

    &_select {
      border: 1px solid $athens-gray-color;
    }
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $light-silver-green-color;

    &_select {
      background-color: $rhino-blue-color;
      box-shadow: 5px 5px 42px rgba($black-color, 0.15);
    }
  }

  .slick-slide &__card {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 560px;
    max-height: 300px;
    min-width: 280px;
  }

  &__card &__inner-slide {
    display: block;
    width: 100%;
  }

  &__dots {
    bottom: -30px;
    width: 100%;
    position: absolute;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 5px 10px;
      padding: 0;
      cursor: pointer;

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 8px;
        height: 8px;
        padding: 5px;
        cursor: pointer;
        border: 1px solid;
        border-radius: 8px;
        color: $dark-slate-blue-color;
        outline: 0;
        background: 0 0;
      }
    }

    .slick-active button {
      background: $dark-slate-blue-color;
    }
  }

  & .slick-slide {
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__image-stripe-one {
    position: absolute;
    max-width: 360px;
    min-width: 254px;
    width: 19vw;
    max-height: 583px;
    min-height: 223px;
    height: 31vw;
    z-index: -1;
    border-radius:  0 37px 0 0;
    top: -13%;
    right: -17%;

    @include media($small) {
      width: 254px;
      height: 223px;
      right: -43px;
      left: auto;
      top: -30px;
    }

    @include media($xlmini) {
      width: calc(50vw + 124px);
      height: 317px;
      top: -21px;
      left: auto;
      border-radius: 0 0 0 0;
      right: calc(-50vw - 81px);
    }

     &_is-right {
      border-radius:  37px 0 0 0;
      left: -17%;

      @include media($small) {
        width: 224px;
        height: 223px;
        left: -43px;
        top: -30px;
      }

      @include media($xlmini) {
        width: calc(50vw + 124px);
        height: 317px;
        top: -21px;
        left: auto;
        border-radius: 0 0 0 0;
        right: calc(-50vw - 81px);
      }
    }
  }

  &__image-stripe-two {
    border-radius:  0 0 47px 0;
    position: absolute;
    width: calc((100vw - 100%) / 2 + 268px);
    height: clamp(271px, 20vw, 380px);
    bottom: -70px;
    right: 15vw;
    z-index: -1;

    @include mediaMin($normal) {
      max-height: 380px;
      min-height: 271px;
      height: 20vw;
      bottom: -70px;
      right: 15vw;
    }

    @include media($small) {
      height: 271px;
      bottom: -37px;
    }

    @include media($xlmini) {
      width: 50vw;
      left: calc(-50vw + 167px);
    }

    @include media($mini) {
      bottom: -23px;
    }

    &_is-right {
      border-radius:  0 0 0 47px;
      left: 268px;

      @include media($small) {
        height: 271px;
        bottom: -37px;
        left: 113px;
        width: 50vw;
      }

      @include media($xlmini) {
        display: none;
      }
    }
  }

  &__slider-block {
      display: flex !important;
      justify-content: center !important;
  }
}
