@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.order-summary {
  background: $catskill-white-color;
  border: 2px solid $athens-gray-color;
  box-sizing: border-box;
  border-radius: 36px;
  position: relative;

  @include mediaMinMax(1025, $normal) {
    border-radius: 1.87vw;
  }

  @include media($small) {
    border-radius: 26px;
  }

  &__title {
    font-weight: $regular;
    font-size: 1.5rem;
    line-height: 1.33;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.25vw;
      line-height: 1.1vw;
    }
  }

  &__subtotal-title {
    margin: 0 0 10px 0;
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    color: $pickled-bluewood-color;

    @include mediaMinMax(1025, $normal) {
      margin: 0 0 0.52vw 0;
      font-size: 1.04vw;
      line-height: 1.4vw;
    }
  }

  &__subtotal {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      background: $athens-gray-color;
    }
  }

  &__subtotal-info {
    display: flex;
    justify-content: space-between;
  }

  &__subtotal-info-name,
  &__subtotal-info-price {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 24px;
    color: $shark-gray-color;
    margin: 10px 0;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
      margin: 0.52vw 0;
    }
  }

  &__subtotal-info-price {
    color: $pickled-bluewood-color;

    &_discount {
      color: $summer-green-color;
    }
  }

  &__subtotal-coupon {
    display: flex;
    position: relative;
    padding: 50px 50px 20px;
    flex-direction: column;
    margin-bottom: 30px;

    @include mediaMinMax(1025, $normal) {
      padding: 2.6vw 2.6vw 1.04vw;
      margin-bottom: 1.5625vw;
    }

    @include media($small) {
      padding: 30px;
      margin-bottom: 10px;
    }

    @include media($xlmini) {
      padding: 20px;
    }
  }

  &__subtotal-coupon-title-block-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subtotal-coupon-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @include media($small) {
      justify-content: flex-start;
    }

    @include media($xlmini) {
      justify-content: space-between;
    }
  }

  &__subtotal-coupon-title-text {
    display: flex;
    align-items: center;
  }

  &__total-info {
    padding: 20px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      padding: 1.04vw 2.6vw 1.56vw 2.6vw;
    }

    @include media($small) {
      padding: 0 30px 30px 30px;
    }

    @include media($xlmini) {
      padding: 0 20px 20px 20px;
    }
  }

  &__total-checkout {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    @include mediaMinMax(1025, $normal) {
      margin-top: 1.04vw;
    }
  }

  &__checkout-btn {
    margin: 20px auto 0;

    @include mediaMinMax(1025, $normal) {
      margin: 1.04vw auto 0;
    }
  }

  &__input {
    & input {
      background: $wild-sand-color;
    }
  }

  &__coupon-status-block {
    display: flex;
    flex-wrap: nowrap;
    min-height: 32px;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    @include mediaMinMax(1025, $normal) {
      min-height: 1.66vw;
      margin-top: 0.260vw;
    }
  }

  &__coupon-status {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: $burnt-sienna-color;
    padding: 4px 8px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.729vw;
      line-height: 0.83vw;
      padding: 0.2vw 0.4vw;
    }

    &_success {
      color: $summer-green-color;
    }
  }

  &__coupon-close-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-right: 10px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.52vw;
    }

    svg {
      width: 30px;
      height: 30px;
      border-radius: 10px;

      @include mediaMinMax(1025, $normal) {
        width: 1.563vw;
        height: 1.563vw;
        border-radius: 0.521vw;
      }
    }
  }

  &__subtotal-coupon-close-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: 10px;

    @include mediaMinMax(1025, $normal) {
      margin-left: 0.521vw;
    }

    svg {
      width: 30px;
      height: 30px;

      @include mediaMinMax(1025, $normal) {
        width: 1.563vw;
        height: 1.563vw;
        border-radius: 0.521vw;
      }
    }
  }

  &__close-icon {
    width: 22px;
    height: 22px;

    @include mediaMinMax(1025, $normal) {
      width: 1.14vw;
      height: 1.14vw;
    }
  }

  &__shipping-block-wrapper {
    max-width: 700px;
    background: $wild-sand-color;
    margin-bottom: 50px;
    padding: 30px 20px;

    @include mediaMinMax(1025, $normal) {
      max-width: 36.45vw;
      margin-bottom: 2.6vw;
      padding: 1.56vw 1.04vw;
    }
  }

  &__shipping-text-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: $white-color;
    position: relative;
    border-bottom: 1px solid $athens-gray-color;
    padding-bottom: 10px;
    margin-bottom: 10px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.52vw;
      padding-bottom: 0.52vw;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__shipping-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__shipping-price {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 24px;
    color: $slate-gray-color;
    margin-right: 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
      margin-right: 0.52vw;
    }

    &_without-button {
      margin-right: 0;
    }
  }

  &__shipping-description {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 23px;
    margin-bottom: 4px;
    color: $pickled-bluewood-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
      margin-bottom: 0.2vw;
    }

    &_tiny {
      font-weight: $medium;
      font-size: 16px;
      line-height: 22px;
      color: $scarpa-flow-gray-color;
      max-width: 268px;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.83vw;
        line-height: 1.14vw;
      }
    }
  }

  &__shipping-title {
    margin-bottom: 15px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.78vw;
    }
  }

  &__input {
    display: none;
  }

  &__custom {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 1.04vw;
      min-width: 0.93vw;
      max-width: 0.93vw;
      min-height: 0.93vw;
      max-height: 0.93vw;
    }

    &:before {
      content: '';
      padding: 2px;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 50%;
      bottom: 0;
      transform: translateY(-50%);
      background: $white-color;
      border-radius: 10px;
      border: 1px solid $dark-slate-blue-color;

      @include mediaMinMax(1025, $normal) {
        width: 1.14vw;
        height: 1.14vw;
        border-radius: 0.52vw;
      }
    }
  }

  &__input:checked + &__custom {
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: calc(50% - 5px);
      left: 6px;
      background: $turquoise-color;
      border-radius: 5px;

      @include mediaMinMax(1025, $normal) {
        width: 0.52vw;
        height: 0.52vw;
        top: calc(50% - 0.26vw);
        left: 0.31vw;
        background: $turquoise-color;
        border-radius: 0.26vw;
      }
    }

    &:before {

      border-color: $dark-slate-blue-color;
    }
  }

  &__shipping-method {
    background: $white-color;
    border: 1px solid $athens-gray-color;
    box-sizing: border-box;
    border-radius: 34px;
    padding: 30px 50px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 1.77vw;
      padding: 1.56vw 2.6vw;
    }

    @include media($small) {
      padding: 30px;
      border-radius: 24px;
    }

    @include media($xlmini) {
      padding: 20px;
      border-radius: 24px;
    }
  }

  &__shipping-method-title {
    padding: 50px 50px 0 50px;
    margin-bottom: 10px;
    display: block;
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    color: $dark-slate-blue-color;

    @include mediaMinMax(1025, $normal) {
      padding: 2.6vw 2.6vw 0 2.6vw;
      margin-bottom: 0.52vw;
      font-size: 1.04vw;
      line-height: 1.4vw;
    }

    @include media($small) {
      padding: 30px 20px 0 20px;
    }
  }

  &__btn {
    margin-bottom: 15px;

    font-weight: $bold;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.78vw;
    }

    @include media($small) {
      height: 50px;
      border-radius: 25px;
    }
  }

  &__info-block {
    display: flex;
    padding: 0 50px 0 50px;
    position: relative;
    align-items: center;
    margin-bottom: 20px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.04vw;
      padding: 0 2.6vw 0 2.6vw;
    }

    @include media($small) {
      padding: 0 20px 0 20px;
    }
  }

  &__info-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;

    svg {
      width: 24px;
      height: 24px;

      @include mediaMinMax(1025, $normal) {
        width: 1.250vw;
        height: 1.250vw;
      }
    }

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.521vw;
    }
  }


  &__sub-total-wrapper {
    padding: 20px 50px 0 50px;

    @include mediaMinMax(1025, $normal) {
      padding: 1.04vw 2.6vw 0 2.6vw;
    }
    @include media($small) {
      padding: 30px 30px 20px 30px;
    }

    @include media($xlmini) {
      padding: 20px 20px 20px 20px;
    }
  }

  &__btn-coupon {
    height: 60px;
    padding: 15px 35px !important;

    @include mediaMinMax(1025, $normal) {
      height: 3.12vw;
      padding: 0.78vw 1.82vw !important;
    }
  }

  &__subtotal-coupon-title {
    justify-content: space-between;
    display: flex;
    font-weight: $bold;
    font-size: 1.125rem;
    line-height: 25px;
    color: $pickled-bluewood-color;
    margin-bottom: 12px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.3vw;
      margin-bottom: 0.62vw;
    }
  }

  &__coupon-input {
    @include media($small) {
      margin-right: 20px;
    }

    &_error {
      border-color: $burnt-sienna-color;
    }

    &_success {
      border-color: $summer-green-color;
    }
  }

  &__total-title {
    font-weight: $black;
    font-size: 1.375rem;
    line-height: 24px;
    color: $pickled-bluewood-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.14vw;
      line-height: 1.25vw;
    }
  }

  &__total-sum {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 24px;
    color: $burnt-sienna-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.25vw;
    }
  }

  &__edit-cart-wrapper {
    padding: 0 50px 30px 50px;

    @include mediaMinMax(1025, $normal) {
      padding: 0 2.6vw 1.56vw 2.6vw;
    }

    @include media($small) {
      padding: 0 30px 30px 30px;
    }

    @include media($xlmini) {
      padding: 0 20px 20px 20px;
    }
  }

  &__edit-cart-button {
    border: 2px solid $athens-gray-color;
    box-sizing: border-box;
    border-radius: 18px;
    width: 166px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0.78vw;
      width: 8.64vw;
      height: 3.12vw;
    }
  }

  &__edit-cart-icon {
    display: flex;

    @include mediaMinMax(1025, $normal) {
      svg {
        width: 1.3vw;
        height: 1.14vw;
      }
    }
  }

  &__edit-cart-text {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 23px;
    color: $scarpa-flow-gray-color;
    margin-left: 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
      margin-left: 0.52vw;
    }
  }

  &__checkout-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__coupon-input {
    max-width: 256px;

    @include mediaMinMax(1025, $normal) {
      max-width: 13.33vw;
    }
  }

  &__shipping-info-text {
    font-weight: $normal;
    font-size: 1.0625rem;
    line-height: 24px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
    }
  }

  &__spinner-block {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($black-color, 0.3);
    display: flex;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 36px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 1.87vw;
    }

    @include media($small) {
      border-radius: 26px;
    }
  }

  &__spinner {
    width: 50%;
  }

  &__no-zipcode {
    display: flex;
    justify-content: center;
  }

  &__no-zipcode-text {
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: $pickled-bluewood-color;
    font-weight: $bold;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.833vw;
    }
  }

  &__no-zipcode-icon {
    min-width: 24px;
    height: 24px;
    margin-right: 15px;

    @include mediaMinMax(1025, $normal) {
      width: 1.042vw;
      height: 1.042vw;
      margin-right: 0.781vw;
    }
  }
}
