@import 'src/styles/variables.scss';
@import "src/styles/media.scss";

.user-account {
  min-width: 400px;

  @include media($mini) {
    min-width: auto;
    width: 100%;
  }

  &__input {
    margin-bottom: 32px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__container {
    padding: 20px 0;
    margin-bottom: 10px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    align-self: flex-start;
  }

  &__text {
    font-size: 16px;
    line-height: 1.63;
    color: $charcoal-gray-color;

    .link {
      font-size: 16px;
      margin-left: 10px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__success {
    margin: 10px auto;
    color: $dark-slate-blue-color;

    @include mediaMinMax($small, $normal) {
      margin: 0.521vw auto;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__error {
    margin: 0;
    margin-left: auto;
    color: $error-red-color;
  }
}
