@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.work-time-block {
  display: flex;
  justify-content: center;
  margin-bottom: 135px;

  @include mediaMinMax($small, $normal) {
    margin-bottom: 7.03125vw;
  }

  @include media($small) {
    margin-bottom: 100px;
  }

  @include media($xsmall) {
    margin-bottom: 50px;
  }

  &__content-block {
    display: flex;
    justify-content: space-around;
    width: 1670px;
    height: 316px;
    padding: 45px 92px 48px 92px;
    background-color: $cinderella-pink-color;
    border-radius: 36px;

    @include mediaMinMax($small, $normal) {
      width: 86.9791vw;
      height: 16.4583vw;
      padding: 2.34375vw 4.7916vw 2.5vw 4.7916vw;
      border-radius: 1.875vw;
    }

    @include media($small) {
      max-width: calc(100vw - 40px);
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
    }

    @include media($xsmall) {
      padding: 30px;
    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;

    @include mediaMinMax($small, $normal) {
      width: 13.0208vw;
    }

    @include media($small) {
      width: 50%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include media($xmini) {
      width: 100%;
    }
  }

  &__title {
    font-size: 2.5625rem;
    font-weight: $extraMedium;
    letter-spacing: 1.03px;
    color: $black-color;
    margin-bottom: 27px;
    line-height: 1;

    @include mediaMinMax($small, $normal) {
      font-size: 2.1354vw;
      margin-bottom: 1.40625vw;
    }
  }

  &__item-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.9375vw;
    }

    &:last-child {
      margin-bottom: 0;

      @include mediaMinMax($small, $normal) {
        margin-bottom: 0;
      }
    }
  }

  &__subtitle {
    font-size: 1.375rem;
    color: $black-color;
    margin-bottom: 8px;
    text-align: center;
    line-height: 1.75;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    font-weight: $bold;

    @include mediaMinMax($small, $normal) {
      font-size: 1.1458vw;
      margin-bottom: 0.4166vw;
    }
  }

  &__text {
    font-size: 1.0625rem;
    line-height: 1.27;
    color: $mine-shaft-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
    }
  }

  &__link {
    font-size: 1.0625rem;
    line-height: 1.27;
    color: $mine-shaft-gray-color;
    text-decoration: underline;
    margin-top: 10px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      margin-top: 0.5208vw;
    }
  }
}
