@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.media-button {

  &__play,
  &__pause {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 3px solid $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    @include mediaMinMax(1025, $normal) {
      width: 3.22vw;
      height: 3.22vw;
    }
  }

  &__pause {
    opacity: 0;
    transition: opacity 0.5s, visibility 0s linear 0.5s;

    &:hover {
      opacity: 0.8;
      transition-delay: 0s;
    }
  }

  &__icon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mediaMinMax(1025, $normal) {
      width: 1.14vw;
      height: 1.14vw;
    }
  }
}
