@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.what-transfer-card {
  width: 280px;
  height: 360px;
  background-color: $white-color;
  padding: 0 32px;
  box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 17px 10px 17px;

  @include mediaMinMax(1025, $normal) {
    width: 14.58vw;
    height: 20.75vw;
    background-color: $white-color;
    padding: 0 1.66vw;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 1.56vw;
    margin: 0 0.88vw 0.52vw 0.88vw;
  }

  @include mediaMinMax(681, $small) {
    width: 26.04vw;
    height: 34.72vw;
    margin: 0 1.3vw 1.3vw 1.3vw;
    padding: 0 2.77vw;
  }

  @include media($xlmini) {
    margin: 0 7px 15px 7px;
    padding: 0 9px;
    width: 160px;
    height: initial;
  }

  @include media($mini) {
    margin: 0 0 15px 0;
  }

  &_isFirst {
    margin-left: 0;
  }

  &_isLast {
    margin-right: 0;

     @include media($mini) {
      min-height: 200px;
     }
  }

  &__img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 78px;

    @include mediaMinMax(1025, $normal) {
      margin-top: 3.06vw;
    }

    @include media($small) {
      margin-top: 25px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    width: 74px;
    height: 66px;
  }

  &__title {
    font-size: 1.25rem;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: $bold;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    margin-top: 50px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.25vw;
      margin-top: 2.6vw;
    }

    @include mediaMinMax(681, $small) {
      margin-top: 2.08vw;
      font-size: 2.34vw;
      line-height: 3.12vw;
    }

    @include media($small) {
      margin-top: 16px;
      font-size: 1.125rem;
      line-height: 24px;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 20px;
  }

  &__text {
    font-size: 1.0625rem;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: $medium;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    margin-top: 15px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
      margin-top: 0.78vw;
      letter-spacing: 0.052vw;
    }

    @include mediaMinMax(681, $small) {
      font-size: 1.82vw;
      line-height: 2.34vw;
      margin-top: 1.04vw;
    }

    @include media($xlmini) {
      margin-top: 8px;
      font-size: 0.875rem;
      line-height: 18px;
    }
  }

  &__link {
    text-decoration: underline;
  }

  &__link-text {
    font-size: 16px;
    font-weight: $medium;
    line-height: 24px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    text-align: center;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
    }

    @include mediaMinMax(681, $small) {
      font-size: 1.82vw;
      line-height: 2.34vw;
    }

    @include media($xlmini) {
      font-size: 0.875rem;
      line-height: 18px;
    }
  }
}
