@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.home {
  padding-top: clamp(188px, 13.4%, 200px);
  overflow: hidden;

  @include media($small) {
    padding-top: 198px;
  }

  @include media($mini) {
    padding-top: 188px;
  }
}
