@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.size-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px 34px 0 34px;
  min-width: 298px;

  @include mediaMinMax($small, $normal) {
    margin: 0.313vw 1.771vw 0 1.771vw;
    min-width: 15.521vw;
  }

  @include media($small) {
    width: calc(100vw - 40px);
    max-width: 1026px;
  }

  @include media($mini) {
    width: 100%;
    margin: 6px 0 0 0;
    overflow: hidden;
  }

  &__title {
    font-weight: $black;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;
    margin-bottom: 18px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.885vw;
      line-height: 1.406vw;
      margin-bottom: 0.938vw;
    }
  }

  &__orientation-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 2px 0;
    margin: 0 20px;
    background-color: transparent;
    border: none;

    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: $slate-gray-color;

    @include mediaMinMax($small, $normal) {
      padding: 0 0 0.104vw 0;
      margin: 0 1.042vw;
      font-size: 0.833vw;
      line-height: 1.146vw;
    }

    &_select {
      color: $pickled-bluewood-color;
      border-bottom: 2px solid $slate-gray-color;
    }
  }

  &__orientation-selector {
    display: flex;
    margin-bottom: 36px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.875vw;
    }
  }

  &__size-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media($small) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;
      width: calc(100% + 20px);
      margin-bottom: 6px;
    }

    @include media($mini) {
      margin-right: 0;
      justify-content: flex-start;
      flex-direction: row;
      overflow-x: auto;
      flex-wrap: nowrap;
      margin-left: 0px;
      margin-bottom: 20px;
      padding-bottom: 15px;
      width: 100%;

      @include custom-scroll;
    }
  }

  &__size-btn {
    width: 298px;
    height: 60px;
    opacity: 0.8;
    border: 2px solid $athens-gray-color;
    border-radius: 13px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    margin-bottom: 12px;
    color: $pickled-bluewood-color;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 23px;
    letter-spacing: 1px;

    &_select {
      opacity: 1;
      border-color: $summer-green-color;
      color: $shuttle-gray-color;
    }

    @include mediaMinMax($small, $normal) {
      width: 15.521vw;
      height: 3.125vw;
      border-radius: 0.677vw;
      padding: 1.042vw;
      margin-bottom: 0.625vw;
      font-size: 0.885vw;
      line-height: 1.198vw;
    }

    @include media($small) {
      width: 354px;
      margin: 0 10px 14px 10px;
    }

    @include media($mini) {
      width: 70px;
      min-width: 70px;
      min-height: 73px;
      height: 73px;
      padding: 0;
      margin: 0 10px 0 0;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__bullet {
    content: '';
    width: 20px;
    height: 20px;
    background-color: $iron-gray-color;
    border: 3px solid $athens-gray-color;
    margin-right: 20px;
    border-radius: 50%;

    @include mediaMinMax($small, $normal) {
      width: 1.042vw;
      height: 1.042vw;
      margin-right: 1.042vw;
      border-width: 0.156vw;
    }

    @include media($mini) {
      display: none;
    }

    &_select {
      background-color: $summer-green-color;
    }
  }

  &__size-price {
    display: none;

    @include media($mini) {
      display: block;
    }
  }

  &__price-value {
    display: block;
    font-weight: $bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
    color: $burnt-sienna-color;
    position: relative;

    &_origin {
      color: $darker-dusty-gray-color;
      font-weight: $medium !important;
      &::after {
        content: '';
        width: 110%;
        height: 1px;
        top: 50%;
        left: -5%;
        background-color: $burnt-sienna-red-color;
        position: absolute;
      }
    }
  }
}
