@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.polaroid-help-center-slider {
  width: 450px;
  height: 250px;
  width: 100%;
  box-shadow: 20px 20px 100px rgba($black-color, 0.08);
  background-color: $white-color;
  border-radius: 28px;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;


  @include mediaMinMax(1025, $normal) {
    width: 23.438vw;
    height: 13.021vw;
    border-radius: 1.458vw;
  }

  @include mediaMinMax(481, $xsmall) {
    width: 58.594vw;
    height: 32.552vw;
  }

  @include media($mini) {
    width: 306px;
    height: 208px;
  }

  .slick-arrow::before {
    display: none;
  }

  &__arrow {
    display: block;

    &_prev .svg {
      transform: rotate(180deg);
    }
  }

  &__inner-slide {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;

    @include mediaMinMax(1025, $normal) {
      height: 13.021vw;
      border-radius: 1.042vw;
    }

    @include mediaMinMax(481, $xsmall) {
      height: 32.552vw;
      border-radius: 2.604vw;
    }

    @include media($mini) {
      height: 208px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 14px;
  }

  &__arrow-btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
    background: $athens-light-gray-color;
    border-radius: 10px;

    @include mediaMinMax(1025, $normal) {
      width: 2.083vw;
      height: 2.083vw;
      border-radius: 0.521vw;
    }

    @include mediaMinMax(481, $xsmall) {
      height: 5.208vw;
      width: 5.208vw;
    }

    @include media($mini) {
      display: none;
    }

    &_prev {
      left: 0;
      margin-right: 30px;
  
      @include mediaMinMax(1025, $normal) {
        margin-right: 1.563vw;
      }
    
      @include mediaMinMax(481, $xsmall) {
        margin-right: 3.906vw;
      }
    }

    &_next {
      right: 0;
      margin-left: 30px;
  
      @include mediaMinMax(1025, $normal) {
        margin-left: 1.563vw;
      }
    
      @include mediaMinMax(481, $xsmall) {
        margin-left: 3.906vw;
      }
    }
  }

  &__arrow-icon {
    opacity: 0.5;
    width: 40px;
    height: 40px;

    @include mediaMinMax(1025, $normal) {
      width: 2.083vw;
      height: 2.083vw;
    }

    @include mediaMinMax(481, $xsmall) {
      height: 5.208vw;
      width: 5.208vw;
    }

    &_prev {
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 1;
    }
  }

  &__dot-block {
    display: flex;
    position: absolute;
    bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  &__dot-wrap {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 8px;
    outline: none;
    background-color: $white-color;
    opacity: 0.5;
    border: 1px solid rgba($black-color, 0.5);

    &:first-child {
      margin-left: 0;
    }

    &_select {
      opacity: 1;
      border: 1px solid $slate-gray-color;
    }
  }

  &__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $light-silver-green-color;

    &_select {
      background-color: $white-color;
      box-shadow: 5px 5px 42px rgba($black-color, 0.15);
    }
  }

  .slick-slide &__card {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 560px;
    max-height: 300px;
    min-width: 280px;
  }

  &__card &__inner-slide {
    display: block;
    width: 100%;
  }

  &__dots {
    bottom: -30px;
    width: 100%;
    position: absolute;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 5px 10px;
      padding: 0;
      cursor: pointer;

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 8px;
        height: 8px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 1px solid;
        border-radius: 8px;
        outline: 0;
        background: 0 0;
      }
    }

    .slick-active button {
      background: $dark-slate-blue-color;
    }
  }

  & .slick-slide {
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__block-iframe {
    width: 100%;
    height: 250px;

    @include mediaMinMax(1025, $normal) {
      height: 13.021vw;
    }

    @include mediaMinMax(481, $xsmall) {
      height: 32.552vw;
    }

    @include media($mini) {
      height: 208px;
    }
  }

  &__block-content {
    margin: 0;
  }

  &__video {
    border-radius: 30px;
  }

  &__slick-slider-width {
    width: 100%;
  }
}
