@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.local-new-banner {
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 200px;
  margin-bottom: 159px;
  justify-content: center;

  @include mediaMinMax(1025, $normal) {
    margin-bottom: 8.281vw;
  }

  @include media($xnormal) {
    padding-top: 180px;
  }

  @include media($small) {
    flex-direction: column;
    align-items: start;
    margin-bottom: 60px;
    padding-top: 222px;
  }

  &__stripe-one {
    position: absolute;
    top: 0;
    right: min(78px, 25.62vw);
    width: clamp(150px, 10.41vw, 200px);
    height: 505px;
    border-radius: 0 0 37px 37px;
    z-index: -1;

    @include mediaMin($normal) {
      right: calc((100vw - 1532px) / 2 + 298px);
    }

    @include media($xnormal) {
      width: 150px;
    }

    @include media($small) {
      right: 78px;
    }

    @include media($xlmini) {
      display: none;
    }
  }

  &__stripe-two {
    position: absolute;
    top: 211px;
    right: 0;
    width: 169px;
    height: 265px;
    background-color: $white-lilac-color;
    border-radius: 35px 0 0 35px;
    z-index: -1;

    @include media($xnormal) {
      display: none;
    }
  }

  &__stripe-three {
    position: absolute;
    bottom: -60px;
    right: 0;
    width: clamp(210px, 32.7vw, 100vw);
    height: 18vw;
    background: $paris-white-color;
    border-radius: 47px 0 0 47px;
    z-index: -1;
    max-height: 330px;
    min-height: 231px;

    @include mediaMin($normal) {
      width: calc((100vw - 1532px) / 2 + 434px);
    }

    @include media($xnormal) {
      bottom: -32px;
    }

    @include media($small) {
      width: 210px;
      bottom: 80px;
    }

    @include media($xlmini) {
      display: none;
    }
  }

  &__stripe-four {
    position: absolute;
    top: 186px;
    right: 97px;
    width: 115px;
    height: 115px;
    background-color: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.05);
    border-radius: 27px;
    z-index: -1;

    @include media($xnormal) {
      display: none;
    }
  }

  &__stripe-five {
    position: absolute;
    bottom: -110px;
    right: 130px;
    width: clamp(0px, 7.34vw, 141px);
    height: clamp(0px, 7.34vw, 141px);
    background-color: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.093);
    border-radius: 27px;
    z-index: 1;

    @include mediaMin($normal) {
      width: 141px;
      height: 141px;
    }

    @include media($xnormal) {
      display: none;
    }
  }

  &__container {
    display: flex;
    width: 1532px;
    margin: 0 auto;
    justify-content: space-between;
    z-index: 1;
    height: 100%;

    @include mediaMinMax(1025, $normal) {
      max-width: 79.79vw;
      display: flex;
      justify-content: space-between;
      height: 100%;
      margin: 0 auto;
    }

    @include media($small) {
      width: calc(100% - 40px);
    }

    @include media($xlmini) {
      justify-content: center;
      margin: 0 auto;
    }

    @include media($xmini) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 100px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small,$normal) {
      margin-right: 5.2vw;
    }

    @include media($small) {
      margin: 0 auto;
      white-space: inherit;
      width: 100%;

    }

    @include media($xmini) {
      align-items: center;
    }
  }

  &__title {
    font-weight: $black;
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    max-width: 624px;
    margin-bottom: 40px;
    margin-top: 20px;
    white-space: initial;

    @include mediaMinMax(1025, $normal) {
      font-size: 2.5vw;
      line-height: 2.5vw;
      margin-bottom: 2.08vw;
      letter-spacing: 0.052vw;
    }

    @include media($small) {
      margin-bottom: 46px;
      font-size: 2rem;
      line-height: 32px;
      letter-spacing: 0.6px;
      margin-top: 0;
      white-space: pre-wrap;
      @-moz-document url-prefix() {
        white-space: pre;
      }
    }

    @include media($xsmall) {
      font-size: 2rem;
      letter-spacing: 0.5px;
      white-space: initial;
    }

    @include media($xmini) {
      text-align: center;
      margin-bottom: 30px;

      &_wrap {
        white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

      }
    }

    &_enhance {
      @include media($xlmini) {
        max-width: 80vw;
        text-align: center;
      }
    }
  }

  &__desc {
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax(1025, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
    }

    @include media($small) {
      max-width: 80%;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      max-width: 85%;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 2.864vw;
    }

    @include media($xmini) {
      line-height: 24px;
      letter-spacing: 1px;
      text-align: center;
      font-size: 3.27vw;
    }

    @include media($mini) {
      font-size: 3.95vw;
    }

    &_small-margin {
      margin-bottom: 32px;

      @include mediaMinMax(1025, $normal) {
        margin-bottom: 1.95vw;
      }
    }

    &_desktop-art {
      @include media($xmini) {
        display: none;
      }
    }

  }

  &__slider-block {
    margin-right: 7.8vw;

    &_mobile {
      margin-bottom: 20px !important;
      @include mediaMin($xmini) {
        display: none;
      }
    }

    &_desktop {
      @include media($xmini) {
        display: none;
      }
    }

    @include mediaMin($normal) {
      margin-right: 150px;
    }

    @include media($small) {
      margin: 0 auto;
    }

    @include media($xlmini) {
      margin: 0;
    }

    &_art {
      @include media($xmini) {
        margin-bottom: 50px !important;
      }
    }
  }

  &__scroll-button {
    justify-self: flex-end;
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: $bold;
    padding: 20px 35px !important;
    border-radius: 10px;
    margin-bottom: 36px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8vw !important;
      line-height: 1.4vw !important;
      padding: 1.04vw 1.82vw !important;
      border-radius: 0.52vw !important;
      margin-bottom: 1.875vw;
    }

    @include mediaMinMax($xsmall,$small) {
      padding: 1.953vw 3.418vw !important;
      border-radius: 0.977vw;
      font-size: 1.6vw;
      line-height: 2.637vw;
    }

    @include mediaMinMax($xmini,$xsmall) {
      padding: 2.604vw 2.604vw !important;
      border-radius: 1.302vw;
      font-size: 2.214vw;
      line-height: 3.516vw;
    }

    @include media($xmini) {
      display: block;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-bottom: 30px !important;
    }
  }

  &__offline-text-title,
  &__days {
    font-size: 22px;
    font-weight: $bold;
    line-height: 28px;
    text-align: left;
    color: $black-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.45vw;
    }

    @include mediaMinMax($xmini, $small) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__days {
    margin-right: 16px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.83vw;
    }

    @include mediaMinMax($xmini, $small) {
      margin-right: 8px;
    }
  }

  &__offline-text-description {
    display: flex;
    align-items: baseline;
    &:first-child {
      margin-right: 32px;

      @include mediaMinMax(1025, $normal) {
        margin-right: 1.66vw;
      }

      @include mediaMinMax($xmini, $small) {
        margin-right: 16px;
      }
    }
  }

  &__offline-text-description-block{
    display: flex;
    align-items: baseline;

    @include media($xsmall) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__time {
    font-size: 17px;
    font-weight: $medium;
    line-height: 23px;
    text-align: center;
    color: $tuna-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
    }

    @include mediaMinMax($xmini, $small) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__offline-block {
    margin-top: 40px;

    @include mediaMinMax(1025, $normal) {
      margin-top: 2.08vw;
    }

    @include mediaMinMax($xmini, $small) {
      margin-top: 20px;
    }
  }

  &__online-block {
    margin-top: 29px;

    @include mediaMinMax(1025, $normal) {
      margin-top: 2.08vw;
    }

    @include mediaMinMax($xmini, $small) {
      margin-top: 20px;
    }
  }

  &__online-success-block {
    display: flex;
    align-items: center;
    margin-bottom: 37px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.92vw;
    }

    @include mediaMinMax($xmini, $small) {
      margin-bottom: 2.92vw;
    }
  }

  &__online-success-image {
    max-height: 48px;
    margin-right: 22px;

    @include mediaMinMax(1025, $normal) {
      max-height: 2.5vw;
      margin-right: 1.14vw;
    }

    @include mediaMinMax($xmini, $small) {
      max-height: 3.18vw;
    }
  }

  &__online-success-text {
    font-size: 42px;
    font-weight: $medium;
    line-height: 0.95;
    text-align: left;
    color: $darker-summer-green-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 2.18vw;
    }

    @include mediaMinMax($xmini, $small) {
      font-size: 3.18vw;
    }
  }

  &__online-address {
    font-size: 22px;
    font-weight: $bold;
    line-height: 1.27;
    text-align: left;
    color: $black-color;
    margin-bottom: 15px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
    }

    @include mediaMinMax($xmini, $small) {
      font-size: 2.14vw;
    }
  }

  &__contact-url {
    font-size: 22px;
    font-weight: $medium;
    line-height: 1.27;
    text-align: left;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
    }

    @include mediaMinMax($xmini, $small) {
      font-size: 2.14vw;
    }
  }
}
