@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.footer {
  background-color: $pickled-bluewood-color;
  display: flex;
  flex-direction: column;
  max-width: 1740px;
  margin: 0 clamp(20px, 4.68vw, 90px) clamp(20px, 4.68vw, 90px);
  border-radius: 44px;
  padding: 4.68vw 5.41vw;

  @include mediaMin($normal) {
    margin: 0 auto 90px;
    width: 1740px;
    border-radius: 44px;
    padding: 90px 104px;
  }

  @include media($small) {
    margin: 0 20px 90px;
  }

  @include media($xsmall) {
    margin: 0;
    padding: 40px 40px 60px;
    border-radius: 28px 28px 0 0;
  }

  @include media($xmini) {
    padding: 40px 30px 50px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include media($small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__container-social {
    position: relative;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
    transition: max-width 0.5s, margin-right 0.5s;


    @include media($small) {
      flex-direction: row;
      width: 100%;
      align-items: center;
      margin: 10px auto 20px;
      justify-content: center;
      height: auto;
    }

    @include media($xlmini) {
      flex-direction: column;
      justify-content: center;
      margin: 15px auto 0;
    }
  }

  &__logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include mediaMinMax($small, $normal) {
      height: 100%;
      justify-content: center;
    }

    @include media($small) {
      flex-direction: column;
      justify-content: center;
    }

    svg {
      @include mediaMinMax(1025, $normal) {
        width: 7.81vw;
        height: 2.96vw;
      }
    }
  }

  &__terms-block {
    margin-top: 78px;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;

    @include mediaMinMax(1025, $normal) {
      margin-top: 4.0625vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__terms-link {
    font-weight: $medium;
    font-size: 0.75rem;
    line-height: 22px;
    color: $athens-gray-color;
    text-decoration: none;
    margin-bottom: 3px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.625vw;
      line-height: 1.146vw;
      margin-bottom: 0.15625vw;
    }

    &_mob {
      margin-bottom: 0;
    }
  }

  &__terms-text {
    font-weight: $medium;
    font-size: 0.75rem;
    line-height: 17px;
    color: $gray-color;
    margin-top: 17px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.625vw;
      line-height: 0.885vw;
      margin-top: 0.156vw;
    }

    &_mob {
      margin-top: 0;
    }
  }

  &__mob-terms-block {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 648px;
    margin: 0 auto;
    margin-top: 8px;

    @include media($small) {
      display: flex;
    }

    @include media($mini) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__mob-link-block {
    display: flex;

    @include media($mini) {
      margin-bottom: 8px;
    }
  }

  &__separator {
    font-weight: $medium;
    font-size: 0.75rem;
    line-height: 17px;
    color: $athens-gray-color;
    margin: 0 5px;
  }

  &__logo-text {
    font-weight: $black;
    font-size: 1.375rem;
    line-height: 30px;
    letter-spacing: 2.81165px;
    color: $white-color;
    margin-left: 18px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.56vw;
    }

    @include media($small) {
      margin: 0;
    }
  }

  &__logo {
    margin-bottom: 15px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0;
    }

    @include media($small) {
      margin-bottom: 8px;
    }
  }

  &__social {
    color: $white-color;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;

    @include media($small) {
      align-items: center;
    }
  }

  &__social-icons {
    margin-bottom: 20px;
    height: 46px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.042vw;
      height: 2.396vw;
    }
  }

  &__icon-link {
    text-decoration: none;
    outline: none;
    margin-left: 18px;

    &:first-child {
      margin-left: 0;
    }

    @include media($xnormal) {
      margin-left: 14px;

      &:first-child {
        margin-left: 0;
      }
    }

    &:last-child {
      transition: margin-right 0.5s;
    }
  }

  &__link-title {
    font-size: 1.3125rem;
    line-height: 27px;
    font-weight: $extraMedium;
    margin-bottom: 30px;
    color: $white-color;
    text-decoration: none;

    @include mediaMinMax($small, $normal) {
      font-size: 1.09375vw;
      line-height: 1.4vw;
      margin-bottom: 1.56vw;
    }

    @include media($xsmall) {
      margin-bottom: 15px;
    }

  }

  &__link {
    font-size: 1.0625rem;
    font-weight: $medium;
    color: $white-color;
    text-decoration: none;
    margin-bottom: 10px;
    line-height: 23px;
    transition: margin-bottom 0.5s;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 0.8845vw;
      margin-bottom: 0.5208vw;
      line-height: 1.1979vw;
    }

    @include media($xsmall) {
      text-align: center;
    }

    &_second {
      @include media($mini) {
        margin-right: 15px;

         &:nth-child(3), &:nth-child(6)  {
          margin-right: 0;
        }
      }
    }

    &_desc {
      @include media($xsmall) {
        display: none;
      }
    }

    &_string {
      margin-right: 65px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__container-links {
    position: relative;
    display: flex;
    justify-content: space-between;


    @include media($small) {
      order: 3;
      width: 100%;
      margin-top: 30px;
      flex-wrap: nowrap;
      justify-content: center;
    }

    @include media($xsmall) {
      flex-direction: column;
      align-items: center;
    }

    &_mob {
      display: none;

      @include media($xsmall) {
        display: flex;
      }
    }

  }

  &__content-string {
    display: flex;

    @include media($xsmall) {

      &:last-child {
        margin-top: 30px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__email,
  &__phone {
    line-height: 1.63;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: margin-top 0.5s;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.9vw;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 19.16vw;
    height: 3.75vw;
    border-radius: 0.83vw;
    background-color: $white-color;

    @include mediaMin($normal) {
      width: 368px;
      height: 72px;
      border-radius: 16px;
    }

    @include media($small) {
      height: 60px;
      width: 335px;
      border-radius: 14px;
    }
  }

  &__input {
    height: 72px;
    border-radius: 16px;
    width: 220px;
    border: none;
    background: none;
    outline: none;
    padding-left: 37px;
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 27px;

    @include mediaMinMax($small, $normal) {
      height: 3.75vw;
      border-radius: 0.83vw;
      width: 11.45vw;
      font-size: 0.88vw;
      padding-left: 1.92vw;
      line-height: 1.4vw;
    }

    &::placeholder {
      color: $silver-color;
    }

    @include media($xnormal) {
      height: 60px;
    }

    @include media($xlmini) {
      width: 200px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 136px;
    height: 62px;
    border: none;
    border-radius: 14px;
    color: $white-color;
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 1.00044px;
    font-weight: $medium;
    text-decoration: none;
    background-color: $light-slate-gray-color;
    box-shadow: none;

    @include mediaMinMax($small, $normal) {
      width: 7.08vw;
      height: 3.22vw;
      border: none;
      border-radius: 0.72vw;
      color: $white-color;
      font-size: 0.88vw;
      line-height: 1.4vw;
    }

    @include media($small) {
      height: 50px;
      width: 124px;
      border-radius: 10px;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 1px;
    }

    &:active {
      outline: none;
      color: $dark-turquoise-color;
    }
  }

  &__container-wrap {
    display: flex;
    flex-direction: column;
    transition: width 0.5s, margin-left 0.5s, padding-bottom 0.5s;
    margin-right: 100px;

    @include mediaMinMax($small, $normal) {
      margin-right: 5.2083vw;
    }

    @include media($small) {
      margin-right: 65px;
    }

    @include media($xsmall) {
      align-items: center;

      &:last-child {
        margin-right: 0;
      }
    }

    &_second {
      @include media($mini) {
        width: 100%;
        margin-top: 20px;
      }
    }

    &_last {
      @include media($small) {
        margin-right: 0;
      }
    };
  }

  &__error,
  &__subscribe-msg-error {
    color: $error-red-color;
  }

  &__subscribe-msg {
    color: $turquoise-color;
  }

  &__subscribe-msg,
  &__subscribe-msg-error {
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;

    @include mediaMinMax(1025, $normal) {
      bottom: -1.042vw;
      font-size: 0.833vw;
    }
  }

  &__error {
    position: absolute;
    bottom: 0;
    left: 18px;
    font-size: 0.75rem;
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    transition: width 0.5s, margin-left 0.5s, padding-bottom 0.5s;

    @include media($xsmall) {
      align-items: center;
    }

    &_string {
      flex-direction: row;
    }

  }

  &__social-svg {
    width: 46px;
    height: 46px;

    @include mediaMinMax($small, $normal) {
      width: 2.39vw;
      height: 2.39vw;
    }
  }

  &__social-title {
    font-size: 21px;
    font-weight: $extraMedium;
    margin-bottom: 30px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.09375vw;
      margin-bottom: 1.5625vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__blog-link {
    font-size: 1.0625rem;
    color: $white-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
    }
  }
}
