@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.image-colorization-popup {
  max-width: 550px;
  width: 100%;
  max-height: 636px;
  background-color: $white-color;
  border-radius: 42px;
  box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
  padding: 60px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mediaMinMax($small, $normal) {
    max-width: 28.64vw;
    width: 100%;
    height: 33.125vw;
    border-radius: 2.18vw;
    padding: 3.12vw 2.6vw 2.6vw;
  }

  @include media($small) {
    max-width: 410px;
    height: 473px;
    margin: 0 20px;
    padding: 40px 20px 30px 20px;
    border-radius: 28px;
  }

  &__veil {
    background: rgba($athens-light-gray-color, 0.5);
    mix-blend-mode: normal;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 10;
    text-decoration: none;
    outline: none;

    &_full-screen {
      position: fixed;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: 130;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;

    svg {
      width: 48px;
      height: 48px;
    }

    @include mediaMinMax($xsmall, $normal) {
      width: 2.18vw;
      height: 2.18vw;
      margin-bottom: 1.04vw;

      svg {
        width: 2.18vw;
        height: 2.18vw;
      }
    }

    @include media($small) {
      width: 24px;
      height: 31px;
      margin-bottom: 15px;

      svg {
        width: 24px;
        height: 31px;
      }
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: $black;
    line-height: 33px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;
    margin-bottom: 24px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 1.25vw;
      line-height: 1.71vw;
      margin-bottom: 1.25vw;
    }

    @include media($small) {
      font-size: 1.06875rem;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 18px;
    }
  }

  &__description {
    font-size: 1.0625rem;
    font-weight: $medium;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.5px;
    color: $scarpa-flow-gray-color;
    margin-bottom: 40px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 0.88vw;
      line-height: 1.19vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.5px;
      margin-bottom: 20px;
    }
  }

  &__image {
    width: 450px;
    height: 188px;
    border-radius: 30px;
    margin-bottom: 40px;
    position: relative;

    @include mediaMinMax($small, $normal) {
      width: 23.43vw;
      height: 9.79vw;
      border-radius: 1.56vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      border-radius: 14px;
      margin-bottom: 23px;
      width: 350px;
      height: 148px;
    }

    @include media($xlmini) {
      width: 294px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
