@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.photo-art-constructor {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-user-select: none;

  @include mediaMinMax($small, $normal) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__constructor-wrap {
    position: relative;
    height: 600px;
    width: 1026px;
    -webkit-touch-callout: none;
    background: $athens-light-gray-blue-color;
    border: 2px solid $athens-gray-color;
    box-sizing: border-box;
    border-radius: 28px;
    overflow: hidden;

    @include mediaMinMax($small, $normal) {
      height: 31.250vw;
      width: 53.438vw;
      border-radius: 28px;
    }

    @include media($small) {
      width: calc(100vw - 40px);
      height:calc((100vw - 40px) / 1.71);
    }

    @include media($xsmall) {
      border-radius: 20px;
    }
  }

  &__constructor-block {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
  }

  &__block-upload {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &__block-upload-onclick {
    content: '';
    position: absolute;
    -webkit-touch-callout: none;
    outline: none;
  }

  &__photo {
    position: absolute;
    background-position: center;
    background-size: cover;
    content: ' ';
  }

  &__frame {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &__rnd-block {

    &_edit {
      z-index: 2;
      border: 1px solid $crimson-red-color;
    }
  }

  &__canvas {
    position: absolute;
    max-height: 600px;
    left: 0;
    top: 0;
    -webkit-touch-callout: none;
    @include mediaMinMax($small, $normal) {
      max-height: 31.250vw;
    }

    &_editor {
      border-radius: 5px;

      @include mediaMinMax($small, $normal) {
        border-radius: 0.260vw;
      }
    }
  }

  &__move-zone {
    z-index: 5;
    content: ' ';
    position: absolute;
    outline: none;
    cursor: move;
    -webkit-touch-callout: none;
    touch-action: none;
  }

  &__mask {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-color: $beige-light-color;
  }

  &__mat {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: 3px 6px 8px 0 rgba($black-color, 0.3) inset;
  }

  &__personalize-block {
    position: absolute;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__personalize-text {
    font-size: 24px;
    text-align: center;
    color: $white-color;
    margin-bottom: 20px;
    overflow-wrap: break-word;
  }

  &__rotate-frame-icon-block {
    content: "";
    width: 25px;
    height:16px;
    border: 2px solid $dark-slate-blue-color;
    border-radius: 2px;
    margin-right: 5px;

    &_portrait {
      transform: rotate(90deg);
    }
  }

  &__info-block {
    position: absolute;
    background-color: $turquoise-color;
    top: 0;
    width: 100%;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;

    @include mediaMinMax($small, $normal) {
      padding: 0.104vw 0;
    }

    @include media($mini) {
      font-size: 0.75rem;
    }
  }

  &__info-text {
    color: $dark-slate-blue-color;
    margin-right: 10px;
  }

  &__info-btn {
    position: absolute;
    right: 10px;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
  }

  &__info-icon {
    width: 15px;
    height: 15px;
  }

  &__shadow-block {
    position: absolute;
    box-shadow: 3px 3px 1px 0 $gray-color inset, -3px -3px 1px 0px $gray-geser-color inset;
  }

  &__photo-wrap-block {
    content: '';
    position: absolute;
    -webkit-touch-callout: none;
    outline: none;
  }

  &__toggler {
    @include mediaMinMax($small, $normal) {
      width: 3.125vw !important;
      height: 1.563vw;
      font-size: 0.833vw;
    }

    .toggler-input__wrap {
      &::before,
      &::after {

        @include mediaMinMax($small, $normal) {
          border-radius: 0.729vw;
        }
      }

      &::before {
        @include mediaMinMax($small, $normal) {
          padding: 0 0.729vw;
          height: 1.563vw;
          width: 3.125vw;
        }
      }

      &::after {
        @include mediaMinMax($small, $normal) {
          height: 1.146vw;
          line-height: 1.146vw;
          width: 1.146vw;
          top: 0.208vw;
          left: 0.208vw;
        }
      }

      &_checked {
        &::after {
          @include mediaMinMax($small, $normal) {
            left: 1.771vw;
          }
        }

        &::before {
          @include mediaMinMax($small, $normal) {
            font-size: 0.833vw;
          }
        }
      }
    }
  }

  &__toggler-input {

  }

  &__preview-block {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__orientation-buttons-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 26px;
    top: 238px;
    z-index: 3;
    padding: 12px 10px 12px 10px;
    background: $white-color;
    border-radius: 16px;


    @include mediaMinMax($small, $normal) {
      right: 1.354vw;
      top: 12.396vw;
      padding: 0.625vw 0.521vw 0.625vw 0.521vw;
      border-radius: 0.833vw;
    }

    @include media($small) {
      top: 50%;
      right: calc(100% - 94px);
      transform: translate(0, -50%);
    }
  }

  &__orientation-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    background-color: transparent;
    border: none;
    padding: 0;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.833vw;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__orientation-icon-wrap {
    margin-bottom: 4px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.208vw;
    }

    &_portrait {
      height: 44px;
      margin-bottom: 2px;

      @include mediaMinMax($small, $normal) {
        height: 2.292vw;
        margin-bottom: 0.104vw;
      }
    }
  }

  &__orientation-icon {
    width: 44px;
    height: 33px;

    @include mediaMinMax($small, $normal) {
      height: 1.719vw;
      width: 2.292vw;
    }

    &_portrait {
      transform: rotate(90deg);
    }

    &_select {
      rect {
        stroke: $summer-green-color;
      }
    }
  }

  &__orientation-text {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
      line-height: 0.833vw;
    }

    &_select {
      color: $summer-green-color;
    }
  }

  &__toggler-preview-block {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 6;
    background-color: $white-color;
    width: 84px;
    height: 74px;
    border-radius: 16px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      top: 1.250vw;
      right: 1.250vw;
      width: 4.375vw;
      height: 3.854vw;
      border-radius: 0.833vw;
      padding-top: 0.417vw;
    }

    @include media($small) {
      top: 12px;
      right: 12px;
    }

    @include media($xsmall) {
      display: none;
    }
  }

  &__preview-text-block {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    height: 19px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.104vw;
      height: 0.990vw;
    }
  }

  &__preview-text {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      line-height: 1.146vw;
    }

    @include media($mini) {
      font-weight: $bold;
      font-size: 0.75rem;
      line-height: 16px;
      color: $pickled-bluewood-color;
    }
  }

  &__preview-back-icon {
    margin-right: 9px;
    padding-bottom: 1px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.469vw;
    }
  }

  &__back-icon {
    transform: rotate(180deg);
  }

  &__crop-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 28px;
    bottom: 28px;
    z-index: 3;
    outline: none;
    background-color: transparent;
    padding: 0;
    border: none;

    @include mediaMinMax($small, $normal) {
      right: 1.458vw;
      bottom: 1.458vw;
    }

    @include media($small) {
      right: 12px;
      bottom: 12px;
    }
  }

  &__crop-icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    background-color: $white-color;
    border: 2px solid $athens-gray-color;
    border-radius: 16px;
    margin-bottom: 2px;

    @include mediaMinMax($small, $normal) {
      width: 3.438vw;
      height: 3.438vw;
      border-radius: 0.833vw;
      margin-bottom: 0.104vw;
    }

    svg {
      @include mediaMinMax($small, $normal) {
        width: 1.302vw;
        height: 1.302vw;
      }
    }
  }

  &__crop-button-text {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
      line-height: 0.833vw;
    }
  }

  &__first-vertical-line,
  &__second-vertical-line,
  &__first-horizontal-line,
  &__second-horizontal-line {
    position: absolute;
    content: '';
  }

  &__first-vertical-line {
    height: 100%;
    width: 2px;
    background-color: $athens-gray-color;
    left: calc(100% / 3 - 1px);
    top: 0;
  }

  &__second-vertical-line {
    height: 100%;
    width: 2px;
    background-color: $athens-gray-color;
    right: calc(100% / 3 - 1px);
    top: 0;
  }

  &__first-horizontal-line {
    height: 2px;
    width: 100%;
    background-color: $athens-gray-color;
    top: calc(100% / 3 - 1px);
    left: 0;
  }

  &__second-horizontal-line {
    height: 2px;
    width: 100%;
    background-color: $athens-gray-color;
    bottom: calc(100% / 3 - 1px);
    left: 0;
  }

  &__border {
    position: absolute;
    content: '';
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border-radius: 5px;
    border: 2px dashed $burnt-sienna-red-color;

    @include mediaMinMax($small, $normal) {
      border-radius: 0.260vw;
    }
  }

  &__rotate-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 28px;
    top: 28px;
    z-index: 3;
    outline: none;
    background-color: transparent;
    padding: 0;
    border: none;

    @include mediaMinMax($small, $normal) {
      right: 1.458vw;
      top: 1.458vw;
    }

    @include media($small) {
      right: 12px;
      top: 12px;
    }
  }

  &__rotate-icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: $white-color;
    border: 2px solid $athens-gray-color;
    border-radius: 16px;
    margin-bottom: 2px;

    @include mediaMinMax($small, $normal) {
      width: 3.125vw;
      height: 3.125vw;
      border-radius: 0.833vw;
      margin-bottom: 0.104vw;
    }
  }

  &__rotate-button-icon {
    width: 24px;
    height: 24px;

    @include mediaMinMax($small, $normal) {
      width: 1.250vw;
      height: 1.250vw;
    }
  }

  &__rotate-button-text {
    font-weight: $bold;
    font-size: 0.75rem;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.625vw;
      line-height: 0.833vw;
    }
  }

  &__range-wrap {
    position: absolute;
    top: 132px;
    right: 28px;

    @include mediaMinMax($small, $normal) {
      top: 6.875vw;
      right: 1.458vw;
    }

    @include media($small) {
      top: 50%;
      right: calc(100% - 72px);
      transform: translate(0, -50%);
    }
  }


  &__save-button-block {
    position: absolute;
    right: 16px;
    bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      right: 0.833vw;
      bottom: 1.458vw;
    }

    @include media($small) {
      right: 12px;
      bottom: 12px;
    }
  }

  &__done-btn,
  &__cancel-btn {
    width: 84px;
    height: 40px;
    border-radius: 10px;
    font-weight: $bold;
    font-size: 0.9375rem;
    line-height: 20px;
    outline: none;
    padding: 0;

    @include mediaMinMax($small, $normal) {
      width: 4.375vw;
      height: 2.083vw;
      border-radius: 0.521vw;
      font-size: 0.9375rem;
      line-height: 1.042vw;
    }
  }

  &__done-btn {
    background-color: $summer-green-color;
    color: $white-color;
    border: none;
    margin-bottom: 12px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.625vw;
    }
  }

  &__cancel-btn {
    background-color: $white-color;
    color: $pickled-bluewood-color;
    border: 2px solid $light-slate-gray-color;
  }

  &__select-photo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__select-photo-info-icon {
    width: 90px;
    max-width: 31%;
    margin-bottom: 14px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.729vw;
      width: 4.688vw;
    }
  }

  &__select-photo-info-text,
  &__select-info-text {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
      line-height: 0.990vw;
    }
  }

  &__select-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__select-image-block {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.781vw;
    }
  }

  &__select-info-icon {
    width: 90px;
    height: 80px;
    margin-left: 15px;

    @include mediaMinMax($small, $normal) {
      width: 4.688vw;
      height: 4.167vw;
      margin-left: 0.781vw;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__edit-mode-title {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $gull-gray-color;

    @include mediaMinMax($small, $normal) {
      top: 1.042vw;
      font-size: 1.042vw;
      line-height: 1.406vw;
    }

    @include media($xsmall) {
      display: none;
    }
  }

  &__drag-info {
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    color: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
      line-height: 0.990vw;
      bottom: 1.198vw;
    }

    @include media($xsmall) {
      display: none;
    }
  }

  &__table-background {
    position: absolute;
  }

  &__mobile-control-block {
    display: none;

    @include media($xsmall) {
      height: 209px;
      padding: 39px 10px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -20px;
      background: rgba(243, 244, 248, 0.4);
      border-radius: 0 0 20px 20px;
    }

    @include media($mini) {
      align-items: flex-end;
      height: 115px;
      padding: 10px 10px 15px 10px;
    }

    &_edit {
      height: 175px;
    }
  }

  &__preview-mobile-block-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: $white-color;
    border-radius: 12px;
    margin-right: 20px;
  }

  &__control-block {
    @include media($xsmall) {
      display: none;
    }
  }

  &__not-editor-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 6px;
    margin-bottom: 16px;
    position: relative;

    @include mediaMinMax($small, $normal) {
      padding: 0 0.313vw;
      margin-bottom: 0.833vw;
    }

    @include media($mini) {
      margin: 0;
    }
  }


  &__orientation-mobile-block {
    display: flex;
    align-items: center;
    padding-top: 5px;

    @include mediaMinMax($small, $normal) {
      padding-top: 0.260vw;
    }
  }

  &__orientation-mobile-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;

    @include mediaMinMax($small, $normal) {
      margin-right: 1.042vw;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__orientation-mobile-icon-wrap {
    margin-bottom: 7px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.365vw;
    }

    &_portrait {
      height: 40px;
      margin-bottom: 2px;

      @include mediaMinMax($small, $normal) {
        height: 2.083vw;
        margin-bottom: 0.104vw;
      }
    }
  }

  &__orientation-mobile-icon {
    &_portrait {
      transform: rotate(90deg);
    }

    &_select {
      rect {
        stroke: $summer-green-color;
      }
    }
  }

  &__orientation-mobile-text {
    font-weight: $bold;
    font-size: 0.75rem;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.625vw;
      line-height: 0.833vw;
    }

    &_select {
      color: $summer-green-color;
    }
  }

  &__mobile-crop-button {
    width: 60px;
    height: 60px;
    background-color: $white-color;
    outline: none;
    border-radius: 16px;
    border: 2px solid $athens-gray-color;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      width: 3.125vw;
      height: 3.125vw;
      border-radius: 0.833vw;
    }
  }

  &__toggler-preview-mobile-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px 12px;
    background-color: $white-color;
    border-radius: 16px;
    width: 100%;

    @include media($mini) {
      display: none;
    }

    @include mediaMinMax($small, $normal) {
      padding: 0.417vw 0.521vw 0.625vw;
      border-radius: 0.833vw;
    }
  }

  &__edit-control {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__mobile-menu-title {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: $gull-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      line-height: 1.146vw;
    }
  }


  &__smobile-save-button-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__mobile-done-btn,
  &__mobile-cancel-btn {
    width: 84px;
    height: 40px;
    border-radius: 10px;
    font-weight: $bold;
    font-size: 0.9375rem;
    line-height: 20px;
    outline: none;
    padding: 0;

    @include mediaMinMax($small, $normal) {
      width: 4.375vw;
      height: 2.083vw;
      border-radius: 0.521vw;
      font-size: 0.781vw;
      line-height: 1.042vw;
    }
  }

  &__mobile-done-btn {
    background-color: $summer-green-color;
    color: $white-color;
    border: none;
    margin-right: 12px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.625vw;
    }
  }

  &__mobile-cancel-btn {
    background-color: $white-color;
    color: $pickled-bluewood-color;
    border: 2px solid $light-slate-gray-color;
  }

  &__mobile-rotate-button {
    display: none;

    @include media($xsmall) {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 40px;
      height: 40px;
      right: 14px;
      bottom: 14px;
      border-radius: 10px;
      outline: none;
      background-color: $white-color;
      border: 1px solid $athens-gray-color;
    }
  }

  &__mobile-rotate-icon {
    width: 16px;
    height: 16px;

    @include mediaMinMax($small, $normal) {
      width: 0.833vw;
      height: 0.833vw;
    }
  }

  &__hint-button {
    position: absolute;
    bottom: 28px;
    left: 28px;
    cursor: pointer;

    @include mediaMinMax($small, $normal) {
      bottom: 1.458vw;
      left: 1.458vw;
    }
  }

  &__border-hint-icon {
    border: 2px solid $athens-gray-color;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    background-color: $white-color;
    margin-bottom: 2px;

    @include mediaMinMax($small, $normal) {
      width: 3.438vw;
      height: 3.438vw;
      border-radius: 0.833vw;
      margin-bottom: 0.104vw;
    }
  }

  &__hint-icon {
    width: 35px;
    height: 35px;
    background-color: $white-color;
    border: 2px solid $bluey-grey-color;
    border-radius: 50%;

    @include mediaMinMax($small, $normal) {
      width: 1.823vw;
      height: 1.823vw;
    }
  }

  &__hint-title {
    font-weight: $bold;
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;
    text-align: center;
    line-height: 16px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
      line-height: 0.833vw;
    }
  }

  &__personalize-wrap {
    position: absolute;
    z-index: 1;
  }

  &__personalize-data-block {
    position: absolute;
    background-position: center;
    background-size: 100% 100%;
  }

  &__personalize-text-data {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

  }

  &__pers-close-btn {
    border: none;
    padding: 0;
    z-index: 3;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    outline: none;
  }
}
