@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.reviews-image-slider {
  max-width: 1442px;

  .slick-arrow::before {
    display: none;
  }

  &__arrow {
    display: block;

    &_prev .svg {
      transform: rotate(180deg);
    }
  }

  &__inner-slide {
    width: 524px;
    height: 524px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  &__arrow-btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;

    &_prev {
      margin-right: 55px;
    }

    &_next {
      margin-left: 55px;
    }
  }

  &__arrow-icon {
    &_prev {
      transform: rotate(180deg);
    }

    &:hover {
      rect {
        fill: $athens-gray-color;
      }
    }
  }

  &__dot-block {
    display: flex;
  }

  &__dot-wrap {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 2px;
    border: none;
    outline: none;
    background-color: transparent;

    &:first-child {
      margin-left: 0;
    }

    &_select {
      border: 1px solid $athens-gray-color;
    }
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $light-silver-green-color;

    &_select {
      background-color: $rhino-blue-color;
      box-shadow: 5px 5px 42px rgba($black-color, 0.15);
    }
  }

  .slick-slide &__card {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 560px;
    max-height: 300px;
    min-width: 280px;
  }

  &__card &__inner-slide {
    display: block;
    width: 100%;
  }

  &__dots {
    bottom: -30px;
    width: 100%;
    position: absolute;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 5px 10px;
      padding: 0;
      cursor: pointer;

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 8px;
        height: 8px;
        padding: 5px;
        cursor: pointer;
        border: 1px solid;
        border-radius: 8px;
        color: $dark-slate-blue-color;
        outline: 0;
        background: 0 0;
      }
    }

    .slick-active button {
      background: $dark-slate-blue-color;
    }
  }

  &__review {
    box-shadow: none !important;
  }
}
