@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.come-visit-us-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: $black;
    font-size: 1.5rem;
    line-height: 33px;
    letter-spacing: 1px;
    color: $black-color;
    max-width: 211px;
    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      max-width: 10.9895vw;
      margin-bottom: 2.0833vw;
      font-size: 1.25vw;
      line-height: 1.71875vw;
    }

    @include media($small) {
      font-size: 1.375rem;
      line-height: 30px;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  &__info-title {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 34px;
    letter-spacing: 0.71px;
    color: $shark-gray-color;
    margin-bottom: 10px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.04166vw;
      line-height: 1.7708vw;
      margin-bottom: 0.5208vw;
    }

    @include media($small) {
      font-size: 1.125rem;
      line-height: 34px;
      letter-spacing: 0.7px;
    }
  }

  &__info-value {
    white-space: pre-line;
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8854vw;
      line-height: 1.40625vw;
      margin-bottom: 1.5625vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.8px;
    }
  }

  &__info-name {
    font-weight: $extraMedium;
  }

  &__bottom-text {
    font-size: 0.875rem;
    line-height: 27px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 36px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.7291vw;
      line-height: 1.40625vw;
      margin-bottom: 1.875vw;
    }
  }

  &__btn {
    width: 146px;
    height: 40px;
    border: 2px solid $light-slate-gray-color;
    border-radius: 8px;
    background-color: $white-color;
    font-weight: $medium;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.71px;
    color: $light-slate-gray-color;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      width: 7.6041vw;
      height: 2.0833vw;
      border-radius: 0.4166vw;
      font-size: 0.8333vw;
      line-height: 1.7708vw;
    }
  }

  &__link  {
    text-decoration: none;
    color: $light-slate-gray-color;

    &:visited {
      color: $light-slate-gray-color;
    }
  }
}
