@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.breadcrumbs {
  width: 79.8%;
  max-width: 1532px;
  padding-left: 26px;
  margin: 0 auto 0;

  @include media($small) {
    width: 100%;
  }

  &__row {
    display: flex;
    align-items: flex-start;
  }

  &__link {
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
  }

  &__text {
    margin-right: 10px;
    text-decoration: none;
    color: $gray-color;
    font-size: 0.75rem;
  }

  &__arrow {
    position: relative;
    width: 6px;
    height: 20px;

    &:before {
      content: '';
      position: absolute;
      width: 6px;
      height: 1px;
      background-color: $gray-color;
      transform: rotate(45deg);
      left: 0;
      top: 8px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 1px;
      background-color: $gray-color;
      transform: rotate(-45deg);
      left: 0;
      top: 12px;
    }
  }
}
