
@import "src/styles/variables.scss";
@import 'src/styles/media.scss';

.new-close-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: rgba($gray-light-color, 1);
  border-radius: 10px;
}
