@import "src/styles/variables.scss";
@import 'src/styles/media.scss';

.easy-scan-ship-kit-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid $athens-gray-color;
  border-radius: 28px;
  padding: 20px 15px 30px 15px;

  @include mediaMinMax(1025, $normal) {
    border-radius: 1.45vw;
    padding: 1.04vw 0.78vw 1.56vw 0.78vw;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: $black;
    font-size: 1.125rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.52vw;
      font-size: 0.93vw;
      line-height: 1.3vw;
    }
  }

  &__description {
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    margin-bottom: 30px;
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.56vw;
      font-size: 0.72vw;
      line-height: 0.98vw;
    }
  }

  &__inputs-block {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media($xsmall) {
      flex-direction: column;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 1.56vw;
    }

    &:last-child {
      margin-right: 0;

      @include media($xsmall) {
        margin-bottom: 0;
      }
    }

    @include media($xsmall) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 300px;
    margin: 0 auto 5px auto;

    @include mediaMinMax(1025, $normal) {
      height: 2.08vw;
      width: 15.62vw;
      margin: 0 auto 0.26vw auto;
    }

    &_small {
      height: 25px;

      @include mediaMinMax(1025, $normal) {
        height: 1.3vw;
      }
    }
  }

  &__name {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $pickled-bluewood-color;
    margin-bottom: 6px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
      margin-bottom: 0.31vw;
    }
  }

  &__select-block {
    width: 180px;
    height: 52px;
    align-self: flex-start;

    @include mediaMinMax(1025, $normal) {
      width: 9.37vw;
      height: 2.7vw;
    }
  }

  &__select {
    height: 52px;
    padding: 0 !important;

    @include mediaMinMax(1025, $normal) {
      height: 2.7vw;
    }

    div.custom-select__select__control {
      border-radius: 12px !important;
      border: 1px solid $iron-gray-color !important;
      background-color: $catskill-white-color !important;
      padding: 0 20px !important;

      @include mediaMinMax(1025, $normal) {
        border-radius: 0.625vw !important;
        padding: 0 1.04vw !important;
        min-height: auto !important;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__count {
    padding: 0 5px;
    min-width: 20px;

    @include mediaMinMax(1025, $normal) {
      padding: 0 0.26vw;
      min-width: 1.04vw;
    }
  }

  &__btn {
    margin: 30px auto 0 auto;
    align-self: center;
    height: 60px;
    padding: 17px 30px !important;

    @include mediaMinMax(1025, $normal) {
      margin: 1.56vw auto 0 auto;
      height: 3.12vw;
      padding: 0.88vw 1.56vw !important;
      font-size: 0.88vw !important;
      border-radius: 0.52vw !important;
      line-height: 1.4vw !important;
      letter-spacing: 1px !important;
    }
  }
}
