@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.shipping-target-block {

  &__content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background: $polar-light-blue-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    padding: 120px 0px 167px 0px;
    margin: 0 auto;

    @include mediaMinMax(1025, $normal) {
      padding: 6.25vw 0px 8.69vw 0px;
    }

    @include mediaMinMax(681, $small) {
      padding: 7.8vw 0px 6.5vw 0px;
    }

    @include media($xlmini) {
      padding: 50px 0px 30px 0px;
    }
  }

  &__input-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 67px;
    padding-top: 20px;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 3.48vw;
      padding-top: 1.04vw;
    }

    @include media($small) {
      padding-top: 0;
    }
  }

  &__card-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1468px;
    margin: 0 auto;

    @include mediaMinMax(1025, $normal) {
      width: 76.458vw;
    }

    @include mediaMinMax(681, $small) {
      width: 94.727vw;
    }

    @include media($xlmini) {
      justify-content: center;
      flex-direction: column;
      width: 260px;
    }
  }

  &__shipping-card {
    width: 460px;
    height: 583px;
    padding: 24px 22px 50px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white-color;
    box-shadow: 12px 12px 94px rgba($black-color, 0.05);
    border-radius: 34px;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      width: 23.95vw;
      height: 30.36vw;
      padding: 1.25vw 1.14vw 2.6vw 1.14vw;
      border-radius: 1.77vw;
      margin-right: 2.29vw;
    }

    @include mediaMinMax(681, $small) {
      padding: 1.82vw 1.82vw 2.34vw 1.82vw;
      border-radius: 3.64vw;
      margin-bottom: 2.6vw;
      width: 29.68vw;
      height: 45vw;
    }

    @include media($xlmini) {
      margin: 0 auto 20px;
      width: 260px;
      height:380px;
      padding: 16px;
      border-right: 28px;
    }


    &_not-available {
      background-color: $polar-light-blue-color;
      opacity: 0.7;
    }
  }

  &__input-title {
    font-weight: $bold;
    font-size: 2.5rem;
    line-height: 52px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 50px;

    @include mediaMinMax(1025, $normal) {
      font-size: 2.08vw;
      line-height: 2.7vw;
      margin-bottom: 2.6vw;
    }

    @include mediaMinMax(681, $small) {
      font-size: 3.51vw;
      line-height: 5.2vw;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 3.9vw;
    }

    @include media($xlmini) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 30px;
    }

    &_big-margin {
      margin-bottom: 98px;

      @include media($small) {
        margin-bottom: 30px;
      }
    }
  }

  &__input-text {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 27px;
    text-align: center;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 25px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.25vw;
      line-height: 1.4vw;
      margin-bottom: 1.302vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 27px;
      text-align: center;
    }
  }

  &__zip-code-input {
    width: 300px;
    height: 64px;
    background-color: $white-color;
    border: 2px solid rgba($powder-blue-color, 0.7);
    border-radius: 14px;
    text-align: center;
    vertical-align: middle;
    padding: 18px 32px;
    margin-bottom: 16px;
    font-weight: $bold;
    font-size: 1.25rem;
    letter-spacing: 3px;
    outline: none;

    &::placeholder {
      font-weight: $medium;
      font-size: 1.25rem;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.5px;
      color: $darker-cadet-blue-color;
    }
  }

  &__check-block {
    display: flex;
    align-items: center;
  }

  &__check-box {
    background: $white-color;
    border: 2px solid $light-slate-gray-color;
    box-sizing: border-box;
    border-radius: 6px;
    content: '';
    width: 24px;
    height: 24px;
    margin-right: 12px;
    position: relative;

    &_checked {
      &::after {
        width: 16px;
        height: 7px;
        content: '';
        border-left: 2px solid $pickled-bluewood-color;
        border-bottom: 2px solid $pickled-bluewood-color;
        transform: rotate(-45deg);
        position: absolute;
        left: 3px;
        bottom: 9px;

      }
    }
  }

  &__check-box-text {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $shark-gray-color;
  }

  &__bottom-text {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

  }

  &__card-title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.824367px;
    color: $shark-gray-color;
    margin-bottom: 20px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.25vw;
      line-height: 1.45vw;
      margin-bottom: 1.04vw;
    }

    @include mediaMinMax(769, $small) {
      font-size: 1.95vw;
      line-height: 2.6vw;
      order: 2;
      margin-bottom: 10px;
    }

    @include media($xsmall) {
      font-size: 0.9375rem;
      line-height: 20px;
      text-align: center;
      letter-spacing: 1px;
      order: 2;
      margin-bottom: 10px;
    }
  }

  &__card-desc {
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.6px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.45vw;
    }

    @include media($small) {
      font-size: 1.82vw;
      line-height: 3.125vw;
      text-align: center;
      letter-spacing: 0.5px;
      order: 3;
      white-space: initial;
    }

    @include media($xlmini) {
      font-size: 0.875rem;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.5px;
      order: 3;
      white-space: initial;
    }
  }

  &__card-image {
    width: 416px;
    height: 354px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
    border-radius: 21px;
    position: relative;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
    }

    @include mediaMinMax(1025, $normal) {
      width: 21.66vw;
      height: 18.43vw;
      margin-bottom: 1.56vw;
      border-radius: 1.09vw;
    }

    @include mediaMinMax(681, $small) {
      margin-bottom: 1.82vw;
      width: 26.04vw;
      height: 21.09vw;
      border-radius: 2.7vw;
    }

    @include media($xlmini) {
      width: 228px;
      height: 186px;
      margin-bottom: 16px;
    }
  }

  &__card-info-text {
    font-size: 1.5rem;
  }

  &__arrow {
    transform: rotate(90deg);
    height:15px;

    &_open {
      transform: rotate(270deg);
    }
  }

  &__status-block {
    position: absolute;
    top: -28px;
    right: -28px;
    background-color: $white-color;
    border-radius: 14px;
    padding: 10px 19px;
    display: flex;
    z-index: 1;
    display: flex;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      top: -1.45vw;
      right: -1.45vw;
      border-radius: 0.72vw;
      padding: 0.52vw 0.98vw;
    }

    @include media($small) {
      top: 0;
      right: -8px;
      border-radius: 14px;
    }

    &_available {
      background-color: $summer-green-color;
    }
  }

  &__status-test {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 28px;
    color: $light-slate-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.45vw;
    }

    &_available {
      color: $white-color;
    }
  }

  &__open-block-wrap {
    position: fixed;
    left: 190px;
    bottom: 70px;
  }

  &__open-block {
    display: flex;
    align-items: center;
    padding: 10px 28px 10px 10px;
    background: $iceberg-blue-light-color;
    border: 2px solid $powder-blue-color;
    box-shadow: 25px 25px 40px rgba($black-color, 0.03);
    border-radius: 20px;
    outline: none;
  }

  &__icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.1);
    border-radius: 14px;
    width: 54px;
    height: 54px;
    margin-right: 28px;
  }

  &__back-blue-element {
    position: absolute;
    top: -6px;
    left: -6px;
    background: $pickled-bluewood-color;
    border-radius: 20px 0;
    content: '';
    width:36px;
    height: 37px;
    z-index: -1;
  }

  &__back-green-element {
    position: absolute;
    bottom: -6px;
    right: -6px;
    background: $powder-blue-color;
    border-radius: 20px 0;
    content: '';
    width:36px;
    height: 37px;
    z-index: -1;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__button-title {
    font-weight: $black;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;
  }

  &__button-text {
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;
  }

  &__stripe-one {
    background: $powder-blue-color;
    content: '';
    border-radius: 0 37px 0 0;
    position: absolute;
    top: 336px;
    left: 0;
    width: 134px;
    height: 461px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0 1.92vw 0 0;
      top: 17.5vw;
      width: 6.97vw;
      height: 24vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__stripe-two {
    background: $iceberg-blue-light-color;
    border-radius: 0 0 0 37px;
    content: '';
    position: absolute;
    right: 600px;
    bottom: 112px;
    width: 310px;
    height: 298px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0 0 0 1.92vw;
      right: 31.25vw;
      bottom: 5.83vw;
      width: 16/14vw;
      height: 15.52vw;
    }
    @include media($small) {
      display: none;
    }
  }

  &__stripe-three {
    background: $white-color;
    border-radius: 47px 0 0 0;
    content: '';
    position: absolute;
    right: 0;
    top: 350px;
    width: 576px;
    height: 400px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      border-radius: 2.44vw 0 0 0;
      top: 18.22vw;
      width: 30vw;
      height: 20.83vw;
    }

    @include media($small) {
      display: none;
    }
  }
}
