@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';
@import 'src/styles/crope.scss';


.crop-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 7;
  background-color: rgba($black-color, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  &__popup-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;
    border-radius: 15px;
    padding: 30px 40px;
    min-width: 200px;
    min-height: 300px;
    max-width: 70vw;
    max-height: 100vh;
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -30px;
    z-index: 3;
    background: transparent;
    width: 40px;
    height: 40px;
  }

  &__crop-block {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__photo-wrap {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__crop-block {
    .ReactCrop__image {
      max-width: calc(70vw - 60px);
      max-height: calc(70vh - 60px);
    }
  }

  &__cropped-image {
    max-width: calc(70vw - 60px);
    max-height: calc(70vh - 60px);
  }

  &__btn {
    margin-top: 20px;
  }

  &__spinner-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($black-color, 0.3);
    z-index: 1;
  }

  &__spinner {
    width: 20%;

    &_invisible {
      display: none;
    }
  }
}
