@import 'src/styles/variables.scss';
@import "src/styles/media.scss";

.big-audio-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;

  &__select-icon {
    width: 30px;
    height: 30px;
  }

  &__select-btn {
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: 1;

    &_small {
      display: none;
    }
  }

  &__content-wrap {
    display: flex;
    flex-direction: column;
    width: 838px;
    height: 530px;
    align-items: center;
    align-self: center;
    margin: auto;
    outline: none;
    border: 1px solid $gray-color;
    border-radius: 4px;
    position: relative;

    &_vertical {
      flex-direction: row;
    }

    @include media($small) {
      width: 78vw;
      height: calc(78vw / 1.4);
    }

    @include media($xmini) {
      width: calc(100vw - 40px);
      height: calc((100vw - 40px) / 1.4);
    }
  }

  &__audio-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__button-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &__button-wrap {
    display: flex;
    width: 33%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &_center {
      justify-content: center;
    }

    &_end {
      justify-content: flex-end;
    }

    &_in-center {
      margin: auto;
      justify-self: center;
      align-self: center;
    }

    &_vertical {
      width: 100%;
      height: 33%;
      flex-direction: column;
    }
  }

  &__button-icon {

    .image-menu__menu-btn {
       border: none;

      .image-menu__icon-btn {
        max-height: 70%;

        polygon {
          fill: $gray-color;
        }
      }
    }
  }

  &__select-btn {
    border: none;
    background-color: transparent;
    padding: 0;
  }

  &__select-icon {
    width: 30px;
    height: 30px;

    @include media($xsmall) {
      width: 24px;
      height: 24px;
    }

    @include media($mini) {
      width: 20px;
      height: 20px;
    }
  }

  &__icon-btn {
    max-width: 21px;
    max-height: 14px;
    transform: rotate(180deg);
  }

  &__control-btn {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__audio {
    outline: none;
    width: 80%;
    border-radius: 30px;
    position: absolute;
    bottom: 14px;

    @include media($small) {
      width: calc(100% - 130px);
    }
  }

  &__image-wrap {
    content: '';
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;

  }

  &__note {
    width: 100%
  }

  &__menu-button {
    outline: none;
    border: none;
    background-color: $white-color;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 14px;
    right: 14px;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 10px;

    &_small {
      width: 30px;
      height: 30px;
      bottom: 9px;
      right: 9px;
      border-radius: 8.45px;
    }
  }

  &__zoom-button {
    outline: none;
    border: none;
    border-radius: 13px;
    background-color: rgba($athens-gray-color, 0.5);
    backdrop-filter: blur(10px);
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 14px;
    left: 14px;

    &_small {
      width: 30px;
      height: 30px;
      bottom: 9px;
      left: 9px;
      border-radius: 8.45px;
    }
  }
}
