@import "src/styles/variables.scss";
@import 'src/styles/media.scss';

$height: 30px;
$width: $height * 2;
$togglerWidth: 22px;


.toggler-input {
  display: inline-flex;
  width: $width;

  &__wrap {
    position: relative;
    outline: none;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      border-radius: 14px;

      @include mediaMinMax($small, $normal) {
        border-radius: 0.729vw;
      }
    }

    &::before {
      padding: 0 7px;
      background-color: $white-color;
      height: $height;
      width: $width;

      @include mediaMinMax($small, $normal) {
        padding: 0 0.729vw;
        height: 1.563vw;
        width: 3.125vw;
      }
    }

    &::before {
      content: attr(data-text-off);
      background-color: $gray-light-color;
      color: $charcoal-gray-color;
      font-size: 1.16px;
      text-align: right;
      vertical-align: middle;
    }

    &::after {
      content: '';
      height: 22px;
      line-height: 22px;
      width: $togglerWidth;
      top: 4px;
      left: 4px;
      position: absolute;
      transition: left 0.1s ease-out;
      background-color: $pickled-bluewood-color;
      text-align: center;
      color: $white-color;

      @include mediaMinMax($small, $normal) {
        height: 1.146vw;
        line-height: 1.146vw;
        width: 1.146vw;
        top: 0.208vw;
        left: 0.208vw;
      }
    }

    &_checked {
      &::after {
        content: '';
        left: $width - $togglerWidth - 4;
        background-color: $powder-blue-color;

        @include mediaMinMax($small, $normal) {
          left: 1.771vw;
        }
      }

      &::before {
        content: attr(data-text-on);
        background-color: $pickled-bluewood-color;
        color: $white-color;
        font-size: 16px;
        text-align: left;
        vertical-align: middle;

        @include mediaMinMax($small, $normal) {
          font-size: 0.833vw;
        }
      }
    }

    &_disabled {
      &::after {
        background-color: $white-color;
      }

      &:checked::after {
        background-color: desaturate(lighten($pickled-bluewood-color, 15), 35);
      }
    }

  }


  input[type=checkbox] {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    border: none;

    &:focus {
      outline: 0;
    }

    &:not(:disabled) {
      cursor: pointer;
    }

    &::before,
    &::after {
      content: "";
      display: inline-block;
      border-radius: 14px;
    }

    &::before {
      padding: 2px 7px;
      background-color: $white-color;
      height: $height;
      width: $width;
    }

    &::before {
      content: attr(data-text-off);
      background-color: $gray-light-color;
      color: $charcoal-gray-color;
      font-size: 1.16px;
      text-align: right;
      vertical-align: middle;
    }

    &::after {
      content: '';
      height: 22px;
      line-height: 22px;
      width: $togglerWidth;
      top: 4px;
      left: 4px;
      position: absolute;
      transition: left 0.1s ease-out;
      background-color: $powder-blue-color;
      text-align: center;
      color: $white-color;
    }

    &:checked::after {
      content: '';
      left: $width - $togglerWidth - 4;
      background-color: $powder-blue-color;
    }

    &:checked::before {
      content: attr(data-text-on);
      background-color: $pickled-bluewood-color;
      color: $white-color;
      font-size: 16px;
      text-align: left;
      vertical-align: middle;
    }

    &:disabled {
      &::after {
        background-color: $white-color;
      }

      &:checked::after {
        background-color: desaturate(lighten($pickled-bluewood-color, 15), 35);
      }
    }
  }
}
