@import "src/styles/variables.scss";
@import "src/styles/media.scss";
@import "src/styles/mixins.scss";

.button-drop-down {

  &__container {
    width: 100%;
    min-width: 100%;
    max-width: 180px;
  }

  &__container-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8.45px;

    @include mediaMinMax(1025, $normal) {
      border-radius: 0.440vw;
    }

    @include media($mini) {
      border-radius: 7px;
    }
  }

  &__text-close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    font-weight: $extraBold;
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    color: $pickled-bluewood-color;
    opacity: 0.7;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.729vw;
    }

    @include media($small) {
      font-size: 0.625rem;
    }
  }

  &__ellipsis {
    color: $dusty-gray-color;
    font-size: 0.875rem;
    font-weight: $extraBold;
    line-height: 1px;
    margin-bottom: 6px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.729vw;
      margin-bottom: 0.313vw;
    }
  }

  &__text-prints {
    font-style: normal;
    font-size: 0.875rem;
    font-weight: $extraMedium;
    line-height: 19px;
    padding-right: 10px;
    letter-spacing: 0.5px;
    color: $black-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
      line-height: 0.990vw;
    }

    @include media($small) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__icon {
    @include mediaMinMax(1025, $normal) {
      width: 1.250vw;
      height: 1.042vw;
    }

    @include media($small) {
      height: 14px;
    }
  }

  &__drop-down-list {
    position: absolute;
    background: $white-color;
    border: 1px solid rgba($shark-gray-color, 0.1);
    border-radius: 13px;
    padding: 14px 0 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    max-width: 200px;
    width: 100%;
    padding-top: 40px;
    top: 80%;

    @include mediaMinMax(1025, $normal) {
      width: 10.417vw;
      padding: 0.729vw 0 0.521vw;
      padding-top: 2.083vw;
    }
    
    @include media($xmini) {
      max-width: 180px;
    }

    &_padding {
      padding-top: 60px;

      @include mediaMinMax(1025, $normal) {
        padding-top: 3.125vw;
      }
    }

    &_hidden {
      display: none;
    }
  }

  &__big-count-enhance {
      @include media($xsmall) {
        margin: 0 5px !important;
        display: flex !important;
        &:after,
        &:before {
          height: 11px !important;
        }
      }
  }

  &__input_min-size {
    min-width: 40px;
    padding: 0;
    width: 46px !important;

    @include mediaMinMax(1025, $normal) {
      min-width: 2.083vw;
      width: 30% !important;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
  }

  &__display {
    font-size: 0.75rem;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.625vw;
    }

    &_name {
      font-weight: $extraBold;
    }

    &_price {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left: auto;
      max-width: 80px;
      margin-bottom: 10px;

      @include mediaMinMax(1025, $normal) {
        max-width: 4.167vw;
      }
    }
  }

  &__package-container {
    position: absolute;
    overflow-y: auto;
    background: $white-color;
    border: 1px solid rgba($shark-gray-color, 0.1);
    border-radius: 0 0 13px 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    padding: 2px 16px;
    max-width: 200px;
    width: 100%;
    padding-top: 40px;

    @include custom-scroll;

    @include mediaMinMax(1025, $normal) {
      width: 10.417vw;
      padding: 0.104vw 0.833vw;
      padding-top: 2.083vw;
      border-radius: 0.677vw;
    }

    &_padding {
      padding-top: 60px;

      @include mediaMinMax(1025, $normal) {
        padding-top: 3.125vw;
      }

      @include media($xmini) {
        max-width: 180px;
      }
    }

    @include media($xmini) {
      max-width: 180px;
    }


    &_hidden {
      display: none;
    }

    &_mini {
      width: 144px;

      @include mediaMinMax(1025, $normal) {
        padding-top: 3.125vw;
      }
    }

    &_hidden {
      display: none;
    }
  }

  &__is-package {
    font-weight: $extraBold;
    font-size: 0.75rem;
    line-height: 16px;
    letter-spacing: 0.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;

    &:last-child {
      border-top: 1px solid $athens-gray-color;
    }

    @include mediaMinMax($small, $normal) {
      font-size: 0.625vw;
      padding: 0.521vw 0;
    }
  }

  &__is-package-icon {
    width: 13px;
    height: 13px;
    margin-right: 2px;

    @include mediaMinMax(1025, $normal) {
      width: 0.677vw;
      height: 0.677vw;
    }
  }

  &__default-is-package-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid $summer-green-color;
    margin-right: 2px;

    @include mediaMinMax(1025, $normal) {
      width: 0.625vw;
      height: 0.625vw;
      border: 0.104vw solid $summer-green-color;
    }
  }

  &__is-package-text {
    font-size: 0.75rem;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.625vw;
    }
  }

  &__container-icons {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon-check {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 12px;
    height: 12px;

    @include mediaMinMax(1025, $normal) {
      top: -0.260vw;
      right: -0.260vw;
      width: 0.625vw;
      height: 0.625vw;
    }
  }

  &__option-container {
    padding: 10px 27px 14px;

    @include mediaMinMax(1025, $normal) {
      padding: 0.521vw 1.406vw 0.729vw;
    }

    // @include media($small) {
    //   width: 180px;
    // }

    &:not(:last-child) {
      border-bottom: 1px solid rgba($shark-gray-color, 0.1);

      @include mediaMinMax(1025, $normal) {
        border-bottom: 0.052vw solid rgba($shark-gray-color, 0.1);
      }
    }
  }

  &__arrow {
    position: relative;
    width: 8px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_revert {
      transform: rotate(180deg);
    }

    &_back {
      transform: rotate(90deg);
    }

    &:after {
      content: '';
      width: 8px;
      height: 2px;
      position: absolute;
      border-radius: 1px;
      background-color: $shuttle-gray-color;
      transform: rotate(45deg);
      left: -5px;
      top: 45%;
    }
    &:before {
      content: '';
      width: 8px;
      height: 2px;
      position: absolute;
      border-radius: 1px;
      background-color: $shuttle-gray-color;
      transform: rotate(-45deg);
      top: 45%;
    }
  }
}
