@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.happiness-guarantee-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 70px;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;

  @include mediaMinMax(1025, $normal) {
    padding-top: 5.208vw;
    padding-bottom: 3.646vw;
    max-width: 70.833vw;
  }

  @include media($small) {
    max-width: 728px;
  }

  @include media($xsmall) {
    flex-direction: column;
    max-width: 335px;
    padding-top: 50px;
    padding-bottom: 35px;
    align-items: center;
  }


  &__mobile-title-block {
    display: none;

    @include media($xsmall) {
      display: block;
      margin-bottom: 34px;
      text-align: center;
    }
  }

  &__mobile-title {
    font-weight: $black;
    font-size: 1.6875rem;
    line-height: 40px;
    letter-spacing: 0.6px;
    color: $shark-gray-color;
    text-align: center;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

  }

  &__image-block {
    width: 568px;
    height: 568px;
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.03);
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      width: 29.583vw;
      height: 29.583vw;
      border-radius: 4.167vw;
    }

    @include media($small) {
      width: 340px;
      height: 340px;
      border-radius: 48px;
      box-shadow: 22px 22px 48px rgba($black-color, 0.03);
    }

    @include media($xsmall) {
      width: 335px;
      height: 335px;
      margin-bottom: 48px;
    }
  }

  &__image {
    width: 325px;
    height: 353px;

    @include mediaMinMax(1025, $normal) {
      width: 16.927vw;
      height: 18.385vw;
    }

    @include media($small) {
      width: 195px;
      height: 211px;
    }
  }

  &__text-block {
    width: 612px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      width: 31.875vw;
    }

    @include media($small) {
      width: 295px;
    }

    @include media($xsmall) {
      width: 322px;
    }
  }

  &__title {
    max-width: 476px;
    font-weight: $black;
    font-size: 2.5rem;
    line-height: 48px;
    color: $shark-gray-color;
    margin-bottom: 30px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax(1025, $normal) {
      max-width: 24.792vw;
      font-size: 2.083vw;
      line-height: 2.5vw;
      margin-bottom: 1.563vw;
    }

    @include media($small) {
      max-width: 285px;
      font-size: 1.6875rem;
      line-height: 40px;
      margin-bottom: 20px;
    }

    @include media($xsmall) {
      display: none;
    }
  }

  &__text {
    font-weight: $medium;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.146vw;
      line-height: 1.45vw;
    }

    @include media($small) {
      white-space: normal;
      font-size: 1.0625rem;
      line-height: 26px;
      max-width: 274px;
    }

    @include media($xsmall) {
      max-width: 322px;
      text-align: center;
    }
  }

  &__background-logo {
    position: absolute;
    top: -193px;
    left: 108px;
    width: 267px;
    height: 590px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      top: -10.052vw;
      left: 5.625vw;
      width: 13.906vw;
      height: 30.729vw;
    }

    @include media($small) {
      top: -98px;
      left: 47px;
      width: 178px;
      height: 392px;
    }

    @include media($xsmall) {
      top: -127px;
      left: 212px;
      width: 116px;
      height: 252px;
    }
  }

  &__stripe-one {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;
    left: -160px;
    background: $white-color;
    box-shadow: 25px 25px 60px rgba($black-color, 0.06);
    border-radius: 22px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      width: 5.208vw;
      height: 5.208vw;
      top: -5.208vw;
      left: -8.333vw;
      border-radius: 1.146vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__stripe-two {
    width: 201px;
    height: 287px;
    position: absolute;
    top: -60px;
    right: -50px;
    background: $athens-gray-color;
    opacity: 0.2;
    border-radius: 0 30px 0 0;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      width: 10.469vw;
      height: 14.948vw;
      top: -3.125vw;
      right: -2.604vw;
    }

    @include media($small) {
      width: 189px;
      height: 223px;
      top: -50px;
      right: -40px;
      border-radius: 0 37px 0 0;
    }

    @include media($xsmall) {
      width: calc(50vw - 31px);
      height: 223px;
      top: -24px;
      right: calc(50% - 31px - 50vw);
      border-radius: 0;
    }
  }

  &__stripe-three {
    position: absolute;
    width: calc(50vw - 159px);
    height: 252px;
    right: 253px;
    bottom: -70px;
    background: $polar-light-blue-color;
    border-radius: 0 0 50px 0;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      width: 31vw;
      height: 13.125vw;
      right: 13.177vw;
      bottom: -3.646vw;
      border-radius: 0 0 2.604vw 0;
    }

    @include media($small) {
      width: calc(50vw - 365px);
      height: 271px;
      right: 135px;
      bottom: -60px;
      border-radius: 0 0 28px 0;
    }

    @include media($xsmall) {
      width: calc(50vw + 100% - 133px);
      height: 271px;
      right: 133px;
      bottom: -24px;
      border-radius: 0 0 28px 0;
    }
  }

  &__stripe-four {
    position: absolute;
    width: calc(50vw - 50% + 30px);
    height: 190px;
    left: calc(100% - 30px);
    top: 70px;
    background: $citrine-white-color;
    border-radius: 0 0 0 50px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      width: calc(50vw - 50% + 1.563vw);
      height: 9.896vw;
      left: calc(100% - 1.563vw);
      border-radius: 0 0 0 2.604vw;
    }

    @include media($small) {
      width: calc(50vw - 50% + 67px);
      height: 75px;
      left: calc(100% - 67px);
      top: 20px;
      border-radius: 0 0 0 50px;
    }

    @include media($xsmall) {
      display: none;
    }
  }

  &__stripe-five {
    position: absolute;
    width: 141px;
    height: 141px;
    right: 101px;
    bottom: 70px;
    background: $white-color;
    box-shadow: 25px 25px 60px rgba($black-color, 0.05);
    border-radius: 27px;
    z-index: -1;

    @include mediaMinMax(1025, $normal) {
      width: 7.344vw;
      height: 7.344vw;
      right: 5.260vw;
      bottom: 3.646vw;
      border-radius: 1.406vw;
    }

    @include media($small) {
      display: none;
    }
  }
}
