@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

.download-progress-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &__content-block {
    max-width: 70vw;
    width: 500px;
    height: 244px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    position: relative;
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 40px;
    border: 1px solid;

    @include media($small) {
      max-width: 80vw;
      padding: 30px 20px 25px;
    }

    @include media($mini) {
      width: 293px;
      height: 180px;
      max-width: none;
    }
  }

  &__title {
    font-weight: $black;
    font-size: 1.375rem;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include media($mini) {
      font-size: 16px;
      width: 225px;
    }
  }

  &__progress-wrap {
    margin: 25px 0 10px 0;
    width: 400px;
    border: 1px solid $turquoise-color;
    border-radius: 16px;
    min-height: 30px;
    overflow: hidden;

    @include media($small) {
      max-width: 80%;
    }

    @include media($mini) {
      margin: 0;
      width: 220px;
      min-height: 15px;
    }
  }

  &__progress-block {
    content: '';
    height: 30px;
    background-color: $turquoise-color;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;

    @include media($mini) {
      height: 16px;
    }

    &::after {
      content:'';
      top:0;
	    transform:translateX(100%);
	    width:100%;
	    height: 30px;
	    position: absolute;
	    z-index:1;
      -webkit-animation: slide 1.5s infinite;
      -moz-animation: slide 1.5s infinite;
      animation: slide 1.5s infinite;

      background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */

      @include media($mini) {
        height: 16px;
      }
    }

    &_loaded {
      &::after {
        display: none;
      }
    }
  }

  &__select-icon {
    width: 100px;
    height: 100px;

    @include media($mini) {
      width: 40px;
      height: 40px;
    }
  }

  &__text {
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.5px;
    color: $scarpa-flow-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include media($mini) {
      font-size: 0.625rem;
    }
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    top: -32px;
    right: -32px;
    z-index: 3;
    background-color: $athens-gray-color;
    border-radius: 10px;
    width: 30px;
    height: 30px;

      svg {
        width: 30px;
        height: 30px;
      }
  }

  &__close-icon {
    @include media($mini) {
      width: 15px;
      height: 15px;
    }
  }

  &__download-speed {
    @include media($mini) {
      font-size: 3.08vw;
    }
  }
}
