@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.new-info-widget-card {

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__img-container {
    width: 568px;
    height: 568px;
    border-radius: 28px;
    padding: 22px;
    box-shadow: 20px 20px 100px rgba($black-color, 0.08);
    background-color: $white-color;
    margin: 0 0 0 90px;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      width: 29.583vw;
      height: 29.583vw;
      border-radius: 1.458vw;
      padding: 1.146vw;
      margin: 0 0 0 4.688vw;
    }

    @include media($small) {
      width: 334px;
      height: 334px;
      padding: 18px 18px 92px 18px;
      margin: 0;
    }

    @include media($xlmini) {
      margin: 0 !important;
    }

    &_is-right {
      margin: 0 clamp(41px, 5.72vw, 110px) 0 0;

      @include mediaMin($normal) {
        margin: 0 110px 0 0;
      }

      @include media($xnormal) {
        margin: 0 41px 0 0;
      }

      @include media($xsmall) {
        margin: 0;
      }
    }

    &_mission-page-img-container {
      margin: 30px 100px 0 0;
      height: auto;

      @include media($small) {
        margin: 30px 0 0 0;
      }
    }
  }

  &__image-stripe-one {
    position: absolute;
    max-width: 360px;
    min-width: 254px;
    width: 19vw;
    max-height: 625px;
    min-height: 223px;
    height: 31vw;
    z-index: -1;
    border-radius:  0 37px 0 0;
    top: -11%;
    right: -17%;

    @include media($small) {
      width: 254px;
      height: 223px;
      right: -43px;
      left: auto;
      top: -30px;
    }

    @include media($xlmini) {
      width: calc(50vw + 124px);
      height: 317px;
      top: -30px;
      left: auto;
      border-radius: 0 0 0 0;
      right: calc(-50vw - 81px);
    }

     &_is-right {
      border-radius:  37px 0 0 0;
      left: -17%;

      @include media($small) {
        width: 224px;
        height: 223px;
        left: -43px;
        top: -30px;
      }

      @include media($xlmini) {
        width: calc(50vw + 124px);
        height: 317px;
        top: -30px;
        left: auto;
        border-radius: 0 0 0 0;
        right: calc(-50vw - 81px);
      }
    }
  }

  &__image-stripe-two {
    border-radius:  0 0 47px 0;
    position: absolute;
    width: calc((100vw - 100%) / 2 + 268px);
    height: clamp(271px, 20vw, 380px);
    bottom: -70px;
    right: 15vw;
    z-index: -1;

    @include mediaMin($normal) {
      max-height: 380px;
      min-height: 271px;
      height: 20vw;
      bottom: -70px;
      right: 15vw;
    }

    @include media($small) {
      height: 271px;
      bottom: -37px;
    }

    @include media($xlmini) {
      width: 50vw;
      left: calc(-50vw + 167px);
    }

    @include media($mini) {
      bottom: -23px;
    }

    &_is-right {
      border-radius:  0 0 0 47px;
      left: 268px;

      @include media($small) {
        height: 271px;
        bottom: -37px;
        left: 113px;
        width: 100vw;
      }

      @include media($xlmini) {
        display: none;
      }
    }

    &_mission {
      bottom: -100px;

      @include media($small) {
        bottom: -37px;
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-position 0.5s, background-size 0.5s;
    border-radius: 16px;
    background-size: cover;
    object-fit: cover;
    object-position: center;

    @include media($small) {
      width: 298px;
      height: 298px;
    }

    &_mission {
      margin-bottom: 100px;

      @include media($small) {
        margin-bottom: 0;
      }
    }
  }
}
