@import 'src/styles/variables.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/media.scss';

.enhance-slider {
  width: 100%;

  &__wrapper {
    display: flex;
  }

  &__slide {
    width: 400px;

    @include mediaMinMax(1025, $normal) {
      width: 20.833vw !important;
    }
  }

  &__image {
    position: relative;
    width: 400px;
    height: 522px;

    @include mediaMinMax(1025, $normal) {
      width: 20.833vw !important;
      height: 27.188vw !important;
    }
  }
  
}