@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.personalize-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba($black-color, 0.1);
  border-radius: 4px;
  background-color: $white-color;
  overflow: hidden;
  z-index: 9;

  &__image-block {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__frame {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__nameplate-block {
    position: absolute;
  }

  &__nameplate {
    height:100px;
    display: block;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    font-size: 1.125rem;
    line-height: 1.3;
    text-align: center;
    color: transparent;
    background-color: rgba($black-color, 0.7);
    text-shadow: 0 2px 3px rgba($white-color,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

  &__close-btn {
    border: none;
    padding: 0;
    z-index: 3;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    outline: none;
  }

  &__button-block {
    width: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
  }
}
