@import 'src/styles/variables.scss';
@import "src/styles/media.scss";
@import "src/styles/mixins.scss";

.my-cloud-photo-art {
  display: none;

  &_isComponentShow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slider-wrapper {
    position: relative;
    padding: 10px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;

    @include mediaMinMax($small, $normal) {
      padding: 0.5208vw 0 0 0;
      margin-bottom: 1.302vw;
    }

    @include media($small) {
      margin-left: 20px;
      margin-right: 20px;
      width: calc(100% - 40px);
      margin-bottom: 20px;
    }
  }

  &__border-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px 20px 60px;
    box-shadow: 0 30px 80px rgba($black-color, 0.03);
    border-radius: 0 0 40px 40px;

    @include mediaMinMax($small, $normal) {
      padding: 2.0833vw 3.125vw 1.0416vw 3.125vw;
      border-radius: 0 0 2.0833vw 2.0833vw;
    }

    @include media($small) {
      padding: 0 20px 20px;
    }

    @include media($xsmall) {
      padding: 0 0 20px;
      box-shadow: none;
    }
  }

  &__select-photo-btn {
    font-size: 1.25rem;
    height: auto;
    font-weight: $light;
    width: 125px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $dark-slate-blue-color;
    text-decoration: none;
    background: transparent;
    border: none;
    box-shadow: none;

    &:hover {
      outline: none;
    }

    &:active {
      outline: none;
    }

    &:disabled {
      opacity: 0.6;
      border: none;
      box-shadow: none;
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      width: 6.51vw;
      margin: 0 0.52vw;
    }
  }

  &__upload-icon-wrap {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $turquoise-color;
    border: 1px solid $dark-slate-blue-color;
    border-radius: 50%;
    margin-bottom: 10px;

    @include mediaMinMax(1025, $normal) {
      width: 3.12vw;
      height: 3.12vw;
      margin-bottom: 0.52vw;
    }
  }

  &__upload-icon {
    width: 45px;
    height: 47px;
    transform: rotate(90deg);

    @include mediaMinMax(1025, $normal) {
      width: 2.34vw;
      height: 2.44vw;
    }
  }

  &__photo-slider {
    width: 100%;

    @include mediaMinMax(1025, $normal) {
      padding: 0 5vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__photo-wrap {
    display: flex;
    width: calc(100% - 80px);
    overflow-x: auto;
    justify-content: flex-start;

    @include custom-scroll;
  }

  div#{&__photo-card-image} {
    width: 135px;
    height: 122px;
    margin: 0px;
  }

  &__photo-block {
    display: none;

    @include media($small) {
      display: flex;
      width: 100%;
      overflow-x: scroll;
      justify-content: flex-start;

      @include custom-scroll;
    }
  }

  &__photo-list {
    display: flex;
    margin-bottom: 10px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.5208vw;
    }
  }

  &__photo-card {
    margin-right: 10px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.5208vw;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  div#{&__photo-card-image} {
    @include mediaMinMax($small, $normal) {
      width: 11.4583vw;
      height: 10.4166vw;
    }
  }

  &__photo-card {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__top-block {
    position: relative;
    padding: 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white-color;
    max-width: 542px;
    margin: 0 auto;

    @include mediaMinMax(1025, $normal) {
      padding: 1.56vw 0 0;
      max-width: 28.3vw;
    }
  }

  &__material-selector-title {
    color: $black-color;
    font-size: 2.5rem;
    margin-bottom: 25px;
    font-weight: $black;
    text-align: center;
    line-height: 56px;
    letter-spacing: 1px;

    @include mediaMinMax(1025, $normal) {
      font-size: 2.08vw;
      margin-bottom: 1.3vw;
      line-height: 2.91vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      letter-spacing: 0.6px;
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

      margin-bottom: 20px;
    }
  }

  &__info-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 64px;
  }

  &__start_text {
    margin: 0 10px;
    color: $scarpa-flow-gray-color;
    font-size: 1.0625rem;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    font-weight: $medium;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;

    @include mediaMinMax(1025, $normal) {
      margin: 0 0.52vw;
      font-size: 0.88vw;
      line-height: 1.19vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.8px;
    }
  }

  &__select-photo-btn {
    margin-bottom: 60px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 3.12vw;
    }
  }

  &__slider-text-block {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      padding-top: 1.04vw;
    }
  }

  &__text-left-icon {
    margin-right: 20px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 1.04vw;
    }
  }

  &__text-right-icon {
    margin-left: 20px;

    @include mediaMinMax(1025, $normal) {
      margin-left: 1.04vw;
    }
  }

  &__slider-bottom-text {
    font-weight: $medium;
    font-size: 0.9375rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: $darker-cadet-blue-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.78rem;
      line-height: 1.04vw;
    }

    @include media($small) {
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    }
  }

  &__back-icon-wrap {
    margin-right: 9px;
    padding-bottom: 1px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.46vw;

      svg {
        width: 0.46vw;
        height: 1.04vw;
      }
    }
  }

  &__back-icon {
    transform: rotate(180deg);
  }

  &__back-text {
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $light-slate-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
    }
  }

  &__back-btn {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    position: absolute;
    left: 90px;
    top: -39px;

    @include mediaMinMax(1025, $normal) {
      left: 4.68vw;
      top: -2.03vw;
    }

    @include media($small) {
      top: 40px;
      left: 0;
    }

    @include media($xmini) {
      top: -54px;
      left: auto;
      right: 0;
    }
  }

  &__collection-photo-art {
    background-color: transparent;
  }
}
