@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.universal-slider {
  padding: 0 20px;

  &_new-arrows {
    padding: 0 96px;
  }

  .slick-arrow::before {
    display: none;
  }

  .slick-track {
    display: flex;
  }

  &__arrow.slick-arrow.slick-disabled {
    display: none !important;
  }

  &__new-arrow.slick-arrow.slick-disabled {
    rect {
      fill: $darker-cadet-blue-color;
      opacity: 0.5;
    }
  }

  &__arrow {
    width: 12px !important;
    height: 22px !important;
    display: block;
    top: 0 !important;
    bottom: 0 !important;
    margin: auto;
    transform: none !important;

    &_prev {
      left: -25px !important;
    }

    &_next {
      right: -25px !important;
    }
  }

  &__new-arrow {
    width: 40px !important;
    height: 40px !important;
    display: block;
    top: 0 !important;
    bottom: 0 !important;
    margin: auto;
    transform: none !important;

    rect {
      fill: $pickled-bluewood-color;
    }

    &_prev {
      left: -96px !important;
    }

    &_next {
      right: -96px !important;
    }
  }

  &__svg {
    &_prev {
      transform: rotate(180deg);
    }
  }

  &__new-svg {
    width: 40px;
    height: 40px;

    &_prev {
      transform: rotate(180deg);
    }
  }

  &__slide {
    margin-left: auto;
    margin-right: auto;
  }

  &__slide-wrapper {
    outline: none;
  }
}
