@import 'src/styles/variables.scss';
@import "src/styles/media.scss";

.new-my-files-filter-block {

  &__buttons-block {
    @include media($small) {
      display: none;
    }
  }

  &__filter-button {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    color: $gull-gray-color;
    background: none;
    border: none;
    outline: none;
    margin-left: 30px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
      margin-left: 1.56vw;
    }

    &:first-child {
      margin-left: 0;
    }

    &_active {
      color: $pickled-bluewood-color;
      padding-bottom: 5px;
      border-bottom: 2px solid $pickled-bluewood-color;

      @include mediaMinMax(1025, $normal) {
        padding-bottom: 0.26vw;
      }
    }
  }

  &__select-view {
    display: none;

    @include media($small) {
      display: block;
    }
  }

  &__select {
    &_without-line {

    }

    &_without-line div div {
      padding: 0;
    }
  }
}
