@import "src/styles/variables.scss";

.hint {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  outline: none;
  cursor: pointer;

  &__container {
    display: none;
    position: absolute;
    padding: 20px;
    width: 250px;
    top: 11px;
    left: 40px;
    z-index: 500;

    transform: translateY(-50%);

    background-color: $wild-sand-color;
    box-shadow: 5px 5px 10px 2px rgba($black-color, 0.1);
    border-radius: 5px;

    &:before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      top: 50%;
      left: 0;

      transform: translate(-50%, -50%) rotate(45deg);
      background-color: $wild-sand-color;
    }
  }

  &__text {
    margin: 0;
    text-align: left;
    color: $dark-slate-blue-color;
  }

  &:hover {
    .hint__container {
      display: block;
    }
  }
}
