@import "src/styles/variables.scss";
@import 'src/styles/media.scss';

.live-help {

  &__main-wrapper {
    display: flex;

    @include media($small) {
      flex-direction: column;
      min-height: 550px;
    }
  }

  &__back-button{
    cursor: pointer;
    font-weight: $medium;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: $slate-gray-color;
    display: flex;
    align-items: center;
    margin-top: 15px;

    .icon{
      transform: rotate(180deg);
      height: 16px;
      width: 8px;
    }

    &-text{
      margin-left: 15px;
    }

    @include mediaMin($small){
      display: none
    }
  }

  &__timetable {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.45vw;
    font-weight: $black;
    margin-top: 1.56vw;
    letter-spacing: 1px;

    @include mediaMin($normal) {
      font-size: 1.75rem;
      margin-top: 30px;
    }

    @include media($small) {
      font-size: 1.75rem;
    }
  }

  &__text {
    font-size: 0.78vw;
    font-weight: $medium;
    line-height: 1.25vw;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    margin: 0.52vw 0 0.78vw;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMin($normal) {
      font-size: 0.9375rem;
      font-weight: $medium;
      line-height: 24px;
      margin: 10px 0 15px;
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    }

    @include mediaMin($xnormal) {
      font-size: 0.9375rem;
    }

    @include media($small) {
      font-size: 0.9375rem;
      font-weight: $medium;
      line-height: 24px;
      margin: 10px 0 15px;
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    }
  }

  &__phone-date-wrapper {
    font-size: 0.875rem;
    line-height: 25px;
    letter-spacing: 1px;

    @include mediaMinMax($small, $normal){
      font-size: 0.729vw;
      line-height: 1.302vw;
    }
  }

  &__phone-date-title {
    font-weight: $extraBold;
  }

  &__help-types {
    display: flex;
    margin: 30px 0 35px 6.25vw;

    @include mediaMin($normal) {
      margin: 30px 0 35px 109px;
    }

    @include mediaMinMax(1025, $normal) {
      margin: 1.56vw 0 1.82vw 6.25vw;
    }

    @include media($small) {
      min-width: 100%;
      flex-direction: column;
      margin: 25px 0 0;
      align-items: flex-start;
    }
  }

  &__status-indicator {
    display: flex;
    align-items: center;

    @include media($small) {
      order: 1;
      margin-left: 20px;
      margin-right: auto;
    }
  }

  &__indicator {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $darker-summer-green-color;
    margin-right: 6px;
    position: relative;
    top: 1px;

    &_unavailable {
      background-color: $burnt-sienna-color;
    }
  }

  &__status-text {
    font-weight: $medium;
    letter-spacing: 1px;
    font-size: 16px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.833vw;
    }

    &_unavailable {
      opacity: 0.5;
    }
  }

  &__help-image-container {
    margin: 6px 0 16px 0;
    width: 8.85vw;
    height: 6.61vw;
    border-radius: 1.04vw;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    outline: none;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }

    &_red{
      background-color: $fair-pink-color;
    }

    &_green{
      background-color: $porcelain-gray-color;
    }

    &_yellow{
      background-color: $citrine-white-color;
    }

    &_blue{
      background-color: $polar-light-blue-color;
    }

    @include mediaMin($normal) {
      margin: 6px 0 16px 0;
      max-width: 170px;
      max-height: 127px;
      width: 9vw;
      height: 9vw;
      border-radius: 20px;
    }

    @include media($normal) {
      margin-bottom: 0.833vw;
    }

    @include media($small) {
      margin: 0;
      order: 1;
      max-height: 70px;
      max-width: 70px;
      min-height: 100%;
      border: none;
      width: 60px;
      height: 60px;
      border-radius: 10px;
    }

  }

  &__help-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
    max-width: 90px;
    max-height: 90px;

    @include mediaMinMax(1025, $normal) {
      max-width: 4.68vw;
      max-height: 4.68vw;
    }


    @include media($small) {
     max-width: 32px;
     max-height: 32px;
    }


  }

  &__help-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0;

    @include media($xnormal) {
      margin: 0 5px 0;
    }

    @include media($small) {
      margin: 5px 0 0;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: flex-end;
    }

  }

  &__help-btn {
    display: flex;
    align-items: center;
    height: 42px;
    border: none;
    background-color: $white-color;
    color: $light-slate-gray-color;
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }

    @include media($small) {
      border: 2px solid $athens-gray-color;
      border-radius: 10px;
    }
  }

  &__help-img-btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: $charcoal-gray-color;
    margin: 0 16px;

    @include mediaMinMax($small, $normal){
      margin: 0 0.833vw;
      font-size: 0.833vw;
    }

    &:visited {
      color: $charcoal-gray-color;
    }
  }

  &__btn-text {
    margin: 0 16px;
    color: $charcoal-gray-color;

    @include mediaMinMax($small, $normal){
      margin: 0 0.833vw;
      font-size: 0.833vw;
    }
  }

  &__phone-email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    border: 2px solid $gray-light-color;
    border-radius: 10px;
    padding: 0 16px;
    max-width: 170px;
  }
}
