@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.our-customers {
  background-color: $cinderella-pink-color;
  width: 1670px;
  height: 260px;
  margin: 0 auto;
  border-radius: 40px;
  display: flex;
  padding: 50px 80px;
  margin-top: 120px;
  margin-bottom: 60px;

  @include mediaMinMax(1025, $normal) {
    height: 13.542vw;
    border-radius: 2.083vw;
    width: 86.979vw;
    margin-top: 6.250vw;
    margin-bottom: 3.125vw;
    padding: 2.604vw 4.167vw;
  }

  @include media($small) {
    margin-bottom: 80px;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 60px;
    background-color: $white-color;
    margin-top: 0px;
  }

  @include media($xmini) {
    padding: 0 20px;
  }

  &__one-block {
    height: 100%;
    width: 50%;
    margin-right: 80px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 4.167vw;
    }

    @include media($small) {
      width: 100%;
      margin: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
    }
  }

  &__two-block {
    height: 100%;
    width: 50%;
    margin-left: 80px;

    @include mediaMinMax(1025, $normal) {
      margin-left: 4.167vw;
    }

    @include media($small) {
      width: 100%;
      margin: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    height: 50%;
    font-size: 38px;
    color: $black-color;
    font-weight: $bold;
    text-align: center;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.979vw;
    }

    @include media($small) {
      margin-bottom: 20px;
      font-size: 30px;
    }

    @include media($xmini) {
      font-size: 32px;
    }

    @include media($mini) {
      font-size: 28px;
    }
  }

  &__block-image {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__partners-icon {
    width: 100px;
    height: 40px;
    object-fit: contain;

    @include mediaMinMax(1025, $normal) {
      width: 5.208vw;
      height: 2.083vw;
    }

    @include media($small) {
      width: initial !important;
      height: initial !important;
      min-height: initial !important;
      min-width: initial !important;
      position: relative;
      object-fit: contain;
      object-position: center;
      max-width: 80px !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      max-height: 40px !important;
      height: 30px !important;
      width: 60px !important;
    }

    @include media($mini) {
      height: 25px !important;
      width: 50px !important;
    }

    &_square {
      width: 70px;
      height: 40px;

      @include mediaMinMax(1025, $normal) {
        width: 3.64vw;
        height: 2.083vw;
      }
    }

    &_rectangle {
      width: 130px;
      height: 70px;

      @include mediaMinMax(1025, $normal) {
        width: 6.77vw;
        height: 3.64vw;
      }
    }
  }

  &__partners-icon-wrap {

    @include media($small) {
      max-height: 40px !important;
      max-width: 80px !important;
      margin-right: 20px !important;
      margin-right: 0 !important;
      height: 30px !important;
      width: 60px !important
    }

    @include media($mini) {
      margin-right: 0 !important;
      height: 25px !important;
      width: 50px !important;
    }

    &_margin {
      margin-right: 20px;

      @include mediaMinMax(1025, $normal) {
        margin-right: 1.042vw;
      }
    }
  }
}
