@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.ask-question-form {
  display: flex;

  &__row {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    min-height: 50px;
    margin-bottom: 20px;

    @include mediaMinMax($small, $normal) {
      min-height: 2.6041vw;
      margin-bottom: 1.0416vw;
    }
  }

  &__input {
    margin-left: 30px;
    flex: 1;

    @include mediaMinMax($small, $normal) {
      margin-left: 1.5625vw;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__select {
    flex: 1;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.25vw;
      min-height: 3.125vw;
      width: 15.5208vw;
    }

    .photo-art-selector__title {
      margin: 0;
    }

    .photo-art-selector__container {
      @include mediaMinMax($small, $normal) {
        border-radius: 0.7291vw;
      }
    }

    .photo-art-selector__selector {
      @include mediaMinMax($small, $normal) {
        height: 3.125vw;
        border-radius: 0.7291vw;
      }
    }

    .custom-select__select__placeholder {
      font-weight: $medium;
      font-size: 1.0625rem;
      line-height: 32px;
      letter-spacing: 1px;
      color: $pickled-bluewood-color;

      @include mediaMinMax($small, $normal) {
        font-size: 0.8854vw;
        line-height: 1.6666vw;
      }
    }
  }

  &__btn {
    font-weight: $bold;
    width: 131px;
    height: 60px;
    background-color: $pickled-bluewood-color;
    border-radius: 10px;
    border: none;
    font-size: 1.0625rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5625px;
    color: $white-color;

    @include mediaMinMax($small, $normal) {
      width: 6,8229vw;
      height: 3.125vw;
      border-radius: 0.5208vw;
      font-size: 0.8854vw;
      line-height: 1.40625vw;
    }
  }

  &__textarea {
    height: 220px;
    max-width: 430px;
    min-width: 388px;
    width: 50vw;

    @include mediaMinMax($small, $normal) {
      height: 11.4583vw;
      max-width: 22.39vw;
      min-width: 20.20vw;
    }

    @include media($small) {
      min-width: 320px;
    }

    @include media($xlmini) {
      width: 40vw;
    }

    & .custom-textarea__input {
      height: 100%;
      background-color: $catskill-white-color;
      border: 1px solid $gray-light-color;
      box-sizing: border-box;
      border-radius: 14px;
      letter-spacing: 1px;
      padding: 14px 20px;

      @include mediaMinMax($small, $normal) {
        border-radius: 0.7291vw;
        padding: 0.7291vw 1.0416vw;
      }

      &::placeholder {
        font-size: 1.0625rem;
        color: $darker-cadet-blue-color;
        font-weight: $medium;
        line-height: 32px;
        letter-spacing: 1px;

        @include mediaMinMax($small, $normal) {
          font-size: 0.8854vw;
          line-height: 1.6666vw;
        }
      }
    }
  }

  &__submit-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    @include media($xlmini) {
      align-items: center;
    }
  }

  &__submit-msg {
    color: $turquoise-color;
  }

  &__main-wrapper {
    display: flex;
    flex-wrap: wrap;

    @include media($small) {
      justify-content: center;
    }

    @include media($xlmini) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  &__inputs-wrapper {
    margin-right: 20px;
    min-width: 320px;
    width: 320px;

    @include mediaMinMax($small, $normal) {
      margin-right: 1.0416vw;
      min-width: 16.6666vw;
      width: 16.6666vw;
    }

    @include media($xlmini) {
      margin: 0;
    }
  }

  &__text-area-btn-wrapper {
    position: relative;
  }

  &__form {
    width: 100%;
  }
}
