@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @include media($small) {
    margin-bottom: 70px;
    margin-top: 70px;
  }

  &__container {
    margin-top: clamp(0px, 3.125%, 60px);
    padding-left: 20px;
    padding-right: 20px;
    transition: margin-top 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include media($small) {
      margin-top: 0;
    }
  }

  &__container,
  &__info {
    text-align: center;
  }

  &__title {
    color: $black-color;
    letter-spacing: 1px;
    font-weight: $black;
    margin-bottom: 67px;
    font-size: 2.5rem;
    width: 100%;
    line-height: 56px;
    white-space: pre-wrap;
    
    @include mediaMinMax(1025, $normal) {
      margin-bottom: 3.48vw;
      font-size: 2.08vw;
      width: 100%;
      line-height: 2.91vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
    }

    @include media($xlmini) {
      white-space: initial;
    }

    &_with-subtitle {
      margin-bottom: 25px;

      @include mediaMinMax(1025, $normal) {
        margin-bottom: 1.3vw;
      }

      @include media($small) {
        margin-bottom: 20px;
      }
    }
  }

  &__sub-title {
    margin: 0;
    margin-bottom: 50px;
    white-space: pre-wrap;
    transition: margin-bottom 0.5s;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      margin-bottom: 2.6vw;
    }

    @include media($small) {
      font-size: 16px !important;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      text-align: center;
      margin-bottom: 30px;
      white-space: initial;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      line-height: 3.51vw;
      font-size: 2.864vw;
      text-align: center;
    }

    @include media($xlmini) {
      white-space: initial;
      line-height: 24px;
      letter-spacing: 1px;
      font-size: 2.79vw;
      max-width: 80%;
    }

    @include media($xmini) {
      font-size: 3.27vw;
    }

    @include media($mini) {
      font-size: 3.95vw;
    }

    &_digitize,
    &_enhance {
      max-width: 1200px;

      @include mediaMinMax($small, $normal) {
        max-width: 62vw;
      }

      @include media($small) {
        max-width: 90vw;
      }
    }
  }

  &__card-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 60px 0 0 0;
    max-width: 1536px;
    width: 80vw;
    flex-wrap: wrap;

    @include mediaMinMax(1025, $normal) {
      padding: 3.125vw 0 0 0;
      justify-content: center;
    }

    @include media($small) {
      flex-wrap: wrap;
      justify-content: center;
      padding: 32px 20px 0 20px;
      width: 100%;
    }
  }

  &__info {
    padding: 60px 18%;
    font-size: 1.5rem;
    line-height: 1.33;
    color: $dark-slate-blue-color;
    background-color: $turquoise-color;
  }

  &__background-stripe {
    position: absolute;
    top: 0;
    left: -70px;
    width: calc((100vw - 100%) / 2 + 100% + 104px);
    height: 12.96vw;
    z-index: -1;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-top-left-radius: clamp(28px, 2.29vw, 44px);
    border-bottom-left-radius: clamp(28px, 2.29vw, 44px);

    @include mediaMin($normal) {
      height: 249px;
      border-top-left-radius: 44px;
      border-bottom-left-radius: 44px;
    }

    @include media($small) {
      left: 20px;
      height: calc(100% - 63px);
      border-top-left-radius: 28px;
      border-bottom-left-radius: 28px;
    }

    @include media($mini) {
      left: 0;
      height: calc(100% - 63px);
    }
  }
}
