@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.photo-image-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  outline: none;

  &__content-wrap {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 130px;
    align-items: center;
    align-self: center;
    margin: auto;
    outline: none;
    margin-left: 10px !important;
    margin-right: 10px !important;
    border: 1px solid $gray-color;
    border-radius: 4px;
    position: relative;

    &_vertical {
      flex-direction: row;
    }

    @include media($xsmall) {
      width: 105px;
      height: 105px;
    }
  }

  &__title {
    max-width: 180px;
    text-align: center;
    display: block;

    @include media($xsmall) {
      width: 150px;
    }

    @include media($mini) {
      width: 130px;
    }
  }

  &__image-wrapper {
    position: relative;
    outline: none;
    border:none;
  }

  &__image-wrap {
    position: relative;
    background-color: $mercury-gray-color;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    max-height: 65%;
    height: 100%;
    min-height: 65%;

    &_vertical {
      max-width: 65%;
      min-width: 65%;
      max-height: 100%;
      min-height: 100%;
    }
  }

  &__veil {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__photo {
    object-fit: cover;
    object-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;

    &_invisible {
      display: none;
    }
  }

  &__spinner {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &_invisible {
      display: none;
    }
  }

  &__select-icon {
    width: 30px;
    height: 30px;

    @include media($xsmall) {
      width: 24px;
      height: 24px;
    }

    @include media($mini) {
      width: 20px;
      height: 20px;
    }
  }

  &__select-btn {
    border: none;
    background-color: transparent;
    padding: 0;
  }

  &__delete-icon {
    width: 28px;
    height: 28px;

    @include media($xsmall) {
      width: 24px;
      height: 24px;
    }

    @include media($mini) {
      width: 15px;
      height: 15px;
    }
  }

  &__delete-btn {
    border: none;
    background-color: transparent;
    padding: 0;

    @include media($xsmall) {
      right: 0;
    }
  }

  &__image {
    border-radius: 3px;
    max-width: 100px;
    max-height: 100px;
  }

  &__control-btn {
    border: none;
    background-color: transparent;
    padding: 0;

    svg {
      width: 30px;
      height: 30px;

      @include media($xsmall) {
        width: 24px;
        height: 24px;
      }

      @include media($mini) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__button-icon {
    @include media($xsmall) {
      width: 15px;
      height: 15px;
    }

    @include media($mini) {
      width: 13px;
      height: 13px;
    }
  }

  &__button-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 35%;
    min-height: 35%;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;

    &_vertical {
      flex-direction: column;
      max-height: none;
      min-height: none;
      height: 100%;
      width: 35%;
      margin-bottom: 0;
    }
  }

  &__button-wrap {
    display: flex;
    width: 33%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &_center {
      justify-content: center;
    }

    &_end {
      justify-content: flex-end;
    }

    &_in-center {
      margin: auto;
      justify-self: center;
      align-self: center;
    }

    &_vertical {
      width: 100%;
      height: 33%;
      flex-direction: column;
    }
  }

  &__button-icon {

    .image-menu__menu-btn {
       border: none;

      .image-menu__icon-btn {
        max-height: 70%;

        polygon {
          fill: $gray-color;
        }
      }
    }
  }

  &__icon-btn {
    max-width: 21px;
    max-height: 14px;
    transform: rotate(180deg);
  }

  &__list-btn {
    background-color: transparent;
    color: $white-color;
    white-space: nowrap;
    border: none;
    font-size: 16px;
    font-weight: $medium;
  }

  &__list-link {
    outline: none;
    text-decoration: none;
  }

  &__button-block-veil {
    background-color: transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
