@import "src/styles/variables.scss";
@import 'src/styles/media.scss';

.new-photo-art-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  &_center {
    justify-content: center;

    @include media($small) {
      flex-direction: column;
      align-items: center;
    }
  }

  @include mediaMinMax($small, $normal) {
    margin: 0 auto;
  }


  @include media($xsmall) {
    max-width: calc(100vw - 40px);
    margin: 0 auto;
  }

  &__btn {
    height: 60px !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;

    @include mediaMinMax($small, $normal) {
      padding-top: 0.729vw !important;
      padding-bottom: 0.729vw !important;
      padding-left: 1.198vw !important;
      height: 3.125vw !important;
      font-size: 0.885vw !important;
      line-height: 1.406vw !important;
      border-radius: 0.521vw !important;
    }

    @include media($mini) {
      font-size: 16px !important;
      height: 54px !important;
      width: 135px !important;
      padding: 0 !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }

  &__price-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &_hide-in-mobile {
      @include media($small) {
        display: none;
      }
    }

    &_mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0 !important;

    }

    @include media($xsmall) {
      margin-bottom: 30px;
      width: auto;
      order: 1;
    }
  }

  &__price-title {
    font-size: 1.5rem;
    font-weight: $bold;
    color: $shark-gray-color;
    line-height: 27px;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 22px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.250vw;
      line-height: 1.406vw;
      margin-left: 0.521vw;
      margin-right: 1.146vw;
    }

    @include media($mini) {
      font-size: 1.25rem;
      margin-right: 5px;
    }
  }

  &__price-value-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2px;
    left: 165px;

    &_mobile {
      flex-direction: row;
      position: initial;
    }

    @include media($normal) {
      left: 8.65vw;
    }

    @include media($small) {
      position: initial;
      flex-direction: row;
    }

    @include media($xsmall) {
      position: initial;
      flex-direction: row;
    }
  }

  &__price-value {
    font-weight: $black;
    font-size: 1.375rem;
    line-height: 30px;
    text-align: right;
    letter-spacing: 1px;
    color: $burnt-sienna-red-color;
    position: relative;

    &_mobile {
      margin-left: 10px;
    }

    &_origin {
      color: $darker-dusty-gray-color;
      font-weight: $medium !important;
      &::after {
        content: '';
        width: 110%;
        height: 1px;
        top: 50%;
        left: -5%;
        background-color: $burnt-sienna-red-color;
        position: absolute;
      }
    }

    @include mediaMinMax($small, $normal) {
      font-size: 1.146vw;
      line-height: 1.563vw;
    }

    @include media($small) {
      margin-right: 15px;
    }

    @include media($mini) {
      margin-right: 5px;
      font-size: 1.375rem;
    }
  }

  &__price-icon {
    @include mediaMinMax($small, $normal) {
      width: 1.563vw;
      height: 1.563vw;
    }
  }

  &__price-container,
  &__project-wrap,
  &__button-wrap {
    width: 33%;

    @include media($xsmall) {
      width: auto;
    }
  }

  &__project-wrap {
    display: flex;
    justify-content: center;

    &_hide-in-mobile {
      @include media($small) {
        display: none;
      }
    }

    @include media($small) {
      margin-bottom: 30px;
      order: 1;

      @include mediaMinMax($small, $normal) {
        margin-bottom: 1.563vw;
      }
    }

    @include media($xsmall) {
      width: auto;
    }

    @include media($mini) {
      margin: 30px 0 30px 0;
    }
  }

  &__button-wrap {
    display: flex;
    justify-content: flex-end;

    &_hide-in-mobile {
      @include media($small) {
        display: none;
      }
    }

    @include media($small) {
      align-items: flex-end;
      margin-left: auto;
      width: auto;
      order: 3;
    }
  }

  &__project-edit,
  &__project-create {
    padding: 5px 5px 5px 20px;
    background: $catskill-white-color;
    border: 1px solid $athens-gray-color;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mediaMinMax($small, $normal) {
      padding: 0.260vw 0.260vw 0.260vw 1.042vw;
      border-radius: 0.833vw;
    }
  }

  &__project-create {
    position: relative;
    @include mediaMinMax($small, $normal) {
      padding: 0.3267vw 0.3267vw 0.3267vw 1.3071vw;
      border-radius: 1.0457vw;
    }
  }

  &__project-edit {
    margin-bottom: 24px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.250vw;
    }
  }

  &__project-edit-btn,
  &__project-create-btn {
    width: 126px;
    height: 50px;
    background: $summer-green-color;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: $white-color;
    border: none;
    outline: none;

    @include mediaMinMax($small, $normal) {
      width: 6.563vw;
      height: 2.604vw;
      border-radius: 0.625vw;
      font-size: 0.833vw;
      line-height: 1.146vw;
    }
  }

  &__project-edit-btn {
    width: 93px;

    @include mediaMinMax($small, $normal) {
      width: 4.844vw;
    }
  }

  &__project-create-btn {
    @include mediaMinMax($small, $normal) {
      width: 6.563vw;
      height: 2.604vw;
      border-radius: 0.625vw;
      font-size: 0.833vw;
      line-height: 1.146vw;
    }
  }

  &__project-create-input {
    background-color: transparent;
    border: none;
    font-weight: $medium;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    color: $pickled-bluewood-color;
    outline: none;

    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      line-height: 1.146vw;
    }

    &::placeholder {
      font-weight: $medium;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 1px;
      color: $darker-cadet-blue-color;

      @include mediaMinMax($small, $normal) {
        font-size: 0.833vw;
        line-height: 1.146vw;
      }
    }
  }

  &__create-new-project-btn {
    outline: none;
    background-color: transparent;
    padding: 0;
    border: none;
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    text-decoration: underline;
    color: $pickled-bluewood-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
      line-height: 0.990vw;
    }
  }

  &__project-name-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__first-string {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 0.521vw;
    }
  }

  &__project-name {
    font-weight: $bold;
    font-size: 1.375rem;
    line-height: 30px;
    text-align: right;
    color: $shark-gray-color;
    margin-right: 12px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.146vw;
      line-height: 1.563vw;
      margin-right: 0.625vw;
    }
  }

  &__edit-icon {
    @include mediaMinMax($small, $normal) {
      width: 0.938vw;
      height: 0.938vw;
    }
  }

  &__edit-name-btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
  }

  &__second-string {
    display: flex;
    align-items: center;
  }

  &__check-icon {
    margin-right: 8px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.417vw;
      width: 0.729vw;
      height: 0.729vw;
    }
  }

  &__info-text {
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: $gull-gray-color;

    @include mediaMinMax($small, $normal) {
      font-size: 0.729vw;
      line-height: 0.990vw;
    }
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -32px;
    right: -32px;
    z-index: 3;
    background-color: $athens-gray-color;
    border-radius: 10px;

    @include mediaMinMax($small, $normal) {
      width: 1.667vw;
      height: 1.667vw;
      top: -1.667vw;
      right: -1.667vw;
    }
  }

  &__close-icon {
    width: 16px;
    height: 16px;
    margin-left: -1px;
    margin-bottom: -3px;

    @include mediaMinMax($small, $normal) {
      width: 1.042vw;
      height: 1.042vw;
      margin-left: -1px;
      margin-bottom: -0.156vw;
    }
  }

  &__popup-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 77, 97, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  &__popup-block {
    background-color: $white-color;
    box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
    border-radius: 24px;
    padding: 30px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.250vw;
      padding: 1.563vw 2.083vw;
    }
  }

  &__popup-title {
    font-weight: $bold;
    font-size: 1.5rem;
    line-height: 27px;
    color: $shark-gray-color;
    margin-bottom: 20px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.250vw;
      line-height: 1.406vw;
      margin-bottom: 1.042vw;
    }
  }

  &__help-wrap {
    position: absolute;
    left: 0;
    bottom: calc(100% + 60px);

    &_hide-in-mobile {
      @include media($small) {
        display: none;
      }
    }

    @include mediaMinMax($small, $normal) {
      bottom: calc(100% + 3.125vw);
    }

    @include media($small) {
      position: static;
      bottom: none;
      left: none;
      order: 2;
    }
  }

  &__login-info {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: $scarpa-flow-gray-color;
    white-space: nowrap;

    @include mediaMinMax($small, $normal) {
      top: calc(100% + 0.260vw);
      font-size: 0.625vw;
    }
  }

  &__btn {
    height: 60px;
    padding-top: 14px;
    padding-bottom: 14px;

    @include mediaMinMax($small, $normal) {
      padding-top: 0.729vw;
      padding-bottom: 0.729vw;
      padding-left: 1.198vw;
      height: 3.125vw;
      font-size: 0.885vw;
      line-height: 1.406vw;
      border-radius: 0.521vw;
    }

    @include media($mini) {
      font-size: 16px;
      height: 54px;
      width: 135px;
      padding: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
