@import 'src/styles/variables.scss';
@import "src/styles/media.scss";

.my-files-header {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__first-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 90px;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      padding-bottom: 4.68vw;
    }

    @include media($small) {
      flex-wrap: wrap;
      padding-bottom: 24px;
      flex-direction: column;
    }
  }

  &__logo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 33%;

    @include media($small) {
      display: none;
    }
  }

  &__logo-text {
    font-weight: $extraBold;
    font-size: 0.875rem;
    line-height: 21px;
    color: $dark-slate-blue-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.72vw;
      line-height: 1.09vw;
    }
  }

  &__icon {
    object-fit: cover;
    object-position: center center;
    width: 130px;

    @include mediaMinMax(1025, $normal) {
      width: 6.77vw;
    }
  }


  &__filter-text,
  &__view-type-text,
  &__select-title,
  &__counter-title {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 21px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.09vw;
    }
  }

  &__all-select-btn {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 21px;
    color: $slate-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.09vw;
    }
  }

  &__none-select-btn {
    border: none;
    padding: 0;
    background-color: transparent;
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 21px;
    color: rgba($slate-gray-color, 0.5);

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.09vw;
    }
  }

  &__count {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 21px;
    color: $summer-green-color;
    margin-right: 8px;
    margin-left: 40px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.88vw;
      line-height: 1.09vw;
      margin-right: 0.41vw;
      margin-left: 2.083vw;
    }
  }

  &__filter-text {
    margin-right: 10px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.52vw;
    }
  }

  &__filter-button {
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height:35px;
    margin-right: 15px;
    background-color: $mako-gray-color;
    border-radius: 3px;

    @include mediaMinMax(1025, $normal) {
      width: 1.82vw;
      height:1.82vw;
      margin-right: 0.78vw;
      border-radius: 0.15vw;
    }

    &:last-child {
      margin-right: 0;
    }

    &_active {
      background-color: $dark-slate-blue-color;
    }
  }

  &__button-icon {
    width: 30px;
    max-height: 30px;

    @include mediaMinMax(1025, $normal) {
      width: 1.56vw;
      max-height:1.56vw;
    }

  }

  &__view-type-block {
    display: flex;
    align-items: center;

    &_left {
      align-items: flex-start;
    }
  }

  &__view-type-text {
    margin-right: 15px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 0.78vw;
    }
  }

  &__view-type-button {
    margin-left: 15px;
    background-color: transparent;
    border: none;
    padding: 0;

    @include mediaMinMax(1025, $normal) {
      margin-left: 0.78vw;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__function-block {
    display: flex;

    @include media($xlmini) {
      width: 100%;
      justify-content: center;
    }
  }

  &__btn {
    padding: 0 30px;
    margin-right: 20px;
    min-width:145px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.9375rem;
    font-weight: $extraMedium;
    color: $turquoise-color;
    text-decoration: none;

    border-radius: 20px;
    background: $dark-slate-blue-color;
    border: solid 3px transparent;
    box-shadow: none;

    @include mediaMinMax(1025, $normal) {
      padding: 0 1.56vw;
      margin-right: 1.04vw;
      min-width:7.55vw;
      height: 2.08vw;
      font-size: 0.78vw;
      border-radius: 1.04vw;
    }

    @include media($small) {
      margin: 10px auto 0 auto;
    }

    &:hover {
      box-shadow: 0 5px 10px 0 rgba($black-color, 0.2);
      border: solid 3px $turquoise-color;
    }

    &:active {
      outline: none;
      color: $dark-turquoise-color;
    }

    &:disabled {
      cursor: default;
      color: $dark-slate-blue-color;
      background-color: $white-color;
      border-color: $dark-slate-blue-color;
      box-shadow: none;
    }

    &:last-child {
      margin-right: 0;

      @include media($xsmall) {
        margin: 10px auto 0 auto;
      }
    }

    &_popup-btn {
      margin: 0 auto 15px auto;

      @include mediaMinMax(1025, $normal) {
        margin: 0 auto 0.78vw auto;
      }
    }
  }

  &__link {
    outline: none;
    text-decoration: none;
    margin-right: 0;
  }

  &__btn-icon {
    max-height: 30px;
    margin-right: 5px;

    @include mediaMinMax(1025, $normal) {
      max-height: 1.56vw;
      margin-right: 0.26vw;
    }
  }

  &__second-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @include media($xlmini) {
      flex-wrap: wrap;
    }
  }

  &__right-block,
  &__left-block {
    width: 33%;

    @include media($xlmini) {
      width: 49%;
      margin-bottom: 40px;
    }
  }

  &__left-block {
    display: flex;
    justify-content: flex-end;

    @include media($xlmini) {
      width: 100%;
      justify-content: center;
      margin-top: 24px;
      margin-bottom: 0px;
    }
  }

  &__right-block {
    display: flex;
    justify-content: flex-end;

    @include media($xlmini) {
      order: 2;
    }
  }

  &__all-select-block {
    display: flex;
    align-items: center;
    height: 20px;

    @include mediaMinMax(1025, $normal) {
      height: 1.04vw;
    }
  }

  &__select-title {
    margin-right: 22px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 1.14vw;
    }
  }

  &__all-select-btn {
    border: none;
    padding: 0;
    background-color: transparent;

    &:last-child {
      margin-right: 0;
    }
  }

  &__vertical-separator {
    font-size: 16px;
    color: $charcoal-gray-color;
    margin: 0 15px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      margin: 0 0.78vw;
    }
  }

  &__counter-block {
    display: flex;
    height: 20px;

    @include mediaMinMax(1025, $normal) {
      height: 1.04vw;
    }
  }

  &__view-button-icon {
    height: 35px;

    @include mediaMinMax(1025, $normal) {
      height: 1.82vw;
    }
  }

  &__enhance-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black-color, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }

  &__content-block {
    position: relative;
    background-color: $white-color;
    padding: 60px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      padding: 3.12vw 1.04vw 2.08vw 1.04vw;
    }
  }

  &__close-btn {
    border: none;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;

    @include mediaMinMax(1025, $normal) {
      right: 0.52vw;
      top: 0.52vw;
    }
  }

  &__btn-funk {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: $medium;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    color: $pickled-bluewood-color;
    margin-left: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    white-space: nowrap;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.72vw;
      line-height: 0.98vw;
      margin-left: 1.56vw;
    }

    @include media($small) {
      margin-left: 15px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__btn-funk-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      width: 3.125vw;
      height: 3.125vw;
    }

    @include media($small) {
      width: 54px;
      height: 54px;
    }

    &_prints {
      border: 2px solid $silver-gray-color;
      border-radius: 15px;

      @include mediaMinMax(1025, $normal) {
        border: 0.154vw solid $silver-gray-color;
        border-radius: 0.78vw;
      }

      @include media($small){
        border-radius: 11px;
        border: 1px solid $silver-gray-color;
      }
    }
  }

  &__btn-block-icon {
    width: 40px;
    height: 40px;
    @include mediaMinMax(1025, $normal) {
      width: 2.083vw;
      height: 2.083vw;
    }

    @include media($small) {
      width: 35px;
      height: 35px;
    }
  }

  &__orders-list {
    height: 60px;
    width: 278px;

    @include mediaMinMax(1025, $normal) {
      height: 3.12vw;
      width: 14.479vw;
    }

    @include media($small) {
      order: 2;
    }

    @include media($xlmini) {
      order: 3;
      width: 100%;
    }
  }

  &__cloud-counter {
    @include media($small) {
      order: 3;
      margin-top: 30px;
    }
  }

  &__third-row {
    display: flex;
    width: 100%;
    margin-top: 40px;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      margin-top: 2.08vw;
    }

    @include media($small) {
      margin-top: 30px;
    }

    @include media($xlmini) {
      margin-top: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__back-btn-container {
    width: 33%;
    display: flex;
    flex-direction: column;

    @include media($xlmini) {
      width: 28%;
      order: 2;
    }
  }

  &__back-btn {
    display: flex;
    width: max-content;
    cursor: pointer;
    align-items: center;
  }

  &__back-text {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: $light-slate-gray-color;
    margin-left: 16px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.833vw;
      line-height: 1.406vw;
      margin-left: 0.833vw;
    }
  }

  &__back-icon {
    transform: rotate(180deg);
    width: 8px;
    height: 16px;

    @include mediaMinMax($small, $normal) {
      width: 0.417vw;
      height: 0.833vw;
    }
  }

  &__middle-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33%;

    @include media($small) {
      display: none;
    }

    @include media($xlmini) {
      width: 100%;
      justify-content: center;
      order: 1;
      margin-bottom: 20px;
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
      }
    }
  }

  &__folder-icon {
    width: 30px;
    height: 30px;

    @include mediaMinMax($small, $normal) {
      width: 1.563vw;
      height: 1.563vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__folder-text {
    font-weight: $extraBold;
    font-size: 1.125rem;
    line-height: 27px;
    color: $shark-gray-color;
    margin-left: 10px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.938vw;
      line-height: 1.406vw;
      margin-left: 0.521vw;
    }
  }

  &__folder-container {
    display: flex;

    @include mediaMin($small) {
      margin-top: 17px;
    }

    @include mediaMinMax($small, $normal) {
      margin-top: 0.885vw;
    }
  }

  &__info {
    font-weight: $medium;
    font-size: 0.9375rem;
    line-height: 24px;
    text-align: center;
    color: $pickled-bluewood-color;
    opacity: 0.8;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax(1025, $normal) {
      font-size: 0.78vw;
      line-height: 1.25vw;
    }

    @include media($small) {
      order: 1;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__view-type-wrapper {
    display: flex;
    align-items: center;
  }

  &__view-type-title {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 32px;
    color: $black-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.66vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__background {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: $white-color;
    left: calc((-100vw + 1532px) / 2);

    @include mediaMinMax(1025, $normal) {
      left: -10.105vw;
    }

    @include media($small) {
      left: -20px;
    }
  }

  &__empty-block {
    display: none;
    width: 33%;

    @include media($small) {
      display: block;
    }
  }

  &__order-selector {
    display: flex;
    width: 33%;

    @include media($small) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__cloud-block {
    width: 33%;
    display: flex;
    justify-content: flex-end;

    @include media($small) {
      width: 100%;
      justify-content: center;
    }
  }

  &__message-block {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    color: $darker-cadet-blue-color;
    white-space: pre-wrap;
    text-align: center;
    padding-top: 30px;
  }
}
