@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.love-guarantee {
  position: relative;
  overflow: hidden;
  background-color: rgba($gallery-color, 0.5);
  z-index: 1;

  &__container {
    margin: 0 auto;
    width: 1532px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 165px 0 155px 0;

    @include mediaMinMax($xsmall, $normal) {
      padding: 8.59vw 0 8.07vw 0;
      width: 79.792vw;
    }

    @include media($small) {
      width: 768px;
      min-width: 768px;
      justify-content: space-between;
    }

    @include media($xsmall) {
      padding: 120px 0 50px 0;
      min-width: 375px;
      flex-direction: column;
      align-items: center;
      width: calc(100% - 40px);
      max-width: 100%;
    }

    @include media($xlmini) {
      padding: 27px 0;
    }
  }

  &__stripe-one {
    position: absolute;
    z-index: -1;
    left: auto;
    right: 268px;
    bottom: -70px;
    width: 50vw;
    height: 380px;
    border-radius: 0 0 47px 0;
    background: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      left: -15.52vw;
      bottom: -3.64vw;
      width: 30.41vw;
      height: 19.79vw;
    }

    @include media($small) {
      left: calc(50% - 50vw);
      width: 50vw;
      bottom: -23px;
      height: 287px;

      &_second {
        height: 300px;
      }
    }

    @include media($mini) {
      &_second {
        height: 150px;
      }
    }
  }

  &__stripe-two {
    position: absolute;
    z-index: -1;
    right: -100px;
    top: -80px;
    width: 360px;
    height: 550px;
    border-radius: 0 37px 0 0;
    background: $iceberg-color;


    @include mediaMinMax($small, $normal) {
      right: -5.2vw;
      top: -4.16vw;
      width: 18.75vw;
      height: 28.64vw;
    }

    @include media($small) {
      width: 254px;
      height: 223px;
      right: -43px;
      top: -30px;
    }

    @include media($xsmall) {
      height: 308px;
      width: 500px;
      right: -450px;

      &_second {
        right: -450px;
      }
    }

    @include media($mini) {
      &_second {
        width: 150px;
        height: 250px;
        right: -44px;
      }
    }
  }

  &__stripe-three {
    position: absolute;
    z-index: -1;
    right: 170px;
    top: 140px;
    width: 143px;
    height: 143px;
    border-radius: 27px;
    background: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.050672);

    @include mediaMinMax($small, $normal) {
      width: 7.448vw;
      height: 7.448vw;
      border-radius: 1.4vw;
      top: 7.29vw;
      right: 8.854vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__stripe-four {
    position: absolute;
    z-index: -1;
    right: 0px;
    top: 10px;
    width: 241px;
    height: 241px;
    border-radius: 27px;
    background: $catskill-white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.050672);

    @include mediaMinMax($small, $normal) {
      width: 12.552vw;
      height: 12.552vw;
      border-radius: 1.4vw;
      top: 0.52vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__title {
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
    }

    @include media($xsmall) {
      display: none;
    }
  }

  &__title-two {
    display: none;
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    margin-bottom: 30px;
    white-space: pre-line;
    text-align: center;
    font-weight: $black;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 1.56vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      margin-bottom: 20px;
      letter-spacing: 0.6px;
    }

    @include media($xsmall) {
      display: block;
    }

    &_large-margin {

      @include media($xlmini) {
        margin-bottom: 60px;
      };
    }
  }

  &__button {
    max-width: 100%;
    width: fit-content;

    @include mediaMinMax($small, $normal) {
      padding-right: 3.125vw;
      padding-left: 3.125vw;
    }

    @include media($small) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
    }
  }

  &__text {
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    margin-bottom: 50px;
    white-space: pre-wrap;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      margin-bottom: 2.6vw;
    }

    @include media($small) {
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
    }

    @include media($xsmall) {
      margin-bottom: 30px;
      letter-spacing: 0.13vw;
      max-width: 90%;
      text-align: center;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 18px;
    }

    @include media($xlmini) {
      line-height: 24px;
      letter-spacing: 1px;

      &_wrap {
        white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

      }
    }

    @include media($xmini) {
      text-align: center;
      margin-bottom: 40px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    @include media($mini) {
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 80px;
    padding: 0 0 0 10px;
    margin: 0 0 35px;
    min-height: 120px;
  }

  &__list-item {
    color: $dark-slate-blue-color;
    font-size: 1.125rem;
    line-height: 2.2;

    &::before {
      display: inline-block;
      width: 13px;
      height: 13px;
      content: ' ';
      border: 3px solid $turquoise-color;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  &__bottom-text-block {
    max-width: 350px;
    background-color: $dark-slate-blue-color;
    border-radius: 4px;
    padding: 11px 39px 15px 39px;
    position: relative;
  }

  &__bottom-text {
    color: $white-color;
    font-size: 0.875rem;
    line-height: 1.57;
  }

  &__icon {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  &__bold-text {
    font-weight: $extraMedium;
  }

  &__img-container {
    max-width: 560px;
  }

  &__slider {
    position: relative;

    &_main {
      margin-right: 210px;

      @include mediaMinMax($xsmall, $normal) {
        margin-right: 10.09vw;
      }

      @include media($xsmall) {
        margin-right: 0;
      }

      @include media($xlmini) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include media($xlmini) {
        display: block;
      }
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;

    @include media($xsmall) {
      align-items: center;
      margin-top: 50px;
      padding: 0 10px;
      margin-right: 0px;
    }
  }

  &__btn-block {
    display: flex;
    justify-content: flex-start;
  }


  &__image-wrapper {
    position: relative;
    border-radius: 52px;
    background-color: $white-color;
    padding: 15px;
    min-width: 524px;
    width: 524px;
    height: 524px;
    min-height: 524px;
    display: flex;
    justify-content: center;
    margin-right: 170px;
    align-items: center;
    box-shadow: 4px 5px 15px rgba($black-color, 0.05);

    @include mediaMinMax($small, $normal) {
      min-width: 29.58vw;
      width: 29.58vw;
      height: 29.58vw;
      min-height: 29.58vw;
      border-radius: 2.29vw;
      margin-right: 8.85vw;
    }

    @include media($small) {
      min-width: 340px;
      width: 340px;
      height: 340px;
      min-height: 340px;
      border-radius: 28px;
      margin: auto;
    }

    @include mediaMinMax($xsmall, $small) {
      margin-right: 50px;
    }

    @include media($xlmini) {
      margin-right: 0;
      margin: 0;
    }

    @include media($mini) {
      &_second {
        width: 250px;
        min-width: 250px;
        min-height: 250px;
        height: 250px;
      }
    }

  }

  &__image-logo {
    width: 370px;
    height: 410px;

    @include mediaMinMax($small, $normal){
      width: 19.27vw;
      height: 21.35vw;
    }

    @include media($small) {
      height: 270px;
      width: 250px;
    }

    &_second {
      width: 210px;
      height: 411px;

      @include mediaMinMax($small, $normal){
        width: 10.93vw;
        height: 21.4vw;
      }

      @include media($small) {
        height: 225px;
        width: 115px;
      }

      @include media($xlmini) {
        width: 101px;
        height: 199px;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;

    background-color: $white-color;
    position: relative;
    z-index: 1;
    width: 430px !important;
    height: 430px !important;

    @include mediaMinMax($small, $normal) {
      width: 22.39vw !important;
      height: 22.39vw !important;
    }

    @include mediaMin($small) {
      align-items: center;
      flex-direction: column;
    }

    @include media($small) {
      width: 250px !important;
      height: 250px !important;
    }

    &_second {
      @include media($mini) {
        width: 100px !important;
        height: 199px !important;
      }
    }
  }

  &__image-text {
    font-size: 2rem;
    font-weight: $black;
    line-height: 44px;
    letter-spacing: 4px;
    margin-top: 50px;
    color: $black-color;

    @include mediaMinMax($small, $normal) {
      font-size: 1.66vw;
      line-height: 2.29vw;
      letter-spacing: 0.2vw;
      margin-top: 2.6vw;
    }

    @include media($small) {
      font-size: 1.1875rem;
      line-height: 26px;
      letter-spacing: 2.4px;
      margin-top: 35px;
    }
  }

  &__image-left-square {
    width: 293px;
    height: 280px;
    background-color: $iceberg-blue-light-color;
    border-radius: 0 0 0 37px;
    position: absolute;
    left: -110px;
    bottom: -86px;

    @include mediaMinMax($small, $normal) {
      width: 15.26vw;
      height: 14.58vw;
      left: -5.7vw;
      bottom: -4.47vw;
      border-radius: 0 0 0 1.92vw;
    }

    @include media($small) {
      width: 126px;
      height: 120px;
      left: -32px;
      bottom: -23px;
    }
  }

  &__image-right-square {
    width: 195px;
    height: 187px;
    background-color: $intense-citrine-white-color;
    border-radius: 30px;
    position: absolute;
    right: -84px;
    bottom: -60px;

    @include mediaMinMax($small, $normal) {
      width: 10.15vw;
      height: 9.73vw;
      right: -4.37vw;
      bottom: -3.12vw;
      border-radius: 0 0 0 1.56vw;
    }

    @include media($small) {
      width: 117px;
      height: 112px;
      right: -41px;
      bottom: -38px;
    }
  }

  &__image-url {
    width: 323px;
    height: 250px;

    @include mediaMinMax($small, $normal) {
      width: 17.29vw;
      height: 13.02vw;
    }

    @include media($small) {
      width: 194px;
      height: 150px;
    }
  }

  &__watch {
    position: absolute;
    right: 0px;
    bottom: 150px;
    width: 350px;
    height: 378px;

    @include media($normal) {
      width: 18.229vw;
      height: 19.688vw;
      bottom: 7.813vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__link {
    outline: none;
    text-decoration: none;
  }
}
