@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.frame-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 442px;
  box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
  overflow: hidden;
  background-color: $white-color;
  border-radius: 34px;
  z-index: 0;

  @include mediaMinMax($small, $normal) {
    width: 23.0208vw;
    border-radius: 1.7708vw;
  }

  @include media($small) {
    width: 334px;
  }

  &_create {
    width: 524px;

    @include mediaMinMax($small, $normal) {
      width: 27.292vw;
    }

    @include media($small) {
      width: 334px;
    }
  }

  &__image-block {
    height: 364px;
    width: 442px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    @include mediaMinMax($small, $normal) {
      height: 18.9583vw;
      width: 23.0208vw;
    }

    @include media($small) {
      height: 275px;
      width: 334px;
    }

    &_create {
      height: 431px;
      width: 524px;

      @include mediaMinMax($small, $normal) {
        height: 22.448vw;
       width: 27.292vw;
      }

      @include media($small) {
        height: 275px;
        width: 334px;
      }
    }
  }

  &__frame-photo {
    max-width: 100%;
    height: 364px;

    @include mediaMinMax($small, $normal) {
      height: 18.9583vw;
    }

    @include media($small) {
      height: 275px;
    }
  }

  &__photo-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 364px;

    @include mediaMinMax($small, $normal) {
      height: 18.9583vw;
    }

    @include media($small) {
      height: 275px;
    }
  }

  &__info-block {
    width: 100%;
    min-height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 34px;
    margin-top: -34px;
    z-index: 2;
    background-color: $white-color;
    padding: 40px 30px 20px 30px;

    @include mediaMinMax($small, $normal) {
      min-height: 13.3333vw;
      border-radius: 1.7708vw;
      margin-top: -1.7708vw;
      padding: 2.0833vw 1.5625vw 1.0416vw 1.5625vw;
    }

    @include media($small) {
      min-height: 193px;
      border-radius: 28px;
      padding: 24px 22px 20px 22px;
    }
  }

  &__name {
    font-weight: $bold;
    font-size: 1.625rem;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1px;
    color:$shark-gray-color;
    margin-bottom: 16px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.3541vw;
      line-height: 1.875vw;
      margin-bottom: 0.8333vw;
    }

    @include media($small) {
      font-size: 1.25rem;
      line-height: 27px;
      margin-bottom: 8px;
    }
  }

  &__price {
    color: $scarpa-flow-gray-color;
    margin-bottom: 30px;
    font-weight: $medium;
    font-size: 1.0625rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.5625vw;
      font-size: 0.8854vw;
      line-height: 1.25vw;
    }

    @include media($small) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__price-value {
    position: relative;
    color: $burnt-sienna-red-color;

    &_origin {
      color: $scarpa-flow-gray-color;
      font-weight: $medium !important;
      margin-right: 5px;

      &::after {
        content: '';
        width: 110%;
        height: 1px;
        top: 50%;
        left: -5%;
        background-color: $burnt-sienna-red-color;
        position: absolute;
      }
    }
  }

  &__btn button {
    padding: 16px 36px !important;
    height: 60px !important;
    display: flex;
    align-items: center;

    @include mediaMinMax($small, $normal) {
      padding: 0.8333vw 1.875vw !important;
      height: 3.125vw !important;
      border-radius: 0.5208vw;
      font-size: 0.8854vw;
      line-height: 1.40625vw;
    }
  }

  &__check-icon {
    margin-right: 10px;

    @include mediaMinMax($small, $normal) {
      margin-right: 0.5208vw;
    }
  }

  &__hint {
    width: 100%;
    padding: 15px 30px;

    @include mediaMinMax($small, $normal) {
      padding: 0.78152vw 1.5625vw;
    }
  }

  &__hint-button {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    position: absolute;
    left: calc(100% + 20px);
    top: 0;

    @include mediaMinMax($small, $normal) {
      left: calc(100% + 1.0416vw);
    }

    @include media($small) {
      left: calc(100% + 5px);
    }
  }

  &__hint-icon {

    @include mediaMinMax($small, $normal) {
      width: 3.125vw;
      height: 3.125vw;
    }

    rect:first-child {
      @include media($small) {
        stroke: none;
      }
    }
  }

  &__photo-block {
    width: 360px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    overflow: hidden;

    @include mediaMinMax($small, $normal) {
      width: 18.75vw;
      height: 15.625vw;
    }

    @include media($xsmall) {
      width: 320px;
      height: 267px;
    }

  }

  &__image-frame {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }

  &__image-frame-abs {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
  }

  &__image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }

  &__button-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
  }

  &__background-image {
    position: absolute;
  }

  &__frame-wrap {
    position: absolute;
  }

  &__image-wrap {
    position: absolute;
    z-index: -1;
  }

  &__art-photo {
    position: absolute;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  &__frame-image {
    max-width: 100%;
    max-height: 100%;
  }

  &__personalize-data-block {
    position: absolute;
    background-position: center;
    background-size: 100% 100%;
    content: '';
  }
}
