@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.new-easy-card {
  width: 304px;
  background-color: $white-color;
  box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mediaMinMax($small, $normal) {
    width: 15.83vw;
    border-radius: 1.14vw;
  }

  @include mediaMinMax($xsmall, $small) {
    justify-content: flex-start;
  }

  @include mediaMinMax(681, $small) {
    width: 20.83vw;
    border-radius: 1.8vw;
  }

  @include media($xlmini) {
    width: 160px;
    border-radius: 15px;
  }

  &__img-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 117px;
    margin: 52px 0;

    @include mediaMinMax($small, $normal) {
      height: 6.09vw;
      margin: 2.7vw 0;
    }

    @include mediaMinMax(681, $small) {
      height: 8vw;
      margin: 30px 0;
    }

    @include media($xsmall) {
      height: 80px;
      margin: 20px 0;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position 0.5s, background-size 0.5s;
    height: 100%;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.45vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 19px;
    }
  }

  &__title {
    font-size: 1.375rem;
    color: $black-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    font-weight: $bold;
    line-height: 1.27;
    letter-spacing: normal;
    margin-bottom: 27px;


    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.45vw;
      margin-bottom: 1.4vw;
    }

    @include mediaMinMax(681, $small) {
      font-size: 1.3671vw;
      line-height: 1.8554vw;
      margin-bottom: 1.1718vw;
    }

     @include media($xlmini) {
      font-size: 0.875rem;
      line-height: 19px;
      margin-bottom: 12px;
    }
  }

  &__text {
    font-size: 1.0625rem;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: $medium;
    color: $tuna-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
      margin-bottom: 2.08vw;
    }

    @include mediaMinMax(681, $small) {
      font-size: 1.0742vw;
      line-height: 1.7578vw;
      text-align: center;
      letter-spacing: 0.04882vw;
      margin-bottom: 1.4648vw;
    }

    @include media($xlmini) {
      font-size: 0.75rem;
      line-height: 16px;
      white-space: normal;
      text-align: center;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
    }
  }
}
