@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.what-included {
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, rgba($wild-sand-color, 0.5), $white-color);
  z-index: 1;

  &_art {
    margin-bottom: 0;

    @include media($small) {
      margin-bottom: 10px;
    }
  }

  &_enhance {
    margin: 70px 0;
  }

  &__container {
    margin: 0 auto;
    width: 1420px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 100px 0 160px 0;

    @include mediaMinMax($xsmall, $normal) {
      padding: 5.208vw 0 8.33vw 0;
      width: 73.958vw;
      justify-content: space-between;
    }

    @include media($small) {
      width: calc(100% - 80px);
      max-width: 89.58vw;
      padding: 50px 0 60px 0;
    }

    @include media($xsmall) {
      flex-direction: column;
      align-items: center;
      padding: 0 0 50px 0;
      width: calc(100% - 40px);
      max-width: 100%;
    }

    &_art {
      padding-top: 80px;

      @include mediaMinMax($xsmall, $normal) {
        padding-top: 4.1666vw;
      }

      @include media($xsmall) {
        flex-direction: column;
        align-items: center;
        padding: 0 0 50px 0;
        width: calc(100% - 40px);
        max-width: 100%;
        padding-bottom: 56px;
      }
    }

    &_start {
      align-items: flex-start;
    }
  }

  &__stripe-one {
    position: absolute;
    z-index: -1;
    left: auto;
    right: 268px;
    bottom: -70px;
    width: 50vw;
    height: 380px;
    border-radius: 0 0 47px 0;
    background: $light-slate-gray-color;

    @include mediaMinMax($small, $normal) {
      left: -15.52vw;
      bottom: -3.64vw;
      width: 30.41vw;
      height: 19.79vw;
    }

    @include media($small) {
      left: calc(50% - 50vw);
      width: 50vw;
      bottom: -23px;
      height: 287px;
    }
  }

  &__stripe-two {
    position: absolute;
    z-index: -1;
    right: -100px;
    top: -80px;
    width: 360px;
    height: 583px;
    border-radius: 0 37px 0 0;
    background: $iceberg-color;


    @include mediaMinMax($small, $normal) {
      right: -5.2vw;
      top: -4.16vw;
      width: 18.75vw;
      height: 30.36vw;
    }

    @include media($small) {
      width: 254px;
      height: 223px;
      right: -43px;
      top: -30px;
    }

    @include media($mini) {
      right: -50vw;
      top: -21px;
    }
  }

  &__stripe-three {
    position: absolute;
    z-index: -1;
    left: -233px;
    top: 120px;
    width: 143px;
    height: 143px;
    border-radius: 27px;
    background: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.050672);

    &_art {
      top: 50px;
    }

    @include mediaMinMax($small, $normal) {
      width: 7.44vw;
      height: 7.44vw;
      border-radius: 1.4vw;
      left: -12.13vw;
      top: 2.6041vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__title {
    font-size: 2.5rem;
    line-height: 1.23;
    letter-spacing: 1px;
    font-weight: $black;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 40px;

    @include mediaMinMax($small, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
      white-space: initial;
    }

    @include media($xsmall) {
      text-align: center;
    }

    &_art {
      @include media($xsmall) {
        text-align: center;
      }
    }
  }

  &__text {
    width: 100%;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: normal;
    color: $scarpa-flow-gray-color;
    margin-bottom: 50px;
    white-space: pre-line;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      margin-bottom: 2.6vw;
    }

    @include media($small) {
      width: auto;
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: initial;;
    }

    @include media($xsmall) {
      margin-bottom: 30px;
      letter-spacing: 0.13vw;
      max-width: 90vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 18px;
      text-align: center;
      margin-top: 50px;
    }

    @include media($xsmall) {
      line-height: 24px;
      letter-spacing: 1px;
    }

    @include media($xmini) {
      text-align: center;
      margin-bottom: 40px;
    }

    &_margin {
      margin-bottom: 150px;

      @include media($xsmall) {
        margin-bottom: 40px;
      }
    }
  }

  &__link {
    text-decoration: none;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 80px;
    padding: 0 0 0 10px;
    margin: 0 0 35px;
    min-height: 120px;
  }

  &__list-item {
    color: $dark-slate-blue-color;
    font-size: 1.125rem;
    line-height: 2.2;

    &::before {
      display: inline-block;
      width: 13px;
      height: 13px;
      content: ' ';
      border: 3px solid $turquoise-color;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  &__bottom-text-block {
    max-width: 350px;
    background-color: $dark-slate-blue-color;
    border-radius: 4px;
    padding: 11px 39px 15px 39px;
    position: relative;
  }

  &__bottom-text {
    color: $white-color;
    font-size: 0.875rem;
    line-height: 1.57;
  }

  &__bold-text {
    font-weight: $extraMedium;
  }

  &__img-container {
    max-width: 560px;
  }

  &__slider {
    position: relative;

    &_main {
      margin-right: 210px;

      @include mediaMinMax($small, $normal) {
        margin-right: 10.9vw;
      }

      @include mediaMinMax($xsmall, $small) {
        margin-right: 5.9vw;
      }

      @include media($xsmall) {
        margin-right: 0;
      }

      @include media($xsmall) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include media($xsmall) {
        display: block;
      }
    }

    &_art-mobile {
      @include media($xsmall) {
        display: block;
      }
    }

    &_art-main {
      @include media($xsmall) {
        display: none;
      }
    }
  }

  &__text-block {
    display: flex;
    max-width: 574px;
    flex-direction: column;

    @include media($xsmall) {
      max-width: 560px;
      padding: 0 10px;
      align-items: center;
      margin-top: 50px;
    }

    &_art {
      @include media($xsmall) {
        max-width: 560px;
        padding: 0 10px;
        align-items: center;
        margin-top: 0;
      }
    }

    &_enhance {
      max-width: 600px;
    }
  }

  &__btn-block {
    display: flex;
    justify-content: flex-start;
  }

  &__watch {
    position: absolute;
    right: -240px;
    bottom: 210px;
    width: 400px;
    height: 317px;

    @include media($normal) {
      width: 20.833vw;
      height: 16.510vw;
      bottom: 10.938vw;
      right: -12.500vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__btn {
    width: 300px;

    @include mediaMinMax(1025, $normal) {
      width: 15.625vw;
    }

    @include media($small) {
      width: auto;
    }

    @include media($xsmall) {
      padding-left: 60px !important;
      padding-right: 60px !important;
    }
  }

  &__icons-block {
    display: flex;
    justify-content: space-between;
    max-width: 590px;
    width: 30.7vw;
    margin-bottom: 100px;

    @include mediaMinMax(1025, 1920) {
      margin-bottom: 5.25vw;
    }

    @include media($small) {
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 40px;
    }

    @include media($xsmall) {
      flex-wrap: nowrap;
      margin-bottom: 55px;
    }

    @include media($mini) {
      width: 300px;
    }

    &_mobile {
      display: none;

      @include media(768) {
        display: flex;
      }
    }

    &_desktop {
      display: none;

      @include mediaMin(769) {
        display: flex;
      }
    }
  }

  &__icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 84px;
    height: 84px;
    margin: 0 0 20px 0;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      margin: 0 0 1.042vw 0;
      width: 4.375vw;
      height: 4.375vw;
    }

    @include media($small) {
      width: 45%;
      max-width: 45%;
      height: 58px;
      margin: 0 0 60px 0;
    }

    @include media($xsmall) {
      width: 58px;
    }

    @include media($xsmall) {
      width: 42px;
      height: 42px;
      margin-bottom: 40px;
    }

    &_enhance {
      margin: 0;

      @include mediaMinMax(1025, $normal) {
        margin: 0;
      }
    }
  }

  &__icon-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 84px;
    height: 84px;
    border-radius: 15px;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      width: 4.375vw;
      height: 4.375vw;
      border-radius: 0.78125vw;
    }

    @include media($small) {
      width: 58px;
      height: 58px;
      border-radius: 10px;
    }

    @include media($xsmall) {
      width: 42px;
      height: 42px;
      border-radius: 7px;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center center;

    @include mediaMinMax(1025, $normal) {
      width: 2.6041vw;
      height: 2.6041vw;
    }

    @include media($small) {
      width: 35px;
      height: 35px;
    }

    @include media($xsmall) {
      width: 25px;
      height: 25px;
    }
  }

  &__icon-block-text {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.9px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    position: absolute;
    width: 200%;
    top: 90px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
      top: 4.688vw
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.72px;
      top: 68px;
    }

    @include media($xsmall) {
      font-size: 0.75rem;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.2px;
    }

    @include media($xsmall) {
      width: 300%;
      top: 52px;
      font-size: 0.6875rem;
      text-align: center;
      letter-spacing: 0.72px;
    }
  }
}
