@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: clamp(334px, 30.72vw, 540px);
  border-radius: clamp(24px, 2.29vw, 46px);
  overflow: hidden;
  outline: none;
  position: relative;
  background-color: $white-color;

  @include mediaMinMax($small, $normal) {
    width: 28.125vw;
    height: 30vw;
  }

  @include media($small) {
    width: 334px;
    max-height: 497px;
    border-radius: 24px;
  }

  @include media($xsmall) {
    margin: 0;
    margin-top: 22px;
    border-radius: 24px;
  }

  @include media($xmini) {
    width: 305px;
    border: 3px solid $black-squeeze-color;
    padding: 10px 13px 10px 6px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background-color: $white-color;
    padding: 30px 115px 40px;
    width: 530px;
    height: 320px;
    border-radius: 44px;

    @include mediaMinMax(1025, $normal) {
      padding: 1.56vw 3.98vw 2.08vw;
      width: 27.6vw;
      height: 16.66vw;
      border-radius: 2.29vw;
      bottom: 0.26vw;
      left: 0.26vw;
      right: 0.26vw;
    }

    @include media($small) {
      padding: 25px 22px 30px;
      width: 324px;
      height: 297px;
      border-radius: 24px;
    }

    @include media($xmini) {
      padding: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }

  &__price-wrapper {
    display: flex;
    justify-content: center;
  }

  &__price-text-wrapper {
    display: flex;

    &_small {
      flex-direction: column;
    }
  }

  &__custom-price-wrapper {
    display: flex;
  }

  &__custom-price-text-wrapper {
    display: flex;

    &_small {
      justify-content: center;
    }
  }

  &__price-text {
    font-size: clamp(14px, 0.83vw, 16px);
    font-weight: $medium;
    line-height: 27px;
    letter-spacing: 2px;
    color: $scarpa-flow-gray-color;
    margin-bottom: 20px;
    height: min-content;
    position: relative;

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
      line-height: 1.4vw;
      margin-bottom: 1.04vw;
    }

    @include media($small) {
      font-size: 0.8rem;
      line-height: 27px;
      text-align: center;
      letter-spacing: 1px;
    }
    @include media($mini) {
      font-size: 13px;
    }

    &_small {
      margin-bottom: 0;
    }

    &_plus {
      margin-left: 3px;
    }

    &_base {
      margin-right: 3px;
    }

    &_origin {
      color: $scarpa-flow-gray-color;
      font-weight: $medium;
      margin: 0 1px 0 3px;
      &::after {
        content: '';
        position: absolute;
        width: 110%;
        height: 1px;
        background-color: $burnt-sienna-red-color;
        left: -5%;
        top: 50%;
      }
    }

    &_custom {
      color: $burnt-sienna-red-color;
      margin: 0 3px 0 1px;
    }
  }

  &__image-block {
    width: 100%;
    height: 576px;
    background-color: $wild-sand-color;
    overflow: hidden;
    cursor: pointer;
    border-radius: 44px;
    outline: none;

    @include media($xnormal) {
      border-radius: 22px;
    }

    @include media($xmini) {
      min-width: 131px;
      min-height: 115px;
      width: 131px;
      height: 115px;
      border: 3px solid $black-squeeze-color;
      border-radius: 27px;
      background-color: $jagged-ice-color;

      &_shipKit {
        background-color: $citrine-white-color;
      }
    }
  }

  &__title {
    color: $shark-gray-color;
    font-size: 1.5rem;
    font-weight: $black;
    line-height: 33px;
    letter-spacing: 2px;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 5px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.25vw;
      line-height: 1.71vw;
      letter-spacing: 2px;
      width: 100%;
      text-align: center;
      margin-bottom: 0.52vw;
    }

    @include media($small) {
      font-size: 1.375rem;
      line-height: 30px;
      letter-spacing: 1px;
    }

    @include media($xlmini) {
      font-size: 1.25rem;
      line-height: 27px;
      letter-spacing: 1px;
    }

    @include media($xmini) {
      font-size: 1.063rem;
      line-height: 27px;
    }
  }

  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
  }

  &__info {
    margin-bottom: 16px;
    padding: 0 8px;

    &_shipKit {
      margin-bottom: 3px;
    }
  }

  &__text {
    text-align: center;
    font-size: clamp(14px, 0.88vw, 17px);
    font-weight: $medium;
    line-height: clamp(22px, 1.4vw, 27px);
    letter-spacing: 1px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    max-width: 360px;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.04vw;
      line-height: 1.4vw;
      margin-bottom: 0.52vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.7px;
      white-space: intial;
      max-width: 280px;
      margin-bottom: 31px;
    }

    @include media($xmini) {
      display: none;
    }
  }

  &__select-btn {
    width: 145px;
    height: 35px;
    border-radius: 17px;
    border: 3px solid $turquoise-color;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: $medium;
    color: $dark-slate-blue-color;
    display: flex;
    align-items: center;
    justify-content: center;

    &_selected {
      background-color: $turquoise-color;
    }
  }

  &__select-icon {
    width: 25px;
    height: 25px;
    margin: 0 16px 0 12px;
  }


  &__slide-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    outline: none;
  }

  &__slide {
    width: 540px;
    height: 576px;
    object-fit: cover;
    object-position: center;

    @include mediaMinMax($small, $normal) {
      width: 28.125vw;
      height: 30vw;
    }

    @include media($small) {
      width: 334px;
      height: 497px;
      border-radius: 24px;
    }

    @include media($xmini) {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 64% 30px;
      transform: scale(2);
    }
  }

  &__hint-button {
    margin: 10px 0;
  }

  &__color-button {
    height: 66px;

    @include mediaMinMax(1025, $normal) {
      width: 14.54vw;
      height: 3.43vw;
    }

    @include media($small) {
      width: 274px;
    }

    @include media($xmini) {
      width: 130px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 18px !important;
      border-radius: 10px !important;
    }

    @include media($mini) {
      padding: 0 !important;
    }
  }

  &__base-price-text {
    font-weight: $bold;
    font-size: clamp(24px, 1.35vw, 26px);
    line-height: clamp(22px, 2.29vw, 36px);
    letter-spacing: 2px;
    text-transform: uppercase;

    &_firstOrigin {
      &::after {
        background-color: $slate-gray-color !important;
      }
    }

    &_origin {
      font-weight: $medium;
      color: $dov-gray-color !important;
      margin-right: 5px;
      position: relative;

      &::after {
        content: '';
        background-color: $darker-summer-green-color;
        width: 110%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: -5%;

        @include media($normal) {
          bottom: 0.75vw;
        }

        @include media($small) {
          bottom: 8px;
        }
      }
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 1.35vw;
      line-height: 1.875vw;
    }

    @include media($small) {
      font-size: 1.5rem;
      line-height: 22px;
      text-align: center;
      letter-spacing: 3.06726px;
      text-transform: uppercase;
    }

    @include media($xlmini) {
      font-size: 1.25rem;
      line-height: 22px;
    }
  }
}
