@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.get-in-touch {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 55px;

  @include media($small) {
    padding-bottom: 25px;
  }

  &__info-block {
    flex: 1;
  }

  &__form-block {
    flex: 2;
  }
}
