@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';
@import 'src/styles/mixins.scss';

.review-card {
  width: min(22.29vw, 428px);
  height: min(24.42vw, 469px);
  background: $white-color;
  box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
  padding: min(2.08vw, 40px) min(2.6vw, 50px) 40px;
  border-radius: clamp(28px, 2.29vw, 44px);
  margin: 15px 0 15px 0;
  overflow-y: auto;

  @include custom-scroll;

  @include mediaMin($normal) {
    max-width: 428px;
    min-width: 300px;
    width: 24vw;
    height: 25vw;
    max-height: 469px;
    min-height: 423px;
    border-radius: 44px;
    padding: 40px 50px;
  }

  @include media($xnormal) {
    margin: 15px 15px;
  }

  @include media($small) {
    margin: 10px;
    padding: 33px 40px 40px 40px;
    border-radius: 28px;
    width: 335px;
    height: 423px;
  }

  &_customer {
    width: 442px;
    max-width: 442px;
    height: 578px;
    max-height: 578px;
    margin: 0 24px;

    @include mediaMinMax($small, $normal) {
      width: 23.02vw;
      height: 30.1vw;
      margin: 0 1.25vw;
    }

    @include media($small) {
      width: 335px;
      height: 447px;
      margin: 0 10px;
    }

    @include media($xsmall) {
      margin: 0 auto;
    }
  }

  &_is-scroll {
    max-height: 365px;
    min-height: 365px;

    @include mediaMinMax($small, $normal) {
      max-height: 19.010vw;
      min-height: 19.010vw;
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;

    &_is-scroll {
      max-height: 285px;
      overflow-y: scroll;

      @include custom-scroll;

      @include mediaMinMax($small, $normal) {
        max-height: 14.844vw;
      }
    }
  }

  &__title-wrapper {
    display: flex;
    margin-bottom: 13px;
  }

  &__reviewer {
    font-weight: $bold;
    font-size: 1.25rem;
    line-height: 34px;
    letter-spacing: 0.7px;
    color: $shark-gray-color;
    display: flex;
    max-width: 63%;

    @include mediaMinMax($small, $normal) {
      font-size: 1.04vw;
      line-height: 1.77vw;
    }

    @include media($small) {
      font-size: 1.0625rem;
    }
  }

  &__reviewer-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }


  &__review-date {
    font-weight: $medium;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.57px;
    color: $shark-gray-color;
    opacity: 0.6;
    margin-left: 21px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
      line-height: 1.77vw;
    }

    @include media($small) {
      font-size: 0.875rem;
    }
  }

  &__rating {
    margin-bottom: 20px;

    svg {
      @include media($small) {
        width: 24px !important;
        height: 24px !important;
      }
    }
  }

  &__comment {
    font-weight: $medium;
    font-size: 0.88vw;
    line-height: 1.4vw;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    height: 8.07vw;
    overflow-y: auto;
    margin-bottom: 1.56vw;

    @include custom-scroll;

    @include mediaMin($normal) {
      height: 155px;
      font-size: 1.0625rem;
      line-height: 27px;
      margin-bottom: 30px;
    }

    @include media($small) {
      font-size: 0.9rem;
      line-height: 26px;
      letter-spacing: 0.8px;
      height: 140px;
    }

    &_without-scroll {
      height: auto;
      min-height: 8.07vw;

      @include mediaMin($normal) {
        height: auto;
        min-height: 155px;
      }

      @include media($small) {
        height: auto;
        min-height: 140px;
      }
    }
  }

  &__image-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__image {
    width: 5.2vw;
    height: 5.2vw;
    margin: 0 0 1.04vw 1.04vw;
    position: relative;

    @include mediaMin($normal) {
      width: 100px;
      height: 100px;
      margin: 0 0 20px 20px;
    }

    @include media($small) {
      width: 100px;
      height: 100px;
      margin: 0 0 20px 20px;
    }
  }

  &__image-url {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 19px;
  }

  &__control-btn {
    position: absolute;
    background: transparent;
    right: 12px;
    bottom: 12px;
    border: none;

    @include mediaMinMax($small, $normal) {
      right: 0.625vw;
      bottom: 0.625vw;
    }
  }

  &__button-icon {
    width: 26px;
    height: 26px;

    @include mediaMinMax($small, $normal) {
      width: 1.35vw;
      height: 1.35vw;
    }
  }

  &__order-wrapper {
    display: flex;
    flex-direction: column;

    &_reverse {
      flex-direction: column-reverse;
    }
  }
}
