@import "src/styles/variables.scss";
@import "src/styles/media.scss";

.custom-textarea {
  position: relative;

  &__input{
    height: 100%;
    width: 100%;
    background-color: $catskill-white-color;
    border: 1px solid $gray-light-color;
    box-sizing: border-box;
    border-radius: 14px;
    letter-spacing: 1px;
    padding: 14px 20px;
    resize: none;
    outline: none;

    &::placeholder {
      font-size: 1.0625rem;
      color: $darker-cadet-blue-color;
      font-weight: $medium;
      line-height: 32px;
      letter-spacing: 1px;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.88vw;
        line-height: 1.66vw;
      }
    }

    @include mediaMinMax(1025, $normal) {
      padding: 0.72vw 1.04vw;
    }

    &:focus {
      box-shadow: 0 0 4px 0 $cadet-blue-color;
    }
  }

  &__input_red-border {
    border-color: $error-red-color;
  }

  &__error {
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: $burnt-sienna-color;
    font-size: 0.75rem;
    line-height: 16px;
    letter-spacing: 0.5px;

    @include mediaMinMax(1025, $normal) {
      bottom: 0.26vw;
      left: 1.04vw;
      font-size: 0.62vw;
      line-height: 0.83vw;
    }
  }
}
