@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.checkout-card {

  &__order-wrapper {
    position: relative;
    margin-bottom: 30px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.56vw;
    }
  }

  &__order-background {
    border-radius: 38px;
    box-shadow: 40px 40px 80px rgba($black-color, 0.0395269);

    @include mediaMinMax(1025, $normal) {
      border-radius: 1.97vw;
    }

    @include media($small) {
      border-radius: 26px;
    }
  }

  &__order {
    background-color: $white-color;
    border: 2px solid $athens-gray-color;
    border-radius: 34px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    position: relative;
    min-height: 210px;
    margin-bottom: 83px;

    @include mediaMinMax(1025, $normal) {
      padding: 2.08vw;
      min-height: 10.93vw;
      border-radius: 1.77vw;
      margin-bottom: 4.323vw;
    }

    @include media($small) {
      padding: 20px 20px 35px 20px;
      border-radius: 24px;
    }

    @include media($mini) {
      margin-bottom: 73px;
    }

    &_no-block-bottom {
      margin-bottom: 30px;

      @include mediaMinMax(1025, $normal) {
        margin-bottom: 1.563vw;
      }

      @include media($mini) {
        margin-bottom: 20px;
      }
    }
  }

  &__order-info-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;

    @include media($small) {
      flex-direction: column;
    }
  }

  &__order-info {
    width: 100%;

    @include media($small) {
      margin-top: 20px;
    }
  }

  &__order-title {
    font-weight: $black;
    font-size: 1.375rem;
    line-height: 30px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 1.14vw;
      line-height: 1.56vw;
    }

    @include media($small) {
      font-size: 1.25rem;
      line-height: 27px;
    }
  }

  &__order-image {
    margin-right: 50px;
    max-width: 180px;
    max-height: 136px;
    border-radius: 10px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 2.604vw;
      max-width: 9.375vw;
      max-height: 7.083vw;
      border-radius: 0.52vw;
    }

    @include media($small) {
      max-height: none;
      width: 100%;
    }
  }

  &__info-title {
    line-height: 1.75;
    color: $charcoal-gray-color;
    font-weight: $extraMedium;
    margin: 10px 0 0 0;

    @include mediaMinMax(1025, $normal) {
      margin: 0.52vw 0 0 0;
      line-height: 1.45vw;
    }
  }

  &__description {
    margin: 0;
    white-space: pre-line;
    font-weight: $extraBold;
    font-size: 16px;
    line-height: 22px;
    color: $shark-gray-color;
    display: flex;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.25vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 19px;
      display: flex;
      align-items: center;
    }

    &_full-width {
      width: 100%;
      font-weight: $medium;
      font-size: 16px;
      line-height: 22px;
      color: rgba($shark-gray-color, 0.6);

      @include mediaMinMax(1025, $normal) {
        font-size: 0.83vw;
        line-height: 1.25vw;
      }

      @include media($small) {
        font-size: 0.875rem;
        line-height: 19px;
      }
    }

    &_bottom {
      margin-bottom: 8px;

      @include mediaMinMax(1025, $normal) {
        margin-bottom: 0.417vw;
      }

      @include media($small) {
        margin-bottom: 4px;
      }
    }

    &_art {
      color: $scarpa-flow-gray-color;
      font-size: 16px;
      line-height: 24px;
      font-weight: $medium;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.83vw;
        line-height: 1.25vw;
      }

      @include media($small) {
        line-height: 19px;
        font-size: 0.875rem;
      }
    }
  }

  &__btn-edit {
    margin-left: 10px;
    background-color: $white-color;
    border: none;

    @include media($mini) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &__description-price {
    font-weight: $bold;
    font-size: 0.875rem;
    line-height: 19px;
    color: $darker-cadet-blue-color;
    margin: 0;
    text-align: flex-end;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
    }

    @include media($small) {
      font-size: 0.75rem;
      line-height: 16px;
    }

    &_mobile {
      display: none;
    }

    &_origin {
      margin-right: 10px;
      font-weight: $medium;

      &::after {
        content: '';
        width: 110%;
        height: 1px;
        top: 50%;
        left: -5%;
        background-color: $pickled-bluewood-color;
        position: absolute;
      }
    }
  }

  &__description-sum {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    color: $pickled-bluewood-color;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
    }

    &_disabled {
      color: $slate-gray-color;
    }

    &_mobile {
      display: none;
    }
  }

  &__description-name {
    text-align: flex-end;

    &_art {
      color: rgba($shark-gray-color, 0.6);
      margin-left: 10px;
      font-size: 16px;
      line-height: 24px;
      color: $scarpa-flow-gray-color;
      font-weight: $medium;

      @include mediaMinMax(1025, $normal) {
        font-size: 0.83vw;
        line-height: 1.25vw;
        margin-left: 0.52vw;
      }

      @include media($small) {
        line-height: 19px;
        font-size: 0.875rem;
      }
    }

    @include media($small) {
      display: flex;
    }
  }

  &__buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    @include mediaMinMax(1025, $normal) {
      margin-top: 0.52vw;
    }
  }

  &__btn-edit {
    text-decoration: underline;
    color: $dark-slate-blue-color;
    font-size: 0.875rem;
    display: flex;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.72vw;
    }
  }

  &__btn-delete {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    @include mediaMinMax(1025, $normal) {
      svg {
        width: 1.25vw;
        height: 1.25vw;
      }
    }

    &:focus {
      outline: none;
    }


    &_desktop {
      @include media($small) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
      }
    }
  }

  &__delete-popup {
    position: absolute;
    padding: 20px;
    width: 196px;
    top: 150px;
    z-index: 100;
    right: -40px;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: $extraBold;
    line-height: 22px;
    background-color: $white-color;
    border-radius: 20px;
    border: 1px solid $athens-gray-color;
    text-align: center;

    @include mediaMinMax(1025, $normal) {
      top: 7.813vw;
      right: -2.083vw;
      width: 10.208vw;
      padding: 1.042vw;
      border-radius: 1.042vw;
      font-size: 0.833vw;
      line-height: 1.146vw;
    }

    @include media($small) {
      top: 38px;
      right: 60px;
    }

    &:before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      top: 0;
      right: 50%;

      -webkit-transform: translate(80%, -50%) rotate(-45deg);
      transform: translate(80%, -50%) rotate(-45deg);
      background-color: $white-color;
      border-right: 1px solid $athens-gray-color;
      border-top: 1px solid $athens-gray-color;

      @include mediaMinMax(1025, $normal) {
        width: 1.042vw;
        height: 1.042vw;
      }

      @include media($small) {
        top: 58px;
        right: -17px;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-30%, -50%) rotate(45deg);
      }
    }
  }

  &__confirmation-wrapper {
    display: flex;
    margin-top: 16px;
  }

  &__delete-confirm,
  &__delete-cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 40px;
    margin: 0 8px;
    padding: 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: $extraBold;
    color: $light-slate-gray-color;
    text-decoration: none;
    border: solid 3px transparent;
    box-shadow: none;

    @include mediaMinMax(1025, $normal) {
      width: 3.542vw;
      height: 2.083vw;
      margin: 0 0.417vw;
      font-size: 0.833vw;
      border-radius: 0.521vw;
    }

    &:hover {
      box-shadow: 0 5px 10px 0 rgba($black-color, 0.2);
    }

    &:active {
      outline: none;
      color: $dark-turquoise-color;
    }

    &:disabled {
      opacity: 0.6;
      border: none;
      box-shadow: none;
    }
  }

  &__delete-confirm {
    background-color: $burnt-sienna-color;
    color: $white-color;
  }

  &__delete-cancel {
    background-color: $white-color;
    border: 2px solid $athens-gray-color;
  }

  &__controls {
    display: flex;
    justify-content: space-around;

    @include media($xsmall) {
      margin: 0;
    }

    @include media($xmini) {
      .btn_minus,
      .btn_plus {
        display: none;
      }
    }
  }

  &__option {
    display: flex;
    margin-bottom: 14px;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    color: $scarpa-flow-gray-color;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 0.729vw;
      font-size: 0.833vw;
      line-height: 1.250vw;
    }

    @include media($small) {
      margin-bottom: 9px;
      line-height: 19px;
      font-size: 0.875rem;
    }

    &_left {
      justify-content: flex-start;
    }

    &_no-bottom {
      margin-bottom: 0;
      margin-top: 0;

      &:last-child {
        margin-bottom: 9px;
      }
    }

    &_first {

      @include media($small) {
        margin-top: 5px;
      }
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
  }

  &__input,
  &__input-checkbox {
    display: none;
  }

  &__custom {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 1.04vw;
      min-width: 0.93vw;
      max-width: 0.93vw;
      min-height: 0.93vw;
      max-height: 0.93vw;
    }

    &:before {
      content: '';
      padding: 2px;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 50%;
      bottom: 0;
      transform: translateY(-50%);
      background: $white-color;
      border-radius: 10px;
      border: 1px solid $dark-slate-blue-color;

      @include mediaMinMax(1025, $normal) {
        width: 1.14vw;
        height: 1.14vw;
        border-radius: 0.52vw;
      }
    }
  }

  &__input-checkbox:checked + &__custom {
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: calc(50% - 5px);
      left: 6px;
      background: $turquoise-color;
      border-radius: 5px;

      @include mediaMinMax(1025, $normal) {
        width: 0.52vw;
        height: 0.52vw;
        top: calc(50% - 0.26vw);
        left: 0.31vw;
        background: $turquoise-color;
        border-radius: 0.26vw;
      }
    }

    &:before {

      border-color: $dark-slate-blue-color;
    }
  }

  &__label {
    font-size: 0.875rem;
    color: $charcoal-gray-color;
  }

  &__art-wrap {
    margin: 0;
    width: 180px;
    height: 146px;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      width: 9.375vw;
      height: 7.6vw;
    }
  }

  &__image-wrap {
    position: absolute;
    z-index: -1;
  }

  &__art-photo-block {
    max-width: 180px;
    min-width: 180px;
    max-height: 136px;
    border-radius: 10px;
    margin-right: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      max-width: 9.375vw;
      min-width: 9.375vw;
      max-height: 7.083vw;
      margin-right: 2.604vw;
      border-radius: 0.52vw;
    }
  }

  &__art-photo {
    position: absolute;
    height: 100%;
    display: block;
  }

  &__display {
    position: absolute;
  }

  &__frame-wrap {
    position: absolute;
  }

  &__frame-image {
    max-width: 100%;
    max-height: 100%;
  }

  &__controls-wrapper {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__description-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media($xmini) {
      display: flex;
      justify-content: flex-start;
    }

    &_full-width {
      min-width: 100%;
    }
  }

  &__controls-wrapper {
    width: 100%;
    max-width: 200px;
    justify-content: center;

    @include mediaMinMax(1025, $normal) {
      max-width: 10.4vw;
    }

    @include media($xmini) {
      width: auto;
      margin: 0 auto;
    }
  }

  &__counter-wrapper {
    margin: 0 !important;
    min-height: 20px !important;
    padding: 0 !important;
    box-shadow: none !important;
    background-color: rgba($white-color, 0) !important;
  }

  &__error-text {
    color: $error-red-color;
    margin-top: 20px;
    display: block;

    @include mediaMinMax(1025, $normal) {
      margin-top: 1.04vw;
    }
  }

  &__order-image {
    display: flex;

    @include media($small) {
      justify-content: flex-end;
      min-width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 0;
    }
  }

  &__order-image-wrapper {
    display: flex;
    margin-right: 20px;
    min-width: 180px;
    max-width: 180px;
    height: 136px;

    @include mediaMinMax(1025, $normal) {
      margin-right: 1.04vw;
      min-width: 9.375vw;
      max-width: 9.375vw;
      height: 7.083vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__order-title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    @include mediaMinMax(1025, $normal) {
      margin-bottom: 1.823vw;
    }

    @include media($small) {
      margin-bottom: 20px;
    }
  }

  &__gift-button-wrapper {
    position: absolute;
    bottom: -53px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;

    @include mediaMinMax(1025, $normal) {
      bottom: -2.9vw;
      padding-left: 1.563vw;
      padding-right: 1.563vw;
    }

    @include media($mini) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__gift-button {
    background-color: $polar-light-blue-color;
    width: 410px;
    height: 50px;
    border: 1px solid $iceberg-blue-light-color;
    box-sizing: border-box;
    border-radius: 0 0 34px 34px;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;

    @include mediaMinMax(1025, $normal) {
      width: 21.354vw;
      height: 2.7vw;
      border-radius: 0 0 1.77vw 1.77vw;
    }

    @include media($small) {
      width: 320px;
      margin-left: 15px;
      margin-right: 15px;
    }

    @include media($mini) {
      width: 140px;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 0 0 24px 24px;
    }

    &_checked {
      border: 1px solid $powder-blue-color;
      background-color: $iceberg-blue-light-color;
    }

    &_enhance {
      width: 273px;

      @include mediaMinMax(1025, $normal) {
        width: 14.21875vw;
      }

      @include media($small) {
        width: 213px;
      }

      @include media($mini) {
        width: 90px;
      }
    }
  }

  &__gift-button-text {
    font-weight: $bold;
    font-size: 16px;
    line-height: 22px;
    color: $slate-gray-color-2;
    margin-left: 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
      margin-left: 0.52vw;
    }

    &_checked {
      color: $pickled-bluewood-color;
    }

    &_desktop {
      @include media($xlmini) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include media($xlmini) {
        display: block;
      }

      @include media($mini) {
        display: none;
      }
    }

    @include media($mini) {
      display: none;
    }
  }

  &__edit-product-icon {
    display: flex;
    align-items: center;
    svg {
      width: 22px;
      height: 22px;

      @include mediaMinMax(1025, $normal) {
        width: 1.14vw;
        height: 1.14vw;
      }
    }
  }

  &__gift-wrapper {
    padding: 32px 60px 60px 60px;

    @include mediaMinMax(1025, $normal) {
      padding: 1.667vw 3.12vw 3.12vw 3.12vw;
    }

    @include media($small) {
      padding: 30px 20px;
    }
  }

  &__options-wrapper {
    display: none;
    padding: 45px 60px 60px 60px;

    &_visible {
      display: block;
    }

    @include mediaMinMax(1025, $normal) {
      padding: 2.34vw 3.12vw 3.12vw 3.12vw;
    }

    @include media($small) {
      padding: 30px 20px;
    }
  }

  &__option-description {
    display: flex;
    align-items: center;
    width: 30%;

    @include media($xmini) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 75px;
      flex-wrap: wrap;
    }
  }

  &__gift-button-icon {

    svg {
      width: 22px;
      height: 24px;

      @include mediaMinMax(1025, $normal) {
        width: 1.25vw;
        height: 1.14vw;
      }
    }
  }

  &__count-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

  &__count {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    color: $shark-gray-color;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.83vw;
      line-height: 1.14vw;
    }
  }

  &__edit-icon {
    width: 15px;
    height: 15px;

    @include mediaMinMax(1025, $normal) {
      width: 0.781vw;
      height: 0.781vw;
    }
  }

  &__width-input {
    max-width: 70px;
    padding: 0 !important;
  }

  &__order-summ {
    padding-top: 6px;

    @include mediaMinMax(1025, $normal) {
      padding-top: 0.313vw;
    }
  }

  &__order-summ-top {
    width: 100%;
    height: 1px;
    background-color: $athens-gray-color;
    border-radius: 43px;
  }

  &__order-summ-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;

    @include mediaMinMax(1025, $normal) {
      margin-top: 1.042vw;
    }
  }

  &__order-summ-description {
    line-height: 24px;
    font-weight: $extraBold;
    color: $shark-gray-color;
    font-size: 1.063rem;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.250vw;
    }
  }

  &__order-summ-prefix {
    color: $darker-dusty-gray-color;
    font-weight: $medium;
    margin-right: 10px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.250vw;
    }
  }

  &__order-summ-wrapper {
    display: flex;
  }

  &__order-summ-price {
    line-height: 24px;
    color: $burnt-sienna-color;
    font-size: 1.063rem;
    position: relative;
    font-weight: $medium;

    &_origin {
      color: $darker-dusty-gray-color;
      &::after {
        content: '';
        width: 110%;
        height: 1px;
        top: 50%;
        left: -5%;
        background-color: $burnt-sienna-red-color;
        position: absolute;
      }
    }

    &_custom {
      position: absolute;
      right: 0;
      top: 25px;
      font-weight: $extraBold;

      @include mediaMinMax(1025, $normal) {
        top: 1.250vw;
      }
    }

    @include mediaMinMax(1025, $normal) {
      font-size: 0.885vw;
      line-height: 1.250vw;
    }
  }

  &__description-block {
    display: flex;
    max-width: 220px;
    width: 100%;
    align-items: center;

    @include mediaMinMax(1025, $normal) {
      max-width: 11.458vw;
    }

    @include media($small) {
      max-width: 50%;
    }

    &_personalize {
      width: 30%;

      @include media($mini) {
        width: auto;
      }
    }

  }

  &__guaranty-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 52px 60px 60px 60px;

    @include mediaMinMax(1025, $normal) {
      padding: 1.667vw 3.12vw 3.12vw 3.12vw;
    }
  
    @include media($small) {
      padding: 30px 20px;
    }
  
    @include media($xsmall) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__guaranty-image-block {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include media($xsmall) {
      width: 200px;
    }
  }

  &__guaranty-image {
    width: 200px;
    height: 200px;

    @include mediaMinMax(1025, $normal) {
      width: 10.4166vw;
      height: 10.4166vw;
    }
  }

  &__guaranty-text-block {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    @include media($small) {
      align-items: center;
    }

    @include media($xsmall) {
      width: 322px;
    }
  }

  &__guaranty-title {
    max-width: 476px;
    font-weight: $black;
    font-size: 1.5625rem;
    line-height: 1.32;
    color: $shark-gray-color;
    margin-bottom: 30px;
    white-space: pre-wrap;

    @include mediaMinMax(1025, $normal) {
      max-width: 24.792vw;
      font-size: 1.302vw;
      margin-bottom: 1.563vw;
    }

    @include media($small) {
      max-width: 285px;
      margin-bottom: 20px;
    }

    @include media($xsmall) {
      text-align: center;
      margin-top: 20px;
    }
  }

  &__guaranty-text {
    font-weight: $medium;
    font-size: 0.8125rem;
    line-height: 1.62;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    max-width: 476px;

    @include mediaMinMax(1025, $normal) {
      font-size: 0.677vw;
      max-width: 24.7916vw;
    }

    @include media($small) {
      max-width: 274px;
    }

    @include media($xsmall) {
      max-width: 322px;
      text-align: center;
    }
  }
}
