@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.easy-card {
  width: 304px;
  height: 316px;
  background-color: $white-color;
  box-shadow: 37px 37px 80px rgba($black-color, 0.0395269);
  border-radius: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mediaMinMax($small, $normal) {
    width: 15.83vw;
    height: 16.45vw;
    border-radius: 2.29vw;
  }

  @include mediaMinMax($xsmall, $small) {
    justify-content: flex-start;
    padding-top: 3.9vw;
  }

  @include mediaMinMax(681, $small) {
    width: 20.83vw;
    height: 26.04vw;
    border-radius: 3.9vw;
  }

  @include media($xlmini) {
    width: 160px;
    height: 200px;
    border-radius: 30px;
  }

  &_isFirst {
    margin-left: 0;
  }

  &_isLast {
    margin-right: 0;
  }

  &_isLarge {
    width: 320px;
    height: 390px;

    @include mediaMinMax(1025, $normal) {
      width: 16.66vw;
      height: 20.31vw;
    }

    @include mediaMinMax($xsmall, $small) {
      justify-content: flex-start;
      padding-top: 3.9vw;
    }

    @include mediaMinMax(681, $small) {
      width: 20.83vw;
      height: 26.04vw;
      border-radius: 3.9vw;
    }

    @include media($xlmini) {
      width: 160px;
      height: 200px;
      border-radius: 30px;
    }
  }

  &__img-container {
    width: 170px;
    height: 135px;

    @include mediaMinMax($small, $normal) {
      width: 8.85vw;
      height: 7vw;
    }

    @include mediaMinMax($xsmall, $small) {
      width: 13.28vw;
      height: 10.54vw;
    }

    @include media($xsmall) {
      width: 102px;
      height: 81px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: background-position 0.5s, background-size 0.5s;
  }

  &__text {
    font-size: 1.0625rem;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: $medium;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    text-align: center;
    margin-top: 33px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
      margin-top: 1.71vw;
    }

    @include mediaMinMax($xsmall, $small) {
      margin-top: 2.6vw;
    }

    @include media($small) {
      font-size: 0.875rem;
      margin-top: 20px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.7px;
      max-width: 136px;
      white-space: normal;
    }

    &_isLarge {
      margin-top: 72px;

      @include mediaMinMax($small, $normal) {
        margin-top: 3.75vw;
      }

      @include mediaMinMax($xsmall, $small) {
        margin-top: 2.6vw;
      }

      @include media($small) {
        font-size: 0.875rem;
        margin-top: 20px;
        line-height: 19px;
        text-align: center;
        letter-spacing: normal;
        max-width: 155px;
      }
    }
  }

  &__link {
    text-decoration: underline;
    text-decoration-color: $burnt-sienna-red-color;
  }

  &__link-text {
    font-size: 16px;
    font-weight: $bold;
    line-height: 24px;
    letter-spacing: 1px;
    color: $burnt-sienna-red-color;
    text-align: center;
  }
}
