@import 'src/styles/variables.scss';

.hint-text {
  border-top: 1px solid $gray-geser-color;
  margin-top: 15px;

  &__link {
    margin-left: 5px;
  }

  &__text {
    margin-top: 15px;
  }

  &__images-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }

  &__image-block {
    width: 25%;
    content: '';
    padding: 8% 0;
    margin: 0 5px 5px 5px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  &__popup-block {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba($black-color, 0.3);
    z-index: 7;
  }

  &__popup-content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 70vh;
    margin-top: 80px;
  }

  &__container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }

  &__preview-image {
    max-width: 70vw;
    max-height: 70vh;
    display: block;
    object-fit: contain;
    object-position: center;
  }

  &__btn {
    position: absolute;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;

    &_open {
      bottom: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
    }

    &_close {
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 1px 6px rgba($charcoal-gray-color, 0.5));
  }

  &__text {
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

  }
}
