@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.versus-enhance{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &__title {
    font-weight: $black;
    font-size: 2.5rem;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1px;
    color: $black-color;
    margin-bottom: 40px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax(1025, $normal) {
      font-size: 2.08vw;
      line-height: 2.91vw;
      margin-bottom: 2.08vw;
    }

    @include media($small) {
      font-size: 1.6875rem;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
    }

    @include media($xmini) {
      font-size: 1.625rem;
      margin-bottom: 30px;
      white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    }
  }

  &__description {
    align-items: center;
    text-align: center;
    color: $scarpa-flow-gray-color;
    width: 1249px;
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    margin-bottom: 90px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      width: 65vw;
      margin-bottom: 5vw;
    }

    @include media($small) {
      line-height: 2.63vw;
      font-size: 2.14vw;
      letter-spacing: 0.097vw;
      white-space: inherit;;
      max-width: 90vw;
      margin-bottom: 40px;
    }

    @include media($xsmall) {
      letter-spacing: 0.13vw;
      white-space: initial;
      line-height: 3.51vw;
      font-size: 2.864vw;
    }

    @include media($xlmini) {
      line-height: 3.97vw;
      letter-spacing: 0.147vw;
      font-size: 2.795vw;
    }

    @include media($xmini) {
      text-align: center;
      margin-bottom: 40px;
      line-height: 4.65vw;
      letter-spacing: 0.17vw;
      font-size: 3.27vw;
    }

    @include media($mini) {
      line-height: 5.625vw;
      letter-spacing: 0.2vw;
      font-size: 3.95vw;
    }

    @include media($xmini) {
      display: none;
    }
  }

  &__container {
    display: flex;
    position: relative;
    width: 1118px;
    margin: 0 auto 193px;
    justify-content: center;

    @include mediaMinMax($small, $normal) {
      width: 60vw;
      margin:0 auto 10.05vw;
    }

    @include media($small) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin: 0 0 90px 0;
      padding: 0 40px;
    }

    @include media($xsmall) {
      margin: 0 0 90px 0;
      max-width: 688px;
      padding: 0;
    }

    @include media($xlmini) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__element {
    background-color: $white-color;
    box-shadow: 30px 100px 100px rgba($black-color, 0.03);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 45px;

    @include mediaMinMax($small, $normal) {
      border-radius: 2.08vw;
      margin: 0 2.34vw;
    }

    @include media($small) {
      border-radius: 28px;
      margin: 0;
    }

    &:nth-child(2) {
      @include media($xlmini) {
        margin-bottom: 20px;
      }
    }
  }

  &__compare-element {
    width: 514px !important;
    height: 586px !important;
    box-shadow: none;

    @include mediaMinMax($small, $normal) {
      width: 26.77vw !important;
      height: 30.52vw !important;
    }

    @include media($small) {
      max-width: 514px !important;
      max-height: 586px !important;
      width: 42vw !important;
      height: 100% !important;
    }

    @include media($xsmall) {
      padding: 14px 14px 20px 14px !important;
      width: 30vw !important;
      max-height: 400px !important;
    }
  }

  &__compare-image {
    width: 466px !important;
    height: 466px !important;

    @include mediaMinMax($small, $normal) {
      width: 24.27vw !important;
      height: 24.27vw !important;
      min-width: 294px;
      min-height: 294px;
    }

    @include media($small) {
      max-width: 466px !important;
      max-height: 466px !important;
      width: 38vw !important;
      height: 39vw !important;
    }

    @include media($xsmall) {
      max-width: 306px  !important;
      max-height: 306px !important;
      width: 100vw !important;
      height: 100vw !important;
    }
  }

  &__element-title {
    font-weight: $bold;
    font-size: 1.8125rem;
    line-height: 36px;
    text-align: center;
    letter-spacing: normal;
    color: $black-color;
    margin-bottom: 12px;
    margin-top: 4px;

    @include mediaMinMax($small, $normal) {
      font-size: 1.35vw;
      line-height: 1.87vw;
      margin-bottom: 0.62vw;
      margin-top: 0.2vw;
    }

    @include media($small) {
      font-size: 1.25rem;
      line-height: 27px;
      text-align: center;
      letter-spacing: normal;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }

  &__element-description {
    font-weight: $medium;
    font-size: 1.094rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: normal;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    color: $scarpa-flow-gray-color;
    margin-bottom: 30px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.83vw;
      line-height: 1.25vw;
      margin-bottom: 1.56vw;
    }

    @include media($small) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.8px;
      margin-bottom: 20px;
      max-width: 278px;
      white-space: initial;
    }
  }

  &__element-button {
    margin-bottom: 50px;
    text-decoration: none;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 2.6vw;
    }

    @include media($small) {
      margin-bottom: 30px;
    }
  }

  &__first-element-square {
    position: absolute;
    z-index: -1;
    background: $azalea-light-pink-color;
    border-radius: 37px 0 0 0;
    width: 360px;
    height: 459px;
    left: -75px;
    top: -50px;

    @include mediaMinMax($small, $normal) {
      width: 18.75vw;
      height: 23.9vw;
      left: -3.9vw;
      top: -2.6vw;
    }

    @include media($small) {
      width: 210px;
      height: 300px;
      left: -20px;
      top: -20px;
    }
  }

  &__first-element-stripe {
    position: absolute;
    z-index: -1;
    background: $coconut-cream-yellow-color;
    border-radius: 30px;
    width: 240px;
    height: 231px;
    right: -60px;
    bottom: -53px;

    @include mediaMinMax($small, $normal) {
      width: 12.5vw;
      height: 12.03vw;
      right: -3.125vw;
      bottom: -2.76vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__second-element-square {
    position: absolute;
    z-index: -1;
    background: $polar-light-blue-color;
    border-radius: 30px;
    width: 240px;
    height: 231px;
    left: -60px;
    top: -63px;

    @include mediaMinMax($small, $normal) {
      border-radius: 1.56vw;
      width: 12.5vw;
      height: 12.03vw;
      left: -3.125vw;
      top: -3.28vw;
    }

    @include media($small) {
      display: none;
    }
  }

  &__second-element-stripe {
    position: absolute;
    z-index: -1;
    background: $paris-white-color;
    border-radius: 0 0 0 47px;
    width: calc(100vw / 2);
    height: 380px;
    left: 50%;
    bottom: -53px;

    @include mediaMinMax($small, $normal) {
      height: 19.79vw;
      bottom: -2.7vw;
    }

    @include media($xsmall) {
      bottom: -30px;
    }
  }

  &__square {
    width: 141px;
    height: 141px;
    position: absolute;
    z-index: -1;
    background: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.1);
    border-radius: 27px;
    top: -70px;
    right: -234px;
  }

  &__element-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;

    @include media($small) {
      height: 68%;
    }

    @include media($xsmall) {
      height: 100%;
    }
  }
}
