@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.new-banner {
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 200px;
  margin-bottom: 159px;
  justify-content: center;

  @include mediaMinMax(1025, $normal) {
    margin-bottom: 8.281vw;
  }

  @include media($xnormal) {
    padding-top: 180px;
  }

  @include media($small) {
    flex-direction: column;
    align-items: start;
    margin-bottom: 60px;
    padding-top: 222px;
  }

  &__stripe-one {
    position: absolute;
    top: 0;
    right: min(78px, 25.62vw);
    width: clamp(150px, 10.41vw, 200px);
    height: 505px;
    border-radius: 0 0 37px 37px;
    z-index: -1;

    @include mediaMin($normal) {
      right: calc((100vw - 1532px) / 2 + 298px);
    }

    @include media($xnormal) {
      width: 150px;
    }

    @include media($small) {
      right: 78px;
    }

    @include media($xlmini) {
      display: none;
    }
  }

  &__stripe-two {
    position: absolute;
    top: 211px;
    right: 0;
    width: 169px;
    height: 265px;
    background-color: $white-lilac-color;
    border-radius: 35px 0 0 35px;
    z-index: -1;

    @include media($xnormal) {
      display: none;
    }
  }

  &__stripe-three {
    position: absolute;
    bottom: -60px;
    right: 0;
    width: clamp(210px, 32.7vw, 100vw);
    height: 18vw;
    background: $paris-white-color;
    border-radius: 47px 0 0 47px;
    z-index: -1;
    max-height: 330px;
    min-height: 231px;

    @include mediaMin($normal) {
      width: calc((100vw - 1532px) / 2 + 434px);
    }

    @include media($xnormal) {
      bottom: -32px;
    }

    @include media($small) {
      width: 210px;
      bottom: 80px;
    }

    @include media($xlmini) {
      display: none;
    }
  }

  &__stripe-four {
    position: absolute;
    top: 186px;
    right: 97px;
    width: 115px;
    height: 115px;
    background-color: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.05);
    border-radius: 27px;
    z-index: -1;

    @include media($xnormal) {
      display: none;
    }
  }

  &__stripe-five {
    position: absolute;
    bottom: -110px;
    right: 130px;
    width: clamp(0px, 7.34vw, 141px);
    height: clamp(0px, 7.34vw, 141px);
    background-color: $white-color;
    box-shadow: 29px 29px 48px rgba($black-color, 0.093);
    border-radius: 27px;
    z-index: 1;

    @include mediaMin($normal) {
      width: 141px;
      height: 141px;
    }

    @include media($xnormal) {
      display: none;
    }
  }

  &__container {
    display: flex;
    width: 1532px;
    margin: 20px auto 0;
    justify-content: space-between;
    z-index: 1;
    height: 100%;

    @include mediaMinMax(1025, $normal) {
      max-width: 79.79vw;
      display: flex;
      justify-content: space-between;
      height: 100%;
      margin: 0 auto;
    }

    @include media($small) {
      width: calc(100% - 40px);
    }

    @include media($xlmini) {
      justify-content: center;
      margin: 0 auto;
    }

    @include media($xmini) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 100px;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }


    @include mediaMinMax($small,$normal) {
      margin-right: 4.65vw;
    }

    @include media($small) {
      margin: 0 auto;
      white-space: inherit;
      width: 100%;

    }

    @include media($xmini) {
      align-items: center;
    }
  }

  &__title {
    font-weight: $black;
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: 1px;
    color: $shark-gray-color;
    max-width: 625px;
    margin-bottom: 40px;
    white-space: initial;
    margin-top: 20px;

    @include mediaMinMax(1025, $normal) {
      font-size: 2.5vw;
      line-height: 2.5vw;
      margin-bottom: 2.08vw;
      letter-spacing: 0.052vw;
    }

    @include media($small) {
      margin-bottom: 46px;
      font-size: 2rem;
      line-height: 32px;
      letter-spacing: 0.6px;
      margin-top: 0;
    }

    @include media($xsmall) {
      font-size: 2.125rem;
      letter-spacing: 0.5px;
      white-space: initial;
    }

    @include media($xmini) {
      text-align: center;
      margin-bottom: 30px;

      &_wrap {
        white-space: pre-wrap;
        @-moz-document url-prefix() {
          white-space: pre;
        }

      }
    }

    &_enhance {
      @include media($xlmini) {
        max-width: 80vw;
        text-align: center;
      }
    }
  }

  &__desc {
    font-weight: $medium;
    font-size: 1.375rem;
    line-height: 27px;
    letter-spacing: 1px;
    color: $scarpa-flow-gray-color;
    margin-bottom: 50px;
    white-space: pre-wrap;

    @include mediaMinMax($small, $normal) {
      font-size: 1.14vw;
      line-height: 1.4vw;
      letter-spacing: 0.052vw;
      margin-bottom: 2.6vw;
    }

    @include media($small) {
      max-width: 80%;
      line-height: 2.83vw;
      font-size: 2.44vw;
      letter-spacing: 0.097vw;
      white-space: initial;
      @-moz-document url-prefix() {
        white-space: initial;
      }
    }

    @include media($xsmall) {
      margin-bottom: 30px;
      letter-spacing: 0.13vw;
      max-width: 85%;
      line-height: 3.31vw;
      font-size: 3.264vw;
    }

    @include media($xlmini) {
      line-height: 3.97vw;
      letter-spacing: 0.147vw;
      font-size: 3.39vw;
    }

    @include media($xmini) {
      line-height: 24px;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 40px;
      font-size: 3.87vw;
    }

    @include media($mini) {
      font-size: 18px;
    }

    &_small-margin {
      margin-bottom: 32px;

      @include mediaMinMax(1025, $normal) {
        margin-bottom: 1.95vw;
      }
    }

    &_mobile-art {
      display: none;

      @include media($xmini) {
        display: block;
        white-space: pre-wrap;
        font-size: 1.0625rem;
      }
    }

    &_desktop-art {
      @include media($xmini) {
        display: none;
      }
    }

  }

  &__mobile-icons {
    margin-top: 100px;
    position: relative;
    width: 100%;

    @include mediaMin($xmini) {
      display: none;
    }
  }

  &__mobile-icons-background {
    position: absolute;
    background-color: $jagged-ice-color;
    width: 100vw;
    height: 300px;
    border-radius: 0 63px 63px 0;
    right: 0;
    top: -25px;
    z-index: 1;
  }

  &__icons {
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }

  &__big-icon {
    width: 160px;
    height: 160px;
    border-radius: 30px;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-bottom: 20px;
    box-shadow: 8px 5px 20px rgba($black-color, 0.08);

    &_oddQuantity {
      &:last-child {
        margin: 0 auto;
      }
    }
  }

  &__icons-block {
    display: flex;
    justify-content: space-between;
    max-width: 590px;
    width: 30.7vw;
    margin-bottom: 60px;

    @include mediaMinMax(1025, 1920) {
      margin-bottom: 3.1vw;
    }

    @include media($small) {
      width: 45vw;
    }

    &_desktop {
      @include media($small) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include media($small) {
        display: flex;
        width: 100%;
        max-width: 432px;
        margin: 40px auto 0 16px;
      }

      @include media($xlmini) {
        width: 100%;
        margin: 40px auto 0 auto;
        padding: 0 20px;
      }
    }

  }

  &__icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 80px;
    min-width: 58px;
    width: 5vw;
    max-height: 80px;
    min-height: 58px;
    margin: 0 0 20px 0;

    @include mediaMinMax(1025, $normal) {
      margin: 0 0 1.042vw 0;
      width: 4.167vw;
      height: 4.167vw;
    }

    @include media($small) {
      width: 58px !important;
      height: 58px;
      margin: 0;
    }
    @include media($xlmini) {
      width: auto;
    }

    &_padding {
      padding: 10px;
      border-radius: 20px;

      @include mediaMinMax(1025, $normal) {
        border-radius: 1.042vw;
      }

      @include media($small) {
        width: 100% !important;
        height: 100% !important;
        min-width: auto;
        min-height: auto;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__icon {
    max-width: 80px;
    min-width: 58px;
    width: 5vw;
    max-height: 80px;
    min-height: 58px;
    margin: 0 0 20px 0;
    border-radius: 20px;
    object-fit: contain;

    @include mediaMinMax(1025, $normal) {
      margin: 0 0 1.042vw 0;
      width: 4.167vw;
      height: 4.167vw;
    }

    @include media($small) {
      width: 58px !important;
      height: 58px !important;
      margin: 0 0 18px;
      max-width: 58px !important;
      max-height: 58px !important;
      min-height: 58px !important;
      min-width: 58px !important;
    }

    &_no-size {
      @include media($small) {
        min-width: auto !important;
        min-height: auto !important;
        width: auto !important;
        height: auto !important;
        border-radius: 0 !important;
      }
    }

    &_no-border-radius {
      border-radius: 0 !important;
    }
  }

  &__block-icon {
    margin: 0 0 20px 0;
    border-radius: 20px;
    width: 58px;
    height: 58px;
    position: relative;

    &_padding {
      padding: 10px;
    }
  }

  &__mobile-icon {
    margin-bottom: 5px;
    width: 80px;
    height: 70px;
    object-fit: contain;
  }

  &__mobile-icon-text {
    font-size: 0.875rem;;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.7px;
    max-width: 80%;
  }

  &__icon-block-text {
    font-weight: $bold;
    font-size: 1.0625rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.9px;
    color: $shark-gray-color;
    white-space: pre-wrap;
    @-moz-document url-prefix() {
      white-space: pre;
    }

    position: absolute;
    width: 200%;
    top: 90px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.88vw;
      line-height: 1.25vw;
    }

    @include mediaMinMax(1390, $normal) {
      top: 4.688vw
    }

    @include media(1390) {
      top: 65px;
    }

    @include media($small) {
      font-size: 0.875rem;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.72px;
    }

    @include media($xsmall) {
      font-size: 0.75rem;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.2px;
      max-width: 70px;
    }
  }

  &__slider-block {
    margin-right: 7.8vw;

    &_mobile {
      margin-bottom: 20px !important;
      @include mediaMin($xmini) {
        display: none;
      }
    }

    &_desktop {
      @include media($xmini) {
        display: none;
      }
    }

    @include mediaMin($normal) {
      margin-right: 150px;
    }

    @include media($small) {
      margin: 0 auto;
    }

    @include media($xlmini) {
      margin: 0;
    }

    &_art {
      @include media($xmini) {
        margin-bottom: 50px !important;
      }
    }
  }

  &__scroll-button {
    justify-self: flex-end;
    font-size: 1.0625rem;
    line-height: 27px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: $bold;
    padding: 20px 35px !important;
    border-radius: 10px;

    @include mediaMinMax($small, $normal) {
      font-size: 0.8vw !important;
      line-height: 1.4vw !important;
      padding: 1.04vw 1.82vw !important;
      border-radius: 0.52vw !important;
    }

    @include mediaMinMax($xsmall,$small) {
      padding: 1.953vw 3.418vw !important;
      border-radius: 0.977vw;
      font-size: 1.6vw;
      line-height: 2.637vw;
    }

    @include mediaMinMax($xmini,$xsmall) {
      padding: 2.604vw 2.604vw !important;
      border-radius: 1.302vw;
      font-size: 2.214vw;
      line-height: 3.516vw;
    }

    @include media($xmini) {
      margin-bottom: 30px !important;
    }
  }

  &__partners {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media($small) {
      width: 96%;
    }

     &_desktop {
       @include media($small) {
         display: none;
       }
     }

     &_mobile {
      margin: auto;
      max-width: 80vw;

      @include mediaMin($small) {
        display: none;
      }

      @include media($mini) {
        max-width: 330px;
      }
    }
  }

  &__partners-row {
    display: flex;
    align-items: center;
    margin-top: 35px;

    &_mobile {
      flex-direction: column;
    }

    @include mediaMinMax($small, $normal) {
      margin-top: 1.8229vw;
    }
  }

  &__partners-list-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__partners-icon {
    width: initial !important;
    height: initial !important;
    min-height: initial !important;
    min-width: initial !important;
    position: relative;
    object-fit: contain;
    object-position: center;
    max-width: 80px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    max-height: 40px !important;


    @include mediaMinMax($small, $normal) {
      max-height: 2.08vw !important;
      max-width: 4.16vw !important;
    }

    @include media($xlmini) {
      height: 30px !important;
      width: 60px !important;
    }

    @include media($mini) {
      height: 25px !important;
      width: 50px !important;
    }
  }

  &__partners-text {
    margin-right: 20px;
    min-width: fit-content;
    font-size: 1.25rem;
    font-weight: $extraMedium;
    color: $black-color;

    &_mobile {
      margin-bottom: 13px;
    }

    @include mediaMinMax($small, $normal) {
      font-size: 1.0416vw;
    }

    @include media($small) {
      font-size: 18px;
    }

    @include media($xlmini) {
      font-size: 18px;
    }
  }

  &__partners-icon-wrap {
    max-height: 40px !important;
    max-width: 80px !important;
    margin-right: 20px !important;

    span {
      max-height: 40px !important;
      max-width: 80px !important;
      overflow: visible !important;
    }

    &:last-child {
      img {
        margin-right: 0 !important;
      }
    }

    &:first-child {
      img {
        margin-left: 0 !important;
      }
    }

    @include mediaMinMax($small, $normal) {
      max-height: 2.08vw !important;
      max-width: 4.16vw !important;
      margin-right: 1.04vw !important;
    }

    @include media($xlmini) {
      margin-right: 0 !important;
      height: 30px !important;
      width: 60px !important
    }

    @include media($mini) {
      margin-right: 0 !important;
      height: 25px !important;
      width: 50px !important;
    }
  }

  &__mobile-icon-wrap {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top-button-text {
    font-size: 1.375rem;
    color: $black-color;
    font-weight: $bold;
    margin-bottom: 30px;

    @include mediaMinMax($small, $normal) {
      margin-bottom: 1.5625vw;
      font-size: 1.1458vw;
    }

    @include  media($xmini) {
      text-align: center;
    }
  }
}
